// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$logo-gf-name: 'logo-gf';
$logo-gf-x: 0px;
$logo-gf-y: 0px;
$logo-gf-offset-x: 0px;
$logo-gf-offset-y: 0px;
$logo-gf-width: 100px;
$logo-gf-height: 50px;
$logo-gf-total-width: 208px;
$logo-gf-total-height: 108px;
$logo-gf-image: '../ztimages/csprite.png';
$logo-gf: (0px, 0px, 0px, 0px, 100px, 50px, 208px, 108px, '../ztimages/csprite.png', 'logo-gf', );
$s1-btn1-h-name: 's1-btn1-h';
$s1-btn1-h-x: 108px;
$s1-btn1-h-y: 0px;
$s1-btn1-h-offset-x: -108px;
$s1-btn1-h-offset-y: 0px;
$s1-btn1-h-width: 100px;
$s1-btn1-h-height: 50px;
$s1-btn1-h-total-width: 208px;
$s1-btn1-h-total-height: 108px;
$s1-btn1-h-image: '../ztimages/csprite.png';
$s1-btn1-h: (108px, 0px, -108px, 0px, 100px, 50px, 208px, 108px, '../ztimages/csprite.png', 's1-btn1-h', );
$s1-btn1-name: 's1-btn1';
$s1-btn1-x: 0px;
$s1-btn1-y: 58px;
$s1-btn1-offset-x: 0px;
$s1-btn1-offset-y: -58px;
$s1-btn1-width: 100px;
$s1-btn1-height: 50px;
$s1-btn1-total-width: 208px;
$s1-btn1-total-height: 108px;
$s1-btn1-image: '../ztimages/csprite.png';
$s1-btn1: (0px, 58px, 0px, -58px, 100px, 50px, 208px, 108px, '../ztimages/csprite.png', 's1-btn1', );
$spritesheet-width: 208px;
$spritesheet-height: 108px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($logo-gf, $s1-btn1-h, $s1-btn1, );
$spritesheet: (208px, 108px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
