//专题
@import 'comm';
.zt-section1{
	height: 400px;
	background:url(#{$mpath}zt-bg1.jpg) center 0 no-repeat;
	.container{
		position: relative;
		.bdsharewrap.bdstyle-c{
			position: absolute;
			top: 30px;
			right:0;
		}
		.logo_gs{
			display: block;
			position: absolute;
			left: 0;
			top: 24px;
			width: 139px;
			height: 47px;
			background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-white2.png) 0 0 no-repeat;
		}
		.logo_gf{
			display: block;
			position: absolute;
			left: 160px;
			top: 24px;
			@include sprite($logo-gf);
		}
		.btn{
			display: block;
			position: absolute;
			top: 100px;
			left: 10px;
			&.btn1{
				@include sprite($s1-btn1);
				&:hover{@include sprite-position($s1-btn1-h);}
			}
		}
	}
}
.zt-section2{
	height: 400px;
	background:url(#{$mpath}zt-bg2.jpg) center 0 no-repeat;
}
.zt-section3{
	height: 400px;
	background:url(#{$mpath}zt-bg3.jpg) center 0 no-repeat;
}
.zt-section4{
	height: 400px;
	background:url(#{$mpath}zt-bg4.jpg) center 0 no-repeat;
}
.zt-section5{
	height: 400px;
	background:url(#{$mpath}zt-bg5.jpg) center 0 no-repeat;
}
.zt-sectionComm{
	padding-bottom: 30px;
	height:auto;
	.container{
		position: relative;
		padding-top: 86px;
		width: 1100px;
		.line{
			display: block;
			margin-bottom: 10px;
			position: relative;
			width: 100%;height: 1px;
			background-color: #cecece;
			span{
				display: block;
				position: absolute;
				left: 0;
				top: -2px;
				width: 65px;
				height: 5px;
				background-color: #e13800;
			}
		}
		h4{
			margin: 0 0 20px;
			height: 48px;line-height: 48px;
			font-size: 30px;color: #e23500;font-weight: bold;
		}
	}
}


