//专题
@import 'comm';
.zt-section1{
	height: 892px;
	background:url(#{$mpath}zt-bg1.jpg) center 0 no-repeat;
	.container{
		position: relative;
		.bdsharewrap.bdstyle-c{
			position: absolute;
			top: 68px;
			right:0;
			a{
				border-radius: 5px;
			}
		}
		.logo_gs{
			display: block;
			position: absolute;
			left: 220px;
			top: 45px;
			@include sprite($logo-gs);
		}
		.logo_gf{
			display: block;
			position: absolute;
			left: 0;
			top: 22px;
			@include sprite($logo-gf);
		}
        .play{
            display: block;
            position: absolute;
            top: 569px;
            left: 287px;
            width: 119px;
            height: 125px;
            i.shadow{
                display: block;
                position: absolute;
                left: -83px;
                top: -78px;
                @include sprite($s1-play-shadow);
                opacity: 0;
                visibility: hidden;
                transition:all 0.25s ease;
                pointer-events: none;
            }
            i.icon{
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                @include sprite($s1-play);
            }
            &:hover{
                i.shadow{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
	}
}
.zt-section2{
	height: 1535px;
	background:url(#{$mpath}zt-bg2.jpg) center 0 no-repeat;
    .container{
        position: relative;
        padding-top: 240px;
        .btn{
            display: block;
            position: absolute;
            $movede:3px;
            transition:all 0.2s ease;
            &.btn1{
                top: 17px;
                left: 56px;
                @include sprite($s2-btn1);
                &:hover{
                    transform:translate3d($movede,-$movede,0);
                }
            }
            &.btn2{
                top: 17px;
                left: 436px;
                @include sprite($s2-btn2);
                &:hover{
                    transform:translate3d($movede,-$movede,0);
                }
            }
            &.btn3{
                top: 108px;
                left: 260px;
                @include sprite($s2-btn3);
                &:hover{
                    transform:translate3d($movede,-$movede,0);
                }
            }
        }
        .para{
            p{
                line-height: 32px;
                font-size: 18px;
                color: #fae0e3;
                text-shadow: 0 3px 2px rgba(48,6,13,0.35);
            }
            &.para1{
                margin-bottom: 232px;
                width: 910px;
            }
            &.para2{
                margin-bottom: 40px;
                width: 930px;
            }
            &.para3{
                margin-left: 111px;
                width: 650px;
            }
        }
        .zt-form{
            margin-top: 50px;
            margin-left: 72px;
            width: 730px;
            textarea,input{
                display: block;
                outline:0;
                border: none;
                background: none;
                resize: none;
            }
            .zt-form-textarea{
                width: 724px;
                height: 139px;
                border: 3px solid #4e2225;
                background-color: #a44c4b;
                textarea{
                    padding:4px 8px;
                    width: 708px;
                    height: 131px;
                    font-size: 18px;
                    color: #ffecee;
                }
            }
            .zt-form-row{
                margin-top: 19px;
                width: 720px;
                height: 50px;
                label{
                    display: block;
                    float: left;
                    width: 185px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 20px;
                    color: #f5cdd0;
                    font-weight: bold;
                    text-align: right;
                }
                .zt-form-ipt{
                    float: left;
                    margin-left: 8px;
                    width: 269px;
                    height: 44px;
                    border: 3px solid #4e2225;
                    background-color: #a44c4b;
                    input{
                        display: block;
                        padding: 0 10px;
                        width: 240px;
                        height: 44px;
                        line-height: 44px;
                        font-size: 18px;
                        color: #ffecee;
                    }
                }
                .ztSmt{
                    display: block;
                    float: left;
                    margin-left: 11px;
                    width: 138px;
                    height: 44px;
                    line-height: 44px;
                    border: 3px solid #4e2225;
                    background-color: #ffe2c5;
                    font-size: 20px;
                    color: #54191e;
                    font-weight: bold;
                    text-align: center;
                    &:hover{
                        background-color: #ffdf7d;
                    }
                }
            }
        }
    }
}

.gsZoom{
    position: relative;
    user-select: none;
    .gszm-btn-prev,.gszm-btn-next{
        display: block;
        position: absolute;
        top:329px;
        z-index: 9;
    }
    .gszm-btn-prev{
        left: -80px;
        @include sprite($arr-p);
        &:hover{
            @include sprite-position($arr-p-h);
        }
    }
    .gszm-btn-next{
        right: -80px;
        @include sprite($arr-n);
        &:hover{
            @include sprite-position($arr-n-l);
        }
    }
    ul.gszm-con{
        position: relative;
        li{
            position: absolute;
            background-color: #fff;
            z-index: 0;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
            &.gszm-next,&.gszm-prev{
                z-index: 1;
                cursor: pointer;
            }
            &.gszm-cur{
                z-index: 2;
                img{
                    box-shadow: 0 0 21px rgba(18,29,70,0.6);
                }
            }
        }
    }
    ul.gszm-nav{
        position: absolute;
        padding: 10px 0;
        bottom: -44px;
        width: 100%;
        height: 20px;
        font-size: 0;
        text-align: center;
        z-index: 10;
        li{
            cursor: pointer;
            display: inline-block;
            *display: inline;*zoom:1;
            margin: 0 7.5px 0;
            width: 16px;
            height: 16px;
            background: #1277d6;
            border-radius:10px;
            &.cur{
                background-color: #5cb0ff;
            }
        }
    }
    &.gszm-css3{
        ul.gszm-con{
            overflow: hidden;
            li{
                visibility: hidden;
                opacity: 0;
                transition:all 0.25s linear;
                &.gszm-prev{
                    visibility: visible;
                    opacity: 1;
                }
                &.gszm-next{
                    visibility: visible;
                    opacity: 1;
                }
                &.gszm-cur{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
.zt-section3{
	height: 1159px;
	background:url(#{$mpath}zt-bg3.jpg) center 0 no-repeat;
    .container{
        position: relative;
        padding-top: 200px;
        .gsZoom{
            margin: 0 auto;
            width: 1040px;
            height: 760px;
        }
    }
}