//专题
@import 'comm';
@keyframes godown {
	0% {
		transform:translate3d(0,-10px,0);
	}
	100% {
		transform:translate3d(0,10px,0);
	}
}
.zt-section1{
	height: 1000px;
	background:url(#{$mpath}zt-bg1.jpg) center 0 no-repeat;
	.container{
		position: relative;
		.bdsharewrap.bdstyle-c{
			position: absolute;
			top: 55px;
			right:0;
		}
		.arr-down{
			cursor: pointer;
			display: block;
			position: absolute;
			top: 865px;
			left: 580px;
			@include sprite($arr-down);
			animation: godown ease-out 1s infinite;
		}
		.logo_gs{
			display: block;
			position: absolute;
			left: 0;
			top: 61px;
			width: 139px;
			height: 47px;
			background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-white2.png) 0 0 no-repeat;
		}
		.logo_gf{
			display: block;
			position: absolute;
			left: 433px;
			top: 163px;
			@include sprite($logo-gf);
		}
		.btn{
			display: block;
			position: absolute;
			top: 723px;
			@include sprite($s1-btn);
			line-height: 74px;
			font-size: 22px;
			color: #370606;
			text-align: center;
			&:hover{
				@include sprite($s1-btn-h);
			}
			&.btn1{
				left: 196px;
			}
			&.btn2{
				left: 482px;
			}
			&.btn3{
				left: 767px;
				span{
					display: none;
					position: absolute;
					left: -8px;
					top: -270px;
					@include sprite($s1-code-bg);
					padding-top: 27px;
					height: 279px - 27px;
					line-height: 26px;
					font-size: 15px;
					color: #262d37;
					text-align: center;
					img{
						display: block;
						margin: 0 auto;
						width: 180px;
						height: 180px;
					}
				}
				&:hover{
					span{
						display: block;
					}
				}
			}
		}
	}
}
.zt-section2{
	height: 990px;
	background:url(#{$mpath}zt-bg2.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 650px;
		.play{
			display: block;
			position: absolute;
			left: 558px;
			top: 506px;
			@include sprite($s2-play);
			&:hover{@include sprite-position($s2-play-h)}
		}
		.para{
			p{
				margin: 0 auto;
				width: 620px;
				line-height: 30px;
				font-size: 15px;
				color: #eee8dd;
				text-indent: 30px;
			}
		}
	}
}
.zt-section3{
	height: 1000px;
	background:url(#{$mpath}zt-bg3.jpg) center 0 no-repeat;
	.container{
		position: relative;
		.ztTab{
			position: relative;
			width: 1200px;
			height: 1000px;
			.ztTabNav{
				position: absolute;
				right: 0;
				top: 247px;
				z-index: 1;
				width: 84px;
				li{
					position: relative;
					margin-bottom: 22px;
					width: 84px;
					height: 84px;
					a{
						display: block;
						@include sprite($s3-nav);
						img{
							display: block;
							position: absolute;
							left: 7px;
							top: 7px;
							width: 70px;
							height: 70px;
						}
						i{
							display: block;
							position: absolute;
							left: 7px;
							top: 7px;
							@include sprite($s3-nav-mask);
							opacity: 1;
							visibility: visible;
							transition:all 0.25s ease;
						}
						span{
							position: absolute;
							left: -101px;
							top: 27px;
							padding-right: 16px;
							width: 104px - 16px;
							height: 31px;
							line-height: 31px;
							font-size: 16px;
							color: #99a0a5;
							text-align: right;
							white-space:nowrap;
						}
					}
					&:hover{
						a{
							i{
								opacity: 0;
								visibility: hidden;
							}
						}
					}
					&.cur{
						a{
							@include sprite($s3-nav-h);
							i{
								opacity: 0;
								visibility: hidden;
							}
							span{
								color: #36393d;
								background: url(http://image.gamersky.com/webimg13/zhuanti/fzts/s3-nav-txt.png) 0 0 no-repeat;
							}
						}
					}
				}
			}
			.ztTabCon{
				li{
					position: relative;
					width: 1200px;
					height: 1000px;
					.rw-bg{
						display: block;
						position: absolute;
						top: 178px;
						left: 99px;
						width: 1111px;
						height: 745px;
					}
					.tit{
						font-size: 18px;
						color: #ffe195;
					}
					.part1{
						position: absolute;
						left: 0;
						top: 226px;
						width: 560px;
						.name{
							position: relative;
							span{
								display: block;
								float: left;
								margin-right: 13px;
								&.name-ld{@include sprite($rw-name-ld);}
								&.name-zc{@include sprite($rw-name-zc);}
								&.name-ssx{@include sprite($rw-name-ssx);}
								&.name-wc{@include sprite($rw-name-wc);}
								&.name-jw{@include sprite($rw-name-jw);}
							}
							i{
								display: block;
								float: left;
								margin-top: 14px;
								margin-right: 2px;
								@include sprite($rw-stars);
							}
						}
						.des{
							height: 40px;
							line-height: 40px;
							font-size: 14px;
							color: #decb99;
						}
					}
					.part2{
						position: absolute;
						top: 321px;
						left: 0;
						width: 560px;
						height: 82px;
						background: url(http://image.gamersky.com/webimg13/zhuanti/fzts/rw-pty-bg.png) 0 0 repeat-x;
						.tit{
							width: 61px;
							height: 82px;
							line-height: 82px;
						}
						.pty-list{
							position: absolute;
							left: 61px;
							top: 0;
							padding-top: 21px;
							width: 600px;
							span{
								display: block;
								float: left;
								padding-left: 16px;
								width: 88px;
								height: 40px;
								line-height: 20px;
								text-align: center;
								background: url(http://image.gamersky.com/webimg13/zhuanti/fzts/rw-pty-line.png) 0 center no-repeat;
								font-size: 15px;
								color: #cbd4da;
							}
						}
					}
					.part3{
						position: absolute;
						left: 0;
						top: 429px;
						width: 360px;
						height: 240px;
						.txt{
							display: block;
							position: absolute;
							height: 20px;
							line-height: 20px;
							font-size: 14px;
							color: #cbd4da;
							&.txt1{left: 53px;top: 93px;}
							&.txt2{left: 168px;top: 17px;}
							&.txt3{left: 287px;top: 93px;}
							&.txt4{left: 231px;top: 217px;}
							&.txt5{left: 109px;top: 215px;}
						}
					}
					.part4{
						position: absolute;
						top: 429px;
						left: 424px;
						.tit{
							margin-bottom: 16px;
						}
						a{
							position: relative;
							display: block;
							margin-bottom: 22px;
							height: 50px;
							line-height: 50px;
							img{
								display: block;
								width: 50px;
								height: 50px;
							}
							.txt{
								display: block;
								position: absolute;
								top: 0;
								left: 60px;
								width: 90px;
								height: 50px;
								line-height: 50px;
								font-size: 14px;
								color: #cbd4da;
							}
							.pop{
								display: none;
								position: absolute;
								top: -40px;
								left: 50px;
								padding-top: 15px;
								padding-left: 24px;
								width: 530px - 24px;
								height: 73px - 15px;
								line-height: 24px;
								background: url(http://image.gamersky.com/webimg13/zhuanti/fzts/rw-pop.png) 0 0 no-repeat;
								font-size: 14px;
								color: #121823;
							}
							&:hover{
								.pop{
									display: block;
								}
							}
						}
						.skill-mini{
							a{
								margin-bottom: 7px;
							}
						}
					}
					.part5{
						position: absolute;
						left: 0;
						top: 700px;
						padding-top: 20px;
						width: 560px;
						background: url(http://image.gamersky.com/webimg13/zhuanti/fzts/rw-p5.png) 0 0 repeat-x;
						.tit{
							position: absolute;
							left: 0;
							top:20px;
							height: 30px;
							line-height: 30px;
						}
						.list{
							padding-left: 50px;
							width: 510px;
							p{
								line-height: 30px;
								font-size: 14px;
								color: #cbd4da;
							}
						}
						.more{
							display: block;
							margin-top: 30px;
							width: 214px;
							height: 38px;
							line-height: 38px;
							font-size: 14px;
							color: #ffe195;
							text-align: center;
							border: 1px solid #847b61;
							&:hover{
								background-color: #ffe195;
								color: #383b40;
							}
						}
					}
				}
			}
		}
	}
}
.zt-section4{
	height: 1000px;
	background:url(#{$mpath}zt-bg4.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 196px;
		.ztTab{
			position: relative;
			width: 1200px;
			height: 640px;
			.ztTabNav{
				margin-bottom: 60px;
				padding-left: 307px;
				li{
					cursor: pointer;
					float: left;
					margin-right: 56px;
					@include sprite($s4-nav);
					line-height: 40px;
					font-size: 16px;
					color: #eff2ff;
					font-weight: bold;
					text-align: center;
					&.cur,&:hover{
						@include sprite($s4-nav-h);
						color: #383b40;
					}
				}
			}
			.ztTabCon{
				li{
					display: block;
					position: relative;
					width: 1200px;
					height: 540px;
					.txt{
						padding-left: 47px;
						width: 616px;
						line-height: 2;
						h5{
							font-size: 16px;
							color: #ffda91;
						}
						p{
							font-size: 14px;
							color: #cbd4da;
						}
					}
					.imgs{
						display: block;
						position: absolute;
						right: 41px;
						top: 0;
						width: 395px;
						img{
							display: block;
							margin-bottom: 5px;
							width: 395px;
						}
					}
				}
			}
		}
	}
}
.zt-section5{
	height: 850px;
	background:url(#{$mpath}zt-bg5.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 210px;
		.imgs{
			padding-left: 28px;
			width: 1200px;
			margin-bottom: 63px;
			img{
				display: block;
				float: left;
				margin-right: 35px;
			}
		}
		.para{
			margin: 0 auto;
			width: 1050px;
			p{
				line-height: 28px;
				font-size: 16px;
				color: #e2e3e9;
				text-indent: 32px;
			}
		}
	}
}
.zt-section6{
	height: 795px;
	background:url(#{$mpath}zt-bg6.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 204px;
		.ztTab{
			position: relative;
			width: 1200px;
			height: 493px;
			.ztTabCon{
				margin-bottom: 57px;
				li{
					position: relative;
					width: 1200px;
					height: 330px;
					.imgs{
						margin-left: 99px;
						width: 590px;
						height: 330px;
						img{
							display: block;
							margin: 0 auto;
							height: 330px;
						}
					}
					.txt{
						position: absolute;
						left: 719px;
						top: 42px;
						width: 423px;
						p{
							line-height: 2;
							font-size: 14px;
							color: #fefbef;
						}
					}
				}
			}
			.ztTabNav{
				padding-left: 127px;
				li{
					position: relative;
					cursor: pointer;
					float: left;
					margin-right: 8px;
					@include sprite($s6-nav);
					line-height: 99px;
					font-size: 14px;
					color: #fff;
					text-align: center;
					.arr{
						display: block;
						position: absolute;
						left: 36px;
						opacity: 0;
						visibility: hidden;
						transition:all 0.25s ease-in-out;
						&.arr-t{
							top: -7px;
							@include sprite($s6-nav-h-t);
							transform:translate3d(0,7px,0);
						}
						&.arr-b{
							bottom: -7px;
							@include sprite($s6-nav-h-b);
							transform:translate3d(0,-7px,0);
						}
					}
					&.cur,&:hover{
						@include sprite($s6-nav-h);
						.arr{
							opacity: 1;
							visibility: visible;
							transform:translate3d(0,0,0);
						}
					}
				}
			}
		}
	}
}
.zt-section7{
	height: 901px;
	background:url(#{$mpath}zt-bg7.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 217px;
		.ztTab{
			position: relative;
			width: 1200px;
			height: 590px;
			.ztTabNav{
				margin-bottom: 47px;
				padding-left: 259px;
				li{
					cursor: pointer;
					float: left;
					margin-right: 70px;
					@include sprite($s7-nav);
					line-height: 70px;
					font-size: 20px;
					color: #ddd7d0;
					font-weight: bold;
					text-align: center;
					&.cur,&:hover{
						@include sprite($s7-nav-h);
						color: #fff9eb;
					}
				}
			}
			.ztTabCon{
				li{
					display: block;
					position: relative;
					width: 1200px;
					height: 450px;
					.txt{
						padding-left: 82px;
						padding-top: 25px;
						width: 555px;
						line-height: 2;
						p{
							font-size: 15px;
							color: #ddd7d0;
						}
					}
					.imgs{
						display: block;
						position: absolute;
						right: 80px;
						top: 0;
						padding: 10px;
						width: 375px;
						background-color: #1a1c1f;
						img{
							display: block;
							width: 375px;
						}
					}
				}
			}
		}
	}
}
.zt-section8{
	height: 990px;
	background:url(#{$mpath}zt-bg8.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 274px;
		.gsZoom{
			position: relative;
			margin-left: -55px;
			user-select: none;
			.gszm-btn-prev,.gszm-btn-next{
				display: block;
				position: absolute;
				top: 596px;
				z-index: 11;
				&:hover{
					opacity: 1;
				}
			}
			.gszm-btn-prev{
				left: 50%;
				margin-left: -110px;
				@include sprite($s8-arr-l);
			}
			.gszm-btn-next{
				right: 50%;
				margin-right: -110px;
				@include sprite($s8-arr-r);
			}
			ul.gszm-con{
				position: relative;
				li{
					cursor: pointer;
					position: absolute;
					background-color: #000;
					z-index: 0;
					img{
						display: block;
						width: 100%;
						height: 100%;
						opacity: 0.3;
					}
					&.gszm-next,&.gszm-prev{
						z-index: 1;
					}
					&.gszm-cur{
						cursor: default;
						z-index: 2;
						img{
							opacity: 1;
						}
					}
				}
			}
			ul.gszm-nav{
				position: absolute;
				padding: 0;
				top: 594px;
				width: 100%;
				height: 20px;
				font-size: 0;
				text-align: center;
				z-index: 10;
				li{
					cursor: pointer;
					display: inline-block;
					*display: inline;*zoom:1;
					margin: 0 5px 0;
					@include sprite($s8-nav);
					&.cur{
						@include sprite($s8-nav-h);
					}
				}
			}
			&.gszm-css3{
				ul.gszm-con{
					perspective: 1300px;
					-webkit-perspective: 1300px;
					li{
						position: absolute;
						left: 50%;
						margin-left: -434px;
						width: 868px;
						height:564px;
						transition:all 0.5s ease;
						transform:translate3d(0,0,-1000px) rotateX(0deg) rotateY(0deg);
						&:after{
							display: block;
							position: absolute;
							content: '';
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							border: 3px solid #cfcdd9;
							box-sizing: border-box;
							opacity: 0;
							transition: all 0.3s ease;
						}
						img{
							transition:all 0.5s ease;
						}
						&.gszm-prev{
							opacity: 1;
							transform:translate3d(-434px,0,-500px) rotateX(0deg) rotateY(50deg);
						}
						&.gszm-next{
							opacity: 1;
							transform:translate3d(434px,0,-500px) rotateX(0deg) rotateY(-50deg);
						}
						&.gszm-cur{
							opacity: 1;
							transform:translate3d(0,0,0) rotateX(0deg) rotateY(0deg);
							&:after{
								transition-delay: 0.3s;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
.zt-sectionComm{
	padding-bottom: 30px;
	height:auto;
	background:#282829 url(#{$mpath}bg-comm.png) center 117px no-repeat;
	.container{
		position: relative;
		padding-top: 230px;
	}
}


