// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arr-l-h-name: 'arr-l-h';
$arr-l-h-x: 678px;
$arr-l-h-y: 532px;
$arr-l-h-offset-x: -678px;
$arr-l-h-offset-y: -532px;
$arr-l-h-width: 42px;
$arr-l-h-height: 60px;
$arr-l-h-total-width: 750px;
$arr-l-h-total-height: 706px;
$arr-l-h-image: '../ztimages/csprite.png';
$arr-l-h: (678px, 532px, -678px, -532px, 42px, 60px, 750px, 706px, '../ztimages/csprite.png', 'arr-l-h', );
$arr-l-name: 'arr-l';
$arr-l-x: 528px;
$arr-l-y: 532px;
$arr-l-offset-x: -528px;
$arr-l-offset-y: -532px;
$arr-l-width: 42px;
$arr-l-height: 60px;
$arr-l-total-width: 750px;
$arr-l-total-height: 706px;
$arr-l-image: '../ztimages/csprite.png';
$arr-l: (528px, 532px, -528px, -532px, 42px, 60px, 750px, 706px, '../ztimages/csprite.png', 'arr-l', );
$arr-r-h-name: 'arr-r-h';
$arr-r-h-x: 628px;
$arr-r-h-y: 532px;
$arr-r-h-offset-x: -628px;
$arr-r-h-offset-y: -532px;
$arr-r-h-width: 42px;
$arr-r-h-height: 60px;
$arr-r-h-total-width: 750px;
$arr-r-h-total-height: 706px;
$arr-r-h-image: '../ztimages/csprite.png';
$arr-r-h: (628px, 532px, -628px, -532px, 42px, 60px, 750px, 706px, '../ztimages/csprite.png', 'arr-r-h', );
$arr-r-name: 'arr-r';
$arr-r-x: 578px;
$arr-r-y: 532px;
$arr-r-offset-x: -578px;
$arr-r-offset-y: -532px;
$arr-r-width: 42px;
$arr-r-height: 60px;
$arr-r-total-width: 750px;
$arr-r-total-height: 706px;
$arr-r-image: '../ztimages/csprite.png';
$arr-r: (578px, 532px, -578px, -532px, 42px, 60px, 750px, 706px, '../ztimages/csprite.png', 'arr-r', );
$logo-gf-name: 'logo-gf';
$logo-gf-x: 0px;
$logo-gf-y: 612px;
$logo-gf-offset-x: 0px;
$logo-gf-offset-y: -612px;
$logo-gf-width: 284px;
$logo-gf-height: 94px;
$logo-gf-total-width: 750px;
$logo-gf-total-height: 706px;
$logo-gf-image: '../ztimages/csprite.png';
$logo-gf: (0px, 612px, 0px, -612px, 284px, 94px, 750px, 706px, '../ztimages/csprite.png', 'logo-gf', );
$s1-btn1-h-name: 's1-btn1-h';
$s1-btn1-h-x: 0px;
$s1-btn1-h-y: 0px;
$s1-btn1-h-offset-x: 0px;
$s1-btn1-h-offset-y: 0px;
$s1-btn1-h-width: 371px;
$s1-btn1-h-height: 236px;
$s1-btn1-h-total-width: 750px;
$s1-btn1-h-total-height: 706px;
$s1-btn1-h-image: '../ztimages/csprite.png';
$s1-btn1-h: (0px, 0px, 0px, 0px, 371px, 236px, 750px, 706px, '../ztimages/csprite.png', 's1-btn1-h', );
$s1-btn1-name: 's1-btn1';
$s1-btn1-x: 379px;
$s1-btn1-y: 0px;
$s1-btn1-offset-x: -379px;
$s1-btn1-offset-y: 0px;
$s1-btn1-width: 371px;
$s1-btn1-height: 236px;
$s1-btn1-total-width: 750px;
$s1-btn1-total-height: 706px;
$s1-btn1-image: '../ztimages/csprite.png';
$s1-btn1: (379px, 0px, -379px, 0px, 371px, 236px, 750px, 706px, '../ztimages/csprite.png', 's1-btn1', );
$s1-btn2-h-name: 's1-btn2-h';
$s1-btn2-h-x: 315px;
$s1-btn2-h-y: 244px;
$s1-btn2-h-offset-x: -315px;
$s1-btn2-h-offset-y: -244px;
$s1-btn2-h-width: 307px;
$s1-btn2-h-height: 186px;
$s1-btn2-h-total-width: 750px;
$s1-btn2-h-total-height: 706px;
$s1-btn2-h-image: '../ztimages/csprite.png';
$s1-btn2-h: (315px, 244px, -315px, -244px, 307px, 186px, 750px, 706px, '../ztimages/csprite.png', 's1-btn2-h', );
$s1-btn2-name: 's1-btn2';
$s1-btn2-x: 0px;
$s1-btn2-y: 244px;
$s1-btn2-offset-x: 0px;
$s1-btn2-offset-y: -244px;
$s1-btn2-width: 307px;
$s1-btn2-height: 186px;
$s1-btn2-total-width: 750px;
$s1-btn2-total-height: 706px;
$s1-btn2-image: '../ztimages/csprite.png';
$s1-btn2: (0px, 244px, 0px, -244px, 307px, 186px, 750px, 706px, '../ztimages/csprite.png', 's1-btn2', );
$s1-btn3-h-name: 's1-btn3-h';
$s1-btn3-h-x: 264px;
$s1-btn3-h-y: 438px;
$s1-btn3-h-offset-x: -264px;
$s1-btn3-h-offset-y: -438px;
$s1-btn3-h-width: 256px;
$s1-btn3-h-height: 166px;
$s1-btn3-h-total-width: 750px;
$s1-btn3-h-total-height: 706px;
$s1-btn3-h-image: '../ztimages/csprite.png';
$s1-btn3-h: (264px, 438px, -264px, -438px, 256px, 166px, 750px, 706px, '../ztimages/csprite.png', 's1-btn3-h', );
$s1-btn3-name: 's1-btn3';
$s1-btn3-x: 0px;
$s1-btn3-y: 438px;
$s1-btn3-offset-x: 0px;
$s1-btn3-offset-y: -438px;
$s1-btn3-width: 256px;
$s1-btn3-height: 166px;
$s1-btn3-total-width: 750px;
$s1-btn3-total-height: 706px;
$s1-btn3-image: '../ztimages/csprite.png';
$s1-btn3: (0px, 438px, 0px, -438px, 256px, 166px, 750px, 706px, '../ztimages/csprite.png', 's1-btn3', );
$s2-play-h-name: 's2-play-h';
$s2-play-h-x: 630px;
$s2-play-h-y: 244px;
$s2-play-h-offset-x: -630px;
$s2-play-h-offset-y: -244px;
$s2-play-h-width: 81px;
$s2-play-h-height: 81px;
$s2-play-h-total-width: 750px;
$s2-play-h-total-height: 706px;
$s2-play-h-image: '../ztimages/csprite.png';
$s2-play-h: (630px, 244px, -630px, -244px, 81px, 81px, 750px, 706px, '../ztimages/csprite.png', 's2-play-h', );
$s2-play-name: 's2-play';
$s2-play-x: 630px;
$s2-play-y: 333px;
$s2-play-offset-x: -630px;
$s2-play-offset-y: -333px;
$s2-play-width: 81px;
$s2-play-height: 81px;
$s2-play-total-width: 750px;
$s2-play-total-height: 706px;
$s2-play-image: '../ztimages/csprite.png';
$s2-play: (630px, 333px, -630px, -333px, 81px, 81px, 750px, 706px, '../ztimages/csprite.png', 's2-play', );
$s3-tips-name: 's3-tips';
$s3-tips-x: 537px;
$s3-tips-y: 612px;
$s3-tips-offset-x: -537px;
$s3-tips-offset-y: -612px;
$s3-tips-width: 144px;
$s3-tips-height: 12px;
$s3-tips-total-width: 750px;
$s3-tips-total-height: 706px;
$s3-tips-image: '../ztimages/csprite.png';
$s3-tips: (537px, 612px, -537px, -612px, 144px, 12px, 750px, 706px, '../ztimages/csprite.png', 's3-tips', );
$s5-nav-h-name: 's5-nav-h';
$s5-nav-h-x: 528px;
$s5-nav-h-y: 485px;
$s5-nav-h-offset-x: -528px;
$s5-nav-h-offset-y: -485px;
$s5-nav-h-width: 157px;
$s5-nav-h-height: 39px;
$s5-nav-h-total-width: 750px;
$s5-nav-h-total-height: 706px;
$s5-nav-h-image: '../ztimages/csprite.png';
$s5-nav-h: (528px, 485px, -528px, -485px, 157px, 39px, 750px, 706px, '../ztimages/csprite.png', 's5-nav-h', );
$s6-nav-name: 's6-nav';
$s6-nav-x: 528px;
$s6-nav-y: 438px;
$s6-nav-offset-x: -528px;
$s6-nav-offset-y: -438px;
$s6-nav-width: 177px;
$s6-nav-height: 39px;
$s6-nav-total-width: 750px;
$s6-nav-total-height: 706px;
$s6-nav-image: '../ztimages/csprite.png';
$s6-nav: (528px, 438px, -528px, -438px, 177px, 39px, 750px, 706px, '../ztimages/csprite.png', 's6-nav', );
$s7-nav-name: 's7-nav';
$s7-nav-x: 292px;
$s7-nav-y: 612px;
$s7-nav-offset-x: -292px;
$s7-nav-offset-y: -612px;
$s7-nav-width: 237px;
$s7-nav-height: 39px;
$s7-nav-total-width: 750px;
$s7-nav-total-height: 706px;
$s7-nav-image: '../ztimages/csprite.png';
$s7-nav: (292px, 612px, -292px, -612px, 237px, 39px, 750px, 706px, '../ztimages/csprite.png', 's7-nav', );
$spritesheet-width: 750px;
$spritesheet-height: 706px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($arr-l-h, $arr-l, $arr-r-h, $arr-r, $logo-gf, $s1-btn1-h, $s1-btn1, $s1-btn2-h, $s1-btn2, $s1-btn3-h, $s1-btn3, $s2-play-h, $s2-play, $s3-tips, $s5-nav-h, $s6-nav, $s7-nav, );
$spritesheet: (750px, 706px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
