//专题
@import 'comm';
.zt-section1{
	height: 1000px;
	background:url(#{$mpath}zt-bg1.jpg) center 0 no-repeat;
	.container{
		position: relative;
		.bdsharewrap.bdstyle-c{
			position: absolute;
			top: 30px;
			right:100px;
		}
		.logo_gs{
			display: block;
			position: absolute;
			left: 101px;
			top: 26px;
			width: 139px;
			height: 47px;
			background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-black.png) 0 0 no-repeat;
		}
		.logo_gf{
			display: block;
			position: absolute;
			left: 251px;
			top: -2px;
			@include sprite($logo-gf);
		}
		.btn{
			display: block;
			position: absolute;
			&.btn1{
				top: 678px;
				left: 682px;
				@include sprite($s1-btn1);
				&:hover{
					@include sprite($s1-btn1-h);
				}
			}
			&.btn2{
				left: 473px;
				top: 698px;
				@include sprite($s1-btn2);
				&:hover{
					@include sprite($s1-btn2-h);
				}
			}
			&.btn3{
				top: 507px;
				left: 817px;
				@include sprite($s1-btn3);
				img{
					display: none;
					position: absolute;
					left: 33px;
					top: -102px;
					width: 175px;
					height: 176px;
				}
				&:hover{
					@include sprite($s1-btn3-h);
					img{
						display: block;
					}
				}
			}
		}
	}
}
.zt-section2{
	height: 647px;
	background:url(#{$mpath}zt-bg2.jpg) center 0 no-repeat;
    .container{
        position: relative;
        padding-top: 268px;
        .para{
            width: 429px;
            p{
                margin-bottom: 28px;
                line-height: 28px;
                font-size: 15px;
                color: #ded6ff;
                text-indent: 30px;
            }
        }
        .play{
            display: block;
            position: absolute;
            left: 459px;
            top: 230px;
            width: 741px;
            height: 417px;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
            i{
                display: block;
                position: absolute;
                left: 331px;
                top: 169px;
                @include sprite($s2-play);
            }
            &:hover{
                i{
                    @include sprite($s2-play-h)
                }
            }
        }
    }
}
.zt-section3{
	height: 1283px;
	background:url(#{$mpath}zt-bg3.jpg) center 0 no-repeat;
    .container{
        position: relative;
        height: 1283px;
        .role-box {
            width: 1920px;
            height: 1053px;
            position: absolute;
            left: 50%;
            top: 230px;
            margin-left: -960px;
            z-index: 3;
            background:url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) center 0 no-repeat;
            .swiper-slide {
                width: 100%;
                height: 100%;
                img {
                    display: block;
                    opacity: 0;
                    transition:all 0.5s ease 0.25s;
                }
                &.swiper-slide-active{
                    img{
                        opacity: 1;
                        transition-delay:0.25s;
                    }
                }
            }
            .zhezhao {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                left: 0;
                top: 0;
                overflow: hidden;
                .line-left, .line-right, .zhe-left, .zhe-right {
                    width: 1920px;
                    height: 1053px;
                    position: absolute;
                    overflow: hidden;
                    z-index: 2;
                }
                .line-left i, .line-right i, .zhe-left i, .zhe-right i {
                    position: absolute;
                    width: 1920px;
                    height: 1053px;
                }
                .zhe-left, .zhe-right {
                    transition: all .25s ease-in .25s;
                }
                .line-left, .line-right {
                    transition: all .2s ease-in;
                }
                .zhe-left {
                    left: -2px;
                    top: -2px;
                    transform: skewY(-28.7deg);
                    transform-origin: 0 0;
                    i {
                        background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) no-repeat 2px 2px;
                        transform-origin: 0 0;
                        transform: skewY(28.7deg);
                        left: 0;
                        top: 0;
                    }
                }
                .zhe-right {
                    bottom: 0;
                    right: 0;
                    transform: skewY(-28.6deg);
                    transform-origin: 100% 100%;
                    i {
                        background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) no-repeat left top;
                        transform-origin: 100% 100%;
                        transform: skewY(28.6deg);
                        bottom: 0;
                        right: 0;
                    }
                }
                .line-left {
                    transform: skewY(28.6deg);
                    transform-origin: 0 100%;
                    left: 0;
                    bottom: 0;
                    i {
                        background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) no-repeat left top;
                        transform: skewY(-28.6deg);
                        transform-origin: 0 100%;
                        left: 0;
                        bottom: 0;
                    }
                }
                .line-right {
                    top: 0;
                    right: 0;
                    transform: skewY(28.7deg);
                    transform-origin: 100% 0;
                    i {
                        background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) no-repeat left top;
                        transform: skewY(-28.7deg);
                        transform-origin: 100% 0;
                        right: 0;
                        top: 0;
                    }
                }
                &.on {
                    .zhe-left, .zhe-right {
                        width: 447px;
                        height: 0;
                    }
                    .line-left, .line-right {
                        width: 0;
                        height: 0;
                    }
                }
            }
            .swiper-button-role {
                width: 42px;
                height: 60px;
                margin-top: -140px;
                transition: transform ease .6s;
                &.role-left {
                    left: 50%;
                    margin-left: -600px;
                    @include sprite($arr-l);
                    background-size:auto;
                    &:hover{@include sprite($arr-l-h);}
                }
                &.role-right {
                    right: 50%;
                    margin-right: -600px;
                    @include sprite($arr-r);
                    background-size:auto;
                    &:hover{@include sprite($arr-r-h);}
                }
            }
        }
        .wrap-part3-pagination {
            position: absolute;
            z-index: 53;
            left: 50%;
            top: 50%;
            width: 1200px;
            min-height: 170px;
            margin: 410px 0 0 -600px;
            .swiper-container {
                width: 1116px;
                height: 140px;
                position: relative;
                z-index: 2;
            }
            .swiper-wrapper {
                z-index: 5;
            }
            .s-line {
                width: 100%;
                height: 2px;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 50px;
                background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/s3-line.png) center center no-repeat;
            }
            .s-tips {
                display: block;
                margin: 0 auto;
                width: 144px;
                height: 12px;
                margin-bottom: 16px;
                @include sprite($s3-tips);
            }
            .swiper-slide {
                width: 88px;
                margin: 0 14px;
                &.swiper-slide-active .hero-img span, &:hover .hero-img span {
                    opacity: 1;
                    filter: alpha(opacity = 100);
                }
                &.swiper-slide-active .hero-name, &:hover .hero-name {
                    color: #f3615d;
                    margin-top: 0;
                }
                .hero-img {
                    width: 88px;
                    height: 101px;
                    background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/s3-hi.png) center center no-repeat;
                    span {
                        width: 100%;
                        height: 100%;
                        display: block;
                        opacity: 0;
                        filter: alpha(opacity = 0);
                        transition: all ease .5s;
                    }
                }
                .hero-name {
                    width: 100%;
                    text-align: center;
                    margin-top: -36px;
                    font-size: 18px;
                    color: #9b9da2;
                }
            }
        }
    }
}
.zt-section4{
	height: 1030px;
	background:url(#{$mpath}zt-bg4.jpg) center 0 no-repeat;
    .container{
        position: relative;
        padding-top: 230px;
        .list{
            margin-left: -1px;
            width: 1250px;
            li{
                float: left;
                width: 200px;
                height: 200px;
                a{
                    position: relative;
                    display: block;
                    width: 200px;
                    height: 200px;
                    background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/cvs.jpg) 0 0 no-repeat;
                    i{
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        visibility: hidden;
                        width: 200px;
                        height: 200px;
                        background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/cvs.jpg) 0 0 no-repeat;
                        transition:all 0.25s ease-in-out;
                    }
                    @for $j from 1 through 4 {
                        @for $i from 1 through 6 {
                            &.cvh#{$i}#{$j}{
                                background-position: -200px*($i - 1) -200px*($j - 1);
                                i{background-position: -200px*($i - 1) -200px*($j - 1) - 1000px;}
                            }
                        }
                    }
                    &:hover{
                        i{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}
.zt-section5{
	height: 931px;
	background:url(#{$mpath}zt-bg5.jpg) center 0 no-repeat;
    .container{
        position: relative;
        padding-top: 290px;
        .ztTab1{
            .ztTabNav{
                padding-left: 360px;
                height: 39px;
                i{
                    left: 354px;
                    width: 493px;
                }
                li{
                    margin-right: 20px;
                    width: 157px;
                    height: 39px;
                    line-height: 39px;
                    font-size: 20px;
                    color: #382b6b;
                    span{width: 130px;}
                    &.cur{@include sprite($s5-nav-h);}
                }
            }
            .ztTabCon{
                li{
                    .txt{
                        .line{
                            margin-bottom: 20px;
                        }
                        p{
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
    }
}
.zt-section6{
	height: 1080px;
	background:url(#{$mpath}zt-bg6.jpg) center 0 no-repeat;
    .container{
        position: relative;
        padding-top: 297px;
        .ztTab{
            position: relative;
            width: 1200px;
            height: 660px;
            .ztTabNav{
                position: relative;
                margin-bottom: 60px;
                padding-left: 349px;
                height: 39px;
                i{
                    display: block;
                    position: absolute;
                    left: 354px;
                    top: 21px;
                    height: 1px;
                    width: 493px;
                    background-color: #9b7dd1;
                }
                li{
                    position: relative;
                    cursor: pointer;
                    float: left;
                    margin-right: 2px;
                    width: 177px;
                    height: 39px;
                    line-height: 39px;
                    font-size: 20px;
                    color: #fff;
                    span{
                        display: block;
                        text-align: center;
                        width: 140px;
                    }
                    &.cur{
                        @include sprite($s6-nav);
                        span{color: #504496;}
                    }
                }
            }
            .ztTabCon{
                li{
                    position: relative;
                    width: 1200px;
                    height: 560px;
                    .txt{
                        position: relative;
                        width: 1200px;
                        height: 180px;
                        p{
                            line-height: 24px;
                            font-size: 16px;
                            color: #decdfc;
                            text-indent: 32px;
                        }
                    }
                }
            }
        }
    }
}
.zt-section7{
	height: 939px;
	background:url(#{$mpath}zt-bg7.jpg) center 0 no-repeat;
    .container{
        position: relative;
        padding-top: 290px;
        .ztTab1{
            .ztTabNav{
                padding-left: 364px;
                height: 39px;
                i{
                    left: 354px;
                    width: 493px;
                }
                li{
                    margin-right: 42px;
                    width: 237px;
                    height: 39px;
                    line-height: 39px;
                    font-size: 20px;
                    color: #382b6b;
                    span{width: 200px;}
                    &.cur{@include sprite($s7-nav);}
                }
            }
            .ztTabCon{
                li{
                    .txt{
                        padding-top:5px;
                        .line{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
.zt-section8{
	height: 931px;
	background:url(#{$mpath}zt-bg8.jpg) center 0 no-repeat;
    .container{
        position: relative;
        padding-top: 232px;
        .ztSldwrap{
            position: relative;
            width: 1200px;
            height: 563px;
            .ztSld{
                position: relative;
                margin-left: 94px;
                width: 1000px;
                height: 563px;
                .ztSldCon{
                    li{
                        position: relative;
                        width: 1000px;
                        height: 563px;
                        img{
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .arrBtn{
                top: 257px;
                &.arrBtnL{
                    left:12px;
                }
                &.arrBtnR{
                    right:12px;
                }
            }
        }
    }
}
.zt-sectionComm{
	padding-bottom: 30px;
	height:auto;
	.container{
		position: relative;
		padding-top: 65px;
		width: 1000px;
	}
}


