.bdsharewrap.bdstyle-c { width: 255px; height: 33px; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox { width: 800px; height: 33px; *font-size: 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after, .bdsharewrap.bdstyle-c .bdsharebuttonbox.before { display: table; content: " "; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after { clear: both; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a { float: left; margin: 0 4px 0 0; padding: 0; display: inline-block; *display: inline; *zoom: 1; width: 33px; height: 33px; background: url("http://image.gamersky.com/webimg13/zhuanti/common/fx9.png") 0 0 no-repeat; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tsina { background-position: 0 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_weixin { background-position: -37px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_qzone { background-position: -74px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_renren { background-position: -111px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_sqq { background-position: -148px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tieba { display: none; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_douban { display: none; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_more { background-position: -185px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_count { background-position: -222px 0; font-size: 14px; text-align: center; line-height: 33px; color: #fefefe; }

html, body { min-width: 1280px; }

body { font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }

h1, h2, h3, h4, h5, p, ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; cursor: pointer; }

.clearfix:before, .clearfix:after, .container:before, .container:after { display: table; content: " "; }

.clearfix:after, .container:after { clear: both; }

.container { margin-right: auto; margin-left: auto; width: 1100px; }

.zt-section { margin: 0; padding: 0; overflow: hidden; width: 100%; min-width: 1100px; }

.QZnav { min-width: 1100px; }

.QZnav .topbar { width: 1100px; }

.QZnav .QZ-nav { display: none; }

.Bot { position: relative; width: 100%; min-width: 1100px; height: 160px; background: #0f0f0f; font-size: 14px; }

.Bot .Copyright { margin: 0 auto; padding-top: 50px; width: 1100px; height: auto; line-height: 30px; text-align: center; color: #363636; }

.Bot .Copyright a { margin: 0 5px; color: #363636; }

.Bot .Copyright a:hover { color: #666; }

.gsPopupMask { position: fixed; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background: url(http://image.gamersky.com/webimg13/zhuanti/common/black80.png) 0 0 repeat; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopupMask.cur { opacity: 1; visibility: visible; }

.gsPopup { z-index: 99999; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopup .gsPopupCon { width: 100%; height: 100%; }

.gsPopup .gsPopupCon img { display: block; }

.gsPopup .gsPopupCon video { display: block; width: 100%; height: 100%; }

.gsPopup .gsPopupClose { position: absolute; top: 0; right: -60px; background-image: url(../ztimages/csprite.png); background-position: -759px -384px; width: 52px; height: 52px; }

.gsPopup .gsPopupClose:hover { background-image: url(../ztimages/csprite.png); background-position: -93px -520px; width: 52px; height: 52px; }

.gsPopup.cur { opacity: 1; visibility: visible; }

.fx-code { position: absolute; right: 30px; top: 578px; background-image: url(../ztimages/csprite.png); background-position: 0px 0px; width: 209px; height: 376px; padding: 36px 0 0; height: 340px; }

.fx-code.cur { position: fixed; top: 50%; margin-top: -188px; }

.fx-code img { display: block; margin: 0 auto; width: 150px; height: 150px; border: 1px solid #7a87a8; }

.fx-code p { margin-top: 8px; line-height: 22px; font-size: 14px; color: #a6bcf2; text-align: center; }

.fx-code .btn { display: block; margin: 0 auto; }

.fx-code .btn.btn-and { margin: 6px auto; background-image: url(../ztimages/csprite.png); background-position: 0px -472px; width: 173px; height: 40px; }

.fx-code .btn.btn-and:hover { background-image: url(../ztimages/csprite.png); background-position: -217px -318px; width: 173px; height: 40px; }

.fx-code .btn.btn-ios { background-image: url(../ztimages/csprite.png); background-position: -579px -318px; width: 173px; height: 40px; }

.fx-code .btn.btn-ios:hover { background-image: url(../ztimages/csprite.png); background-position: -398px -318px; width: 173px; height: 40px; }

.zt-section1 { height: 980px; background: url(http://image.gamersky.com/webimg13/zhuanti/djdszgc/zt-bg1.jpg) center 0 no-repeat; }

.zt-section1 .container { position: relative; padding-top: 700px; }

.zt-section1 .container .play { display: block; position: absolute; left: 507px; top: 459px; width: 85px; height: 85px; }

.zt-section1 .container .play .r1 { display: block; position: absolute; left: 0; top: 0; background-image: url(../ztimages/csprite.png); background-position: 0px -520px; width: 85px; height: 85px; -webkit-animation: rotateAnim 3s linear infinite; animation: rotateAnim 3s linear infinite; }

.zt-section1 .container .play .r2 { display: block; position: absolute; left: 0; top: 0; background-image: url(../ztimages/csprite.png); background-position: 0px -520px; width: 85px; height: 85px; visibility: hidden; opacity: 0; }

.zt-section1 .container .play .arr { display: block; position: absolute; left: 40px; top: 32px; background-image: url(../ztimages/csprite.png); background-position: -760px -318px; width: 12px; height: 21px; }

.zt-section1 .container .play:hover .r2 { visibility: visible; -webkit-animation: zoAnim 1.2s linear 1 both; animation: zoAnim 1.2s linear 1 both; }

.zt-section1 .container .bdsharewrap.bdstyle-c { position: absolute; top: 28px; right: 0; width: 222px; }

.zt-section1 .container .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_count { display: none; }

.zt-section1 .container .logo_gs { display: block; position: absolute; left: 191px; top: 22px; width: 139px; height: 47px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-black.png) 0 0 no-repeat; }

.zt-section1 .container .logo_gf { display: block; position: absolute; left: 0; top: 9px; background-image: url(../ztimages/csprite.png); background-position: -576px -384px; width: 175px; height: 70px; }

.zt-section1 .container .btngroup { padding-left: 50px; width: 1060px; }

.zt-section1 .container .btngroup a { float: left; margin-right: 50px; }

.zt-section1 .container .btn { display: block; }

.zt-section1 .container .btn.btn1 { background-image: url(../ztimages/csprite.png); background-position: -525px -230px; width: 300px; height: 80px; }

.zt-section1 .container .btn.btn1:hover { background-image: url(../ztimages/csprite.png); background-position: -217px -54px; width: 300px; height: 80px; }

.zt-section1 .container .btn.btn2 { background-image: url(../ztimages/csprite.png); background-position: -525px -142px; width: 300px; height: 80px; }

.zt-section1 .container .btn.btn2:hover { background-image: url(../ztimages/csprite.png); background-position: -217px -142px; width: 300px; height: 80px; }

.zt-section1 .container .btn.btn3 { background-image: url(../ztimages/csprite.png); background-position: -217px -230px; width: 300px; height: 80px; }

.zt-section1 .container .btn.btn3:hover { background-image: url(../ztimages/csprite.png); background-position: -525px -54px; width: 300px; height: 80px; }

.zt-section1 .container .para { margin: 0 auto 20px; width: 1000px; height: 66px; }

.zt-section1 .container .para p { line-height: 22px; font-size: 14px; color: #111; text-indent: 28px; }

.zt-section2 { height: 1144px; background: url(http://image.gamersky.com/webimg13/zhuanti/djdszgc/zt-bg2.jpg) center 0 no-repeat; }

.zt-section2 .container { position: relative; padding-top: 153px; }

.zt-section2 .container p { line-height: 26px; font-size: 14px; color: #54566d; text-align: center; }

.zt-section2 .container p span { color: #d3232e; }

.zt-section2 .container .para1 { margin-bottom: 90px; height: 26px; }

.zt-section2 .container .para2 { margin-bottom: 364px; height: 52px; }

.zt-section2 .container .time { margin-bottom: 93px; height: 26px; }

.zt-section2 .container .prize { display: block; width: 1100px; height: 220px; }

.zt-section2 .container .list { margin-left: -10px; width: 1130px; }

.zt-section2 .container .list li { float: left; width: 280px; line-height: 45px; font-size: 14px; color: #54566d; text-align: center; }

.zt-section2 .container .btnUpd { display: block; position: absolute; top: 429px; left: 637px; background-image: url(../ztimages/csprite.png); background-position: 0px -384px; width: 280px; height: 80px; }

.zt-section2 .container .btnUpd:hover { background-image: url(../ztimages/csprite.png); background-position: -288px -384px; width: 280px; height: 80px; }

.zt-section2 .container .codewrap { position: absolute; left: 135px; top: 380px; width: 380px; }

.zt-section2 .container .codewrap img { display: block; margin: 0 auto 10px; width: 150px; height: 150px; border: 1px solid #7a87a8; }

.zt-section3 { height: 880px; background: url(http://image.gamersky.com/webimg13/zhuanti/djdszgc/zt-bg3.jpg) center 0 no-repeat; }

.zt-section3 .container { position: relative; padding-top: 155px; }

.zt-section3 .container .ztTab { margin: 0 auto; width: 960px; height: 640px; }

.zt-section3 .container .ztTab .ztTabNav { margin-bottom: 20px; margin-left: 2px; width: 1000px; height: 66px; }

.zt-section3 .container .ztTab .ztTabNav li { float: left; margin-right: 1px; width: 190px; height: 66px; }

.zt-section3 .container .ztTab .ztTabNav li a { display: block; width: 190px; height: 66px; background: url(http://image.gamersky.com/webimg13/zhuanti/djdszgc/s3nav.png) 0 0 no-repeat; }

.zt-section3 .container .ztTab .ztTabNav li a.tn1 { background-position: 0px 0; }

.zt-section3 .container .ztTab .ztTabNav li a.tn2 { background-position: -191px 0; }

.zt-section3 .container .ztTab .ztTabNav li a.tn3 { background-position: -382px 0; }

.zt-section3 .container .ztTab .ztTabNav li a.tn4 { background-position: -573px 0; }

.zt-section3 .container .ztTab .ztTabNav li a.tn5 { background-position: -764px 0; }

.zt-section3 .container .ztTab .ztTabNav li.cur a.tn1 { background-position: 0px -70px; }

.zt-section3 .container .ztTab .ztTabNav li.cur a.tn2 { background-position: -191px -70px; }

.zt-section3 .container .ztTab .ztTabNav li.cur a.tn3 { background-position: -382px -70px; }

.zt-section3 .container .ztTab .ztTabNav li.cur a.tn4 { background-position: -573px -70px; }

.zt-section3 .container .ztTab .ztTabNav li.cur a.tn5 { background-position: -764px -70px; }

.zt-section3 .container .ztTab .ztTabCon li { width: 960px; height: 539px; }

.zt-section3 .container .ztTab .ztTabCon li img { display: block; width: 960px; height: 539px; }

.zt-section4 { position: relative; overflow: visible; height: 800px; background: url(http://image.gamersky.com/webimg13/zhuanti/djdszgc/zt-bg4.jpg) center 0 no-repeat; }

.zt-section4 .container { position: relative; }

.zt-section4 .container .tit { position: absolute; left: 242px; top: 43px; background-image: url(../ztimages/csprite.png); background-position: -217px 0px; width: 608px; height: 46px; }

.zt-section4 .container .ztTab { position: relative; width: 1100px; height: 800px; }

.zt-section4 .container .ztTab .ztTabNav { position: absolute; top: 141px; left: -47px; width: 116px; }

.zt-section4 .container .ztTab .ztTabNav li { margin-bottom: 35px; width: 116px; height: 122px; }

.zt-section4 .container .ztTab .ztTabNav li a { display: block; height: 122px; background: url(http://image.gamersky.com/webimg13/zhuanti/djdszgc/nav_role.png) no-repeat; }

.zt-section4 .container .ztTab .ztTabNav li a.role_01 { background-position: 0 0; }

.zt-section4 .container .ztTab .ztTabNav li a.role_02 { background-position: 0 -157px; }

.zt-section4 .container .ztTab .ztTabNav li a.role_03 { background-position: 0 -314px; }

.zt-section4 .container .ztTab .ztTabNav li a.role_04 { background-position: 0 -472px; }

.zt-section4 .container .ztTab .ztTabNav li.cur a.role_01 { background-position: -120px 0; }

.zt-section4 .container .ztTab .ztTabNav li.cur a.role_02 { background-position: -120px -157px; }

.zt-section4 .container .ztTab .ztTabNav li.cur a.role_03 { background-position: -120px -314px; }

.zt-section4 .container .ztTab .ztTabNav li.cur a.role_04 { background-position: -120px -472px; }

.zt-section4 .container .ztTab .ztTabCon li { position: relative; width: 1100px; height: 800px; }

.zt-section4 .container .ztTab .ztTabCon li .pic { display: block; position: absolute; left: -50px; bottom: 0; -webkit-animation: fadeInFromBottom 0.6s ease-in-out 0s both; animation: fadeInFromBottom 0.6s ease-in-out 0s both; }

.zt-section4 .container .ztTab .ztTabCon li .lx { margin-top: -50px; }

.zt-section4 .container .ztTab .ztTabCon li .name { position: absolute; top: 152px; left: 110px; -webkit-animation: zoomIn 0.6s ease-in-out 0s both; animation: zoomIn 0.6s ease-in-out 0s both; }

.zt-section4 .container .ztTab .ztTabCon li .txt { position: absolute; top: 145px; right: -5px; -webkit-animation: zoomIn 0.6s ease-in-out 0s both; animation: zoomIn 0.6s ease-in-out 0s both; }

.zt-section4 .container .ztTab .ztTabCon li .map { position: absolute; bottom: 84px; right: -22px; -webkit-animation: zoomIn 0.6s ease-in-out 0s both; animation: zoomIn 0.6s ease-in-out 0s both; }

.zt-section4 .container .ztTab .ztTabCon li p { position: absolute; top: 350px; left: 135px; text-align: center; background-position: -40px -640px; color: #ffffff; font-size: 18px; line-height: 20px; -webkit-animation: zoomIn 0.6s ease-in-out 0s both; animation: zoomIn 0.6s ease-in-out 0s both; background-image: url(../ztimages/csprite.png); background-position: 0px -613px; width: 43px; height: 161px; padding: 8px 5px 0; width: 33px; height: 153px; }

.zt-section4 .container .ztTab .ztTabCon li p strong { display: block; color: #b2bbca; padding-top: 14px; font-weight: normal; }

.zt-section4 .container .ztTab .ztTabCon li p strong span { display: block; width: 5px; height: 5px; overflow: hidden; margin: 3px auto; background-color: #b2bbca; border-radius: 50%; *margin: 8px auto 3px; }

@-webkit-keyframes rotateAnim { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes rotateAnim { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-webkit-keyframes zoAnim { 0% { -webkit-transform: scale(0); transform: scale(0); }
  60%, 63% { -webkit-transform: scale(1.2); transform: scale(1.2); }
  75%, 78% { -webkit-transform: scale(0.8); transform: scale(0.8); }
  85%, 87% { -webkit-transform: scale(1.1); transform: scale(1.1); }
  95%, 97% { -webkit-transform: scale(0.9); transform: scale(0.9); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes zoAnim { 0% { -webkit-transform: scale(0); transform: scale(0); }
  60%, 63% { -webkit-transform: scale(1.2); transform: scale(1.2); }
  75%, 78% { -webkit-transform: scale(0.8); transform: scale(0.8); }
  85%, 87% { -webkit-transform: scale(1.1); transform: scale(1.1); }
  95%, 97% { -webkit-transform: scale(0.9); transform: scale(0.9); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes zoAnim { 50% { opacity: .6; }
  100% { -webkit-transform: scale(1.3); transform: scale(1.3);
    opacity: 0; } }

@-webkit-keyframes zoomIn { from { -webkit-transform: scale(0.4); transform: scale(0.4);
    opacity: 0.4; } }

@keyframes zoomIn { from { -webkit-transform: scale(0.4); transform: scale(0.4);
    opacity: 0.4; } }

@-webkit-keyframes fadeInFromBottom { from { -webkit-transform: translateY(30%); transform: translateY(30%);
    opacity: 0; } }

@keyframes fadeInFromBottom { from { -webkit-transform: translateY(30%); transform: translateY(30%);
    opacity: 0; } }
