// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$anniu-b-name: 'anniu-b';
$anniu-b-x: 637px;
$anniu-b-y: 135px;
$anniu-b-offset-x: -637px;
$anniu-b-offset-y: -135px;
$anniu-b-width: 50px;
$anniu-b-height: 16px;
$anniu-b-total-width: 803px;
$anniu-b-total-height: 510px;
$anniu-b-image: '../ztimages/csprite.png';
$anniu-b: (637px, 135px, -637px, -135px, 50px, 16px, 803px, 510px, '../ztimages/csprite.png', 'anniu-b', );
$anniu-w-name: 'anniu-w';
$anniu-w-x: 235px;
$anniu-w-y: 210px;
$anniu-w-offset-x: -235px;
$anniu-w-offset-y: -210px;
$anniu-w-width: 50px;
$anniu-w-height: 43px;
$anniu-w-total-width: 803px;
$anniu-w-total-height: 510px;
$anniu-w-image: '../ztimages/csprite.png';
$anniu-w: (235px, 210px, -235px, -210px, 50px, 43px, 803px, 510px, '../ztimages/csprite.png', 'anniu-w', );
$bb-arr-n-name: 'bb-arr-n';
$bb-arr-n-x: 279px;
$bb-arr-n-y: 384px;
$bb-arr-n-offset-x: -279px;
$bb-arr-n-offset-y: -384px;
$bb-arr-n-width: 25px;
$bb-arr-n-height: 44px;
$bb-arr-n-total-width: 803px;
$bb-arr-n-total-height: 510px;
$bb-arr-n-image: '../ztimages/csprite.png';
$bb-arr-n: (279px, 384px, -279px, -384px, 25px, 44px, 803px, 510px, '../ztimages/csprite.png', 'bb-arr-n', );
$bb-arr-p-name: 'bb-arr-p';
$bb-arr-p-x: 246px;
$bb-arr-p-y: 384px;
$bb-arr-p-offset-x: -246px;
$bb-arr-p-offset-y: -384px;
$bb-arr-p-width: 25px;
$bb-arr-p-height: 44px;
$bb-arr-p-total-width: 803px;
$bb-arr-p-total-height: 510px;
$bb-arr-p-image: '../ztimages/csprite.png';
$bb-arr-p: (246px, 384px, -246px, -384px, 25px, 44px, 803px, 510px, '../ztimages/csprite.png', 'bb-arr-p', );
$bb-btn-h-name: 'bb-btn-h';
$bb-btn-h-x: 123px;
$bb-btn-h-y: 384px;
$bb-btn-h-offset-x: -123px;
$bb-btn-h-offset-y: -384px;
$bb-btn-h-width: 115px;
$bb-btn-h-height: 52px;
$bb-btn-h-total-width: 803px;
$bb-btn-h-total-height: 510px;
$bb-btn-h-image: '../ztimages/csprite.png';
$bb-btn-h: (123px, 384px, -123px, -384px, 115px, 52px, 803px, 510px, '../ztimages/csprite.png', 'bb-btn-h', );
$bb-btn-name: 'bb-btn';
$bb-btn-x: 0px;
$bb-btn-y: 384px;
$bb-btn-offset-x: 0px;
$bb-btn-offset-y: -384px;
$bb-btn-width: 115px;
$bb-btn-height: 52px;
$bb-btn-total-width: 803px;
$bb-btn-total-height: 510px;
$bb-btn-image: '../ztimages/csprite.png';
$bb-btn: (0px, 384px, 0px, -384px, 115px, 52px, 803px, 510px, '../ztimages/csprite.png', 'bb-btn', );
$bb-buy-h-name: 'bb-buy-h';
$bb-buy-h-x: 0px;
$bb-buy-h-y: 326px;
$bb-buy-h-offset-x: 0px;
$bb-buy-h-offset-y: -326px;
$bb-buy-h-width: 382px;
$bb-buy-h-height: 50px;
$bb-buy-h-total-width: 803px;
$bb-buy-h-total-height: 510px;
$bb-buy-h-image: '../ztimages/csprite.png';
$bb-buy-h: (0px, 326px, 0px, -326px, 382px, 50px, 803px, 510px, '../ztimages/csprite.png', 'bb-buy-h', );
$bb-buy-name: 'bb-buy';
$bb-buy-x: 421px;
$bb-buy-y: 0px;
$bb-buy-offset-x: -421px;
$bb-buy-offset-y: 0px;
$bb-buy-width: 382px;
$bb-buy-height: 50px;
$bb-buy-total-width: 803px;
$bb-buy-total-height: 510px;
$bb-buy-image: '../ztimages/csprite.png';
$bb-buy: (421px, 0px, -421px, 0px, 382px, 50px, 803px, 510px, '../ztimages/csprite.png', 'bb-buy', );
$bb-dot-name: 'bb-dot';
$bb-dot-x: 785px;
$bb-dot-y: 85px;
$bb-dot-offset-x: -785px;
$bb-dot-offset-y: -85px;
$bb-dot-width: 12px;
$bb-dot-height: 12px;
$bb-dot-total-width: 803px;
$bb-dot-total-height: 510px;
$bb-dot-image: '../ztimages/csprite.png';
$bb-dot: (785px, 85px, -785px, -85px, 12px, 12px, 803px, 510px, '../ztimages/csprite.png', 'bb-dot', );
$begin-btn-h-name: 'begin-btn-h';
$begin-btn-h-x: 421px;
$begin-btn-h-y: 166px;
$begin-btn-h-offset-x: -421px;
$begin-btn-h-offset-y: -166px;
$begin-btn-h-width: 154px;
$begin-btn-h-height: 52px;
$begin-btn-h-total-width: 803px;
$begin-btn-h-total-height: 510px;
$begin-btn-h-image: '../ztimages/csprite.png';
$begin-btn-h: (421px, 166px, -421px, -166px, 154px, 52px, 803px, 510px, '../ztimages/csprite.png', 'begin-btn-h', );
$begin-btn-name: 'begin-btn';
$begin-btn-x: 583px;
$begin-btn-y: 166px;
$begin-btn-offset-x: -583px;
$begin-btn-offset-y: -166px;
$begin-btn-width: 154px;
$begin-btn-height: 52px;
$begin-btn-total-width: 803px;
$begin-btn-total-height: 510px;
$begin-btn-image: '../ztimages/csprite.png';
$begin-btn: (583px, 166px, -583px, -166px, 154px, 52px, 803px, 510px, '../ztimages/csprite.png', 'begin-btn', );
$btn-back-arr-name: 'btn-back-arr';
$btn-back-arr-x: 695px;
$btn-back-arr-y: 135px;
$btn-back-arr-offset-x: -695px;
$btn-back-arr-offset-y: -135px;
$btn-back-arr-width: 36px;
$btn-back-arr-height: 10px;
$btn-back-arr-total-width: 803px;
$btn-back-arr-total-height: 510px;
$btn-back-arr-image: '../ztimages/csprite.png';
$btn-back-arr: (695px, 135px, -695px, -135px, 36px, 10px, 803px, 510px, '../ztimages/csprite.png', 'btn-back-arr', );
$btn-back-name: 'btn-back';
$btn-back-x: 693px;
$btn-back-y: 226px;
$btn-back-offset-x: -693px;
$btn-back-offset-y: -226px;
$btn-back-width: 94px;
$btn-back-height: 52px;
$btn-back-total-width: 803px;
$btn-back-total-height: 510px;
$btn-back-image: '../ztimages/csprite.png';
$btn-back: (693px, 226px, -693px, -226px, 94px, 52px, 803px, 510px, '../ztimages/csprite.png', 'btn-back', );
$btn-r1-name: 'btn-r1';
$btn-r1-x: 529px;
$btn-r1-y: 58px;
$btn-r1-offset-x: -529px;
$btn-r1-offset-y: -58px;
$btn-r1-width: 100px;
$btn-r1-height: 100px;
$btn-r1-total-width: 803px;
$btn-r1-total-height: 510px;
$btn-r1-image: '../ztimages/csprite.png';
$btn-r1: (529px, 58px, -529px, -58px, 100px, 100px, 803px, 510px, '../ztimages/csprite.png', 'btn-r1', );
$btn-r2-name: 'btn-r2';
$btn-r2-x: 421px;
$btn-r2-y: 58px;
$btn-r2-offset-x: -421px;
$btn-r2-offset-y: -58px;
$btn-r2-width: 100px;
$btn-r2-height: 100px;
$btn-r2-total-width: 803px;
$btn-r2-total-height: 510px;
$btn-r2-image: '../ztimages/csprite.png';
$btn-r2: (421px, 58px, -421px, -58px, 100px, 100px, 803px, 510px, '../ztimages/csprite.png', 'btn-r2', );
$btn-sty2-h-name: 'btn-sty2-h';
$btn-sty2-h-x: 178px;
$btn-sty2-h-y: 90px;
$btn-sty2-h-offset-x: -178px;
$btn-sty2-h-offset-y: -90px;
$btn-sty2-h-width: 115px;
$btn-sty2-h-height: 52px;
$btn-sty2-h-total-width: 803px;
$btn-sty2-h-total-height: 510px;
$btn-sty2-h-image: '../ztimages/csprite.png';
$btn-sty2-h: (178px, 90px, -178px, -90px, 115px, 52px, 803px, 510px, '../ztimages/csprite.png', 'btn-sty2-h', );
$btn-sty2-name: 'btn-sty2';
$btn-sty2-x: 178px;
$btn-sty2-y: 150px;
$btn-sty2-offset-x: -178px;
$btn-sty2-offset-y: -150px;
$btn-sty2-width: 115px;
$btn-sty2-height: 52px;
$btn-sty2-total-width: 803px;
$btn-sty2-total-height: 510px;
$btn-sty2-image: '../ztimages/csprite.png';
$btn-sty2: (178px, 150px, -178px, -150px, 115px, 52px, 803px, 510px, '../ztimages/csprite.png', 'btn-sty2', );
$btn-sty3-name: 'btn-sty3';
$btn-sty3-x: 0px;
$btn-sty3-y: 0px;
$btn-sty3-offset-x: 0px;
$btn-sty3-offset-y: 0px;
$btn-sty3-width: 413px;
$btn-sty3-height: 82px;
$btn-sty3-total-width: 803px;
$btn-sty3-total-height: 510px;
$btn-sty3-image: '../ztimages/csprite.png';
$btn-sty3: (0px, 0px, 0px, 0px, 413px, 82px, 803px, 510px, '../ztimages/csprite.png', 'btn-sty3', );
$dgy-logo-end-name: 'dgy-logo-end';
$dgy-logo-end-x: 637px;
$dgy-logo-end-y: 58px;
$dgy-logo-end-offset-x: -637px;
$dgy-logo-end-offset-y: -58px;
$dgy-logo-end-width: 140px;
$dgy-logo-end-height: 69px;
$dgy-logo-end-total-width: 803px;
$dgy-logo-end-total-height: 510px;
$dgy-logo-end-image: '../ztimages/csprite.png';
$dgy-logo-end: (637px, 58px, -637px, -58px, 140px, 69px, 803px, 510px, '../ztimages/csprite.png', 'dgy-logo-end', );
$dgy-logo-name: 'dgy-logo';
$dgy-logo-x: 646px;
$dgy-logo-y: 318px;
$dgy-logo-offset-x: -646px;
$dgy-logo-offset-y: -318px;
$dgy-logo-width: 64px;
$dgy-logo-height: 26px;
$dgy-logo-total-width: 803px;
$dgy-logo-total-height: 510px;
$dgy-logo-image: '../ztimages/csprite.png';
$dgy-logo: (646px, 318px, -646px, -318px, 64px, 26px, 803px, 510px, '../ztimages/csprite.png', 'dgy-logo', );
$fx-bg-name: 'fx-bg';
$fx-bg-x: 0px;
$fx-bg-y: 268px;
$fx-bg-offset-x: 0px;
$fx-bg-offset-y: -268px;
$fx-bg-width: 412px;
$fx-bg-height: 50px;
$fx-bg-total-width: 803px;
$fx-bg-total-height: 510px;
$fx-bg-image: '../ztimages/csprite.png';
$fx-bg: (0px, 268px, 0px, -268px, 412px, 50px, 803px, 510px, '../ztimages/csprite.png', 'fx-bg', );
$fx-comm-i-name: 'fx-comm-i';
$fx-comm-i-x: 693px;
$fx-comm-i-y: 286px;
$fx-comm-i-offset-x: -693px;
$fx-comm-i-offset-y: -286px;
$fx-comm-i-width: 22px;
$fx-comm-i-height: 22px;
$fx-comm-i-total-width: 803px;
$fx-comm-i-total-height: 510px;
$fx-comm-i-image: '../ztimages/csprite.png';
$fx-comm-i: (693px, 286px, -693px, -286px, 22px, 22px, 803px, 510px, '../ztimages/csprite.png', 'fx-comm-i', );
$fx-nav-c-name: 'fx-nav-c';
$fx-nav-c-x: 745px;
$fx-nav-c-y: 166px;
$fx-nav-c-offset-x: -745px;
$fx-nav-c-offset-y: -166px;
$fx-nav-c-width: 44px;
$fx-nav-c-height: 50px;
$fx-nav-c-total-width: 803px;
$fx-nav-c-total-height: 510px;
$fx-nav-c-image: '../ztimages/csprite.png';
$fx-nav-c: (745px, 166px, -745px, -166px, 44px, 50px, 803px, 510px, '../ztimages/csprite.png', 'fx-nav-c', );
$fx-txt-name: 'fx-txt';
$fx-txt-x: 301px;
$fx-txt-y: 90px;
$fx-txt-offset-x: -301px;
$fx-txt-offset-y: -90px;
$fx-txt-width: 82px;
$fx-txt-height: 44px;
$fx-txt-total-width: 803px;
$fx-txt-total-height: 510px;
$fx-txt-image: '../ztimages/csprite.png';
$fx-txt: (301px, 90px, -301px, -90px, 82px, 44px, 803px, 510px, '../ztimages/csprite.png', 'fx-txt', );
$i-climb-name: 'i-climb';
$i-climb-x: 0px;
$i-climb-y: 444px;
$i-climb-offset-x: 0px;
$i-climb-offset-y: -444px;
$i-climb-width: 58px;
$i-climb-height: 66px;
$i-climb-total-width: 803px;
$i-climb-total-height: 510px;
$i-climb-image: '../ztimages/csprite.png';
$i-climb: (0px, 444px, 0px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'i-climb', );
$i-eye-name: 'i-eye';
$i-eye-x: 396px;
$i-eye-y: 444px;
$i-eye-offset-x: -396px;
$i-eye-offset-y: -444px;
$i-eye-width: 58px;
$i-eye-height: 66px;
$i-eye-total-width: 803px;
$i-eye-total-height: 510px;
$i-eye-image: '../ztimages/csprite.png';
$i-eye: (396px, 444px, -396px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'i-eye', );
$i-fit-name: 'i-fit';
$i-fit-x: 462px;
$i-fit-y: 444px;
$i-fit-offset-x: -462px;
$i-fit-offset-y: -444px;
$i-fit-width: 58px;
$i-fit-height: 66px;
$i-fit-total-width: 803px;
$i-fit-total-height: 510px;
$i-fit-image: '../ztimages/csprite.png';
$i-fit: (462px, 444px, -462px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'i-fit', );
$i-fly-name: 'i-fly';
$i-fly-x: 528px;
$i-fly-y: 444px;
$i-fly-offset-x: -528px;
$i-fly-offset-y: -444px;
$i-fly-width: 58px;
$i-fly-height: 66px;
$i-fly-total-width: 803px;
$i-fly-total-height: 510px;
$i-fly-image: '../ztimages/csprite.png';
$i-fly: (528px, 444px, -528px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'i-fly', );
$i-go-name: 'i-go';
$i-go-x: 594px;
$i-go-y: 444px;
$i-go-offset-x: -594px;
$i-go-offset-y: -444px;
$i-go-width: 58px;
$i-go-height: 66px;
$i-go-total-width: 803px;
$i-go-total-height: 510px;
$i-go-image: '../ztimages/csprite.png';
$i-go: (594px, 444px, -594px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'i-go', );
$i-key-name: 'i-key';
$i-key-x: 330px;
$i-key-y: 444px;
$i-key-offset-x: -330px;
$i-key-offset-y: -444px;
$i-key-width: 58px;
$i-key-height: 66px;
$i-key-total-width: 803px;
$i-key-total-height: 510px;
$i-key-image: '../ztimages/csprite.png';
$i-key: (330px, 444px, -330px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'i-key', );
$i-knf-name: 'i-knf';
$i-knf-x: 264px;
$i-knf-y: 444px;
$i-knf-offset-x: -264px;
$i-knf-offset-y: -444px;
$i-knf-width: 58px;
$i-knf-height: 66px;
$i-knf-total-width: 803px;
$i-knf-total-height: 510px;
$i-knf-image: '../ztimages/csprite.png';
$i-knf: (264px, 444px, -264px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'i-knf', );
$i-moon-name: 'i-moon';
$i-moon-x: 198px;
$i-moon-y: 444px;
$i-moon-offset-x: -198px;
$i-moon-offset-y: -444px;
$i-moon-width: 58px;
$i-moon-height: 66px;
$i-moon-total-width: 803px;
$i-moon-total-height: 510px;
$i-moon-image: '../ztimages/csprite.png';
$i-moon: (198px, 444px, -198px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'i-moon', );
$i-sw-name: 'i-sw';
$i-sw-x: 132px;
$i-sw-y: 444px;
$i-sw-offset-x: -132px;
$i-sw-offset-y: -444px;
$i-sw-width: 58px;
$i-sw-height: 66px;
$i-sw-total-width: 803px;
$i-sw-total-height: 510px;
$i-sw-image: '../ztimages/csprite.png';
$i-sw: (132px, 444px, -132px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'i-sw', );
$m-g-n1-name: 'm-g-n1';
$m-g-n1-x: 0px;
$m-g-n1-y: 90px;
$m-g-n1-offset-x: 0px;
$m-g-n1-offset-y: -90px;
$m-g-n1-width: 170px;
$m-g-n1-height: 170px;
$m-g-n1-total-width: 803px;
$m-g-n1-total-height: 510px;
$m-g-n1-image: '../ztimages/csprite.png';
$m-g-n1: (0px, 90px, 0px, -90px, 170px, 170px, 803px, 510px, '../ztimages/csprite.png', 'm-g-n1', );
$m-g-n2-name: 'm-g-n2';
$m-g-n2-x: 421px;
$m-g-n2-y: 226px;
$m-g-n2-offset-x: -421px;
$m-g-n2-offset-y: -226px;
$m-g-n2-width: 84px;
$m-g-n2-height: 84px;
$m-g-n2-total-width: 803px;
$m-g-n2-total-height: 510px;
$m-g-n2-image: '../ztimages/csprite.png';
$m-g-n2: (421px, 226px, -421px, -226px, 84px, 84px, 803px, 510px, '../ztimages/csprite.png', 'm-g-n2', );
$menu-nav-c-name: 'menu-nav-c';
$menu-nav-c-x: 785px;
$menu-nav-c-y: 58px;
$menu-nav-c-offset-x: -785px;
$menu-nav-c-offset-y: -58px;
$menu-nav-c-width: 15px;
$menu-nav-c-height: 19px;
$menu-nav-c-total-width: 803px;
$menu-nav-c-total-height: 510px;
$menu-nav-c-image: '../ztimages/csprite.png';
$menu-nav-c: (785px, 58px, -785px, -58px, 15px, 19px, 803px, 510px, '../ztimages/csprite.png', 'menu-nav-c', );
$repair-name: 'repair';
$repair-x: 66px;
$repair-y: 444px;
$repair-offset-x: -66px;
$repair-offset-y: -444px;
$repair-width: 58px;
$repair-height: 66px;
$repair-total-width: 803px;
$repair-total-height: 510px;
$repair-image: '../ztimages/csprite.png';
$repair: (66px, 444px, -66px, -444px, 58px, 66px, 803px, 510px, '../ztimages/csprite.png', 'repair', );
$s1-pop-close-name: 's1-pop-close';
$s1-pop-close-x: 312px;
$s1-pop-close-y: 384px;
$s1-pop-close-offset-x: -312px;
$s1-pop-close-offset-y: -384px;
$s1-pop-close-width: 30px;
$s1-pop-close-height: 30px;
$s1-pop-close-total-width: 803px;
$s1-pop-close-total-height: 510px;
$s1-pop-close-image: '../ztimages/csprite.png';
$s1-pop-close: (312px, 384px, -312px, -384px, 30px, 30px, 803px, 510px, '../ztimages/csprite.png', 's1-pop-close', );
$s104-bj1-name: 's104-bj1';
$s104-bj1-x: 335px;
$s104-bj1-y: 210px;
$s104-bj1-offset-x: -335px;
$s104-bj1-offset-y: -210px;
$s104-bj1-width: 32px;
$s104-bj1-height: 38px;
$s104-bj1-total-width: 803px;
$s104-bj1-total-height: 510px;
$s104-bj1-image: '../ztimages/csprite.png';
$s104-bj1: (335px, 210px, -335px, -210px, 32px, 38px, 803px, 510px, '../ztimages/csprite.png', 's104-bj1', );
$s104-bj2-name: 's104-bj2';
$s104-bj2-x: 293px;
$s104-bj2-y: 210px;
$s104-bj2-offset-x: -293px;
$s104-bj2-offset-y: -210px;
$s104-bj2-width: 34px;
$s104-bj2-height: 43px;
$s104-bj2-total-width: 803px;
$s104-bj2-total-height: 510px;
$s104-bj2-image: '../ztimages/csprite.png';
$s104-bj2: (293px, 210px, -293px, -210px, 34px, 43px, 803px, 510px, '../ztimages/csprite.png', 's104-bj2', );
$s104-bj3-name: 's104-bj3';
$s104-bj3-x: 375px;
$s104-bj3-y: 210px;
$s104-bj3-offset-x: -375px;
$s104-bj3-offset-y: -210px;
$s104-bj3-width: 30px;
$s104-bj3-height: 38px;
$s104-bj3-total-width: 803px;
$s104-bj3-total-height: 510px;
$s104-bj3-image: '../ztimages/csprite.png';
$s104-bj3: (375px, 210px, -375px, -210px, 30px, 38px, 803px, 510px, '../ztimages/csprite.png', 's104-bj3', );
$s104-rw1-name: 's104-rw1';
$s104-rw1-x: 660px;
$s104-rw1-y: 444px;
$s104-rw1-offset-x: -660px;
$s104-rw1-offset-y: -444px;
$s104-rw1-width: 59px;
$s104-rw1-height: 57px;
$s104-rw1-total-width: 803px;
$s104-rw1-total-height: 510px;
$s104-rw1-image: '../ztimages/csprite.png';
$s104-rw1: (660px, 444px, -660px, -444px, 59px, 57px, 803px, 510px, '../ztimages/csprite.png', 's104-rw1', );
$s104-rw2-name: 's104-rw2';
$s104-rw2-x: 301px;
$s104-rw2-y: 150px;
$s104-rw2-offset-x: -301px;
$s104-rw2-offset-y: -150px;
$s104-rw2-width: 67px;
$s104-rw2-height: 49px;
$s104-rw2-total-width: 803px;
$s104-rw2-total-height: 510px;
$s104-rw2-image: '../ztimages/csprite.png';
$s104-rw2: (301px, 150px, -301px, -150px, 67px, 49px, 803px, 510px, '../ztimages/csprite.png', 's104-rw2', );
$s104-rw3-name: 's104-rw3';
$s104-rw3-x: 376px;
$s104-rw3-y: 150px;
$s104-rw3-offset-x: -376px;
$s104-rw3-offset-y: -150px;
$s104-rw3-width: 35px;
$s104-rw3-height: 49px;
$s104-rw3-total-width: 803px;
$s104-rw3-total-height: 510px;
$s104-rw3-image: '../ztimages/csprite.png';
$s104-rw3: (376px, 150px, -376px, -150px, 35px, 49px, 803px, 510px, '../ztimages/csprite.png', 's104-rw3', );
$s104-rw4-name: 's104-rw4';
$s104-rw4-x: 178px;
$s104-rw4-y: 210px;
$s104-rw4-offset-x: -178px;
$s104-rw4-offset-y: -210px;
$s104-rw4-width: 49px;
$s104-rw4-height: 44px;
$s104-rw4-total-width: 803px;
$s104-rw4-total-height: 510px;
$s104-rw4-image: '../ztimages/csprite.png';
$s104-rw4: (178px, 210px, -178px, -210px, 49px, 44px, 803px, 510px, '../ztimages/csprite.png', 's104-rw4', );
$s104-rw5-name: 's104-rw5';
$s104-rw5-x: 586px;
$s104-rw5-y: 318px;
$s104-rw5-offset-x: -586px;
$s104-rw5-offset-y: -318px;
$s104-rw5-width: 52px;
$s104-rw5-height: 39px;
$s104-rw5-total-width: 803px;
$s104-rw5-total-height: 510px;
$s104-rw5-image: '../ztimages/csprite.png';
$s104-rw5: (586px, 318px, -586px, -318px, 52px, 39px, 803px, 510px, '../ztimages/csprite.png', 's104-rw5', );
$txt-comm-name: 'txt-comm';
$txt-comm-x: 421px;
$txt-comm-y: 318px;
$txt-comm-offset-x: -421px;
$txt-comm-offset-y: -318px;
$txt-comm-width: 157px;
$txt-comm-height: 40px;
$txt-comm-total-width: 803px;
$txt-comm-total-height: 510px;
$txt-comm-image: '../ztimages/csprite.png';
$txt-comm: (421px, 318px, -421px, -318px, 157px, 40px, 803px, 510px, '../ztimages/csprite.png', 'txt-comm', );
$zan-h-name: 'zan-h';
$zan-h-x: 513px;
$zan-h-y: 226px;
$zan-h-offset-x: -513px;
$zan-h-offset-y: -226px;
$zan-h-width: 82px;
$zan-h-height: 82px;
$zan-h-total-width: 803px;
$zan-h-total-height: 510px;
$zan-h-image: '../ztimages/csprite.png';
$zan-h: (513px, 226px, -513px, -226px, 82px, 82px, 803px, 510px, '../ztimages/csprite.png', 'zan-h', );
$zan-name: 'zan';
$zan-x: 603px;
$zan-y: 226px;
$zan-offset-x: -603px;
$zan-offset-y: -226px;
$zan-width: 82px;
$zan-height: 82px;
$zan-total-width: 803px;
$zan-total-height: 510px;
$zan-image: '../ztimages/csprite.png';
$zan: (603px, 226px, -603px, -226px, 82px, 82px, 803px, 510px, '../ztimages/csprite.png', 'zan', );
$spritesheet-width: 803px;
$spritesheet-height: 510px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($anniu-b, $anniu-w, $bb-arr-n, $bb-arr-p, $bb-btn-h, $bb-btn, $bb-buy-h, $bb-buy, $bb-dot, $begin-btn-h, $begin-btn, $btn-back-arr, $btn-back, $btn-r1, $btn-r2, $btn-sty2-h, $btn-sty2, $btn-sty3, $dgy-logo-end, $dgy-logo, $fx-bg, $fx-comm-i, $fx-nav-c, $fx-txt, $i-climb, $i-eye, $i-fit, $i-fly, $i-go, $i-key, $i-knf, $i-moon, $i-sw, $m-g-n1, $m-g-n2, $menu-nav-c, $repair, $s1-pop-close, $s104-bj1, $s104-bj2, $s104-bj3, $s104-rw1, $s104-rw2, $s104-rw3, $s104-rw4, $s104-rw5, $txt-comm, $zan-h, $zan, );
$spritesheet: (803px, 510px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
