@import "csprite";
html,body{
	position: relative;
	width: 100%;height: 100%;max-height:100%;
	overflow: hidden;
	user-select:none;
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		border-radius: 0;
		background-color: rgba(255,255,255,0.1);
	}
	::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: rgba(255,255,255,0.2);
	}
	::-webkit-scrollbar-track:hover {
		background-color: rgba(255,255,255,0.4);
	}
	::-webkit-scrollbar-track:active {
		background-color: rgba(255,255,255,0.3);
	}
	::-webkit-scrollbar-thumb {
		border-radius: 0;
		background-color: rgba(255,255,255,0.8);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(255,255,255,1);
	}
	::-webkit-scrollbar-thumb:active {
		background-color: rgba(255,255,255,0.6);
	}
}
body{
	font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	background-color: #000;
}
h1,h2,h3,h4,h5,p,ul{
	margin: 0;padding: 0;
	list-style:none;
}
a{text-decoration: none;cursor: pointer;user-select:none}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after{
  display: table;
  content: " ";
}
.clearfix:after,
.container:after{
  clear: both;
}
.container{
	margin-right: auto;
	margin-left: auto;
	width: $basewidth;
}
//IE
.ielt9{
	position: absolute;top: 0px;left: 0;z-index: 10000;
	width: 100%;height: 100%;
	background:url('http://img1.gamersky.com/image2016/06/20160603_zl_91_4/ielt9.jpg') center center no-repeat;
	p{
		padding-top: 25%;
		font-size: 22px;text-align: center;line-height: 40px;
		span{color: #ff6600}
	}

}
.dn{display: none !important}
.sound_effect{display: none}
%blank{
	background: url(http://image.gamersky.com/webimg13/zhuanti/common/blank.png) 0 0 repeat;
}

.page_bg{
	display: block;
}

//loading
#loading{
	position: absolute;left: 0;top: 0;
	width: 100%;height: 100%;
	background-color: #000;
	z-index: 9998;
}
//预加载
#jpreOverlay{
	background-color: #000;
	#jpreLoader{
		display: none;
		width: 100%;height: 4px;
		#jpreBar{
			height: 4px;
			background-color: #f6c783;
		}
		#jprePercentage{
			padding-top:35px;
			width: 100%;
			font-size: 16px;text-align: center;color: #f6c783;
		}
	}
}
#jpreSlide{
	width: 100%;height: 100%;
}
#loadingAnim{
	$ldWidth:143px;$ldHeight:47px;
	display: block;position: absolute;top: 50%;left: 50%;margin-left: -$ldWidth/2;margin-top: -($ldHeight + 40px)/2;z-index: 9999;
	width: $ldWidth;height:$ldHeight + 40px;
	.loadingAnim-img-g{
		display: block;
		width: $ldWidth;height:$ldHeight;
	}
	.loadingAnim-img{
		display: block;position: absolute;top: 0;right: 0;
		width: $ldWidth;height:$ldHeight;
		overflow: hidden;
		img{
			display: block;position: absolute;top: 0;right: 0;
			width: $ldWidth;height:$ldHeight;
		}
	}
	.loadingtxt{
		position: absolute;bottom: 0;left: 0;
		width: $ldWidth;height:33px;line-height:33px;
		font-size: 14px;color: #fff;text-align: center;
	}
}
.closeLoading{
	display: none;position: absolute;top: 50%;left: 50%;margin-left: -400px;margin-top: -55px;z-index: 9999;
	width: 800px;height: 110px;
	.txt{
		margin-bottom: 10px;
		height: 60px;line-height:30px;
		font-size: 24px;color: #ef7800;text-align: center;
		span{display: block;font-size: 18px;color: #eee}
	}
	.btngroup{
		width: 800px;height: 40px;line-height: 40px;
		a{
			display: block;margin: 10px auto 0;
			width: 160px;height: 40px;line-height: 40px;
			background-color: #333;
			font-size: 20px;color: #fff;text-align: center;
			&:hover{background-color: #555}
		}
	}
}

.autoMH{
	position: absolute;top: 0;left: 50%;
	width: 1920px;height: 1080px;
}
.pageswrap{
	position: relative;
	width: 100%;height: 100%;
	overflow: hidden;
}
.pages{
	position: absolute;top: 0;left: 0;
	width: 100%;height: 100%;
	visibility: hidden;opacity: 0;
	@extend %transbg;	
	.page_con{
		position: relative;
		width: 100%;height: 100%;
	}
	&.cur{
		visibility: visible;opacity: 1;
	}
}
.volbtn{
	display: none;
	position: absolute;
	right:28px;
	top: 4px;
	width: 53px;
	height: 37px;
	background: url(../ztimages/vol.gif) center bottom no-repeat;
	z-index: 99;
	&.pause{
		background: url(../ztimages/vol.png) center bottom no-repeat;
	}
	&.cur{
		display: block;
	}
}
.zanbtn{
	display: block;
	margin: 0 auto;
	cursor: pointer;
	width: 120px;
	height: 112px;
	.ico_zan{
		display: block;
		margin: 0 auto;
		@include sprite($zan);
	}
	span{
		display: block;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		color: #9b7a24;
		text-align: center;
		i{
			font-style: normal;
		}
	}
	&:hover{
		.ico_zan{@include sprite-position($zan-h);}
	}
	&.clked{
		cursor: default;
		&:hover{
			.ico_zan{@include sprite-position($zan);}
		}
	}
}
//头部
.QZnav {min-width:940px;}
.QZnav .topbar {width:940px;}
.fixNav{
    position: absolute;
	left: 50%;
	margin-left: -206px;
	bottom: 33px;
    z-index: 666;
    @include sprite($fx-bg);
    transition: all 0.25s ease;
    opacity: 0;
    visibility: hidden;
	transform:translate(0,0);
    &.cur{
        opacity: 1;
        visibility: visible;
    }
    .fx_list{
        width:500px;
        a{
            position: relative;
            display: block;
			float: left;
			margin-right: 48px;
            width: 44px;
            height: 50px;
            i{
                position: absolute;
				left: 50%;
                top: 50%;
				margin-left: -5px;
				margin-top: -5px;
                display: block;
				width: 10px;
				height: 10px;
				background-color: #fff;
				border-radius: 50%;
                transform:scale(1);
				transition:all 0.25s ease;
            }
            span{
                display: block;
                position: absolute;
				top: -32px;
				left: 50%;
				margin-left: -41px;
				@include sprite($fx-txt);
                line-height: 35px;
                font-size: 15px;
                color: #333;
				text-align: center;
                opacity:0;
				transform-origin: 50% 100%;
                transform:scale(0);
                transition:all 0.25s ease;
            }
            &:hover,&.cur{
                i{
					transform:scale(1.5);
                }
            }
			&:hover{
				span{
					opacity: 1;
					transform:scale(1,1);
				}
			}
			&.cur{
				@include sprite($fx-nav-c);
				span{top: -48px;}
			}
			&.fixBtn_comm{
				i{
					margin-top: -11px;
					@include sprite($fx-comm-i);
				}
				span{
					opacity: 1;
					transform:scale(1,1);
					top: -35px;
					margin-left: -35px;}
			}
        }
		a.fixBtn_comm:before{
			display: none;
		}
    }
}
//遮罩
.commMsk{
	display: block;position: absolute;top: 0;left:0;
	width: 100%;height: 100%;
}
.page_trans{
	.letvwrap{
		position: relative;
		width: 100%;height: 100%;
	}
	.btn_sty.btn_sty2{
		position: absolute;
		left: 1700px;
		top: 855px;
		display: none;
		z-index: 10;
		&.cur{
			display: block;
		}
	}
	.gdvd_btn{
		position: absolute;
		left: 1600px;
		top: 870px;
		z-index: 10;
		&.gdvd_loding{
			position: absolute;
			left: 1650px;
			top: 1004px;
			width: 225px;
			height: 8px;
			background-color: rgba(0,0,0,0.6);
			&:before{
				display: block;
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 0;
				height: 8px;
				background-color: #fff;
				transition:all 8s ease;
			}
			&.cur:before{
				width: 100%;
			}
		}
	}
}
.btn_sty{
	display: block;
	position: absolute;
	&.btn_sty1{
		width: 100px;
		height: 100px;
		i{
			display: block;
			position: absolute;
		}
		&.i_repair{
			i{
				left: 22px;
				top: 18px;
				@include sprite($repair)
			}
		}
		&.i_climb{
			i{
				left: 22px;
				top: 18px;
				@include sprite($i-climb)
			}
		}
		&.i_eye{
			i{
				left: 22px;
				top: 18px;
				@include sprite($i-eye)
			}
		}
		&.i_fit{
			i{
				left: 22px;
				top: 18px;
				@include sprite($i-fit)
			}
		}
		&.i_fly{
			i{
				left: 22px;
				top: 18px;
				@include sprite($i-fly)
			}
		}
		&.i_go{
			i{
				left: 22px;
				top: 18px;
				@include sprite($i-go)
			}
		}
		&.i_key{
			i{
				left: 22px;
				top: 18px;
				@include sprite($i-key)
			}
		}
		&.i_knf{
			i{
				left: 22px;
				top: 18px;
				@include sprite($i-knf)
			}
		}
		&.i_sw{
			i{
				left: 22px;
				top: 18px;
				@include sprite($i-sw)
			}
		}
		&.i_moon{
			i{
				left: 22px;
				top: 18px;
				@include sprite($i-moon)
			}
		}
		&.i_anniu{
			i.anniu_bg{
				left: 25px;
				top: 31px;
				@include sprite($anniu-w);
				border-radius: 5px;
				overflow: hidden;
				b{
					display: block;
					position: absolute;
					left: 0;
					top: 30px;
					@include sprite($anniu-b);
					animation:anniuAnim 0.4s ease infinite;
				}
			}
			i.anniu{
				left: 25px;
				top: 26px;
				width: 50px;
				height: 48px;
				b{
					display: block;
					position: absolute;
					left: 5px;
					top: 2px;
					z-index: 1;
					width: 40px;
					height: 36px;
					line-height: 36px;
					font-style: normal;
					text-align: center;
					font-size: 20px;
					color: #000;
					background-color: #fff;
					border-radius: 5px;
					animation:anniuAnim 0.4s ease infinite;
				}
			}
		}
		span{
			display: block;
			position: absolute;
			top: 30px;
			left: 0;
			padding-left: 120px;
			width: 140px;
			height: 40px;
			line-height: 40px;
			font-size: 23px;
			color: #fff;
			font-weight: bold;
			opacity: 0;
			visibility: hidden;
			transition:all 0.25s ease;
			pointer-events: none;white-space: nowrap;
		}
		&:before,&:after{
			display: block;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			transition:all 0.25s ease;
		}
		&:before{
			@include sprite($btn-r2);
			animation:rotateAnim 6s linear infinite reverse;
		}
		&:after{
			@include sprite($btn-r1);
			animation:rotateAnim 4s linear infinite;
		}
		&:hover{
			&:before,&:after{
				opacity: 1;
			}
			span{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&.btn_sty2{
		position: absolute;
		left: 1711px;
		top: 987px;
		@include sprite($btn-sty2);
		line-height: 52px;
		font-size: 18px;
		color: #fff;
		text-align: center;
		font-weight: bold;
		&:hover {
			color: #fccc39;
			@include sprite-position($btn-sty2-h);
		}
	}
	&.btn_sty3{
		width: 413px;
		height: 82px;
		line-height: 82px;
		font-size: 30px;
		color: #fff;
		font-weight: bold;
		text-indent: 34px;
		@extend %blank;
		&:hover {
			@include sprite($btn-sty3);
		}
	}
	&.btn_sty_back{
		left: 0;
		top: 50%;
		margin-top: -26px;
		@include sprite($btn-back);
		transition:all 0.25s ease;
		transform:translate3d(-57px,0,0);
		&:after{
			display: block;
			position: absolute;
			content: '';
			left: 69px;
			top: 21px;
			@include sprite($btn-back-arr);
			animation:backArrAnim 0.5s ease infinite;
		}
		span{
			display: block;
			margin-left: 20px;
			height: 52px;
			line-height: 52px;
			font-size: 18px;
			color: #fff;
		}
		&:hover{
			transform:translate3d(0,0,0);
			&:after{
				animation-play-state: paused;
			}
		}
	}
}
.btn_goon{
	display: block;
	position: relative;
	padding-left: 65px;
	width: 80px;
	height: 59px;
	line-height: 55px;
	font-size: 32px;
	color: #00f97b;
	font-weight: bold;
	overflow: hidden;
	white-space:nowrap;
	&:before{
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		//@include sprite($btn-goon);
		animation:rotateAnim 6s linear infinite both;
	}
	&:after{content: '继续';}
	&.skip:after{content: '跳过';}
	&:hover{
		&:before{
			animation-duration: 0.8s;
		}
	}
	&:active{
		&:before{
			animation-duration: 0.2s;
		}
	}
}