// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-club-h-name: 'btn-club-h';
$btn-club-h-x: 507px;
$btn-club-h-y: 218px;
$btn-club-h-offset-x: -507px;
$btn-club-h-offset-y: -218px;
$btn-club-h-width: 84px;
$btn-club-h-height: 37px;
$btn-club-h-total-width: 1190px;
$btn-club-h-total-height: 1033px;
$btn-club-h-image: '../ztimages/csprite.png';
$btn-club-h: (507px, 218px, -507px, -218px, 84px, 37px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-club-h', );
$btn-club-name: 'btn-club';
$btn-club-x: 507px;
$btn-club-y: 173px;
$btn-club-offset-x: -507px;
$btn-club-offset-y: -173px;
$btn-club-width: 84px;
$btn-club-height: 37px;
$btn-club-total-width: 1190px;
$btn-club-total-height: 1033px;
$btn-club-image: '../ztimages/csprite.png';
$btn-club: (507px, 173px, -507px, -173px, 84px, 37px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-club', );
$btn-default-big-h-name: 'btn-default-big-h';
$btn-default-big-h-x: 612px;
$btn-default-big-h-y: 223px;
$btn-default-big-h-offset-x: -612px;
$btn-default-big-h-offset-y: -223px;
$btn-default-big-h-width: 377px;
$btn-default-big-h-height: 79px;
$btn-default-big-h-total-width: 1190px;
$btn-default-big-h-total-height: 1033px;
$btn-default-big-h-image: '../ztimages/csprite.png';
$btn-default-big-h: (612px, 223px, -612px, -223px, 377px, 79px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-default-big-h', );
$btn-default-big-name: 'btn-default-big';
$btn-default-big-x: 612px;
$btn-default-big-y: 310px;
$btn-default-big-offset-x: -612px;
$btn-default-big-offset-y: -310px;
$btn-default-big-width: 377px;
$btn-default-big-height: 79px;
$btn-default-big-total-width: 1190px;
$btn-default-big-total-height: 1033px;
$btn-default-big-image: '../ztimages/csprite.png';
$btn-default-big: (612px, 310px, -612px, -310px, 377px, 79px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-default-big', );
$btn-default-h-name: 'btn-default-h';
$btn-default-h-x: 805px;
$btn-default-h-y: 708px;
$btn-default-h-offset-x: -805px;
$btn-default-h-offset-y: -708px;
$btn-default-h-width: 189px;
$btn-default-h-height: 46px;
$btn-default-h-total-width: 1190px;
$btn-default-h-total-height: 1033px;
$btn-default-h-image: '../ztimages/csprite.png';
$btn-default-h: (805px, 708px, -805px, -708px, 189px, 46px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-default-h', );
$btn-default-name: 'btn-default';
$btn-default-x: 362px;
$btn-default-y: 779px;
$btn-default-offset-x: -362px;
$btn-default-offset-y: -779px;
$btn-default-width: 189px;
$btn-default-height: 46px;
$btn-default-total-width: 1190px;
$btn-default-total-height: 1033px;
$btn-default-image: '../ztimages/csprite.png';
$btn-default: (362px, 779px, -362px, -779px, 189px, 46px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-default', );
$btn-forward-h-name: 'btn-forward-h';
$btn-forward-h-x: 0px;
$btn-forward-h-y: 898px;
$btn-forward-h-offset-x: 0px;
$btn-forward-h-offset-y: -898px;
$btn-forward-h-width: 175px;
$btn-forward-h-height: 63px;
$btn-forward-h-total-width: 1190px;
$btn-forward-h-total-height: 1033px;
$btn-forward-h-image: '../ztimages/csprite.png';
$btn-forward-h: (0px, 898px, 0px, -898px, 175px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-forward-h', );
$btn-forward-name: 'btn-forward';
$btn-forward-x: 183px;
$btn-forward-y: 898px;
$btn-forward-offset-x: -183px;
$btn-forward-offset-y: -898px;
$btn-forward-width: 175px;
$btn-forward-height: 63px;
$btn-forward-total-width: 1190px;
$btn-forward-total-height: 1033px;
$btn-forward-image: '../ztimages/csprite.png';
$btn-forward: (183px, 898px, -183px, -898px, 175px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-forward', );
$btn-info-txt-h-name: 'btn-info-txt-h';
$btn-info-txt-h-x: 1015px;
$btn-info-txt-h-y: 932px;
$btn-info-txt-h-offset-x: -1015px;
$btn-info-txt-h-offset-y: -932px;
$btn-info-txt-h-width: 86px;
$btn-info-txt-h-height: 26px;
$btn-info-txt-h-total-width: 1190px;
$btn-info-txt-h-total-height: 1033px;
$btn-info-txt-h-image: '../ztimages/csprite.png';
$btn-info-txt-h: (1015px, 932px, -1015px, -932px, 86px, 26px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-info-txt-h', );
$btn-info-txt-name: 'btn-info-txt';
$btn-info-txt-x: 388px;
$btn-info-txt-y: 363px;
$btn-info-txt-offset-x: -388px;
$btn-info-txt-offset-y: -363px;
$btn-info-txt-width: 86px;
$btn-info-txt-height: 26px;
$btn-info-txt-total-width: 1190px;
$btn-info-txt-total-height: 1033px;
$btn-info-txt-image: '../ztimages/csprite.png';
$btn-info-txt: (388px, 363px, -388px, -363px, 86px, 26px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-info-txt', );
$btn-ku-h-name: 'btn-ku-h';
$btn-ku-h-x: 1015px;
$btn-ku-h-y: 809px;
$btn-ku-h-offset-x: -1015px;
$btn-ku-h-offset-y: -809px;
$btn-ku-h-width: 87px;
$btn-ku-h-height: 38px;
$btn-ku-h-total-width: 1190px;
$btn-ku-h-total-height: 1033px;
$btn-ku-h-image: '../ztimages/csprite.png';
$btn-ku-h: (1015px, 809px, -1015px, -809px, 87px, 38px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-ku-h', );
$btn-ku-name: 'btn-ku';
$btn-ku-x: 1015px;
$btn-ku-y: 763px;
$btn-ku-offset-x: -1015px;
$btn-ku-offset-y: -763px;
$btn-ku-width: 87px;
$btn-ku-height: 38px;
$btn-ku-total-width: 1190px;
$btn-ku-total-height: 1033px;
$btn-ku-image: '../ztimages/csprite.png';
$btn-ku: (1015px, 763px, -1015px, -763px, 87px, 38px, 1190px, 1033px, '../ztimages/csprite.png', 'btn-ku', );
$cars-tag-name: 'cars-tag';
$cars-tag-x: 612px;
$cars-tag-y: 0px;
$cars-tag-offset-x: -612px;
$cars-tag-offset-y: 0px;
$cars-tag-width: 395px;
$cars-tag-height: 215px;
$cars-tag-total-width: 1190px;
$cars-tag-total-height: 1033px;
$cars-tag-image: '../ztimages/csprite.png';
$cars-tag: (612px, 0px, -612px, 0px, 395px, 215px, 1190px, 1033px, '../ztimages/csprite.png', 'cars-tag', );
$close-h-name: 'close-h';
$close-h-x: 1120px;
$close-h-y: 456px;
$close-h-offset-x: -1120px;
$close-h-offset-y: -456px;
$close-h-width: 44px;
$close-h-height: 44px;
$close-h-total-width: 1190px;
$close-h-total-height: 1033px;
$close-h-image: '../ztimages/csprite.png';
$close-h: (1120px, 456px, -1120px, -456px, 44px, 44px, 1190px, 1033px, '../ztimages/csprite.png', 'close-h', );
$close-name: 'close';
$close-x: 1120px;
$close-y: 516px;
$close-offset-x: -1120px;
$close-offset-y: -516px;
$close-width: 44px;
$close-height: 44px;
$close-total-width: 1190px;
$close-total-height: 1033px;
$close-image: '../ztimages/csprite.png';
$close: (1120px, 516px, -1120px, -516px, 44px, 44px, 1190px, 1033px, '../ztimages/csprite.png', 'close', );
$end-tit-name: 'end-tit';
$end-tit-x: 502px;
$end-tit-y: 708px;
$end-tit-offset-x: -502px;
$end-tit-offset-y: -708px;
$end-tit-width: 295px;
$end-tit-height: 46px;
$end-tit-total-width: 1190px;
$end-tit-total-height: 1033px;
$end-tit-image: '../ztimages/csprite.png';
$end-tit: (502px, 708px, -502px, -708px, 295px, 46px, 1190px, 1033px, '../ztimages/csprite.png', 'end-tit', );
$enemy-arr-name: 'enemy-arr';
$enemy-arr-x: 1170px;
$enemy-arr-y: 635px;
$enemy-arr-offset-x: -1170px;
$enemy-arr-offset-y: -635px;
$enemy-arr-width: 20px;
$enemy-arr-height: 17px;
$enemy-arr-total-width: 1190px;
$enemy-arr-total-height: 1033px;
$enemy-arr-image: '../ztimages/csprite.png';
$enemy-arr: (1170px, 635px, -1170px, -635px, 20px, 17px, 1190px, 1033px, '../ztimages/csprite.png', 'enemy-arr', );
$fx-icon-comm-name: 'fx-icon-comm';
$fx-icon-comm-x: 471px;
$fx-icon-comm-y: 407px;
$fx-icon-comm-offset-x: -471px;
$fx-icon-comm-offset-y: -407px;
$fx-icon-comm-width: 42px;
$fx-icon-comm-height: 42px;
$fx-icon-comm-total-width: 1190px;
$fx-icon-comm-total-height: 1033px;
$fx-icon-comm-image: '../ztimages/csprite.png';
$fx-icon-comm: (471px, 407px, -471px, -407px, 42px, 42px, 1190px, 1033px, '../ztimages/csprite.png', 'fx-icon-comm', );
$fx-icon-infos-name: 'fx-icon-infos';
$fx-icon-infos-x: 521px;
$fx-icon-infos-y: 407px;
$fx-icon-infos-offset-x: -521px;
$fx-icon-infos-offset-y: -407px;
$fx-icon-infos-width: 42px;
$fx-icon-infos-height: 42px;
$fx-icon-infos-total-width: 1190px;
$fx-icon-infos-total-height: 1033px;
$fx-icon-infos-image: '../ztimages/csprite.png';
$fx-icon-infos: (521px, 407px, -521px, -407px, 42px, 42px, 1190px, 1033px, '../ztimages/csprite.png', 'fx-icon-infos', );
$fx-icon-task-c-name: 'fx-icon-task-c';
$fx-icon-task-c-x: 571px;
$fx-icon-task-c-y: 407px;
$fx-icon-task-c-offset-x: -571px;
$fx-icon-task-c-offset-y: -407px;
$fx-icon-task-c-width: 42px;
$fx-icon-task-c-height: 42px;
$fx-icon-task-c-total-width: 1190px;
$fx-icon-task-c-total-height: 1033px;
$fx-icon-task-c-image: '../ztimages/csprite.png';
$fx-icon-task-c: (571px, 407px, -571px, -407px, 42px, 42px, 1190px, 1033px, '../ztimages/csprite.png', 'fx-icon-task-c', );
$fx-icon-task-name: 'fx-icon-task';
$fx-icon-task-x: 621px;
$fx-icon-task-y: 407px;
$fx-icon-task-offset-x: -621px;
$fx-icon-task-offset-y: -407px;
$fx-icon-task-width: 42px;
$fx-icon-task-height: 42px;
$fx-icon-task-total-width: 1190px;
$fx-icon-task-total-height: 1033px;
$fx-icon-task-image: '../ztimages/csprite.png';
$fx-icon-task: (621px, 407px, -621px, -407px, 42px, 42px, 1190px, 1033px, '../ztimages/csprite.png', 'fx-icon-task', );
$icon-play-h-name: 'icon-play-h';
$icon-play-h-x: 388px;
$icon-play-h-y: 173px;
$icon-play-h-offset-x: -388px;
$icon-play-h-offset-y: -173px;
$icon-play-h-width: 111px;
$icon-play-h-height: 111px;
$icon-play-h-total-width: 1190px;
$icon-play-h-total-height: 1033px;
$icon-play-h-image: '../ztimages/csprite.png';
$icon-play-h: (388px, 173px, -388px, -173px, 111px, 111px, 1190px, 1033px, '../ztimages/csprite.png', 'icon-play-h', );
$icon-play-mini-h-name: 'icon-play-mini-h';
$icon-play-mini-h-x: 1084px;
$icon-play-mini-h-y: 694px;
$icon-play-mini-h-offset-x: -1084px;
$icon-play-mini-h-offset-y: -694px;
$icon-play-mini-h-width: 61px;
$icon-play-mini-h-height: 61px;
$icon-play-mini-h-total-width: 1190px;
$icon-play-mini-h-total-height: 1033px;
$icon-play-mini-h-image: '../ztimages/csprite.png';
$icon-play-mini-h: (1084px, 694px, -1084px, -694px, 61px, 61px, 1190px, 1033px, '../ztimages/csprite.png', 'icon-play-mini-h', );
$icon-play-mini-name: 'icon-play-mini';
$icon-play-mini-x: 1015px;
$icon-play-mini-y: 694px;
$icon-play-mini-offset-x: -1015px;
$icon-play-mini-offset-y: -694px;
$icon-play-mini-width: 61px;
$icon-play-mini-height: 61px;
$icon-play-mini-total-width: 1190px;
$icon-play-mini-total-height: 1033px;
$icon-play-mini-image: '../ztimages/csprite.png';
$icon-play-mini: (1015px, 694px, -1015px, -694px, 61px, 61px, 1190px, 1033px, '../ztimages/csprite.png', 'icon-play-mini', );
$icon-play-name: 'icon-play';
$icon-play-x: 0px;
$icon-play-y: 779px;
$icon-play-offset-x: 0px;
$icon-play-offset-y: -779px;
$icon-play-width: 111px;
$icon-play-height: 111px;
$icon-play-total-width: 1190px;
$icon-play-total-height: 1033px;
$icon-play-image: '../ztimages/csprite.png';
$icon-play: (0px, 779px, 0px, -779px, 111px, 111px, 1190px, 1033px, '../ztimages/csprite.png', 'icon-play', );
$infos-arr-l-h-name: 'infos-arr-l-h';
$infos-arr-l-h-x: 1153px;
$infos-arr-l-h-y: 728px;
$infos-arr-l-h-offset-x: -1153px;
$infos-arr-l-h-offset-y: -728px;
$infos-arr-l-h-width: 26px;
$infos-arr-l-h-height: 26px;
$infos-arr-l-h-total-width: 1190px;
$infos-arr-l-h-total-height: 1033px;
$infos-arr-l-h-image: '../ztimages/csprite.png';
$infos-arr-l-h: (1153px, 728px, -1153px, -728px, 26px, 26px, 1190px, 1033px, '../ztimages/csprite.png', 'infos-arr-l-h', );
$infos-arr-l-name: 'infos-arr-l';
$infos-arr-l-x: 1156px;
$infos-arr-l-y: 809px;
$infos-arr-l-offset-x: -1156px;
$infos-arr-l-offset-y: -809px;
$infos-arr-l-width: 26px;
$infos-arr-l-height: 26px;
$infos-arr-l-total-width: 1190px;
$infos-arr-l-total-height: 1033px;
$infos-arr-l-image: '../ztimages/csprite.png';
$infos-arr-l: (1156px, 809px, -1156px, -809px, 26px, 26px, 1190px, 1033px, '../ztimages/csprite.png', 'infos-arr-l', );
$infos-arr-r-h-name: 'infos-arr-r-h';
$infos-arr-r-h-x: 1153px;
$infos-arr-r-h-y: 694px;
$infos-arr-r-h-offset-x: -1153px;
$infos-arr-r-h-offset-y: -694px;
$infos-arr-r-h-width: 26px;
$infos-arr-r-h-height: 26px;
$infos-arr-r-h-total-width: 1190px;
$infos-arr-r-h-total-height: 1033px;
$infos-arr-r-h-image: '../ztimages/csprite.png';
$infos-arr-r-h: (1153px, 694px, -1153px, -694px, 26px, 26px, 1190px, 1033px, '../ztimages/csprite.png', 'infos-arr-r-h', );
$infos-arr-r-name: 'infos-arr-r';
$infos-arr-r-x: 1156px;
$infos-arr-r-y: 763px;
$infos-arr-r-offset-x: -1156px;
$infos-arr-r-offset-y: -763px;
$infos-arr-r-width: 26px;
$infos-arr-r-height: 26px;
$infos-arr-r-total-width: 1190px;
$infos-arr-r-total-height: 1033px;
$infos-arr-r-image: '../ztimages/csprite.png';
$infos-arr-r: (1156px, 763px, -1156px, -763px, 26px, 26px, 1190px, 1033px, '../ztimages/csprite.png', 'infos-arr-r', );
$infos-back-h-name: 'infos-back-h';
$infos-back-h-x: 1015px;
$infos-back-h-y: 0px;
$infos-back-h-offset-x: -1015px;
$infos-back-h-offset-y: 0px;
$infos-back-h-width: 175px;
$infos-back-h-height: 63px;
$infos-back-h-total-width: 1190px;
$infos-back-h-total-height: 1033px;
$infos-back-h-image: '../ztimages/csprite.png';
$infos-back-h: (1015px, 0px, -1015px, 0px, 175px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'infos-back-h', );
$infos-back-name: 'infos-back';
$infos-back-x: 1015px;
$infos-back-y: 71px;
$infos-back-offset-x: -1015px;
$infos-back-offset-y: -71px;
$infos-back-width: 175px;
$infos-back-height: 63px;
$infos-back-total-width: 1190px;
$infos-back-total-height: 1033px;
$infos-back-image: '../ztimages/csprite.png';
$infos-back: (1015px, 71px, -1015px, -71px, 175px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'infos-back', );
$menu-btn-sel-name: 'menu-btn-sel';
$menu-btn-sel-x: 1130px;
$menu-btn-sel-y: 285px;
$menu-btn-sel-offset-x: -1130px;
$menu-btn-sel-offset-y: -285px;
$menu-btn-sel-width: 16px;
$menu-btn-sel-height: 12px;
$menu-btn-sel-total-width: 1190px;
$menu-btn-sel-total-height: 1033px;
$menu-btn-sel-image: '../ztimages/csprite.png';
$menu-btn-sel: (1130px, 285px, -1130px, -285px, 16px, 12px, 1190px, 1033px, '../ztimages/csprite.png', 'menu-btn-sel', );
$menu-icon-home-name: 'menu-icon-home';
$menu-icon-home-x: 1110px;
$menu-icon-home-y: 809px;
$menu-icon-home-offset-x: -1110px;
$menu-icon-home-offset-y: -809px;
$menu-icon-home-width: 38px;
$menu-icon-home-height: 38px;
$menu-icon-home-total-width: 1190px;
$menu-icon-home-total-height: 1033px;
$menu-icon-home-image: '../ztimages/csprite.png';
$menu-icon-home: (1110px, 809px, -1110px, -809px, 38px, 38px, 1190px, 1033px, '../ztimages/csprite.png', 'menu-icon-home', );
$menu-icon-name: 'menu-icon';
$menu-icon-x: 1110px;
$menu-icon-y: 763px;
$menu-icon-offset-x: -1110px;
$menu-icon-offset-y: -763px;
$menu-icon-width: 38px;
$menu-icon-height: 38px;
$menu-icon-total-width: 1190px;
$menu-icon-total-height: 1033px;
$menu-icon-image: '../ztimages/csprite.png';
$menu-icon: (1110px, 763px, -1110px, -763px, 38px, 38px, 1190px, 1033px, '../ztimages/csprite.png', 'menu-icon', );
$menu-task-h-name: 'menu-task-h';
$menu-task-h-x: 358px;
$menu-task-h-y: 505px;
$menu-task-h-offset-x: -358px;
$menu-task-h-offset-y: -505px;
$menu-task-h-width: 350px;
$menu-task-h-height: 58px;
$menu-task-h-total-width: 1190px;
$menu-task-h-total-height: 1033px;
$menu-task-h-image: '../ztimages/csprite.png';
$menu-task-h: (358px, 505px, -358px, -505px, 350px, 58px, 1190px, 1033px, '../ztimages/csprite.png', 'menu-task-h', );
$menu-task-name: 'menu-task';
$menu-task-x: 0px;
$menu-task-y: 571px;
$menu-task-offset-x: 0px;
$menu-task-offset-y: -571px;
$menu-task-width: 350px;
$menu-task-height: 58px;
$menu-task-total-width: 1190px;
$menu-task-total-height: 1033px;
$menu-task-image: '../ztimages/csprite.png';
$menu-task: (0px, 571px, 0px, -571px, 350px, 58px, 1190px, 1033px, '../ztimages/csprite.png', 'menu-task', );
$other-btn-buy-h-name: 'other-btn-buy-h';
$other-btn-buy-h-x: 57px;
$other-btn-buy-h-y: 969px;
$other-btn-buy-h-offset-x: -57px;
$other-btn-buy-h-offset-y: -969px;
$other-btn-buy-h-width: 49px;
$other-btn-buy-h-height: 64px;
$other-btn-buy-h-total-width: 1190px;
$other-btn-buy-h-total-height: 1033px;
$other-btn-buy-h-image: '../ztimages/csprite.png';
$other-btn-buy-h: (57px, 969px, -57px, -969px, 49px, 64px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-buy-h', );
$other-btn-buy-name: 'other-btn-buy';
$other-btn-buy-x: 0px;
$other-btn-buy-y: 969px;
$other-btn-buy-offset-x: 0px;
$other-btn-buy-offset-y: -969px;
$other-btn-buy-width: 49px;
$other-btn-buy-height: 64px;
$other-btn-buy-total-width: 1190px;
$other-btn-buy-total-height: 1033px;
$other-btn-buy-image: '../ztimages/csprite.png';
$other-btn-buy: (0px, 969px, 0px, -969px, 49px, 64px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-buy', );
$other-btn-club-h-name: 'other-btn-club-h';
$other-btn-club-h-x: 114px;
$other-btn-club-h-y: 969px;
$other-btn-club-h-offset-x: -114px;
$other-btn-club-h-offset-y: -969px;
$other-btn-club-h-width: 49px;
$other-btn-club-h-height: 64px;
$other-btn-club-h-total-width: 1190px;
$other-btn-club-h-total-height: 1033px;
$other-btn-club-h-image: '../ztimages/csprite.png';
$other-btn-club-h: (114px, 969px, -114px, -969px, 49px, 64px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-club-h', );
$other-btn-club-name: 'other-btn-club';
$other-btn-club-x: 171px;
$other-btn-club-y: 969px;
$other-btn-club-offset-x: -171px;
$other-btn-club-offset-y: -969px;
$other-btn-club-width: 49px;
$other-btn-club-height: 64px;
$other-btn-club-total-width: 1190px;
$other-btn-club-total-height: 1033px;
$other-btn-club-image: '../ztimages/csprite.png';
$other-btn-club: (171px, 969px, -171px, -969px, 49px, 64px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-club', );
$other-btn-comm-h-name: 'other-btn-comm-h';
$other-btn-comm-h-x: 915px;
$other-btn-comm-h-y: 898px;
$other-btn-comm-h-offset-x: -915px;
$other-btn-comm-h-offset-y: -898px;
$other-btn-comm-h-width: 49px;
$other-btn-comm-h-height: 63px;
$other-btn-comm-h-total-width: 1190px;
$other-btn-comm-h-total-height: 1033px;
$other-btn-comm-h-image: '../ztimages/csprite.png';
$other-btn-comm-h: (915px, 898px, -915px, -898px, 49px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-comm-h', );
$other-btn-comm-name: 'other-btn-comm';
$other-btn-comm-x: 228px;
$other-btn-comm-y: 969px;
$other-btn-comm-offset-x: -228px;
$other-btn-comm-offset-y: -969px;
$other-btn-comm-width: 49px;
$other-btn-comm-height: 63px;
$other-btn-comm-total-width: 1190px;
$other-btn-comm-total-height: 1033px;
$other-btn-comm-image: '../ztimages/csprite.png';
$other-btn-comm: (228px, 969px, -228px, -969px, 49px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-comm', );
$other-btn-ku-h-name: 'other-btn-ku-h';
$other-btn-ku-h-x: 1130px;
$other-btn-ku-h-y: 213px;
$other-btn-ku-h-offset-x: -1130px;
$other-btn-ku-h-offset-y: -213px;
$other-btn-ku-h-width: 50px;
$other-btn-ku-h-height: 64px;
$other-btn-ku-h-total-width: 1190px;
$other-btn-ku-h-total-height: 1033px;
$other-btn-ku-h-image: '../ztimages/csprite.png';
$other-btn-ku-h: (1130px, 213px, -1130px, -213px, 50px, 64px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-ku-h', );
$other-btn-ku-name: 'other-btn-ku';
$other-btn-ku-x: 1130px;
$other-btn-ku-y: 305px;
$other-btn-ku-offset-x: -1130px;
$other-btn-ku-offset-y: -305px;
$other-btn-ku-width: 50px;
$other-btn-ku-height: 64px;
$other-btn-ku-total-width: 1190px;
$other-btn-ku-total-height: 1033px;
$other-btn-ku-image: '../ztimages/csprite.png';
$other-btn-ku: (1130px, 305px, -1130px, -305px, 50px, 64px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-ku', );
$other-btn-pc-h-name: 'other-btn-pc-h';
$other-btn-pc-h-x: 342px;
$other-btn-pc-h-y: 969px;
$other-btn-pc-h-offset-x: -342px;
$other-btn-pc-h-offset-y: -969px;
$other-btn-pc-h-width: 49px;
$other-btn-pc-h-height: 63px;
$other-btn-pc-h-total-width: 1190px;
$other-btn-pc-h-total-height: 1033px;
$other-btn-pc-h-image: '../ztimages/csprite.png';
$other-btn-pc-h: (342px, 969px, -342px, -969px, 49px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-pc-h', );
$other-btn-pc-name: 'other-btn-pc';
$other-btn-pc-x: 285px;
$other-btn-pc-y: 969px;
$other-btn-pc-offset-x: -285px;
$other-btn-pc-offset-y: -969px;
$other-btn-pc-width: 49px;
$other-btn-pc-height: 63px;
$other-btn-pc-total-width: 1190px;
$other-btn-pc-total-height: 1033px;
$other-btn-pc-image: '../ztimages/csprite.png';
$other-btn-pc: (285px, 969px, -285px, -969px, 49px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'other-btn-pc', );
$role-cat-tit-name: 'role-cat-tit';
$role-cat-tit-x: 0px;
$role-cat-tit-y: 0px;
$role-cat-tit-offset-x: 0px;
$role-cat-tit-offset-y: 0px;
$role-cat-tit-width: 604px;
$role-cat-tit-height: 165px;
$role-cat-tit-total-width: 1190px;
$role-cat-tit-total-height: 1033px;
$role-cat-tit-image: '../ztimages/csprite.png';
$role-cat-tit: (0px, 0px, 0px, 0px, 604px, 165px, 1190px, 1033px, '../ztimages/csprite.png', 'role-cat-tit', );
$role-elp-arr-name: 'role-elp-arr';
$role-elp-arr-x: 1158px;
$role-elp-arr-y: 431px;
$role-elp-arr-offset-x: -1158px;
$role-elp-arr-offset-y: -431px;
$role-elp-arr-width: 30px;
$role-elp-arr-height: 14px;
$role-elp-arr-total-width: 1190px;
$role-elp-arr-total-height: 1033px;
$role-elp-arr-image: '../ztimages/csprite.png';
$role-elp-arr: (1158px, 431px, -1158px, -431px, 30px, 14px, 1190px, 1033px, '../ztimages/csprite.png', 'role-elp-arr', );
$role-elp-h-name: 'role-elp-h';
$role-elp-h-x: 0px;
$role-elp-h-y: 173px;
$role-elp-h-offset-x: 0px;
$role-elp-h-offset-y: -173px;
$role-elp-h-width: 380px;
$role-elp-h-height: 226px;
$role-elp-h-total-width: 1190px;
$role-elp-h-total-height: 1033px;
$role-elp-h-image: '../ztimages/csprite.png';
$role-elp-h: (0px, 173px, 0px, -173px, 380px, 226px, 1190px, 1033px, '../ztimages/csprite.png', 'role-elp-h', );
$role-nav-arr-name: 'role-nav-arr';
$role-nav-arr-x: 1015px;
$role-nav-arr-y: 855px;
$role-nav-arr-offset-x: -1015px;
$role-nav-arr-offset-y: -855px;
$role-nav-arr-width: 101px;
$role-nav-arr-height: 32px;
$role-nav-arr-total-width: 1190px;
$role-nav-arr-total-height: 1033px;
$role-nav-arr-image: '../ztimages/csprite.png';
$role-nav-arr: (1015px, 855px, -1015px, -855px, 101px, 32px, 1190px, 1033px, '../ztimages/csprite.png', 'role-nav-arr', );
$role-nav-h-name: 'role-nav-h';
$role-nav-h-x: 716px;
$role-nav-h-y: 505px;
$role-nav-h-offset-x: -716px;
$role-nav-h-offset-y: -505px;
$role-nav-h-width: 235px;
$role-nav-h-height: 46px;
$role-nav-h-total-width: 1190px;
$role-nav-h-total-height: 1033px;
$role-nav-h-image: '../ztimages/csprite.png';
$role-nav-h: (716px, 505px, -716px, -505px, 235px, 46px, 1190px, 1033px, '../ztimages/csprite.png', 'role-nav-h', );
$role-nav-name: 'role-nav';
$role-nav-x: 119px;
$role-nav-y: 779px;
$role-nav-offset-x: -119px;
$role-nav-offset-y: -779px;
$role-nav-width: 235px;
$role-nav-height: 46px;
$role-nav-total-width: 1190px;
$role-nav-total-height: 1033px;
$role-nav-image: '../ztimages/csprite.png';
$role-nav: (119px, 779px, -119px, -779px, 235px, 46px, 1190px, 1033px, '../ztimages/csprite.png', 'role-nav', );
$start-btn-bg-name: 'start-btn-bg';
$start-btn-bg-x: 0px;
$start-btn-bg-y: 505px;
$start-btn-bg-offset-x: 0px;
$start-btn-bg-offset-y: -505px;
$start-btn-bg-width: 350px;
$start-btn-bg-height: 58px;
$start-btn-bg-total-width: 1190px;
$start-btn-bg-total-height: 1033px;
$start-btn-bg-image: '../ztimages/csprite.png';
$start-btn-bg: (0px, 505px, 0px, -505px, 350px, 58px, 1190px, 1033px, '../ztimages/csprite.png', 'start-btn-bg', );
$start-btn-txt-name: 'start-btn-txt';
$start-btn-txt-x: 1015px;
$start-btn-txt-y: 895px;
$start-btn-txt-offset-x: -1015px;
$start-btn-txt-offset-y: -895px;
$start-btn-txt-width: 107px;
$start-btn-txt-height: 29px;
$start-btn-txt-total-width: 1190px;
$start-btn-txt-total-height: 1033px;
$start-btn-txt-image: '../ztimages/csprite.png';
$start-btn-txt: (1015px, 895px, -1015px, -895px, 107px, 29px, 1190px, 1033px, '../ztimages/csprite.png', 'start-btn-txt', );
$task-back-h-name: 'task-back-h';
$task-back-h-x: 1015px;
$task-back-h-y: 142px;
$task-back-h-offset-x: -1015px;
$task-back-h-offset-y: -142px;
$task-back-h-width: 175px;
$task-back-h-height: 63px;
$task-back-h-total-width: 1190px;
$task-back-h-total-height: 1033px;
$task-back-h-image: '../ztimages/csprite.png';
$task-back-h: (1015px, 142px, -1015px, -142px, 175px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task-back-h', );
$task-back-name: 'task-back';
$task-back-x: 732px;
$task-back-y: 898px;
$task-back-offset-x: -732px;
$task-back-offset-y: -898px;
$task-back-width: 175px;
$task-back-height: 63px;
$task-back-total-width: 1190px;
$task-back-total-height: 1033px;
$task-back-image: '../ztimages/csprite.png';
$task-back: (732px, 898px, -732px, -898px, 175px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task-back', );
$task-dia-bot-name: 'task-dia-bot';
$task-dia-bot-x: 358px;
$task-dia-bot-y: 571px;
$task-dia-bot-offset-x: -358px;
$task-dia-bot-offset-y: -571px;
$task-dia-bot-width: 544px;
$task-dia-bot-height: 31px;
$task-dia-bot-total-width: 1190px;
$task-dia-bot-total-height: 1033px;
$task-dia-bot-image: '../ztimages/csprite.png';
$task-dia-bot: (358px, 571px, -358px, -571px, 544px, 31px, 1190px, 1033px, '../ztimages/csprite.png', 'task-dia-bot', );
$task-dia-top-name: 'task-dia-top';
$task-dia-top-x: 0px;
$task-dia-top-y: 460px;
$task-dia-top-offset-x: 0px;
$task-dia-top-offset-y: -460px;
$task-dia-top-width: 544px;
$task-dia-top-height: 37px;
$task-dia-top-total-width: 1190px;
$task-dia-top-total-height: 1033px;
$task-dia-top-image: '../ztimages/csprite.png';
$task-dia-top: (0px, 460px, 0px, -460px, 544px, 37px, 1190px, 1033px, '../ztimages/csprite.png', 'task-dia-top', );
$task-eye-name: 'task-eye';
$task-eye-x: 1120px;
$task-eye-y: 576px;
$task-eye-offset-x: -1120px;
$task-eye-offset-y: -576px;
$task-eye-width: 51px;
$task-eye-height: 37px;
$task-eye-total-width: 1190px;
$task-eye-total-height: 1033px;
$task-eye-image: '../ztimages/csprite.png';
$task-eye: (1120px, 576px, -1120px, -576px, 51px, 37px, 1190px, 1033px, '../ztimages/csprite.png', 'task-eye', );
$task-next-h-name: 'task-next-h';
$task-next-h-x: 549px;
$task-next-h-y: 898px;
$task-next-h-offset-x: -549px;
$task-next-h-offset-y: -898px;
$task-next-h-width: 175px;
$task-next-h-height: 63px;
$task-next-h-total-width: 1190px;
$task-next-h-total-height: 1033px;
$task-next-h-image: '../ztimages/csprite.png';
$task-next-h: (549px, 898px, -549px, -898px, 175px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task-next-h', );
$task-next-name: 'task-next';
$task-next-x: 366px;
$task-next-y: 898px;
$task-next-offset-x: -366px;
$task-next-offset-y: -898px;
$task-next-width: 175px;
$task-next-height: 63px;
$task-next-total-width: 1190px;
$task-next-total-height: 1033px;
$task-next-image: '../ztimages/csprite.png';
$task-next: (366px, 898px, -366px, -898px, 175px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task-next', );
$task108-btn-name: 'task108-btn';
$task108-btn-x: 546px;
$task108-btn-y: 637px;
$task108-btn-offset-x: -546px;
$task108-btn-offset-y: -637px;
$task108-btn-width: 243px;
$task108-btn-height: 63px;
$task108-btn-total-width: 1190px;
$task108-btn-total-height: 1033px;
$task108-btn-image: '../ztimages/csprite.png';
$task108-btn: (546px, 637px, -546px, -637px, 243px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task108-btn', );
$task2-btn-name: 'task2-btn';
$task2-btn-x: 388px;
$task2-btn-y: 292px;
$task2-btn-offset-x: -388px;
$task2-btn-offset-y: -292px;
$task2-btn-width: 189px;
$task2-btn-height: 63px;
$task2-btn-total-width: 1190px;
$task2-btn-total-height: 1033px;
$task2-btn-image: '../ztimages/csprite.png';
$task2-btn: (388px, 292px, -388px, -292px, 189px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task2-btn', );
$task202-btn-key-name: 'task202-btn-key';
$task202-btn-key-x: 0px;
$task202-btn-key-y: 637px;
$task202-btn-key-offset-x: 0px;
$task202-btn-key-offset-y: -637px;
$task202-btn-key-width: 287px;
$task202-btn-key-height: 63px;
$task202-btn-key-total-width: 1190px;
$task202-btn-key-total-height: 1033px;
$task202-btn-key-image: '../ztimages/csprite.png';
$task202-btn-key: (0px, 637px, 0px, -637px, 287px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task202-btn-key', );
$task203-btn-key-name: 'task203-btn-key';
$task203-btn-key-x: 251px;
$task203-btn-key-y: 708px;
$task203-btn-key-offset-x: -251px;
$task203-btn-key-offset-y: -708px;
$task203-btn-key-width: 243px;
$task203-btn-key-height: 63px;
$task203-btn-key-total-width: 1190px;
$task203-btn-key-total-height: 1033px;
$task203-btn-key-image: '../ztimages/csprite.png';
$task203-btn-key: (251px, 708px, -251px, -708px, 243px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task203-btn-key', );
$task204-btn-key-name: 'task204-btn-key';
$task204-btn-key-x: 0px;
$task204-btn-key-y: 708px;
$task204-btn-key-offset-x: 0px;
$task204-btn-key-offset-y: -708px;
$task204-btn-key-width: 243px;
$task204-btn-key-height: 63px;
$task204-btn-key-total-width: 1190px;
$task204-btn-key-total-height: 1033px;
$task204-btn-key-image: '../ztimages/csprite.png';
$task204-btn-key: (0px, 708px, 0px, -708px, 243px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task204-btn-key', );
$task4-arr-down-h-name: 'task4-arr-down-h';
$task4-arr-down-h-x: 1015px;
$task4-arr-down-h-y: 213px;
$task4-arr-down-h-offset-x: -1015px;
$task4-arr-down-h-offset-y: -213px;
$task4-arr-down-h-width: 107px;
$task4-arr-down-h-height: 84px;
$task4-arr-down-h-total-width: 1190px;
$task4-arr-down-h-total-height: 1033px;
$task4-arr-down-h-image: '../ztimages/csprite.png';
$task4-arr-down-h: (1015px, 213px, -1015px, -213px, 107px, 84px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-down-h', );
$task4-arr-down-name: 'task4-arr-down';
$task4-arr-down-x: 1015px;
$task4-arr-down-y: 305px;
$task4-arr-down-offset-x: -1015px;
$task4-arr-down-offset-y: -305px;
$task4-arr-down-width: 107px;
$task4-arr-down-height: 84px;
$task4-arr-down-total-width: 1190px;
$task4-arr-down-total-height: 1033px;
$task4-arr-down-image: '../ztimages/csprite.png';
$task4-arr-down: (1015px, 305px, -1015px, -305px, 107px, 84px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-down', );
$task4-arr-left-h-name: 'task4-arr-left-h';
$task4-arr-left-h-x: 1015px;
$task4-arr-left-h-y: 635px;
$task4-arr-left-h-offset-x: -1015px;
$task4-arr-left-h-offset-y: -635px;
$task4-arr-left-h-width: 97px;
$task4-arr-left-h-height: 51px;
$task4-arr-left-h-total-width: 1190px;
$task4-arr-left-h-total-height: 1033px;
$task4-arr-left-h-image: '../ztimages/csprite.png';
$task4-arr-left-h: (1015px, 635px, -1015px, -635px, 97px, 51px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-left-h', );
$task4-arr-left-name: 'task4-arr-left';
$task4-arr-left-x: 1015px;
$task4-arr-left-y: 576px;
$task4-arr-left-offset-x: -1015px;
$task4-arr-left-offset-y: -576px;
$task4-arr-left-width: 97px;
$task4-arr-left-height: 51px;
$task4-arr-left-total-width: 1190px;
$task4-arr-left-total-height: 1033px;
$task4-arr-left-image: '../ztimages/csprite.png';
$task4-arr-left: (1015px, 576px, -1015px, -576px, 97px, 51px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-left', );
$task4-arr-right-h-name: 'task4-arr-right-h';
$task4-arr-right-h-x: 1015px;
$task4-arr-right-h-y: 516px;
$task4-arr-right-h-offset-x: -1015px;
$task4-arr-right-h-offset-y: -516px;
$task4-arr-right-h-width: 97px;
$task4-arr-right-h-height: 52px;
$task4-arr-right-h-total-width: 1190px;
$task4-arr-right-h-total-height: 1033px;
$task4-arr-right-h-image: '../ztimages/csprite.png';
$task4-arr-right-h: (1015px, 516px, -1015px, -516px, 97px, 52px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-right-h', );
$task4-arr-right-mini-h-name: 'task4-arr-right-mini-h';
$task4-arr-right-mini-h-x: 1130px;
$task4-arr-right-mini-h-y: 895px;
$task4-arr-right-mini-h-offset-x: -1130px;
$task4-arr-right-mini-h-offset-y: -895px;
$task4-arr-right-mini-h-width: 47px;
$task4-arr-right-mini-h-height: 25px;
$task4-arr-right-mini-h-total-width: 1190px;
$task4-arr-right-mini-h-total-height: 1033px;
$task4-arr-right-mini-h-image: '../ztimages/csprite.png';
$task4-arr-right-mini-h: (1130px, 895px, -1130px, -895px, 47px, 25px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-right-mini-h', );
$task4-arr-right-mini-name: 'task4-arr-right-mini';
$task4-arr-right-mini-x: 1109px;
$task4-arr-right-mini-y: 932px;
$task4-arr-right-mini-offset-x: -1109px;
$task4-arr-right-mini-offset-y: -932px;
$task4-arr-right-mini-width: 47px;
$task4-arr-right-mini-height: 25px;
$task4-arr-right-mini-total-width: 1190px;
$task4-arr-right-mini-total-height: 1033px;
$task4-arr-right-mini-image: '../ztimages/csprite.png';
$task4-arr-right-mini: (1109px, 932px, -1109px, -932px, 47px, 25px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-right-mini', );
$task4-arr-right-name: 'task4-arr-right';
$task4-arr-right-x: 1015px;
$task4-arr-right-y: 456px;
$task4-arr-right-offset-x: -1015px;
$task4-arr-right-offset-y: -456px;
$task4-arr-right-width: 97px;
$task4-arr-right-height: 52px;
$task4-arr-right-total-width: 1190px;
$task4-arr-right-total-height: 1033px;
$task4-arr-right-image: '../ztimages/csprite.png';
$task4-arr-right: (1015px, 456px, -1015px, -456px, 97px, 52px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-right', );
$task4-arr-up-h-name: 'task4-arr-up-h';
$task4-arr-up-h-x: 507px;
$task4-arr-up-h-y: 263px;
$task4-arr-up-h-offset-x: -507px;
$task4-arr-up-h-offset-y: -263px;
$task4-arr-up-h-width: 33px;
$task4-arr-up-h-height: 18px;
$task4-arr-up-h-total-width: 1190px;
$task4-arr-up-h-total-height: 1033px;
$task4-arr-up-h-image: '../ztimages/csprite.png';
$task4-arr-up-h: (507px, 263px, -507px, -263px, 33px, 18px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-up-h', );
$task4-arr-up-name: 'task4-arr-up';
$task4-arr-up-x: 548px;
$task4-arr-up-y: 263px;
$task4-arr-up-offset-x: -548px;
$task4-arr-up-offset-y: -263px;
$task4-arr-up-width: 33px;
$task4-arr-up-height: 18px;
$task4-arr-up-total-width: 1190px;
$task4-arr-up-total-height: 1033px;
$task4-arr-up-image: '../ztimages/csprite.png';
$task4-arr-up: (548px, 263px, -548px, -263px, 33px, 18px, 1190px, 1033px, '../ztimages/csprite.png', 'task4-arr-up', );
$task401-letter-page-name: 'task401-letter-page';
$task401-letter-page-x: 797px;
$task401-letter-page-y: 637px;
$task401-letter-page-offset-x: -797px;
$task401-letter-page-offset-y: -637px;
$task401-letter-page-width: 175px;
$task401-letter-page-height: 63px;
$task401-letter-page-total-width: 1190px;
$task401-letter-page-total-height: 1033px;
$task401-letter-page-image: '../ztimages/csprite.png';
$task401-letter-page: (797px, 637px, -797px, -637px, 175px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task401-letter-page', );
$task4022-btn-key-name: 'task4022-btn-key';
$task4022-btn-key-x: 295px;
$task4022-btn-key-y: 637px;
$task4022-btn-key-offset-x: -295px;
$task4022-btn-key-offset-y: -637px;
$task4022-btn-key-width: 243px;
$task4022-btn-key-height: 63px;
$task4022-btn-key-total-width: 1190px;
$task4022-btn-key-total-height: 1033px;
$task4022-btn-key-image: '../ztimages/csprite.png';
$task4022-btn-key: (295px, 637px, -295px, -637px, 243px, 63px, 1190px, 1033px, '../ztimages/csprite.png', 'task4022-btn-key', );
$task405-btn-arr-name: 'task405-btn-arr';
$task405-btn-arr-x: 1158px;
$task405-btn-arr-y: 397px;
$task405-btn-arr-offset-x: -1158px;
$task405-btn-arr-offset-y: -397px;
$task405-btn-arr-width: 29px;
$task405-btn-arr-height: 26px;
$task405-btn-arr-total-width: 1190px;
$task405-btn-arr-total-height: 1033px;
$task405-btn-arr-image: '../ztimages/csprite.png';
$task405-btn-arr: (1158px, 397px, -1158px, -397px, 29px, 26px, 1190px, 1033px, '../ztimages/csprite.png', 'task405-btn-arr', );
$task405-btn-name: 'task405-btn';
$task405-btn-x: 1015px;
$task405-btn-y: 397px;
$task405-btn-offset-x: -1015px;
$task405-btn-offset-y: -397px;
$task405-btn-width: 135px;
$task405-btn-height: 51px;
$task405-btn-total-width: 1190px;
$task405-btn-total-height: 1033px;
$task405-btn-image: '../ztimages/csprite.png';
$task405-btn: (1015px, 397px, -1015px, -397px, 135px, 51px, 1190px, 1033px, '../ztimages/csprite.png', 'task405-btn', );
$version-arr-name: 'version-arr';
$version-arr-x: 1124px;
$version-arr-y: 855px;
$version-arr-offset-x: -1124px;
$version-arr-offset-y: -855px;
$version-arr-width: 61px;
$version-arr-height: 19px;
$version-arr-total-width: 1190px;
$version-arr-total-height: 1033px;
$version-arr-image: '../ztimages/csprite.png';
$version-arr: (1124px, 855px, -1124px, -855px, 61px, 19px, 1190px, 1033px, '../ztimages/csprite.png', 'version-arr', );
$version-buy-name: 'version-buy';
$version-buy-x: 119px;
$version-buy-y: 833px;
$version-buy-offset-x: -119px;
$version-buy-offset-y: -833px;
$version-buy-width: 185px;
$version-buy-height: 53px;
$version-buy-total-width: 1190px;
$version-buy-total-height: 1033px;
$version-buy-image: '../ztimages/csprite.png';
$version-buy: (119px, 833px, -119px, -833px, 185px, 53px, 1190px, 1033px, '../ztimages/csprite.png', 'version-buy', );
$vol-bg-name: 'vol-bg';
$vol-bg-x: 1120px;
$vol-bg-y: 635px;
$vol-bg-offset-x: -1120px;
$vol-bg-offset-y: -635px;
$vol-bg-width: 42px;
$vol-bg-height: 42px;
$vol-bg-total-width: 1190px;
$vol-bg-total-height: 1033px;
$vol-bg-image: '../ztimages/csprite.png';
$vol-bg: (1120px, 635px, -1120px, -635px, 42px, 42px, 1190px, 1033px, '../ztimages/csprite.png', 'vol-bg', );
$vol-pause-name: 'vol-pause';
$vol-pause-x: 1164px;
$vol-pause-y: 932px;
$vol-pause-offset-x: -1164px;
$vol-pause-offset-y: -932px;
$vol-pause-width: 24px;
$vol-pause-height: 24px;
$vol-pause-total-width: 1190px;
$vol-pause-total-height: 1033px;
$vol-pause-image: '../ztimages/csprite.png';
$vol-pause: (1164px, 932px, -1164px, -932px, 24px, 24px, 1190px, 1033px, '../ztimages/csprite.png', 'vol-pause', );
$vol-play-name: 'vol-play';
$vol-play-x: 482px;
$vol-play-y: 363px;
$vol-play-offset-x: -482px;
$vol-play-offset-y: -363px;
$vol-play-width: 24px;
$vol-play-height: 24px;
$vol-play-total-width: 1190px;
$vol-play-total-height: 1033px;
$vol-play-image: '../ztimages/csprite.png';
$vol-play: (482px, 363px, -482px, -363px, 24px, 24px, 1190px, 1033px, '../ztimages/csprite.png', 'vol-play', );
$zan-bg-name: 'zan-bg';
$zan-bg-x: 0px;
$zan-bg-y: 407px;
$zan-bg-offset-x: 0px;
$zan-bg-offset-y: -407px;
$zan-bg-width: 463px;
$zan-bg-height: 45px;
$zan-bg-total-width: 1190px;
$zan-bg-total-height: 1033px;
$zan-bg-image: '../ztimages/csprite.png';
$zan-bg: (0px, 407px, 0px, -407px, 463px, 45px, 1190px, 1033px, '../ztimages/csprite.png', 'zan-bg', );
$zan-h-name: 'zan-h';
$zan-h-x: 717px;
$zan-h-y: 407px;
$zan-h-offset-x: -717px;
$zan-h-offset-y: -407px;
$zan-h-width: 38px;
$zan-h-height: 37px;
$zan-h-total-width: 1190px;
$zan-h-total-height: 1033px;
$zan-h-image: '../ztimages/csprite.png';
$zan-h: (717px, 407px, -717px, -407px, 38px, 37px, 1190px, 1033px, '../ztimages/csprite.png', 'zan-h', );
$zan-name: 'zan';
$zan-x: 671px;
$zan-y: 407px;
$zan-offset-x: -671px;
$zan-offset-y: -407px;
$zan-width: 38px;
$zan-height: 37px;
$zan-total-width: 1190px;
$zan-total-height: 1033px;
$zan-image: '../ztimages/csprite.png';
$zan: (671px, 407px, -671px, -407px, 38px, 37px, 1190px, 1033px, '../ztimages/csprite.png', 'zan', );
$spritesheet-width: 1190px;
$spritesheet-height: 1033px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($btn-club-h, $btn-club, $btn-default-big-h, $btn-default-big, $btn-default-h, $btn-default, $btn-forward-h, $btn-forward, $btn-info-txt-h, $btn-info-txt, $btn-ku-h, $btn-ku, $cars-tag, $close-h, $close, $end-tit, $enemy-arr, $fx-icon-comm, $fx-icon-infos, $fx-icon-task-c, $fx-icon-task, $icon-play-h, $icon-play-mini-h, $icon-play-mini, $icon-play, $infos-arr-l-h, $infos-arr-l, $infos-arr-r-h, $infos-arr-r, $infos-back-h, $infos-back, $menu-btn-sel, $menu-icon-home, $menu-icon, $menu-task-h, $menu-task, $other-btn-buy-h, $other-btn-buy, $other-btn-club-h, $other-btn-club, $other-btn-comm-h, $other-btn-comm, $other-btn-ku-h, $other-btn-ku, $other-btn-pc-h, $other-btn-pc, $role-cat-tit, $role-elp-arr, $role-elp-h, $role-nav-arr, $role-nav-h, $role-nav, $start-btn-bg, $start-btn-txt, $task-back-h, $task-back, $task-dia-bot, $task-dia-top, $task-eye, $task-next-h, $task-next, $task108-btn, $task2-btn, $task202-btn-key, $task203-btn-key, $task204-btn-key, $task4-arr-down-h, $task4-arr-down, $task4-arr-left-h, $task4-arr-left, $task4-arr-right-h, $task4-arr-right-mini-h, $task4-arr-right-mini, $task4-arr-right, $task4-arr-up-h, $task4-arr-up, $task401-letter-page, $task4022-btn-key, $task405-btn-arr, $task405-btn, $version-arr, $version-buy, $vol-bg, $vol-pause, $vol-play, $zan-bg, $zan-h, $zan, );
$spritesheet: (1190px, 1033px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
