//专题
@import 'comm';
.zt-section1{
	height: 919px;
	background:url(#{$mpath}zt-bg1.jpg) center 0 no-repeat;
	.container{
		position: relative;
		.bdsharewrap.bdstyle-c{
			position: absolute;
			top: 50px;
			right:0;
			width: 222px;
			a.bds_count{
				display: none;
			}
		}
		.logo_gs{
			display: block;
			position: absolute;
			left: 145px;
			top: 45px;
			width: 139px;
			height: 47px;
			background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-white.png) 0 0 no-repeat;
		}
		.logo_gf{
			display: block;
			position: absolute;
			left: 300px;
			top: 30px;
			@include sprite($logo-gf);
		}
		.btn{
			display: block;
			position: absolute;
			top: 537px;
			&.btn1{
				left: 286px;
				@include sprite($s1-btn1);
				&:hover{
					@include sprite($s1-btn1-h);
				}
			}
			&.btn2{
				left: 464px;
				@include sprite($s1-btn2);
				&:hover{
					@include sprite($s1-btn2-h);
				}
			}
			&.btn3{
				left: 642px;
				@include sprite($s1-btn3);
				img{
					display: none;
					position: absolute;
					top: 61px;
					left: 3px;
					width: 166px;
					height: 166px;
					box-shadow: 0 2px 6px rgba(0,0,0,0.75);
				}
				&:hover{
					@include sprite($s1-btn3-h);
					img{
						display: block;
					}
				}
			}
		}
	}
}
.zt-section2{
	height: 703px;
	background:url(#{$mpath}zt-bg2.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 165px;
		.para{
			margin-bottom: 40px;
			p{
				line-height: 24px;
				font-size: 14px;
				color: #111;
				text-align: center;
			}
		}
		.play{
			position: relative;
			display: block;
			width: 640px;
			height: 360px;
			img{
				display: block;
				width: 100%;
				height: 100%;
			}
			i{
				display: block;
				position: absolute;
				left: 272px;
				top: 131px;
				@include sprite($s2-play);
			}
			&:hover{
				i{@include sprite-position($s2-play-h)}
			}
		}
		.txt{
			position: absolute;
			top: 300px;
			left: 668px;
			width: 433px;
			p{
				margin-bottom: 24px;
				line-height: 24px;
				font-size: 14px;
				color: #111;
			}
		}
	}
}
.zt-section3{
	height: 704px;
	background:url(#{$mpath}zt-bg3.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 166px;
	}
}
.zt-section4{
	height: 704px;
	background:url(#{$mpath}zt-bg4.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 166px;
		img{
			display: block;
			margin: 34px auto;
			width: 1020px;
		}
		.para{
			p{
				line-height: 24px;
				font-size: 14px;
				color: #111;
				text-align: center;
			}
		}
	}
}
.zt-section5{
	height: 704px;
	background:url(#{$mpath}zt-bg5.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 166px;
	}
}
.zt-section6{
	height: 760px;
	background:url(#{$mpath}zt-bg6.jpg) center 0 no-repeat;
	.container{
		position: relative;
		.map {
			position: absolute;
			top: 151px;
			left: -28px;
			width: 1123px;
			height: 562px;
			a {
				cursor: default;
				top: 0;
				left: 0;
				position: absolute;
				width: 38px;
				height: 48px;
				background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/dot_ccff82c.png);
				&.m1 {
					top: 34px;
					left: 400px;
				}
				&.m2 {
					top: 130px;
					left: 388px;
				}
				&.m3 {
					top: 255px;
					left: 366px;
				}
				&.m4 {
					top: 335px;
					left: 336px;
				}
				&.m5 {
					top: 185px;
					left: 465px;
				}
				&.m6 {
					top: 285px;
					left: 474px;
				}
				&.m7 {
					top: 451px;
					left: 424px;
				}
				&.m8 {
					top: 42px;
					left: 705px;
				}
				&.m9 {
					top: 131px;
					left: 635px;
				}
				&.m10 {
					top: 178px;
					left: 582px;
				}
				&.m11 {
					top: 290px;
					left: 638px;
				}
				&.m12 {
					top: 351px;
					left: 628px;
				}
				&.m13 {
					top: 435px;
					left: 575px;
				}
				&.m14 {
					top: 261px;
					left: 755px;
				}
				&.m15 {
					top: 416px;
					left: 757px;
				}
				&.act {
					cursor: pointer;
				}
			}
		}
	}
}
.zt-section7{
	height: 800px;
	background:url(#{$mpath}zt-bg7.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 166px;
		.ztTab{
			.ztTabCon{
				li{
					width: 1100px;
					height: 460px;
					img{
						display: block;
						margin: 0 auto;
						width: 916px;
						height: 456px;
						border: 2px solid #fff;
					}
				}
			}
		}
	}
}
.zt-sectionComm{
	padding-bottom: 30px;
	background:url(#{$mpath}zt-bg8.png) center 60px no-repeat;
	height:auto;
	background-color: #fff;
	.container{
		position: relative;
		padding-top: 146px;
		.Comment{
			padding: 0 60px;
		}
	}
}


