.clearfix:before, .clearfix:after { display: table; content: " "; }

.clearfix:after { clear: both; }

.Midtit .tit.pr_ZYZL { background: url(../ztimages/zy-tit-icon.png) 6px center no-repeat; }

.Mid-zy { margin: 0 auto 15px; width: 1100px; }

.Mid-zy-con .des { padding-top: 10px; }

.Mid-zy-con .des p { margin: 0; line-height: 32px; font-size: 18px; color: #000; text-indent: 36px; }

.Mid-zy-con .zy-video .Mtit { margin-bottom: 10px; }

.Mid-zy-con .zy-video .videolist { width: 420px; }

.Mid-zy-con .zy-video .videolist li { float: left; margin-right: 10px; width: 185px; height: 165px; }

.Mid-zy-con .zy-video .videolist li a { width: 185px; height: 165px; }

.Mid-zy-con .zy-video .videolist li a .play { top: 32px; left: 70px; width: 48px; height: 48px; background: url(../ztimages/play.png) 0 0 no-repeat; }

.Mid-zy-con .zy-video .videolist li a img { width: 185px; height: 104px; }

.Mid-zy-con .zy-video .videolist li a:hover .play { background-position: 0 -48px; }

.Mid-zy-con .zy-list { padding-top: 10px; }

.Mid-zy-con .zy-list .Ptxt { padding-top: 0; }

.Mid-zy-con .area-left { float: left; margin-right: 21px; width: 698px; }

.Mid-zy-con .area-left .big-pic { display: block; width: 698px; margin-bottom: 24px; }

.Mid-zy-con .area-left .big-pic-bg { position: relative; width: 698px; height: 400px; margin-bottom: 24px; }

.Mid-zy-con .area-left .big-pic-bg .big-pic { position: absolute; left: 0; top: 0; display: none; }

.Mid-zy-con .area-left .big-pic-bg .big-pic.cur { display: block; }

.Mid-zy-con .area-left .big-pic-bg .bp-btns { position: absolute; left: 29px; top: 301px; width: 180px; height: 78px; }

.Mid-zy-con .area-left .big-pic-bg .bp-btns a { cursor: pointer; display: block; float: left; width: 79px; height: 78px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/blank.png) 0 0 repeat; }

.Mid-zy-con .area-right { float: left; width: 380px; }

.Mid-zy-con .mzc-tab { position: relative; width: 1100px; height: 640px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav { width: 1120px; margin-bottom: 19px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a { cursor: pointer; display: block; float: left; margin-right: 4px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn1 { background-image: url(../ztimages/csprite.png); background-position: 0px -264px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn1.cur { background-image: url(../ztimages/csprite.png); background-position: 0px -88px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn2 { background-image: url(../ztimages/csprite.png); background-position: -188px -88px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn2.cur { background-image: url(../ztimages/csprite.png); background-position: -188px 0px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn3 { background-image: url(../ztimages/csprite.png); background-position: -188px -176px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn3.cur { background-image: url(../ztimages/csprite.png); background-position: 0px -176px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn4 { background-image: url(../ztimages/csprite.png); background-position: -188px -264px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn4.cur { background-image: url(../ztimages/csprite.png); background-position: 0px 0px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn5 { background-image: url(../ztimages/csprite.png); background-position: -376px -88px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn5.cur { background-image: url(../ztimages/csprite.png); background-position: -376px 0px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn6 { background-image: url(../ztimages/csprite.png); background-position: -376px -264px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-nav a.mzc-tn6.cur { background-image: url(../ztimages/csprite.png); background-position: -376px -176px; width: 180px; height: 80px; }

.Mid-zy-con .mzc-tab .mzc-tab-box { position: relative; width: 1100px; height: 540px; }

.Mid-zy-con .mzc-tab .mzc-tab-box .mzc-tab-item { position: absolute; left: 0; top: 0; width: 1100px; height: 540px; opacity: 0; visibility: hidden; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.Mid-zy-con .mzc-tab .mzc-tab-box .mzc-tab-item.cur { opacity: 1; visibility: visible; }
