$mpath:'http://image.gamersky.com/webimg13/zhuanti/hxqmx10v10/';
$basewidth:1200px;
@import 'csprite';
@import './scsslib/tcss/tcss';
@import './scsslib/baidushare/bds8';
html,body{min-width:1280px;}
body{font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 12px;}
h1,h2,h3,h4,h5,p,ul{margin: 0;padding: 0;list-style:none;}
a{text-decoration: none;cursor: pointer;}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after{display: table;content: " ";}
.clearfix:after,
.container:after{clear: both;}
.container{margin-right: auto;margin-left: auto;width: $basewidth;}
.zt-section{margin: 0;padding: 0;overflow: hidden;width: 100%;min-width:$basewidth;}
//头部
.QZnav {min-width:$basewidth;}
.QZnav .topbar {width:$basewidth;}
.QZnav .QZ-nav {display: none;}
//底部
.Bot{
	width:100%; min-width:$basewidth; height:155px; 
	background:#111;font-size: 14px;
	.Copyright {
		margin:0 auto;padding-top:50px; 
		width:$basewidth;height:auto;line-height:30px;
		text-align:center; color:#555;
		a{
			margin:0 5px; color:#555;
			&:hover {color:#777;}
		}
	}	
}

//弹层
.gsPopupMask{
	position: fixed;z-index: 99998;top: 0;left: 0;
	width: 100%;height: 100%;
	background:url(http://image.gamersky.com/webimg13/zhuanti/common/black80.png) 0 0 repeat;
	opacity: 0;
	visibility: hidden;
    transition: all 0.25s ease;
    &.cur{
        opacity: 1;
        visibility: visible;
    }
}
.gsPopup{
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
    transition: all 0.25s ease;
	.gsPopupCon{
		width: 100%;
		height: 100%;
		background-color: #000;
		img{
			display: block;
		}
		video{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.gsPopupClose{
		position: absolute;top:0;right:-50px;overflow: hidden;
		width: 38px;height: 38px;
		background:url(http://image.gamersky.com/webimg13/zhuanti/common/gsPopupClose.png) 5px 5px no-repeat;
		&:hover{background-position: -33px 5px;}
	}
    &.cur{
        opacity: 1;
        visibility: visible;
    }
}
.fx-code{
	position: absolute;
	left: 50%;
	margin-left: 605px;
	top: 948px;
	@include sprite($code-bg);
	&.cur{
		position: fixed;
		top: 50%;
		margin-top: -102px;
	}
	.fx-con{
		padding: 12px 15px 0 17px;
		width: 110px;
		img{
			display: block;
			margin-bottom: 2px;
			width: 110px;
			height: 110px;
		}
		p{
			line-height: 22px;
			font-size: 15px;
			color: #fbe6a4;
			text-align: center;
		}
	}
}