// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arr-n-h-name: 'arr-n-h';
$arr-n-h-x: 744px;
$arr-n-h-y: 507px;
$arr-n-h-offset-x: -744px;
$arr-n-h-offset-y: -507px;
$arr-n-h-width: 42px;
$arr-n-h-height: 85px;
$arr-n-h-total-width: 848px;
$arr-n-h-total-height: 822px;
$arr-n-h-image: '../ztimages/csprite.png';
$arr-n-h: (744px, 507px, -744px, -507px, 42px, 85px, 848px, 822px, '../ztimages/csprite.png', 'arr-n-h', );
$arr-n-name: 'arr-n';
$arr-n-x: 694px;
$arr-n-y: 507px;
$arr-n-offset-x: -694px;
$arr-n-offset-y: -507px;
$arr-n-width: 42px;
$arr-n-height: 85px;
$arr-n-total-width: 848px;
$arr-n-total-height: 822px;
$arr-n-image: '../ztimages/csprite.png';
$arr-n: (694px, 507px, -694px, -507px, 42px, 85px, 848px, 822px, '../ztimages/csprite.png', 'arr-n', );
$arr-p-h-name: 'arr-p-h';
$arr-p-h-x: 532px;
$arr-p-h-y: 336px;
$arr-p-h-offset-x: -532px;
$arr-p-h-offset-y: -336px;
$arr-p-h-width: 43px;
$arr-p-h-height: 86px;
$arr-p-h-total-width: 848px;
$arr-p-h-total-height: 822px;
$arr-p-h-image: '../ztimages/csprite.png';
$arr-p-h: (532px, 336px, -532px, -336px, 43px, 86px, 848px, 822px, '../ztimages/csprite.png', 'arr-p-h', );
$arr-p-name: 'arr-p';
$arr-p-x: 643px;
$arr-p-y: 507px;
$arr-p-offset-x: -643px;
$arr-p-offset-y: -507px;
$arr-p-width: 43px;
$arr-p-height: 86px;
$arr-p-total-width: 848px;
$arr-p-total-height: 822px;
$arr-p-image: '../ztimages/csprite.png';
$arr-p: (643px, 507px, -643px, -507px, 43px, 86px, 848px, 822px, '../ztimages/csprite.png', 'arr-p', );
$code-bg-name: 'code-bg';
$code-bg-x: 0px;
$code-bg-y: 507px;
$code-bg-offset-x: 0px;
$code-bg-offset-y: -507px;
$code-bg-width: 142px;
$code-bg-height: 203px;
$code-bg-total-width: 848px;
$code-bg-total-height: 822px;
$code-bg-image: '../ztimages/csprite.png';
$code-bg: (0px, 507px, 0px, -507px, 142px, 203px, 848px, 822px, '../ztimages/csprite.png', 'code-bg', );
$s1-btn1-h-name: 's1-btn1-h';
$s1-btn1-h-x: 584px;
$s1-btn1-h-y: 0px;
$s1-btn1-h-offset-x: -584px;
$s1-btn1-h-offset-y: 0px;
$s1-btn1-h-width: 264px;
$s1-btn1-h-height: 149px;
$s1-btn1-h-total-width: 848px;
$s1-btn1-h-total-height: 822px;
$s1-btn1-h-image: '../ztimages/csprite.png';
$s1-btn1-h: (584px, 0px, -584px, 0px, 264px, 149px, 848px, 822px, '../ztimages/csprite.png', 's1-btn1-h', );
$s1-btn1-name: 's1-btn1';
$s1-btn1-x: 584px;
$s1-btn1-y: 157px;
$s1-btn1-offset-x: -584px;
$s1-btn1-offset-y: -157px;
$s1-btn1-width: 264px;
$s1-btn1-height: 149px;
$s1-btn1-total-width: 848px;
$s1-btn1-total-height: 822px;
$s1-btn1-image: '../ztimages/csprite.png';
$s1-btn1: (584px, 157px, -584px, -157px, 264px, 149px, 848px, 822px, '../ztimages/csprite.png', 's1-btn1', );
$s1-btn2-h-name: 's1-btn2-h';
$s1-btn2-h-x: 0px;
$s1-btn2-h-y: 171px;
$s1-btn2-h-offset-x: 0px;
$s1-btn2-h-offset-y: -171px;
$s1-btn2-h-width: 283px;
$s1-btn2-h-height: 157px;
$s1-btn2-h-total-width: 848px;
$s1-btn2-h-total-height: 822px;
$s1-btn2-h-image: '../ztimages/csprite.png';
$s1-btn2-h: (0px, 171px, 0px, -171px, 283px, 157px, 848px, 822px, '../ztimages/csprite.png', 's1-btn2-h', );
$s1-btn2-name: 's1-btn2';
$s1-btn2-x: 291px;
$s1-btn2-y: 171px;
$s1-btn2-offset-x: -291px;
$s1-btn2-offset-y: -171px;
$s1-btn2-width: 283px;
$s1-btn2-height: 157px;
$s1-btn2-total-width: 848px;
$s1-btn2-total-height: 822px;
$s1-btn2-image: '../ztimages/csprite.png';
$s1-btn2: (291px, 171px, -291px, -171px, 283px, 157px, 848px, 822px, '../ztimages/csprite.png', 's1-btn2', );
$s1-btn3-h-name: 's1-btn3-h';
$s1-btn3-h-x: 0px;
$s1-btn3-h-y: 0px;
$s1-btn3-h-offset-x: 0px;
$s1-btn3-h-offset-y: 0px;
$s1-btn3-h-width: 284px;
$s1-btn3-h-height: 163px;
$s1-btn3-h-total-width: 848px;
$s1-btn3-h-total-height: 822px;
$s1-btn3-h-image: '../ztimages/csprite.png';
$s1-btn3-h: (0px, 0px, 0px, 0px, 284px, 163px, 848px, 822px, '../ztimages/csprite.png', 's1-btn3-h', );
$s1-btn3-name: 's1-btn3';
$s1-btn3-x: 292px;
$s1-btn3-y: 0px;
$s1-btn3-offset-x: -292px;
$s1-btn3-offset-y: 0px;
$s1-btn3-width: 284px;
$s1-btn3-height: 163px;
$s1-btn3-total-width: 848px;
$s1-btn3-total-height: 822px;
$s1-btn3-image: '../ztimages/csprite.png';
$s1-btn3: (292px, 0px, -292px, 0px, 284px, 163px, 848px, 822px, '../ztimages/csprite.png', 's1-btn3', );
$s1-btn4-h-name: 's1-btn4-h';
$s1-btn4-h-x: 0px;
$s1-btn4-h-y: 336px;
$s1-btn4-h-offset-x: 0px;
$s1-btn4-h-offset-y: -336px;
$s1-btn4-h-width: 258px;
$s1-btn4-h-height: 163px;
$s1-btn4-h-total-width: 848px;
$s1-btn4-h-total-height: 822px;
$s1-btn4-h-image: '../ztimages/csprite.png';
$s1-btn4-h: (0px, 336px, 0px, -336px, 258px, 163px, 848px, 822px, '../ztimages/csprite.png', 's1-btn4-h', );
$s1-btn4-name: 's1-btn4';
$s1-btn4-x: 266px;
$s1-btn4-y: 336px;
$s1-btn4-offset-x: -266px;
$s1-btn4-offset-y: -336px;
$s1-btn4-width: 258px;
$s1-btn4-height: 163px;
$s1-btn4-total-width: 848px;
$s1-btn4-total-height: 822px;
$s1-btn4-image: '../ztimages/csprite.png';
$s1-btn4: (266px, 336px, -266px, -336px, 258px, 163px, 848px, 822px, '../ztimages/csprite.png', 's1-btn4', );
$s2-play-h-name: 's2-play-h';
$s2-play-h-x: 0px;
$s2-play-h-y: 718px;
$s2-play-h-offset-x: 0px;
$s2-play-h-offset-y: -718px;
$s2-play-h-width: 104px;
$s2-play-h-height: 104px;
$s2-play-h-total-width: 848px;
$s2-play-h-total-height: 822px;
$s2-play-h-image: '../ztimages/csprite.png';
$s2-play-h: (0px, 718px, 0px, -718px, 104px, 104px, 848px, 822px, '../ztimages/csprite.png', 's2-play-h', );
$s2-play-name: 's2-play';
$s2-play-x: 112px;
$s2-play-y: 718px;
$s2-play-offset-x: -112px;
$s2-play-offset-y: -718px;
$s2-play-width: 104px;
$s2-play-height: 104px;
$s2-play-total-width: 848px;
$s2-play-total-height: 822px;
$s2-play-image: '../ztimages/csprite.png';
$s2-play: (112px, 718px, -112px, -718px, 104px, 104px, 848px, 822px, '../ztimages/csprite.png', 's2-play', );
$s3-btn1-name: 's3-btn1';
$s3-btn1-x: 150px;
$s3-btn1-y: 507px;
$s3-btn1-offset-x: -150px;
$s3-btn1-offset-y: -507px;
$s3-btn1-width: 236px;
$s3-btn1-height: 116px;
$s3-btn1-total-width: 848px;
$s3-btn1-total-height: 822px;
$s3-btn1-image: '../ztimages/csprite.png';
$s3-btn1: (150px, 507px, -150px, -507px, 236px, 116px, 848px, 822px, '../ztimages/csprite.png', 's3-btn1', );
$s3-btn2-name: 's3-btn2';
$s3-btn2-x: 394px;
$s3-btn2-y: 507px;
$s3-btn2-offset-x: -394px;
$s3-btn2-offset-y: -507px;
$s3-btn2-width: 241px;
$s3-btn2-height: 97px;
$s3-btn2-total-width: 848px;
$s3-btn2-total-height: 822px;
$s3-btn2-image: '../ztimages/csprite.png';
$s3-btn2: (394px, 507px, -394px, -507px, 241px, 97px, 848px, 822px, '../ztimages/csprite.png', 's3-btn2', );
$s3-btn3-name: 's3-btn3';
$s3-btn3-x: 584px;
$s3-btn3-y: 314px;
$s3-btn3-offset-x: -584px;
$s3-btn3-offset-y: -314px;
$s3-btn3-width: 236px;
$s3-btn3-height: 116px;
$s3-btn3-total-width: 848px;
$s3-btn3-total-height: 822px;
$s3-btn3-image: '../ztimages/csprite.png';
$s3-btn3: (584px, 314px, -584px, -314px, 236px, 116px, 848px, 822px, '../ztimages/csprite.png', 's3-btn3', );
$s3-hand-name: 's3-hand';
$s3-hand-x: 584px;
$s3-hand-y: 438px;
$s3-hand-offset-x: -584px;
$s3-hand-offset-y: -438px;
$s3-hand-width: 33px;
$s3-hand-height: 43px;
$s3-hand-total-width: 848px;
$s3-hand-total-height: 822px;
$s3-hand-image: '../ztimages/csprite.png';
$s3-hand: (584px, 438px, -584px, -438px, 33px, 43px, 848px, 822px, '../ztimages/csprite.png', 's3-hand', );
$s3-r1-name: 's3-r1';
$s3-r1-x: 828px;
$s3-r1-y: 314px;
$s3-r1-offset-x: -828px;
$s3-r1-offset-y: -314px;
$s3-r1-width: 20px;
$s3-r1-height: 20px;
$s3-r1-total-width: 848px;
$s3-r1-total-height: 822px;
$s3-r1-image: '../ztimages/csprite.png';
$s3-r1: (828px, 314px, -828px, -314px, 20px, 20px, 848px, 822px, '../ztimages/csprite.png', 's3-r1', );
$s3-r2-name: 's3-r2';
$s3-r2-x: 625px;
$s3-r2-y: 438px;
$s3-r2-offset-x: -625px;
$s3-r2-offset-y: -438px;
$s3-r2-width: 30px;
$s3-r2-height: 30px;
$s3-r2-total-width: 848px;
$s3-r2-total-height: 822px;
$s3-r2-image: '../ztimages/csprite.png';
$s3-r2: (625px, 438px, -625px, -438px, 30px, 30px, 848px, 822px, '../ztimages/csprite.png', 's3-r2', );
$spritesheet-width: 848px;
$spritesheet-height: 822px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($arr-n-h, $arr-n, $arr-p-h, $arr-p, $code-bg, $s1-btn1-h, $s1-btn1, $s1-btn2-h, $s1-btn2, $s1-btn3-h, $s1-btn3, $s1-btn4-h, $s1-btn4, $s2-play-h, $s2-play, $s3-btn1, $s3-btn2, $s3-btn3, $s3-hand, $s3-r1, $s3-r2, );
$spritesheet: (848px, 822px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
