.bdsharewrap.bdstyle-c { width: 242px; height: 36px; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox { width: 800px; height: 36px; *font-size: 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after, .bdsharewrap.bdstyle-c .bdsharebuttonbox.before { display: table; content: " "; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after { clear: both; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a { float: left; margin: 0 4px 0 0; padding: 0; display: inline-block; *display: inline; *zoom: 1; width: 37px; height: 36px; background: url("http://image.gamersky.com/webimg13/zhuanti/cf8zn/fx.png") 0 0 no-repeat; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tsina { background-position: 0 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_weixin { background-position: -40px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_qzone { background-position: -80px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_renren { background-position: -121px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_sqq { background-position: -161px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_count { background-position: -200px 0; text-indent: 9999px; white-space: nowrap; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tieba, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_douban, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_more { display: none; }

html, body { min-width: 1280px; }

body { font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }

h1, h2, h3, h4, h5, p, ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; cursor: pointer; }

.clearfix:before, .clearfix:after, .container:before, .container:after { display: table; content: " "; }

.clearfix:after, .container:after { clear: both; }

.container { margin-right: auto; margin-left: auto; width: 1200px; }

.zt-section { margin: 0; padding: 0; overflow: hidden; width: 100%; min-width: 1200px; }

.QZnav { min-width: 1200px; }

.QZnav .topbar { width: 1200px; }

.QZnav .QZ-nav { display: none; }

.Bot { width: 100%; min-width: 1200px; height: 155px; background: #111; font-size: 14px; }

.Bot .Copyright { margin: 0 auto; padding-top: 50px; width: 1200px; height: auto; line-height: 30px; text-align: center; color: #555; }

.Bot .Copyright a { margin: 0 5px; color: #555; }

.Bot .Copyright a:hover { color: #777; }

.gsPopupMask { position: fixed; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background: url(../ztimages/pop-bg.png) 0 0 repeat; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopupMask.cur { opacity: 1; visibility: visible; }

.gsPopup { z-index: 99999; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopup .gsPopupCon { width: 100%; height: 100%; background-color: #000; }

.gsPopup .gsPopupCon img { display: block; }

.gsPopup .gsPopupCon video { display: block; width: 100%; height: 100%; }

.gsPopup .gsPopupClose { position: absolute; top: 0; right: -44px; overflow: hidden; background-image: url(../ztimages/csprite.png); background-position: -496px -236px; width: 35px; height: 36px; }

.gsPopup .gsPopupClose:hover { background-position: -539px -236px; }

.gsPopup.cur { opacity: 1; visibility: visible; }

.fixednav { display: none; position: fixed; right: 63px; top: 50%; margin-top: -167px; z-index: 999; padding-top: 22px; background-image: url(../ztimages/csprite.png); background-position: 0px 0px; width: 120px; height: 335px; height: 313px; }

.fixednav li { display: block; width: 120px; height: 36px; }

.fixednav li a { display: block; width: 120px; height: 36px; line-height: 38px; font-size: 15px; color: #2582f5; text-align: center; font-weight: bold; }

.fixednav li a.cur, .fixednav li a:hover { color: #fff; }

.fixednav.cur { display: block; }

.ztTab1 { width: 1200px; }

.ztTab1 .ztTabNav { width: 600px; height: 60px; }

.ztTab1 .ztTabNav li { cursor: pointer; float: left; margin-right: 5px; background-image: url(../ztimages/csprite.png); background-position: -309px -100px; width: 180px; height: 60px; line-height: 60px; font-size: 18px; color: #bec1c4; text-align: center; }

.ztTab1 .ztTabNav li.cur { background-position: -309px -168px; color: #fdffff; }

.ztTab1 .ztTabCon li { width: 1200px; }

.zt-section1 { height: 1055px; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/zt-bg1.jpg) center 0 no-repeat; }

.zt-section1 .container { position: relative; }

.zt-section1 .container .bdsharewrap.bdstyle-c { position: absolute; top: 45px; right: 0; }

.zt-section1 .container .logo_gs { display: block; position: absolute; left: 0; top: 32px; width: 164px; height: 63px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/blank.png) 0 0 repeat; }

.zt-section1 .container .logo_gf { display: block; position: absolute; left: 182px; top: 23px; width: 228px; height: 79px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/blank.png) 0 0 repeat; }

.zt-section1 .container .btn { display: block; position: absolute; top: 658px; background-image: url(../ztimages/csprite.png); background-position: -497px -100px; width: 179px; height: 56px; line-height: 56px; font-size: 20px; color: #2e528e; text-align: center; }

.zt-section1 .container .btn:hover { background-image: url(../ztimages/csprite.png); background-position: -497px -168px; width: 179px; height: 56px; color: #e2e9f1; }

.zt-section1 .container .btn.btn1 { left: 528px; }

.zt-section1 .container .btn.btn2 { left: 702px; }

.zt-section1 .container .btn.btn3 { left: 878px; color: #e2e9f1; background-image: url(../ztimages/csprite.png); background-position: -309px -236px; width: 179px; height: 56px; }

.zt-section1 .container .btn.btn3 img { display: none; position: absolute; left: -37px; top: -255px; width: 254px; height: 279px; }

.zt-section1 .container .btn.btn3:hover { background-image: url(../ztimages/csprite.png); background-position: -497px -168px; width: 179px; height: 56px; color: #e2e9f1; }

.zt-section1 .container .btn.btn3:hover img { display: block; }

.zt-section2 { height: 756px; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/zt-bg2.jpg) center 0 no-repeat; }

.zt-section2 .container { position: relative; padding-top: 108px; }

.zt-section2 .container .ztTab .ztTabNav { padding-left: 666px; margin-bottom: 62px; }

.zt-section2 .container .ztTab .ztTabCon li .context { width: 1200px; }

.zt-section2 .container .ztTab .ztTabCon li .context .pics { width: 1220px; }

.zt-section2 .container .ztTab .ztTabCon li .context .pics img { display: block; width: 1200px; }

.zt-section2 .container .ztTab .ztTabCon li .context .txt { position: relative; margin-top: -70px; padding-left: 30px; border-left: 2px solid #384450; }

.zt-section2 .container .ztTab .ztTabCon li .context .txt i { display: block; position: absolute; left: -2px; background-image: url(../ztimages/csprite.png); background-position: -200px -343px; width: 4px; height: 53px; }

.zt-section2 .container .ztTab .ztTabCon li .context .txt .para { padding-right: 20px; max-height: 150px; overflow-y: auto; }

.zt-section2 .container .ztTab .ztTabCon li .context .txt p { line-height: 30px; font-size: 14px; color: #c9d0d6; }

.zt-section2 .container .ztTab .ztTabCon li .context .txt ::-webkit-scrollbar { width: 8px; height: 8px; border-radius: 0; background-color: rgba(0, 0, 0, 0.1); }

.zt-section2 .container .ztTab .ztTabCon li .context .txt ::-webkit-scrollbar-track { border-radius: 10px; background-color: rgba(0, 0, 0, 0.2); }

.zt-section2 .container .ztTab .ztTabCon li .context .txt ::-webkit-scrollbar-track:hover { background-color: rgba(0, 0, 0, 0.4); }

.zt-section2 .container .ztTab .ztTabCon li .context .txt ::-webkit-scrollbar-track:active { background-color: rgba(0, 0, 0, 0.3); }

.zt-section2 .container .ztTab .ztTabCon li .context .txt ::-webkit-scrollbar-thumb { border-radius: 0; background-color: rgba(34, 133, 255, 0.8); }

.zt-section2 .container .ztTab .ztTabCon li .context .txt ::-webkit-scrollbar-thumb:hover { background-color: #2285ff; }

.zt-section2 .container .ztTab .ztTabCon li .context .txt ::-webkit-scrollbar-thumb:active { background-color: rgba(34, 133, 255, 0.6); }

.zt-section3 { height: 980px; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/zt-bg3.jpg) center 0 no-repeat; }

.zt-section3 .container { position: relative; padding-top: 72px; }

.zt-section3 .container .ztTab .ztTabNav { padding-left: 845px; margin-bottom: 68px; }

.zt-section3 .container .ztTab .ztTabCon li .context { width: 1220px; }

.zt-section3 .container .ztTab .ztTabCon li .context .txt { position: relative; padding-left: 32px; float: left; margin-right: 23px; width: 545px; border-left: 2px solid #384450; }

.zt-section3 .container .ztTab .ztTabCon li .context .txt img { display: block; margin-top: 42px; width: 545px; height: 307px; }

.zt-section3 .container .ztTab .ztTabCon li .context .txt .tit { position: relative; line-height: 30px; font-size: 14px; color: #e66c7a; }

.zt-section3 .container .ztTab .ztTabCon li .context .txt .tit i { display: block; position: absolute; left: -33px; background-image: url(../ztimages/csprite.png); background-position: -200px -343px; width: 4px; height: 53px; }

.zt-section3 .container .ztTab .ztTabCon li .context .txt .para { margin-top: 30px; }

.zt-section3 .container .ztTab .ztTabCon li .context .txt .para h5 { position: relative; height: 30px; line-height: 30px; font-size: 16px; color: #2285ff; }

.zt-section3 .container .ztTab .ztTabCon li .context .txt .para h5 i { display: block; position: absolute; top: 50%; left: -32px; margin-top: -1px; width: 20px; height: 2px; background-color: #384450; }

.zt-section3 .container .ztTab .ztTabCon li .context .txt .para p { line-height: 30px; font-size: 14px; color: #c9d0d6; }

.zt-section3 .container .ztTab .ztTabCon li .context .pics { float: left; width: 597px; }

.zt-section3 .container .ztTab .ztTabCon li .context .pics img { display: block; margin-bottom: 7px; max-width: 100%; }

.zt-section4 { height: 820px; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/zt-bg4.jpg) center 0 no-repeat; }

.zt-section4 .container { padding-top: 224px; }

.zt-section4 .container .ztTab2 { position: relative; width: 1200px; height: 546px; }

.zt-section4 .container .ztTab2 .ztTabNav { margin-top: 36px; padding-left: 210px; width: 880px; height: 104px; }

.zt-section4 .container .ztTab2 .ztTabNav li { position: relative; cursor: pointer; display: block; float: left; margin-right: 23px; background-image: url(../ztimages/csprite.png); background-position: -100px -343px; width: 92px; height: 104px; }

.zt-section4 .container .ztTab2 .ztTabNav li i { display: none; position: absolute; top: -10px; left: 50%; margin-left: -17px; background-image: url(../ztimages/csprite.png); background-position: -582px -236px; width: 35px; height: 14px; -webkit-animation: arrAnim 1s ease infinite; animation: arrAnim 1s ease infinite; }

.zt-section4 .container .ztTab2 .ztTabNav li span { display: block; line-height: 102px; font-size: 16px; color: #7a9cc8; text-align: center; font-weight: bold; }

.zt-section4 .container .ztTab2 .ztTabNav li span.db { padding-top: 30px; line-height: 22px; }

.zt-section4 .container .ztTab2 .ztTabNav li.cur { background-image: url(../ztimages/csprite.png); background-position: 0px -343px; width: 92px; height: 104px; }

.zt-section4 .container .ztTab2 .ztTabNav li.cur i { display: block; }

.zt-section4 .container .ztTab2 .ztTabNav li.cur span { color: #ff9e2b; }

.zt-section4 .container .ztTab2 .ztTabCon li { position: relative; width: 1200px; height: 406px; }

.zt-section4 .container .ztTab2 .ztTabCon li .context { position: relative; margin: 0 auto; width: 1000px; height: 406px; }

.zt-section4 .container .ztTab2 .ztTabCon li .context img { display: block; width: 720px; height: 406px; }

.zt-section4 .container .ztTab2 .ztTabCon li .context .txt { position: absolute; right: 0; top: 0; width: 439px; height: 406px; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/tab2-txt.png) 0 0 no-repeat; }

.zt-section4 .container .ztTab2 .ztTabCon li .context .txt .para { padding: 40px 0 0 140px; width: 270px; }

.zt-section4 .container .ztTab2 .ztTabCon li .context .txt .para h5 { line-height: 60px; font-size: 26px; color: #ff9e2b; }

.zt-section4 .container .ztTab2 .ztTabCon li .context .txt .para p { line-height: 26px; font-size: 14px; color: #e5d1ec; }

.zt-section4 .container .ztTab2 .ztTabArr { display: block; position: absolute; top: 182px; }

.zt-section4 .container .ztTab2 .ztTabArr.ztTabArrP { left: 40px; background-image: url(../ztimages/csprite.png); background-position: -165px -236px; width: 29px; height: 42px; }

.zt-section4 .container .ztTab2 .ztTabArr.ztTabArrP:hover { background-position: -202px -236px; }

.zt-section4 .container .ztTab2 .ztTabArr.ztTabArrN { right: 40px; background-image: url(../ztimages/csprite.png); background-position: -128px -236px; width: 29px; height: 42px; }

.zt-section4 .container .ztTab2 .ztTabArr.ztTabArrN:hover { background-position: -239px -236px; }

.zt-section5 { height: 840px; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/zt-bg5.jpg) center 0 no-repeat; }

.zt-section5 .container { padding-top: 193px; }

.zt-section5 .container .ztTab3 { position: relative; width: 1200px; height: 550px; }

.zt-section5 .container .ztTab3 .ztTabNav { position: absolute; left: 0; top: 0; width: 173px; height: 550px; }

.zt-section5 .container .ztTab3 .ztTabNav li { position: relative; display: block; cursor: pointer; margin-bottom: 33px; background-image: url(../ztimages/csprite.png); background-position: -128px 0px; width: 173px; height: 110px; }

.zt-section5 .container .ztTab3 .ztTabNav li img { display: block; width: 160px; height: 110px; }

.zt-section5 .container .ztTab3 .ztTabNav li span { position: absolute; left: 0; top: 72px; width: 160px; height: 26px; line-height: 26px; font-size: 17px; color: #90a0ae; text-align: center; font-weight: bold; }

.zt-section5 .container .ztTab3 .ztTabNav li.cur { background-position: -128px -118px; }

.zt-section5 .container .ztTab3 .ztTabNav li.cur span { color: #fff; }

.zt-section5 .container .ztTab3 .ztTabCon li { position: relative; width: 1200px; height: 550px; }

.zt-section5 .container .ztTab3 .ztTabCon li .context { position: relative; margin-left: 187px; width: 1013px; height: 540px; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/s5-con-bg.png) 0 0 no-repeat; }

.zt-section5 .container .ztTab3 .ztTabCon li .context img { display: block; position: absolute; top: 0; right: 0; width: 587px; height: 385px; -webkit-transition: all 0.4s ease 0.1s; transition: all 0.4s ease 0.1s; opacity: 0; -webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0; -webkit-transform: translate3d(20px, 20px, 0) rotate(-5deg); transform: translate3d(20px, 20px, 0) rotate(-5deg); }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos { padding: 12px 0 0 34px; width: 385px; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos h4 { height: 52px; line-height: 52px; font-size: 30px; color: #2983f2; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos .gun-data .row { position: relative; height: 24px; line-height: 24px; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos .gun-data .row .tit { font-size: 14px; color: #90a0ae; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos .gun-data .row .num { position: absolute; left: 307px; top: 0; font-size: 14px; color: #2983f2; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos .gun-data .row .pro { position: absolute; left: 98px; top: 7px; width: 200px; height: 10px; background-color: #364250; overflow: hidden; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos .gun-data .row .pro i { display: block; position: absolute; height: 10px; background-color: #1b5292; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scale(0, 1); -ms-transform: scale(0, 1); transform: scale(0, 1); -webkit-transition: all 0.4s ease-out 0.1s; transition: all 0.4s ease-out 0.1s; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos .gun-chr { margin-top: 10px; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos .gun-chr h5 { line-height: 26px; font-size: 14px; color: #2983f2; font-weight: bold; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-infos .gun-chr p { line-height: 24px; font-size: 14px; color: #c9d0d6; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-comm { position: absolute; left: 34px; top: 403px; width: 965px; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-comm h5 { margin-bottom: 6px; line-height: 26px; font-size: 14px; color: #2983f2; font-weight: bold; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-comm p { margin-bottom: 6px; line-height: 18px; font-size: 14px; color: #c9d0d6; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-comm.gun-comm-mini h5 { margin-bottom: 0; }

.zt-section5 .container .ztTab3 .ztTabCon li .context .gun-comm.gun-comm-mini p { margin-bottom: 4px; }

.zt-section5 .container .ztTab3 .ztTabCon li.cur .context img { opacity: 1; -webkit-transform: translate3d(0, 0, 0) rotate(0deg); transform: translate3d(0, 0, 0) rotate(0deg); }

.zt-section5 .container .ztTab3 .ztTabCon li.cur .context .gun-infos .row .pro i { -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); }

.zt-section5 .container .btn { display: block; margin: 10px auto 0; background-image: url(../ztimages/csprite.png); background-position: -309px 0px; width: 367px; height: 42px; line-height: 42px; font-size: 14px; color: #ebfbfe; text-indent: 130px; }

.zt-section5 .container .btn:hover { background-image: url(../ztimages/csprite.png); background-position: -309px -50px; width: 367px; height: 42px; }

.zt-section6 { height: 550px; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/zt-bg6.jpg) center 0 no-repeat; }

.zt-section6 .container { position: relative; padding-top: 168px; }

.zt-section6 .container .list { width: 1210px; }

.zt-section6 .container .list li { float: left; margin: 0 1px 1px 0; width: 299px; height: 162px; }

.zt-section6 .container .list li a { position: relative; display: block; width: 299px; height: 162px; overflow: hidden; }

.zt-section6 .container .list li a img { display: block; width: 100%; height: 100%; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

.zt-section6 .container .list li a span { display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 30px; line-height: 30px; font-size: 14px; text-align: center; color: #fff; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/pop-bg.png) 0 0 repeat; }

.zt-section6 .container .list li a:hover img { -webkit-transform: scale(1.06); -ms-transform: scale(1.06); transform: scale(1.06); }

.zt-section7 { height: 926px; background: url(http://image.gamersky.com/webimg13/zhuanti/gunts/zt-bg7.jpg) center 0 no-repeat; }

.zt-section7 .container { position: relative; padding-top: 183px; }

.zt-section7 .container img { display: block; margin-left: -2px; width: 1203px; }

.zt-sectionComm { padding-bottom: 30px; height: auto; background-color: #e1e9ed; }

.zt-sectionComm .container { position: relative; padding-top: 60px; }

.zt-sectionComm .container .Comment { padding: 0 30px; }

@-webkit-keyframes arrAnim { 0% { -webkit-transform: translate3d(0, 2px, 0); transform: translate3d(0, 2px, 0); }
  100% { -webkit-transform: translate3d(0, -2px, 0); transform: translate3d(0, -2px, 0); } }

@keyframes arrAnim { 0% { -webkit-transform: translate3d(0, 2px, 0); transform: translate3d(0, 2px, 0); }
  100% { -webkit-transform: translate3d(0, -2px, 0); transform: translate3d(0, -2px, 0); } }
