//专题
@import 'comm';
.main-bg{
	position: absolute;
	left: 50%;
	margin-left: -960px;
	top: 0;
	width: 1920px;
	height: 1080px;
	.mbg{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 1920px;
		height: 1080px;
		animation: mbg 4s ease infinite;
		.mbg1{animation-duration: 3.5s}
		.mbg2{animation-duration: 4s}
		.mbg3{animation-duration: 4.5s}
		.mbg4{animation-duration: 5s}
	}
}
.logo{
	display: block;
	@include sprite($logo-gs);
}
.main{
	position: relative;
	width: 100%;
	height: 1080px;
	overflow: hidden;
	overflow-y: auto;
	.header{
		position: relative;
		height: 110px;
		.logo{
			position: absolute;
			left: 55px;
			top: 37px;
		}
		.quick-btn{
			position: absolute;
			right: 52px;
			top: 26px;
			width: 95px;
			.bd-btns{
				position: absolute;
				right: 180px;
				top: 3px;
				width: 134px;
				height: 30px;
			}
			a.comment-btn{
				position: relative;
				display: block;
				width: 95px;
				height: 40px;
				line-height: 32px;
				font-size: 16px;
				color: #222;
				text-align: right;
				i{
					display: block;
					position: absolute;
					left: 0;
					top: 8px;
					@include sprite($comment-icon);
				}
				&:hover{
					color: #f04f23;
					i{@include sprite-position($comment-icon-h)}
				}
			}
		}
	}
	.bot{
		position: absolute;
		left: 50%;
		margin-left: -960px;
		bottom: 35px;
		width: 1920px;
		font-size: 12px;
		color: #aaa;
		text-align: center;
	}
	.box{
		position: absolute;
		left: 50%;
		top: 110px;
		margin-left: -960px;
		width: 1920px;
		height: 970px;
		.item{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			transition: all 0.25s ease;
			&.cur{
				z-index: 10;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.item1{
	.slogan{
		display: block;
		position: absolute;
		left: 660px;
		top: 18px;
		width: 622px;
		height: 595px;
		background: url(../ztimages/slogan.png) 0 0 no-repeat;
	}
	.ques{
		position: absolute;
		left: 0;
		top: 620px;
		width: 100%;
		p{
			line-height: 37px;
			font-size: 18px;
			color: #333;
			text-align: center;
			font-weight: bold;
		}
	}
	.look-btn{
		display: block;
		position: absolute;
		&.look-btn1{
			left: 380px;
			top: 400px;
			@include sprite($i1-btn1);
			&:hover{@include sprite-position($i1-btn1-h);}
		}
		&.look-btn2{
			left: 1338px;
			top: 55px;
			@include sprite($i1-btn2);
			&:hover{@include sprite-position($i1-btn2-h);}
		}
		&.look-btn3{
			left: 327px;
			top: 47px;
			@include sprite($i1-btn3);
			&:hover{@include sprite-position($i1-btn3-h);}
		}
		&.look-btn4{
			left: 1296px;
			top: 420px;
			@include sprite($i1-btn4);
			&:hover{@include sprite-position($i1-btn4-h);}
		}
	}
}
.item2{
	background-color: #000;
	transform-origin: 50% 42%;
	transform:scale(0);
	border-radius:1920px;
	overflow: hidden;
	transition-duration: 0.5s;
	&.cur{
		transform:scale(1);
		border-radius:0;
	}
	.infos{
		position: relative;
		margin: 0 auto;
		width: 1200px;
		height: 120px;
		.tits{
			height: 120px;
			line-height: 120px;
			.tit-lev1{
				float: left;
				margin-right: 15px;
				font-size: 36px;
				color: #fff;
				font-weight: bold;
			}
			.tit-lev2{
				float: left;
				font-size: 20px;
				color: #aaa;
			}
		}
		.btn-groups{
			position: absolute;
			left: 515px;
			top: 40px;
			width: 680px;
			height: 48px;
			.btn{
				display: block;
				float: left;
				margin-right: 14px;
				width: 196px;
				height: 44px;
				line-height: 44px;
				border: 2px solid #267694;
				border-radius: 5px;
				font-size: 15px;
				color: #40c5f6;
				text-align: center;
				&.btn1{
					color: #40c5f6;
					border-color: #267694;
				}
				&.btn2{
					color: #8fe54b;
					border-color: #56892d;
				}
				&.btn3{
					color: #ffe52a;
					border-color: #998919;
				}
				&:hover{
					color: #000;
					&.btn1{
						border-color: #40c5f6;
						background-color: #40c5f6;
					}
					&.btn2{
						border-color: #8fe54b;
						background-color: #8fe54b;
					}
					&.btn3{
						border-color: #ffe52a;
						background-color: #ffe52a;
					}
				}
			}
		}
		.close-btn{
			display: block;
			position: absolute;
			right: 15px;
			top: 53px;
			width: 21px;
			height: 21px;
			i{
				display: block;
				@include icon-close(#ccc);
			}
			&:hover i{@include icon-close(#fff);}
		}
	}
	.ver-pic{
		display: block;
		margin: 0 auto;
		width: 1920px;
	}
}
.item3{
	.texts{
		position: absolute;
		left: 670px;
		top: 0;
		width: 890px;
		height: 640px;
		overflow: hidden;
		.txt-anim{
			position: absolute;
			left: 0;
			top: 0;
			width: 890px;
			height: 640px;
		}
		&.cur{
			@for $i from 1 through 14 {
				.para#{$i}{
					animation: txtAnim 1s ease-out ($i - 0.5)*1s  1 both;
				}
			}
		}
		p{
			line-height: 40px;
			font-size: 20px;
			color: #333;
			b{
				font-size: 40px;
			}
		}
		.para{
			opacity: 0;
			transform:translate(0,30px);
		}
		.para1{
			margin-bottom: 20px;
		}
		.para14{
			padding-top: 20px;
		}
		.para-next{
			display: block;
			width: 90px;
			height: 45px;
			line-height: 45px;
			border: 2px solid #ccc;
			font-size: 16px;
			text-align: center;
			color: #999;
			&:hover{
				background-color: #ccc;
				color: #fff;
			}
		}
	}
}
.item4{
	.logo-group{
		float: left;
		margin-left: 360px;
		padding-top: 258px;
		width: 274px;
		ul{
			width: 300px;
			li{
				float: left;
				margin: 0 12px 14px 0;
				width: 131px;
				height: 55px;
				a{
					position: relative;
					display: block;
					width: 131px;
					height: 55px;
					@include flexbox;
					@include ConCen;
					.mini{
						display: block;
						margin: 0 auto;
						//width: 100%;
						//height:auto;
						max-width: 100%;
						max-height:100%;
					}
					span{
						display: block;
						position: absolute;
						left: 131px;
						top: 0;
						z-index: 10;
						padding-left: 12px;
						width: 250px;
						opacity: 0;
						visibility: hidden;
						transition:all .25s ease 0.12s;
						pointer-events: none;
						img{
							display: block;
							width: 250px;
						}
					}
					&:hover{
						span{
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
	.comment{
		float: left;
		margin-left: 35px;
		width: 850px;
	}
	.re-btn{
		display: none;
		position: absolute;
		left: 50%;
		margin-left: 603px;
		top: 60px;
		padding: 4.5px 0;
		width: 45px;
		line-height: 18px;
		border: 2px solid #ccc;
		font-size: 15px;
		text-align: center;
		color: #999;
		&.cur{
			display: block;
		}
		&:hover{
			background-color: #ccc;
			color: #fff;
		}
	}
	.close-btn{
		display: block;
		position: absolute;
		left: 50%;
		margin-left: 603px;
		top: 0;
		padding: 12px;
		width: 21px;
		height: 21px;
		border: 2px solid #ccc;
		i{
			@include icon-close(#ccc);
		}
		&:hover{
			background-color: #ccc;
			i{@include icon-close(#fff);}
		}
	}
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		border-radius: 0;
		background-color: rgba(0,0,0,0.1);
	}
	::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: rgba(0,0,0,0.2);
	}
	::-webkit-scrollbar-track:hover {
		background-color: rgba(0,0,0,0.4);
	}
	::-webkit-scrollbar-track:active {
		background-color: rgba(0,0,0,0.3);
	}
	::-webkit-scrollbar-thumb {
		border-radius: 0;
		background-color: rgba(0,0,0,0.8);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(0,0,0,1);
	}
	::-webkit-scrollbar-thumb:active {
		background-color: rgba(0,0,0,0.6);
	}
	.scl-con{
		position: relative;
		width: 1560px;
		height: 890px;
		overflow-y: auto;
	}
}


