.bdsharewrap.bdstyle-c { width: 255px; height: 33px; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox { width: 800px; height: 33px; *font-size: 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after, .bdsharewrap.bdstyle-c .bdsharebuttonbox.before { display: table; content: " "; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after { clear: both; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a { float: left; margin: 0 4px 0 0; padding: 0; display: inline-block; *display: inline; *zoom: 1; width: 33px; height: 33px; background: url("http://image.gamersky.com/webimg13/zhuanti/common/fx9.png") 0 0 no-repeat; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tsina { background-position: 0 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_weixin { background-position: -37px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_qzone { background-position: -74px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_renren { background-position: -111px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_sqq { background-position: -148px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tieba { display: none; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_douban { display: none; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_more { background-position: -185px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_count { background-position: -222px 0; font-size: 14px; text-align: center; line-height: 33px; color: #fefefe; }

html, body { min-width: 1280px; }

body { font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }

h1, h2, h3, h4, h5, p, ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; cursor: pointer; }

.clearfix:before, .clearfix:after, .container:before, .container:after { display: table; content: " "; }

.clearfix:after, .container:after { clear: both; }

.container { margin-right: auto; margin-left: auto; width: 1200px; }

.zt-section { margin: 0; padding: 0; overflow: hidden; width: 100%; min-width: 1200px; }

body { background: #fefdf9 url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/top.jpg) center 36px no-repeat; }

.QZnav { min-width: 1200px; }

.QZnav .topbar { width: 1200px; }

.QZnav .QZ-nav { display: none; }

.Bot { width: 100%; min-width: 1200px; height: 140px; background: #d4d4d3; font-size: 15px; }

.Bot .Copyright { margin: 0 auto; padding-top: 40px; width: 1200px; height: auto; line-height: 30px; text-align: center; color: #646363; }

.Bot .Copyright a { margin: 0 5px; color: #646363; }

.Bot .Copyright a:hover { color: #272727; }

.gsPopupMask { position: fixed; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background: url(http://image.gamersky.com/webimg13/zhuanti/common/black80.png) 0 0 repeat; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopupMask.cur { opacity: 1; visibility: visible; }

.gsPopup { z-index: 99999; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopup .gsPopupCon { width: 100%; height: 100%; background-color: #000; }

.gsPopup .gsPopupCon img { display: block; }

.gsPopup .gsPopupCon video { display: block; width: 100%; height: 100%; }

.gsPopup .gsPopupClose { position: absolute; top: 0; right: -50px; overflow: hidden; width: 38px; height: 38px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/gsPopupClose.png) 5px 5px no-repeat; }

.gsPopup .gsPopupClose:hover { background-position: -33px 5px; }

.gsPopup.cur { opacity: 1; visibility: visible; }

.fixednav { display: none; position: fixed; left: 50%; margin-left: 620px; top: 50%; margin-top: -75px; z-index: 999; background-image: url(../ztimages/csprite.png); background-position: 0px -371px; width: 151px; height: 288px; padding-top: 39px; padding-left: 29px; width: 112px; height: 249px; }

.fixednav li { display: block; margin-bottom: 1px; width: 79px; height: 29px; }

.fixednav li a { display: block; width: 79px; height: 29px; line-height: 29px; font-size: 15px; color: #6e2a1d; text-align: center; }

.fixednav li a.cur, .fixednav li a:hover { color: #ff2900; }

.fixednav.cur { display: block; }

.wenli { display: block; position: absolute; left: 0; top: 36px; width: 100%; height: 4378px; background: url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/wenli.png) center 0 no-repeat; }

.sc-title { margin-left: 13px; }

.para.para-center p { text-align: center; }

.para p { line-height: 28px; font-size: 16px; color: #555; }

.zt-section1 { height: 933px; }

.zt-section1 .container { position: relative; }

.zt-section1 .container .bdsharewrap.bdstyle-c { position: absolute; top: 26px; right: 0; }

.zt-section1 .container .bdsharewrap.bdstyle-c a { border-radius: 5px; }

.zt-section1 .container .logo_gs { display: block; position: absolute; left: 0; top: 20px; width: 139px; height: 47px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-black.png) 0 0 no-repeat; }

.zt-section1 .container .btn { display: block; position: absolute; top: 752px; }

.zt-section1 .container .btn.btn1 { left: 185px; background-image: url(../ztimages/csprite.png); background-position: -159px -450px; width: 230px; height: 70px; }

.zt-section1 .container .btn.btn1:hover { background-image: url(../ztimages/csprite.png); background-position: -397px -450px; width: 230px; height: 70px; }

.zt-section1 .container .btn.btn2 { left: 486px; background-image: url(../ztimages/csprite.png); background-position: -159px -371px; width: 230px; height: 71px; }

.zt-section1 .container .btn.btn2 span { display: none; position: absolute; top: -160px; left: 26px; padding-top: 12px; width: 178px; height: 174px; background: url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/code-bg.png) 0 0 no-repeat; }

.zt-section1 .container .btn.btn2 span img { display: block; margin-left: 15px; width: 147px; height: 147px; }

.zt-section1 .container .btn.btn2:hover { background-image: url(../ztimages/csprite.png); background-position: -397px -371px; width: 230px; height: 71px; }

.zt-section1 .container .btn.btn2:hover span { display: block; }

.zt-section1 .container .btn.btn3 { left: 786px; background-image: url(../ztimages/csprite.png); background-position: -635px -371px; width: 230px; height: 70px; }

.zt-section1 .container .btn.btn3:hover { background-image: url(../ztimages/csprite.png); background-position: -873px -371px; width: 230px; height: 70px; }

.zt-section2 { height: 663px; }

.zt-section2 .container .sc-title { margin-bottom: 34px; background-image: url(../ztimages/csprite.png); background-position: 0px -318px; width: 1219px; height: 45px; }

.zt-section2 .container .play { position: relative; display: block; margin: 0 auto 15px; width: 947px; height: 377px; }

.zt-section2 .container .play img { display: block; width: 100%; height: 100%; }

.zt-section2 .container .play span { display: block; position: absolute; left: 411px; top: 124px; width: 127px; height: 128px; }

.zt-section2 .container .play span i { display: block; position: absolute; }

.zt-section2 .container .play span i.icon-r2 { background-image: url(../ztimages/csprite.png); background-position: -159px -528px; width: 127px; height: 128px; -webkit-animation: rotateAnim 8s linear infinite; animation: rotateAnim 8s linear infinite; }

.zt-section2 .container .play span i.icon-r1 { left: 13px; top: 14px; background-image: url(../ztimages/csprite.png); background-position: -294px -528px; width: 100px; height: 101px; -webkit-animation: rotateAnim 8s linear infinite; animation: rotateAnim 8s linear infinite; }

.zt-section2 .container .play span i.icon-r { left: 49px; top: 38px; background-image: url(../ztimages/csprite.png); background-position: -1111px -371px; width: 36px; height: 54px; }

.zt-section2 .container .para { margin: 0 auto; width: 951px; }

.zt-section3 { height: 976px; }

.zt-section3 .container { position: relative; }

.zt-section3 .container .sc-title { margin-bottom: 26px; background-image: url(../ztimages/csprite.png); background-position: 0px -265px; width: 1219px; height: 45px; }

.zt-section3 .container .ztTab { position: relative; width: 1200px; height: 905px; }

.zt-section3 .container .ztTab .ztTabCon li { position: relative; width: 1200px; height: 905px; }

.zt-section3 .container .ztTab .ztTabCon li .imgbg { display: block; position: absolute; left: -28px; top: 69px; width: 1058px; height: 769px; }

.zt-section3 .container .ztTab .ztTabCon li .txt { position: absolute; right: 55px; top: 424px; width: 490px; }

.zt-section3 .container .ztTab .ztTabCon li .txt .loc, .zt-section3 .container .ztTab .ztTabCon li .txt .pos { height: 43px; line-height: 43px; font-size: 20px; color: #444; text-align: center; }

.zt-section3 .container .ztTab .ztTabCon li .txt .loc span, .zt-section3 .container .ztTab .ztTabCon li .txt .pos span { margin-right: 10px; }

.zt-section3 .container .ztTab .ztTabCon li .txt p { margin-top: 15px; line-height: 32px; font-size: 18px; color: #444; }

.zt-section3 .container .ztTab .ztTabNav { position: absolute; left: 521px; top: 0; padding-left: 26px; width: 672px; height: 147px; background: url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/s3-nav.png) 0 0 no-repeat; }

.zt-section3 .container .ztTab .ztTabNav li { cursor: pointer; float: left; margin-right: 1px; width: 80px; height: 147px; background: url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/s3-nav-bd.png) 0 37px no-repeat; }

.zt-section3 .container .ztTab .ztTabNav li span { display: block; padding: 50px 24px 0; line-height: 28px; font-size: 26px; color: #4c4c4c; text-align: center; font-style: italic; font-weight: bold; }

.zt-section3 .container .ztTab .ztTabNav li.cur span { color: #c82f1e; }

.zt-section4 { height: 758px; }

.zt-section4 .container { position: relative; }

.zt-section4 .container .sc-title { margin-bottom: 28px; background-image: url(../ztimages/csprite.png); background-position: 0px -212px; width: 1219px; height: 45px; }

.zt-section4 .container img { display: block; margin: 25px auto 0; }

.zt-section5 { height: 522px; }

.zt-section5 .container { position: relative; }

.zt-section5 .container .sc-title { margin-bottom: 28px; background-image: url(../ztimages/csprite.png); background-position: 0px -159px; width: 1219px; height: 45px; }

.zt-section5 .container img { display: block; margin: 30px auto 40px; }

.zt-section6 { height: 519px; }

.zt-section6 .container { position: relative; }

.zt-section6 .container .sc-title { margin-bottom: 20px; background-image: url(../ztimages/csprite.png); background-position: 0px -106px; width: 1219px; height: 45px; }

.zt-section6 .container img { display: block; margin: 25px auto 35px; }

.zt-section7 { position: relative; height: 942px; background: #4a57a4 url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/s7-bg.png) 0 0 repeat; }

.zt-section7 .container { position: relative; padding-top: 68px; }

.zt-section7 .container .sc-title { margin-bottom: 45px; background-image: url(../ztimages/csprite.png); background-position: 0px -53px; width: 1219px; height: 45px; }

.zt-section7 .container .ztTab { position: relative; width: 1200px; height: 750px; }

.zt-section7 .container .ztTab .ztTabCon li { width: 1200px; height: 618px; }

.zt-section7 .container .ztTab .ztTabCon li img { display: block; margin: 0 auto; width: 1100px; height: 618px; }

.zt-section7 .container .ztTab .ztTabNav { margin-top: 37px; padding-left: 134px; }

.zt-section7 .container .ztTab .ztTabNav li { cursor: pointer; padding: 0 38px; float: left; height: 66px; line-height: 55px; background: url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/s7-nav-bd.png) 0 0 no-repeat; font-size: 26px; color: #fefdfa; font-weight: bold; font-style: italic; }

.zt-section7 .container .ztTab .ztTabNav li.first { background: none; }

.zt-section7 .container .ztTab .ztTabNav li.cur { color: #ffc436; }

.zt-sectionComm { padding-bottom: 30px; height: auto; }

.zt-sectionComm .container { position: relative; padding-top: 84px; }

.zt-sectionComm .container .sc-title { margin-bottom: 30px; background-image: url(../ztimages/csprite.png); background-position: 0px 0px; width: 1219px; height: 45px; }

@-webkit-keyframes rotateAnim { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes rotateAnim { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
