//专题
@import 'comm';
.sc-title{
	margin-left: 13px;
}
.para{
	&.para-center{
		p{
			text-align: center;
		}
	}
	p{
		line-height: 28px;
		font-size: 16px;
		color: #555;
	}
}
.zt-section1{
	height: 933px;
	.container{
		position: relative;
		.bdsharewrap.bdstyle-c{
			position: absolute;
			top: 26px;
			right:0;
			a{
				border-radius: 5px;
			}
		}
		.logo_gs{
			display: block;
			position: absolute;
			left: 0;
			top: 20px;
			width: 139px;
			height: 47px;
			background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-black.png) 0 0 no-repeat;
		}
		.btn{
			display: block;
			position: absolute;
			top: 752px;
			&.btn1{
				left: 185px;
				@include sprite($s1-btn1);
				&:hover{
					@include sprite($s1-btn1-h);
				}
			}
			&.btn2{
				left: 486px;
				@include sprite($s1-btn2);
				span{
					display: none;
					position: absolute;
					top: -160px;
					left: 26px;
					padding-top: 12px;
					width: 178px;
					height: 186px - 12px;
					background: url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/code-bg.png) 0 0 no-repeat;
					img{
						display: block;
						margin-left: 15px;
						width: 147px;
						height: 147px;
					}
				}
				&:hover{
					@include sprite($s1-btn2-h);
					span{
						display: block;
					}
				}
			}
			&.btn3{
				left: 786px;
				@include sprite($s1-btn3);
				&:hover{
					@include sprite($s1-btn3-h);
				}
			}
		}
	}
}
.zt-section2{
	height: 663px;
	.container{
		.sc-title{
			margin-bottom: 34px;
			@include sprite($s2-tit);
		}
		.play{
			position: relative;
			display: block;
			margin: 0 auto 15px;
			width: 947px;
			height: 377px;
			img{
				display: block;
				width: 100%;
				height: 100%;
			}
			span{
				display: block;
				position: absolute;
				left: 411px;
				top: 124px;
				width: 127px;
				height: 128px;
				i{
					display: block;
					position: absolute;
					&.icon-r2{
						@include sprite($s2-play-r2);
						animation:rotateAnim 8s linear infinite;
					}
					&.icon-r1{
						left: 13px;
						top: 14px;
						@include sprite($s2-play-r1);
						animation:rotateAnim 8s linear infinite;
					}
					&.icon-r{
						left: 49px;
						top: 38px;
						@include sprite($s2-play-r);
					}
				}
			}
		}
		.para{
			margin: 0 auto;
			width: 951px;
		}
	}
}
.zt-section3{
	height: 976px;
	.container{
		position: relative;
		.sc-title{
			margin-bottom: 26px;
			@include sprite($s3-tit);
		}
		.ztTab{
			position: relative;
			width: 1200px;
			height: 905px;
			.ztTabCon{
				li{
					position: relative;
					width: 1200px;
					height: 905px;
					.imgbg{
						display: block;
						position: absolute;
						left: -28px;
						top: 69px;
						width: 1058px;
						height: 769px;
					}
					.txt{
						position: absolute;
						right: 55px;
						top: 424px;
						width: 490px;
						.loc,.pos{
							height: 43px;
							line-height: 43px;
							font-size: 20px;
							color: #444;
							text-align: center;
							span{
								margin-right: 10px;
							}
						}
						p{
							margin-top: 15px;
							line-height: 32px;
							font-size: 18px;
							color: #444;
						}
					}
				}
			}
			.ztTabNav{
				position: absolute;
				left: 521px;
				top: 0;
				padding-left: 26px;
				width: 692px - 20px;
				height: 147px;
				background: url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/s3-nav.png) 0 0 no-repeat;
				li{
					cursor: pointer;
					float: left;
					margin-right: 1px;
					width: 80px;
					height: 147px;
					background: url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/s3-nav-bd.png) 0 37px no-repeat;
					span{
						display: block;
						padding: 50px 24px 0;
						line-height: 28px;
						font-size: 26px;
						color: #4c4c4c;
						text-align: center;
						font-style: italic;
						font-weight: bold;
					}
					&.cur{
						span{
							color: #c82f1e;
						}
					}
				}
			}
		}
	}
}
.zt-section4{
	height: 758px;
	.container{
		position: relative;
		.sc-title{
			margin-bottom: 28px;
			@include sprite($s4-tit);
		}
		img{
			display: block;
			margin: 25px auto 0;
		}
	}
}
.zt-section5{
	height: 522px;
	.container{
		position: relative;
		.sc-title{
			margin-bottom: 28px;
			@include sprite($s5-tit);
		}
		img{
			display: block;
			margin: 30px auto 40px;
		}
	}
}
.zt-section6{
	height: 519px;
	.container{
		position: relative;
		.sc-title{
			margin-bottom: 20px;
			@include sprite($s6-tit);
		}
		img{
			display: block;
			margin: 25px auto 35px;
		}
	}
}
.zt-section7{
	position: relative;
	height: 942px;
	background: #4a57a4 url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/s7-bg.png) 0 0 repeat;
	.container{
		position: relative;
		padding-top: 68px;
		.sc-title{
			margin-bottom: 45px;
			@include sprite($s7-tit);
		}
		.ztTab{
			position: relative;
			width: 1200px;
			height: 750px;
			.ztTabCon{
				li{
					width: 1200px;
					height: 618px;
					img{
						display: block;
						margin: 0 auto;
						width: 1100px;
						height: 618px;
					}
				}
			}
			.ztTabNav{
				margin-top: 37px;
				padding-left: 134px;
				li{
					cursor: pointer;
					padding: 0 38px;
					float: left;
					height: 66px;
					line-height: 55px;
					background: url(http://image.gamersky.com/webimg13/zhuanti/yqfsts/s7-nav-bd.png) 0 0 no-repeat;
					font-size: 26px;
					color: #fefdfa;
					font-weight: bold;
					font-style: italic;
					&.first{
						background: none;
					}
					&.cur{
						color: #ffc436;
					}
				}
			}
		}
	}
}
.zt-sectionComm{
	padding-bottom: 30px;
	height:auto;
	.container{
		position: relative;
		padding-top: 84px;
		.sc-title{
			margin-bottom: 30px;
			@include sprite($comm-tit);
		}
	}
}

@keyframes rotateAnim {
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}