// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arr-l-h-name: 'arr-l-h';
$arr-l-h-x: 681px;
$arr-l-h-y: 381px;
$arr-l-h-offset-x: -681px;
$arr-l-h-offset-y: -381px;
$arr-l-h-width: 36px;
$arr-l-h-height: 60px;
$arr-l-h-total-width: 726px;
$arr-l-h-total-height: 622px;
$arr-l-h-image: '../ztimages/csprite.png';
$arr-l-h: (681px, 381px, -681px, -381px, 36px, 60px, 726px, 622px, '../ztimages/csprite.png', 'arr-l-h', );
$arr-l-name: 'arr-l';
$arr-l-x: 549px;
$arr-l-y: 381px;
$arr-l-offset-x: -549px;
$arr-l-offset-y: -381px;
$arr-l-width: 36px;
$arr-l-height: 60px;
$arr-l-total-width: 726px;
$arr-l-total-height: 622px;
$arr-l-image: '../ztimages/csprite.png';
$arr-l: (549px, 381px, -549px, -381px, 36px, 60px, 726px, 622px, '../ztimages/csprite.png', 'arr-l', );
$arr-r-h-name: 'arr-r-h';
$arr-r-h-x: 637px;
$arr-r-h-y: 381px;
$arr-r-h-offset-x: -637px;
$arr-r-h-offset-y: -381px;
$arr-r-h-width: 36px;
$arr-r-h-height: 60px;
$arr-r-h-total-width: 726px;
$arr-r-h-total-height: 622px;
$arr-r-h-image: '../ztimages/csprite.png';
$arr-r-h: (637px, 381px, -637px, -381px, 36px, 60px, 726px, 622px, '../ztimages/csprite.png', 'arr-r-h', );
$arr-r-name: 'arr-r';
$arr-r-x: 593px;
$arr-r-y: 381px;
$arr-r-offset-x: -593px;
$arr-r-offset-y: -381px;
$arr-r-width: 36px;
$arr-r-height: 60px;
$arr-r-total-width: 726px;
$arr-r-total-height: 622px;
$arr-r-image: '../ztimages/csprite.png';
$arr-r: (593px, 381px, -593px, -381px, 36px, 60px, 726px, 622px, '../ztimages/csprite.png', 'arr-r', );
$close-h-name: 'close-h';
$close-h-x: 691px;
$close-h-y: 88px;
$close-h-offset-x: -691px;
$close-h-offset-y: -88px;
$close-h-width: 25px;
$close-h-height: 26px;
$close-h-total-width: 726px;
$close-h-total-height: 622px;
$close-h-image: '../ztimages/csprite.png';
$close-h: (691px, 88px, -691px, -88px, 25px, 26px, 726px, 622px, '../ztimages/csprite.png', 'close-h', );
$close-name: 'close';
$close-x: 691px;
$close-y: 122px;
$close-offset-x: -691px;
$close-offset-y: -122px;
$close-width: 25px;
$close-height: 26px;
$close-total-width: 726px;
$close-total-height: 622px;
$close-image: '../ztimages/csprite.png';
$close: (691px, 122px, -691px, -122px, 25px, 26px, 726px, 622px, '../ztimages/csprite.png', 'close', );
$fx-bg-name: 'fx-bg';
$fx-bg-x: 0px;
$fx-bg-y: 0px;
$fx-bg-offset-x: 0px;
$fx-bg-offset-y: 0px;
$fx-bg-width: 223px;
$fx-bg-height: 410px;
$fx-bg-total-width: 726px;
$fx-bg-total-height: 622px;
$fx-bg-image: '../ztimages/csprite.png';
$fx-bg: (0px, 0px, 0px, 0px, 223px, 410px, 726px, 622px, '../ztimages/csprite.png', 'fx-bg', );
$logo-gf-name: 'logo-gf';
$logo-gf-x: 549px;
$logo-gf-y: 88px;
$logo-gf-offset-x: -549px;
$logo-gf-offset-y: -88px;
$logo-gf-width: 134px;
$logo-gf-height: 84px;
$logo-gf-total-width: 726px;
$logo-gf-total-height: 622px;
$logo-gf-image: '../ztimages/csprite.png';
$logo-gf: (549px, 88px, -549px, -88px, 134px, 84px, 726px, 622px, '../ztimages/csprite.png', 'logo-gf', );
$logo-gs-name: 'logo-gs';
$logo-gs-x: 549px;
$logo-gs-y: 180px;
$logo-gs-offset-x: -549px;
$logo-gs-offset-y: -180px;
$logo-gs-width: 139px;
$logo-gs-height: 45px;
$logo-gs-total-width: 726px;
$logo-gs-total-height: 622px;
$logo-gs-image: '../ztimages/csprite.png';
$logo-gs: (549px, 180px, -549px, -180px, 139px, 45px, 726px, 622px, '../ztimages/csprite.png', 'logo-gs', );
$play-r1-name: 'play-r1';
$play-r1-x: 549px;
$play-r1-y: 319px;
$play-r1-offset-x: -549px;
$play-r1-offset-y: -319px;
$play-r1-width: 54px;
$play-r1-height: 54px;
$play-r1-total-width: 726px;
$play-r1-total-height: 622px;
$play-r1-image: '../ztimages/csprite.png';
$play-r1: (549px, 319px, -549px, -319px, 54px, 54px, 726px, 622px, '../ztimages/csprite.png', 'play-r1', );
$play-r2-name: 'play-r2';
$play-r2-x: 635px;
$play-r2-y: 233px;
$play-r2-offset-x: -635px;
$play-r2-offset-y: -233px;
$play-r2-width: 68px;
$play-r2-height: 68px;
$play-r2-total-width: 726px;
$play-r2-total-height: 622px;
$play-r2-image: '../ztimages/csprite.png';
$play-r2: (635px, 233px, -635px, -233px, 68px, 68px, 726px, 622px, '../ztimages/csprite.png', 'play-r2', );
$play-name: 'play';
$play-x: 549px;
$play-y: 233px;
$play-offset-x: -549px;
$play-offset-y: -233px;
$play-width: 78px;
$play-height: 78px;
$play-total-width: 726px;
$play-total-height: 622px;
$play-image: '../ztimages/csprite.png';
$play: (549px, 233px, -549px, -233px, 78px, 78px, 726px, 622px, '../ztimages/csprite.png', 'play', );
$s1-btn1-h-name: 's1-btn1-h';
$s1-btn1-h-x: 230px;
$s1-btn1-h-y: 494px;
$s1-btn1-h-offset-x: -230px;
$s1-btn1-h-offset-y: -494px;
$s1-btn1-h-width: 222px;
$s1-btn1-h-height: 60px;
$s1-btn1-h-total-width: 726px;
$s1-btn1-h-total-height: 622px;
$s1-btn1-h-image: '../ztimages/csprite.png';
$s1-btn1-h: (230px, 494px, -230px, -494px, 222px, 60px, 726px, 622px, '../ztimages/csprite.png', 's1-btn1-h', );
$s1-btn1-name: 's1-btn1';
$s1-btn1-x: 0px;
$s1-btn1-y: 562px;
$s1-btn1-offset-x: 0px;
$s1-btn1-offset-y: -562px;
$s1-btn1-width: 222px;
$s1-btn1-height: 60px;
$s1-btn1-total-width: 726px;
$s1-btn1-total-height: 622px;
$s1-btn1-image: '../ztimages/csprite.png';
$s1-btn1: (0px, 562px, 0px, -562px, 222px, 60px, 726px, 622px, '../ztimages/csprite.png', 's1-btn1', );
$s1-btn2-h-name: 's1-btn2-h';
$s1-btn2-h-x: 263px;
$s1-btn2-h-y: 418px;
$s1-btn2-h-offset-x: -263px;
$s1-btn2-h-offset-y: -418px;
$s1-btn2-h-width: 255px;
$s1-btn2-h-height: 68px;
$s1-btn2-h-total-width: 726px;
$s1-btn2-h-total-height: 622px;
$s1-btn2-h-image: '../ztimages/csprite.png';
$s1-btn2-h: (263px, 418px, -263px, -418px, 255px, 68px, 726px, 622px, '../ztimages/csprite.png', 's1-btn2-h', );
$s1-btn2-name: 's1-btn2';
$s1-btn2-x: 0px;
$s1-btn2-y: 418px;
$s1-btn2-offset-x: 0px;
$s1-btn2-offset-y: -418px;
$s1-btn2-width: 255px;
$s1-btn2-height: 68px;
$s1-btn2-total-width: 726px;
$s1-btn2-total-height: 622px;
$s1-btn2-image: '../ztimages/csprite.png';
$s1-btn2: (0px, 418px, 0px, -418px, 255px, 68px, 726px, 622px, '../ztimages/csprite.png', 's1-btn2', );
$s1-btn3-h-name: 's1-btn3-h';
$s1-btn3-h-x: 231px;
$s1-btn3-h-y: 301px;
$s1-btn3-h-offset-x: -231px;
$s1-btn3-h-offset-y: -301px;
$s1-btn3-h-width: 255px;
$s1-btn3-h-height: 68px;
$s1-btn3-h-total-width: 726px;
$s1-btn3-h-total-height: 622px;
$s1-btn3-h-image: '../ztimages/csprite.png';
$s1-btn3-h: (231px, 301px, -231px, -301px, 255px, 68px, 726px, 622px, '../ztimages/csprite.png', 's1-btn3-h', );
$s1-btn3-name: 's1-btn3';
$s1-btn3-x: 231px;
$s1-btn3-y: 225px;
$s1-btn3-offset-x: -231px;
$s1-btn3-offset-y: -225px;
$s1-btn3-width: 255px;
$s1-btn3-height: 68px;
$s1-btn3-total-width: 726px;
$s1-btn3-total-height: 622px;
$s1-btn3-image: '../ztimages/csprite.png';
$s1-btn3: (231px, 225px, -231px, -225px, 255px, 68px, 726px, 622px, '../ztimages/csprite.png', 's1-btn3', );
$s1-btn4-h-name: 's1-btn4-h';
$s1-btn4-h-x: 0px;
$s1-btn4-h-y: 494px;
$s1-btn4-h-offset-x: 0px;
$s1-btn4-h-offset-y: -494px;
$s1-btn4-h-width: 222px;
$s1-btn4-h-height: 60px;
$s1-btn4-h-total-width: 726px;
$s1-btn4-h-total-height: 622px;
$s1-btn4-h-image: '../ztimages/csprite.png';
$s1-btn4-h: (0px, 494px, 0px, -494px, 222px, 60px, 726px, 622px, '../ztimages/csprite.png', 's1-btn4-h', );
$s1-btn4-name: 's1-btn4';
$s1-btn4-x: 460px;
$s1-btn4-y: 494px;
$s1-btn4-offset-x: -460px;
$s1-btn4-offset-y: -494px;
$s1-btn4-width: 222px;
$s1-btn4-height: 60px;
$s1-btn4-total-width: 726px;
$s1-btn4-total-height: 622px;
$s1-btn4-image: '../ztimages/csprite.png';
$s1-btn4: (460px, 494px, -460px, -494px, 222px, 60px, 726px, 622px, '../ztimages/csprite.png', 's1-btn4', );
$s1-lt-i-name: 's1-lt-i';
$s1-lt-i-x: 549px;
$s1-lt-i-y: 0px;
$s1-lt-i-offset-x: -549px;
$s1-lt-i-offset-y: 0px;
$s1-lt-i-width: 177px;
$s1-lt-i-height: 80px;
$s1-lt-i-total-width: 726px;
$s1-lt-i-total-height: 622px;
$s1-lt-i-image: '../ztimages/csprite.png';
$s1-lt-i: (549px, 0px, -549px, 0px, 177px, 80px, 726px, 622px, '../ztimages/csprite.png', 's1-lt-i', );
$s1-lt-name: 's1-lt';
$s1-lt-x: 231px;
$s1-lt-y: 89px;
$s1-lt-offset-x: -231px;
$s1-lt-offset-y: -89px;
$s1-lt-width: 195px;
$s1-lt-height: 128px;
$s1-lt-total-width: 726px;
$s1-lt-total-height: 622px;
$s1-lt-image: '../ztimages/csprite.png';
$s1-lt: (231px, 89px, -231px, -89px, 195px, 128px, 726px, 622px, '../ztimages/csprite.png', 's1-lt', );
$s2-btn1-name: 's2-btn1';
$s2-btn1-x: 453px;
$s2-btn1-y: 562px;
$s2-btn1-offset-x: -453px;
$s2-btn1-offset-y: -562px;
$s2-btn1-width: 215px;
$s2-btn1-height: 56px;
$s2-btn1-total-width: 726px;
$s2-btn1-total-height: 622px;
$s2-btn1-image: '../ztimages/csprite.png';
$s2-btn1: (453px, 562px, -453px, -562px, 215px, 56px, 726px, 622px, '../ztimages/csprite.png', 's2-btn1', );
$s2-btn2-name: 's2-btn2';
$s2-btn2-x: 230px;
$s2-btn2-y: 562px;
$s2-btn2-offset-x: -230px;
$s2-btn2-offset-y: -562px;
$s2-btn2-width: 215px;
$s2-btn2-height: 56px;
$s2-btn2-total-width: 726px;
$s2-btn2-total-height: 622px;
$s2-btn2-image: '../ztimages/csprite.png';
$s2-btn2: (230px, 562px, -230px, -562px, 215px, 56px, 726px, 622px, '../ztimages/csprite.png', 's2-btn2', );
$s2-btn3-name: 's2-btn3';
$s2-btn3-x: 231px;
$s2-btn3-y: 0px;
$s2-btn3-offset-x: -231px;
$s2-btn3-offset-y: 0px;
$s2-btn3-width: 310px;
$s2-btn3-height: 81px;
$s2-btn3-total-width: 726px;
$s2-btn3-total-height: 622px;
$s2-btn3-image: '../ztimages/csprite.png';
$s2-btn3: (231px, 0px, -231px, 0px, 310px, 81px, 726px, 622px, '../ztimages/csprite.png', 's2-btn3', );
$spritesheet-width: 726px;
$spritesheet-height: 622px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($arr-l-h, $arr-l, $arr-r-h, $arr-r, $close-h, $close, $fx-bg, $logo-gf, $logo-gs, $play-r1, $play-r2, $play, $s1-btn1-h, $s1-btn1, $s1-btn2-h, $s1-btn2, $s1-btn3-h, $s1-btn3, $s1-btn4-h, $s1-btn4, $s1-lt-i, $s1-lt, $s2-btn1, $s2-btn2, $s2-btn3, );
$spritesheet: (726px, 622px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
