.bdsharewrap.bdstyle-c { width: 255px; height: 33px; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox { width: 800px; height: 33px; *font-size: 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after, .bdsharewrap.bdstyle-c .bdsharebuttonbox.before { display: table; content: " "; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after { clear: both; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a { float: left; margin: 0 4px 0 0; padding: 0; display: inline-block; *display: inline; *zoom: 1; width: 33px; height: 33px; background: url("http://image.gamersky.com/webimg13/zhuanti/common/fx9.png") 0 0 no-repeat; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tsina { background-position: 0 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_weixin { background-position: -37px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_qzone { background-position: -74px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_renren { background-position: -111px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_sqq { background-position: -148px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tieba { display: none; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_douban { display: none; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_more { background-position: -185px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_count { background-position: -222px 0; font-size: 14px; text-align: center; line-height: 33px; color: #fefefe; }

html, body { min-width: 1280px; }

body { font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }

h1, h2, h3, h4, h5, p, ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; cursor: pointer; }

.clearfix:before, .clearfix:after, .container:before, .container:after { display: table; content: " "; }

.clearfix:after, .container:after { clear: both; }

.container { margin-right: auto; margin-left: auto; width: 1200px; }

.zt-section { margin: 0; padding: 0; overflow: hidden; width: 100%; min-width: 1200px; }

.QZnav { min-width: 1200px; }

.QZnav .topbar { width: 1200px; }

.QZnav .QZ-nav { display: none; }

.Bot { width: 100%; min-width: 1200px; height: 155px; background: #111; font-size: 14px; }

.Bot .Copyright { margin: 0 auto; padding-top: 50px; width: 1200px; height: auto; line-height: 30px; text-align: center; color: #555; }

.Bot .Copyright a { margin: 0 5px; color: #555; }

.Bot .Copyright a:hover { color: #777; }

.gsPopupMask { position: fixed; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background: url(http://image.gamersky.com/webimg13/zhuanti/common/black80.png) 0 0 repeat; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopupMask.cur { opacity: 1; visibility: visible; }

.gsPopup { z-index: 99999; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopup .gsPopupCon { width: 100%; height: 100%; background-color: #000; }

.gsPopup .gsPopupCon img { display: block; }

.gsPopup .gsPopupCon video { display: block; width: 100%; height: 100%; }

.gsPopup .gsPopupClose { position: absolute; top: 0; right: -50px; overflow: hidden; width: 38px; height: 38px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/gsPopupClose.png) 5px 5px no-repeat; }

.gsPopup .gsPopupClose:hover { background-position: -33px 5px; }

.gsPopup.cur { opacity: 1; visibility: visible; }

.fx-code { position: absolute; left: 50%; margin-left: 605px; top: 948px; background-image: url(../ztimages/csprite.png); background-position: 0px -507px; width: 142px; height: 203px; }

.fx-code.cur { position: fixed; top: 50%; margin-top: -102px; }

.fx-code .fx-con { padding: 12px 15px 0 17px; width: 110px; }

.fx-code .fx-con img { display: block; margin-bottom: 2px; width: 110px; height: 110px; }

.fx-code .fx-con p { line-height: 22px; font-size: 15px; color: #fbe6a4; text-align: center; }

.zt-section1 { height: 900px; background: url(http://image.gamersky.com/webimg13/zhuanti/hxqmx10v10/zt-bg1.jpg) center 0 no-repeat; }

.zt-section1 .container { position: relative; }

.zt-section1 .container .bdsharewrap.bdstyle-c { position: absolute; top: 49px; right: 0; }

.zt-section1 .container .bdsharewrap.bdstyle-c a { border-radius: 5px; }

.zt-section1 .container .logo_gs { display: block; position: absolute; left: 0; top: 27px; width: 139px; height: 47px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-white2.png) 0 0 no-repeat; }

.zt-section2 { height: 580px; background: url(http://image.gamersky.com/webimg13/zhuanti/hxqmx10v10/zt-bg2.jpg) center 0 no-repeat; }

.zt-section2 .container { position: relative; padding-top: 370px; }

.zt-section2 .container .btn { display: block; position: absolute; }

.zt-section2 .container .btn.btn1 { left: 58px; top: 162px; background-image: url(../ztimages/csprite.png); background-position: -584px -157px; width: 264px; height: 149px; }

.zt-section2 .container .btn.btn1:hover { background-image: url(../ztimages/csprite.png); background-position: -584px 0px; width: 264px; height: 149px; }

.zt-section2 .container .btn.btn2 { top: 121px; left: 325px; background-image: url(../ztimages/csprite.png); background-position: -291px -171px; width: 283px; height: 157px; }

.zt-section2 .container .btn.btn2:hover { background-image: url(../ztimages/csprite.png); background-position: 0px -171px; width: 283px; height: 157px; }

.zt-section2 .container .btn.btn3 { top: 81px; left: 600px; background-image: url(../ztimages/csprite.png); background-position: -292px 0px; width: 284px; height: 163px; }

.zt-section2 .container .btn.btn3:hover { background-image: url(../ztimages/csprite.png); background-position: 0px 0px; width: 284px; height: 163px; }

.zt-section2 .container .btn.btn4 { top: 44px; left: 883px; background-image: url(../ztimages/csprite.png); background-position: -266px -336px; width: 258px; height: 163px; }

.zt-section2 .container .btn.btn4:hover { background-image: url(../ztimages/csprite.png); background-position: 0px -336px; width: 258px; height: 163px; }

.zt-section2 .container .play { display: block; position: absolute; top: 239px; left: 905px; background-image: url(../ztimages/csprite.png); background-position: -112px -718px; width: 104px; height: 104px; }

.zt-section2 .container .play:hover { background-image: url(../ztimages/csprite.png); background-position: 0px -718px; width: 104px; height: 104px; }

.zt-section2 .container .para { margin-left: 178px; width: 860px; }

.zt-section2 .container .para p { line-height: 30px; font-size: 16px; color: #fffcf1; }

@-webkit-keyframes handAnim { 0% { -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0);
    opacity: 0; }
  50% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);
    opacity: 1; }
  100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);
    opacity: 0; } }

@keyframes handAnim { 0% { -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0);
    opacity: 0; }
  50% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);
    opacity: 1; }
  100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);
    opacity: 0; } }

@-webkit-keyframes handRound { 0% { -webkit-transform: scale(1); transform: scale(1);
    opacity: 0; }
  49% { -webkit-transform: scale(1); transform: scale(1);
    opacity: 0; }
  50% { -webkit-transform: scale(1); transform: scale(1);
    opacity: 1; }
  100% { -webkit-transform: scale(1.5); transform: scale(1.5);
    opacity: 0; } }

@keyframes handRound { 0% { -webkit-transform: scale(1); transform: scale(1);
    opacity: 0; }
  49% { -webkit-transform: scale(1); transform: scale(1);
    opacity: 0; }
  50% { -webkit-transform: scale(1); transform: scale(1);
    opacity: 1; }
  100% { -webkit-transform: scale(1.5); transform: scale(1.5);
    opacity: 0; } }

@-webkit-keyframes handRoundHide { 0% { opacity: 1;
    visibility: visible; }
  100% { visibility: hidden;
    opacity: 0; } }

@keyframes handRoundHide { 0% { opacity: 1;
    visibility: visible; }
  100% { visibility: hidden;
    opacity: 0; } }

.zt-section3 { height: 560px; background: url(http://image.gamersky.com/webimg13/zhuanti/hxqmx10v10/zt-bg3.jpg) center 0 no-repeat; }

.zt-section3 .container { position: relative; padding-top: 120px; }

.zt-section3 .container .btn { display: block; position: absolute; }

.zt-section3 .container .btn .hand { display: block; position: absolute; background-image: url(../ztimages/csprite.png); background-position: -584px -438px; width: 33px; height: 43px; -webkit-animation: handAnim 1.2s ease-in-out infinite; animation: handAnim 1.2s ease-in-out infinite; }

.zt-section3 .container .btn .round1 { display: block; position: absolute; background-image: url(../ztimages/csprite.png); background-position: -828px -314px; width: 20px; height: 20px; -webkit-animation: handRound 1.2s ease-in-out infinite; animation: handRound 1.2s ease-in-out infinite; }

.zt-section3 .container .btn .round2 { display: block; position: absolute; background-image: url(../ztimages/csprite.png); background-position: -625px -438px; width: 30px; height: 30px; -webkit-animation: handRoundHide 0.1s ease-in-out 1 both; animation: handRoundHide 0.1s ease-in-out 1 both; }

.zt-section3 .container .btn.btn1 { top: 130px; left: 474px; background-image: url(../ztimages/csprite.png); background-position: -150px -507px; width: 236px; height: 116px; }

.zt-section3 .container .btn.btn1 .hand { left: 210px; top: 77px; }

.zt-section3 .container .btn.btn1 .round1 { left: 211px; top: 68px; }

.zt-section3 .container .btn.btn1 .round2 { left: 206px; top: 63px; }

.zt-section3 .container .btn.btn2 { cursor: default; top: 252px; left: 464px; background-image: url(../ztimages/csprite.png); background-position: -394px -507px; width: 241px; height: 97px; }

.zt-section3 .container .btn.btn3 { top: 363px; left: 474px; background-image: url(../ztimages/csprite.png); background-position: -584px -314px; width: 236px; height: 116px; }

.zt-section3 .container .btn.btn3 .hand { left: -2px; top: 97px; }

.zt-section3 .container .btn.btn3 .round1 { left: -1px; top: 88px; }

.zt-section3 .container .btn.btn3 .round2 { left: -6px; top: 83px; }

.zt-section3 .container .huodong { float: left; width: 400px; }

.zt-section3 .container .huodong h5 { margin-bottom: 5px; height: 36px; line-height: 36px; font-size: 18px; color: #ecd07b; }

.zt-section3 .container .huodong p { margin-bottom: 15px; font-size: 16px; color: #fffcf1; }

.zt-section3 .container .huodong p b { font-size: 20px; font-weight: bold; }

.zt-section3 .container .huodong .gifts { padding-top: 5px; }

.zt-section3 .container .huodong .gifts img { display: block; float: left; width: 200px; height: 125px; }

.zt-section3 .container .huodong .gifts ul { display: block; float: left; margin-left: 15px; width: 170px; }

.zt-section3 .container .huodong .gifts ul li { position: relative; padding-left: 10px; line-height: 30px; font-size: 16px; color: #fffcf1; background: url(http://image.gamersky.com/webimg13/zhuanti/hxqmx10v10/s3-dot.png) 0 center no-repeat; }

.zt-section3 .container .rule { float: left; margin-left: 390px; width: 400px; }

.zt-section3 .container .rule h5 { margin-bottom: 5px; height: 36px; line-height: 36px; font-size: 18px; color: #ecd07b; }

.zt-section3 .container .rule ul li { position: relative; line-height: 30px; font-size: 16px; color: #fffcf1; }

.zt-section3 .container .rule ul li i { display: block; float: left; margin-right: 10px; width: 22px; height: 30px; line-height: 30px; font-size: 16px; color: #fffcf1; font-style: normal; text-align: center; background: url(http://image.gamersky.com/webimg13/zhuanti/hxqmx10v10/s3-num.png) 0 center no-repeat; }

.zt-section4 { height: 812px; background: url(http://image.gamersky.com/webimg13/zhuanti/hxqmx10v10/zt-bg4.jpg) center 0 no-repeat; }

.zt-section4 .container { padding-top: 128px; }

.zt-section4 .container .ztSldwrap { position: relative; width: 1200px; height: 633px; }

.zt-section4 .container .ztSldwrap .ztSld { position: relative; margin: 0 auto; width: 1020px; height: 575px; }

.zt-section4 .container .ztSldwrap .ztSld .ztSldCon li { position: relative; width: 1020px; height: 575px; }

.zt-section4 .container .ztSldwrap .ztSld .ztSldCon li img { display: block; width: 100%; height: 100%; }

.zt-section4 .container .ztSldwrap .ztSld i { display: block; position: absolute; left: 0; top: 0; z-index: 10; width: 1014px; height: 569px; border: 3px solid #000; }

.zt-section4 .container .ztSldwrap .ztSldArr { display: block; position: absolute; top: 222px; }

.zt-section4 .container .ztSldwrap .ztSldArr.ztSldArrP { left: 30px; background-image: url(../ztimages/csprite.png); background-position: -643px -507px; width: 43px; height: 86px; }

.zt-section4 .container .ztSldwrap .ztSldArr.ztSldArrP:hover { background-position: -532px -336px; }

.zt-section4 .container .ztSldwrap .ztSldArr.ztSldArrN { right: 30px; background-image: url(../ztimages/csprite.png); background-position: -694px -507px; width: 42px; height: 85px; }

.zt-section4 .container .ztSldwrap .ztSldArr.ztSldArrN:hover { background-position: -744px -507px; }
