// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arr-l-h-name: 'arr-l-h';
$arr-l-h-x: 0px;
$arr-l-h-y: 1084px;
$arr-l-h-offset-x: 0px;
$arr-l-h-offset-y: -1084px;
$arr-l-h-width: 51px;
$arr-l-h-height: 66px;
$arr-l-h-total-width: 1179px;
$arr-l-h-total-height: 1150px;
$arr-l-h-image: '../ztimages/csprite.png';
$arr-l-h: (0px, 1084px, 0px, -1084px, 51px, 66px, 1179px, 1150px, '../ztimages/csprite.png', 'arr-l-h', );
$arr-l-name: 'arr-l';
$arr-l-x: 118px;
$arr-l-y: 1084px;
$arr-l-offset-x: -118px;
$arr-l-offset-y: -1084px;
$arr-l-width: 51px;
$arr-l-height: 66px;
$arr-l-total-width: 1179px;
$arr-l-total-height: 1150px;
$arr-l-image: '../ztimages/csprite.png';
$arr-l: (118px, 1084px, -118px, -1084px, 51px, 66px, 1179px, 1150px, '../ztimages/csprite.png', 'arr-l', );
$arr-r-h-name: 'arr-r-h';
$arr-r-h-x: 59px;
$arr-r-h-y: 1084px;
$arr-r-h-offset-x: -59px;
$arr-r-h-offset-y: -1084px;
$arr-r-h-width: 51px;
$arr-r-h-height: 66px;
$arr-r-h-total-width: 1179px;
$arr-r-h-total-height: 1150px;
$arr-r-h-image: '../ztimages/csprite.png';
$arr-r-h: (59px, 1084px, -59px, -1084px, 51px, 66px, 1179px, 1150px, '../ztimages/csprite.png', 'arr-r-h', );
$arr-r-name: 'arr-r';
$arr-r-x: 177px;
$arr-r-y: 1084px;
$arr-r-offset-x: -177px;
$arr-r-offset-y: -1084px;
$arr-r-width: 51px;
$arr-r-height: 66px;
$arr-r-total-width: 1179px;
$arr-r-total-height: 1150px;
$arr-r-image: '../ztimages/csprite.png';
$arr-r: (177px, 1084px, -177px, -1084px, 51px, 66px, 1179px, 1150px, '../ztimages/csprite.png', 'arr-r', );
$arr2-l-h-name: 'arr2-l-h';
$arr2-l-h-x: 174px;
$arr2-l-h-y: 951px;
$arr2-l-h-offset-x: -174px;
$arr2-l-h-offset-y: -951px;
$arr2-l-h-width: 50px;
$arr2-l-h-height: 125px;
$arr2-l-h-total-width: 1179px;
$arr2-l-h-total-height: 1150px;
$arr2-l-h-image: '../ztimages/csprite.png';
$arr2-l-h: (174px, 951px, -174px, -951px, 50px, 125px, 1179px, 1150px, '../ztimages/csprite.png', 'arr2-l-h', );
$arr2-l-name: 'arr2-l';
$arr2-l-x: 116px;
$arr2-l-y: 951px;
$arr2-l-offset-x: -116px;
$arr2-l-offset-y: -951px;
$arr2-l-width: 50px;
$arr2-l-height: 125px;
$arr2-l-total-width: 1179px;
$arr2-l-total-height: 1150px;
$arr2-l-image: '../ztimages/csprite.png';
$arr2-l: (116px, 951px, -116px, -951px, 50px, 125px, 1179px, 1150px, '../ztimages/csprite.png', 'arr2-l', );
$arr2-r-h-name: 'arr2-r-h';
$arr2-r-h-x: 58px;
$arr2-r-h-y: 951px;
$arr2-r-h-offset-x: -58px;
$arr2-r-h-offset-y: -951px;
$arr2-r-h-width: 50px;
$arr2-r-h-height: 125px;
$arr2-r-h-total-width: 1179px;
$arr2-r-h-total-height: 1150px;
$arr2-r-h-image: '../ztimages/csprite.png';
$arr2-r-h: (58px, 951px, -58px, -951px, 50px, 125px, 1179px, 1150px, '../ztimages/csprite.png', 'arr2-r-h', );
$arr2-r-name: 'arr2-r';
$arr2-r-x: 0px;
$arr2-r-y: 951px;
$arr2-r-offset-x: 0px;
$arr2-r-offset-y: -951px;
$arr2-r-width: 50px;
$arr2-r-height: 125px;
$arr2-r-total-width: 1179px;
$arr2-r-total-height: 1150px;
$arr2-r-image: '../ztimages/csprite.png';
$arr2-r: (0px, 951px, 0px, -951px, 50px, 125px, 1179px, 1150px, '../ztimages/csprite.png', 'arr2-r', );
$bb-arr-l-name: 'bb-arr-l';
$bb-arr-l-x: 1142px;
$bb-arr-l-y: 786px;
$bb-arr-l-offset-x: -1142px;
$bb-arr-l-offset-y: -786px;
$bb-arr-l-width: 21px;
$bb-arr-l-height: 16px;
$bb-arr-l-total-width: 1179px;
$bb-arr-l-total-height: 1150px;
$bb-arr-l-image: '../ztimages/csprite.png';
$bb-arr-l: (1142px, 786px, -1142px, -786px, 21px, 16px, 1179px, 1150px, '../ztimages/csprite.png', 'bb-arr-l', );
$bb-arr-r-name: 'bb-arr-r';
$bb-arr-r-x: 1142px;
$bb-arr-r-y: 734px;
$bb-arr-r-offset-x: -1142px;
$bb-arr-r-offset-y: -734px;
$bb-arr-r-width: 22px;
$bb-arr-r-height: 17px;
$bb-arr-r-total-width: 1179px;
$bb-arr-r-total-height: 1150px;
$bb-arr-r-image: '../ztimages/csprite.png';
$bb-arr-r: (1142px, 734px, -1142px, -734px, 22px, 17px, 1179px, 1150px, '../ztimages/csprite.png', 'bb-arr-r', );
$bb-buy-name: 'bb-buy';
$bb-buy-x: 873px;
$bb-buy-y: 644px;
$bb-buy-offset-x: -873px;
$bb-buy-offset-y: -644px;
$bb-buy-width: 201px;
$bb-buy-height: 58px;
$bb-buy-total-width: 1179px;
$bb-buy-total-height: 1150px;
$bb-buy-image: '../ztimages/csprite.png';
$bb-buy: (873px, 644px, -873px, -644px, 201px, 58px, 1179px, 1150px, '../ztimages/csprite.png', 'bb-buy', );
$close-h-name: 'close-h';
$close-h-x: 740px;
$close-h-y: 880px;
$close-h-offset-x: -740px;
$close-h-offset-y: -880px;
$close-h-width: 40px;
$close-h-height: 40px;
$close-h-total-width: 1179px;
$close-h-total-height: 1150px;
$close-h-image: '../ztimages/csprite.png';
$close-h: (740px, 880px, -740px, -880px, 40px, 40px, 1179px, 1150px, '../ztimages/csprite.png', 'close-h', );
$close-name: 'close';
$close-x: 1082px;
$close-y: 644px;
$close-offset-x: -1082px;
$close-offset-y: -644px;
$close-width: 40px;
$close-height: 40px;
$close-total-width: 1179px;
$close-total-height: 1150px;
$close-image: '../ztimages/csprite.png';
$close: (1082px, 644px, -1082px, -644px, 40px, 40px, 1179px, 1150px, '../ztimages/csprite.png', 'close', );
$fx-line-name: 'fx-line';
$fx-line-x: 820px;
$fx-line-y: 806px;
$fx-line-offset-x: -820px;
$fx-line-offset-y: -806px;
$fx-line-width: 79px;
$fx-line-height: 1px;
$fx-line-total-width: 1179px;
$fx-line-total-height: 1150px;
$fx-line-image: '../ztimages/csprite.png';
$fx-line: (820px, 806px, -820px, -806px, 79px, 1px, 1179px, 1150px, '../ztimages/csprite.png', 'fx-line', );
$gs-dgy-name: 'gs-dgy';
$gs-dgy-x: 980px;
$gs-dgy-y: 713px;
$gs-dgy-offset-x: -980px;
$gs-dgy-offset-y: -713px;
$gs-dgy-width: 152px;
$gs-dgy-height: 52px;
$gs-dgy-total-width: 1179px;
$gs-dgy-total-height: 1150px;
$gs-dgy-image: '../ztimages/csprite.png';
$gs-dgy: (980px, 713px, -980px, -713px, 152px, 52px, 1179px, 1150px, '../ztimages/csprite.png', 'gs-dgy', );
$ht-h5-name: 'ht-h5';
$ht-h5-x: 978px;
$ht-h5-y: 773px;
$ht-h5-offset-x: -978px;
$ht-h5-offset-y: -773px;
$ht-h5-width: 150px;
$ht-h5-height: 25px;
$ht-h5-total-width: 1179px;
$ht-h5-total-height: 1150px;
$ht-h5-image: '../ztimages/csprite.png';
$ht-h5: (978px, 773px, -978px, -773px, 150px, 25px, 1179px, 1150px, '../ztimages/csprite.png', 'ht-h5', );
$ht-line-name: 'ht-line';
$ht-line-x: 1142px;
$ht-line-y: 604px;
$ht-line-offset-x: -1142px;
$ht-line-offset-y: -604px;
$ht-line-width: 36px;
$ht-line-height: 60px;
$ht-line-total-width: 1179px;
$ht-line-total-height: 1150px;
$ht-line-image: '../ztimages/csprite.png';
$ht-line: (1142px, 604px, -1142px, -604px, 36px, 60px, 1179px, 1150px, '../ztimages/csprite.png', 'ht-line', );
$inner-nav-light-name: 'inner-nav-light';
$inner-nav-light-x: 606px;
$inner-nav-light-y: 644px;
$inner-nav-light-offset-x: -606px;
$inner-nav-light-offset-y: -644px;
$inner-nav-light-width: 259px;
$inner-nav-light-height: 61px;
$inner-nav-light-total-width: 1179px;
$inner-nav-light-total-height: 1150px;
$inner-nav-light-image: '../ztimages/csprite.png';
$inner-nav-light: (606px, 644px, -606px, -644px, 259px, 61px, 1179px, 1150px, '../ztimages/csprite.png', 'inner-nav-light', );
$jb-cpt-name: 'jb-cpt';
$jb-cpt-x: 820px;
$jb-cpt-y: 773px;
$jb-cpt-offset-x: -820px;
$jb-cpt-offset-y: -773px;
$jb-cpt-width: 150px;
$jb-cpt-height: 25px;
$jb-cpt-total-width: 1179px;
$jb-cpt-total-height: 1150px;
$jb-cpt-image: '../ztimages/csprite.png';
$jb-cpt: (820px, 773px, -820px, -773px, 150px, 25px, 1179px, 1150px, '../ztimages/csprite.png', 'jb-cpt', );
$logo-dgy-name: 'logo-dgy';
$logo-dgy-x: 606px;
$logo-dgy-y: 880px;
$logo-dgy-offset-x: -606px;
$logo-dgy-offset-y: -880px;
$logo-dgy-width: 126px;
$logo-dgy-height: 56px;
$logo-dgy-total-width: 1179px;
$logo-dgy-total-height: 1150px;
$logo-dgy-image: '../ztimages/csprite.png';
$logo-dgy: (606px, 880px, -606px, -880px, 126px, 56px, 1179px, 1150px, '../ztimages/csprite.png', 'logo-dgy', );
$logo-gf-name: 'logo-gf';
$logo-gf-x: 0px;
$logo-gf-y: 644px;
$logo-gf-offset-x: 0px;
$logo-gf-offset-y: -644px;
$logo-gf-width: 270px;
$logo-gf-height: 299px;
$logo-gf-total-width: 1179px;
$logo-gf-total-height: 1150px;
$logo-gf-image: '../ztimages/csprite.png';
$logo-gf: (0px, 644px, 0px, -644px, 270px, 299px, 1179px, 1150px, '../ztimages/csprite.png', 'logo-gf', );
$logo-gs-name: 'logo-gs';
$logo-gs-x: 766px;
$logo-gs-y: 820px;
$logo-gs-offset-x: -766px;
$logo-gs-offset-y: -820px;
$logo-gs-width: 139px;
$logo-gs-height: 45px;
$logo-gs-total-width: 1179px;
$logo-gs-total-height: 1150px;
$logo-gs-image: '../ztimages/csprite.png';
$logo-gs: (766px, 820px, -766px, -820px, 139px, 45px, 1179px, 1150px, '../ztimages/csprite.png', 'logo-gs', );
$nav-line-name: 'nav-line';
$nav-line-x: 1142px;
$nav-line-y: 810px;
$nav-line-offset-x: -1142px;
$nav-line-offset-y: -810px;
$nav-line-width: 9px;
$nav-line-height: 20px;
$nav-line-total-width: 1179px;
$nav-line-total-height: 1150px;
$nav-line-image: '../ztimages/csprite.png';
$nav-line: (1142px, 810px, -1142px, -810px, 9px, 20px, 1179px, 1150px, '../ztimages/csprite.png', 'nav-line', );
$phm-tab-nav-h-name: 'phm-tab-nav-h';
$phm-tab-nav-h-x: 913px;
$phm-tab-nav-h-y: 820px;
$phm-tab-nav-h-offset-x: -913px;
$phm-tab-nav-h-offset-y: -820px;
$phm-tab-nav-h-width: 103px;
$phm-tab-nav-h-height: 37px;
$phm-tab-nav-h-total-width: 1179px;
$phm-tab-nav-h-total-height: 1150px;
$phm-tab-nav-h-image: '../ztimages/csprite.png';
$phm-tab-nav-h: (913px, 820px, -913px, -820px, 103px, 37px, 1179px, 1150px, '../ztimages/csprite.png', 'phm-tab-nav-h', );
$phm-tab-nav-name: 'phm-tab-nav';
$phm-tab-nav-x: 1024px;
$phm-tab-nav-y: 820px;
$phm-tab-nav-offset-x: -1024px;
$phm-tab-nav-offset-y: -820px;
$phm-tab-nav-width: 103px;
$phm-tab-nav-height: 37px;
$phm-tab-nav-total-width: 1179px;
$phm-tab-nav-total-height: 1150px;
$phm-tab-nav-image: '../ztimages/csprite.png';
$phm-tab-nav: (1024px, 820px, -1024px, -820px, 103px, 37px, 1179px, 1150px, '../ztimages/csprite.png', 'phm-tab-nav', );
$phm-vd-arr-h-name: 'phm-vd-arr-h';
$phm-vd-arr-h-x: 457px;
$phm-vd-arr-h-y: 951px;
$phm-vd-arr-h-offset-x: -457px;
$phm-vd-arr-h-offset-y: -951px;
$phm-vd-arr-h-width: 65px;
$phm-vd-arr-h-height: 65px;
$phm-vd-arr-h-total-width: 1179px;
$phm-vd-arr-h-total-height: 1150px;
$phm-vd-arr-h-image: '../ztimages/csprite.png';
$phm-vd-arr-h: (457px, 951px, -457px, -951px, 65px, 65px, 1179px, 1150px, '../ztimages/csprite.png', 'phm-vd-arr-h', );
$phm-vd-arr-name: 'phm-vd-arr';
$phm-vd-arr-x: 384px;
$phm-vd-arr-y: 951px;
$phm-vd-arr-offset-x: -384px;
$phm-vd-arr-offset-y: -951px;
$phm-vd-arr-width: 65px;
$phm-vd-arr-height: 65px;
$phm-vd-arr-total-width: 1179px;
$phm-vd-arr-total-height: 1150px;
$phm-vd-arr-image: '../ztimages/csprite.png';
$phm-vd-arr: (384px, 951px, -384px, -951px, 65px, 65px, 1179px, 1150px, '../ztimages/csprite.png', 'phm-vd-arr', );
$pic-bd3-h-name: 'pic-bd3-h';
$pic-bd3-h-x: 278px;
$pic-bd3-h-y: 644px;
$pic-bd3-h-offset-x: -278px;
$pic-bd3-h-offset-y: -644px;
$pic-bd3-h-width: 156px;
$pic-bd3-h-height: 295px;
$pic-bd3-h-total-width: 1179px;
$pic-bd3-h-total-height: 1150px;
$pic-bd3-h-image: '../ztimages/csprite.png';
$pic-bd3-h: (278px, 644px, -278px, -644px, 156px, 295px, 1179px, 1150px, '../ztimages/csprite.png', 'pic-bd3-h', );
$pic-bd3-name: 'pic-bd3';
$pic-bd3-x: 442px;
$pic-bd3-y: 644px;
$pic-bd3-offset-x: -442px;
$pic-bd3-offset-y: -644px;
$pic-bd3-width: 156px;
$pic-bd3-height: 295px;
$pic-bd3-total-width: 1179px;
$pic-bd3-total-height: 1150px;
$pic-bd3-image: '../ztimages/csprite.png';
$pic-bd3: (442px, 644px, -442px, -644px, 156px, 295px, 1179px, 1150px, '../ztimages/csprite.png', 'pic-bd3', );
$play-h-name: 'play-h';
$play-h-x: 606px;
$play-h-y: 713px;
$play-h-offset-x: -606px;
$play-h-offset-y: -713px;
$play-h-width: 99px;
$play-h-height: 99px;
$play-h-total-width: 1179px;
$play-h-total-height: 1150px;
$play-h-image: '../ztimages/csprite.png';
$play-h: (606px, 713px, -606px, -713px, 99px, 99px, 1179px, 1150px, '../ztimages/csprite.png', 'play-h', );
$play-name: 'play';
$play-x: 713px;
$play-y: 713px;
$play-offset-x: -713px;
$play-offset-y: -713px;
$play-width: 99px;
$play-height: 99px;
$play-total-width: 1179px;
$play-total-height: 1150px;
$play-image: '../ztimages/csprite.png';
$play: (713px, 713px, -713px, -713px, 99px, 99px, 1179px, 1150px, '../ztimages/csprite.png', 'play', );
$txt-dot-name: 'txt-dot';
$txt-dot-x: 1142px;
$txt-dot-y: 759px;
$txt-dot-offset-x: -1142px;
$txt-dot-offset-y: -759px;
$txt-dot-width: 19px;
$txt-dot-height: 19px;
$txt-dot-total-width: 1179px;
$txt-dot-total-height: 1150px;
$txt-dot-image: '../ztimages/csprite.png';
$txt-dot: (1142px, 759px, -1142px, -759px, 19px, 19px, 1179px, 1150px, '../ztimages/csprite.png', 'txt-dot', );
$wj-nav-c-name: 'wj-nav-c';
$wj-nav-c-x: 232px;
$wj-nav-c-y: 951px;
$wj-nav-c-offset-x: -232px;
$wj-nav-c-offset-y: -951px;
$wj-nav-c-width: 68px;
$wj-nav-c-height: 68px;
$wj-nav-c-total-width: 1179px;
$wj-nav-c-total-height: 1150px;
$wj-nav-c-image: '../ztimages/csprite.png';
$wj-nav-c: (232px, 951px, -232px, -951px, 68px, 68px, 1179px, 1150px, '../ztimages/csprite.png', 'wj-nav-c', );
$wj-nav-name: 'wj-nav';
$wj-nav-x: 308px;
$wj-nav-y: 951px;
$wj-nav-offset-x: -308px;
$wj-nav-offset-y: -951px;
$wj-nav-width: 68px;
$wj-nav-height: 68px;
$wj-nav-total-width: 1179px;
$wj-nav-total-height: 1150px;
$wj-nav-image: '../ztimages/csprite.png';
$wj-nav: (308px, 951px, -308px, -951px, 68px, 68px, 1179px, 1150px, '../ztimages/csprite.png', 'wj-nav', );
$wq-nav-h-name: 'wq-nav-h';
$wq-nav-h-x: 1142px;
$wq-nav-h-y: 342px;
$wq-nav-h-offset-x: -1142px;
$wq-nav-h-offset-y: -342px;
$wq-nav-h-width: 37px;
$wq-nav-h-height: 123px;
$wq-nav-h-total-width: 1179px;
$wq-nav-h-total-height: 1150px;
$wq-nav-h-image: '../ztimages/csprite.png';
$wq-nav-h: (1142px, 342px, -1142px, -342px, 37px, 123px, 1179px, 1150px, '../ztimages/csprite.png', 'wq-nav-h', );
$wq-nav-long-h-name: 'wq-nav-long-h';
$wq-nav-long-h-x: 1142px;
$wq-nav-long-h-y: 171px;
$wq-nav-long-h-offset-x: -1142px;
$wq-nav-long-h-offset-y: -171px;
$wq-nav-long-h-width: 37px;
$wq-nav-long-h-height: 163px;
$wq-nav-long-h-total-width: 1179px;
$wq-nav-long-h-total-height: 1150px;
$wq-nav-long-h-image: '../ztimages/csprite.png';
$wq-nav-long-h: (1142px, 171px, -1142px, -171px, 37px, 163px, 1179px, 1150px, '../ztimages/csprite.png', 'wq-nav-long-h', );
$wq-nav-long-name: 'wq-nav-long';
$wq-nav-long-x: 1142px;
$wq-nav-long-y: 0px;
$wq-nav-long-offset-x: -1142px;
$wq-nav-long-offset-y: 0px;
$wq-nav-long-width: 37px;
$wq-nav-long-height: 163px;
$wq-nav-long-total-width: 1179px;
$wq-nav-long-total-height: 1150px;
$wq-nav-long-image: '../ztimages/csprite.png';
$wq-nav-long: (1142px, 0px, -1142px, 0px, 37px, 163px, 1179px, 1150px, '../ztimages/csprite.png', 'wq-nav-long', );
$wq-nav-name: 'wq-nav';
$wq-nav-x: 1142px;
$wq-nav-y: 473px;
$wq-nav-offset-x: -1142px;
$wq-nav-offset-y: -473px;
$wq-nav-width: 37px;
$wq-nav-height: 123px;
$wq-nav-total-width: 1179px;
$wq-nav-total-height: 1150px;
$wq-nav-image: '../ztimages/csprite.png';
$wq-nav: (1142px, 473px, -1142px, -473px, 37px, 123px, 1179px, 1150px, '../ztimages/csprite.png', 'wq-nav', );
$zan-btn-h-name: 'zan-btn-h';
$zan-btn-h-x: 820px;
$zan-btn-h-y: 713px;
$zan-btn-h-offset-x: -820px;
$zan-btn-h-offset-y: -713px;
$zan-btn-h-width: 152px;
$zan-btn-h-height: 52px;
$zan-btn-h-total-width: 1179px;
$zan-btn-h-total-height: 1150px;
$zan-btn-h-image: '../ztimages/csprite.png';
$zan-btn-h: (820px, 713px, -820px, -713px, 152px, 52px, 1179px, 1150px, '../ztimages/csprite.png', 'zan-btn-h', );
$zan-btn-name: 'zan-btn';
$zan-btn-x: 606px;
$zan-btn-y: 820px;
$zan-btn-offset-x: -606px;
$zan-btn-offset-y: -820px;
$zan-btn-width: 152px;
$zan-btn-height: 52px;
$zan-btn-total-width: 1179px;
$zan-btn-total-height: 1150px;
$zan-btn-image: '../ztimages/csprite.png';
$zan-btn: (606px, 820px, -606px, -820px, 152px, 52px, 1179px, 1150px, '../ztimages/csprite.png', 'zan-btn', );
$zan-icon-h-name: 'zan-icon-h';
$zan-icon-h-x: 1142px;
$zan-icon-h-y: 703px;
$zan-icon-h-offset-x: -1142px;
$zan-icon-h-offset-y: -703px;
$zan-icon-h-width: 25px;
$zan-icon-h-height: 23px;
$zan-icon-h-total-width: 1179px;
$zan-icon-h-total-height: 1150px;
$zan-icon-h-image: '../ztimages/csprite.png';
$zan-icon-h: (1142px, 703px, -1142px, -703px, 25px, 23px, 1179px, 1150px, '../ztimages/csprite.png', 'zan-icon-h', );
$zan-icon-name: 'zan-icon';
$zan-icon-x: 1142px;
$zan-icon-y: 672px;
$zan-icon-offset-x: -1142px;
$zan-icon-offset-y: -672px;
$zan-icon-width: 25px;
$zan-icon-height: 23px;
$zan-icon-total-width: 1179px;
$zan-icon-total-height: 1150px;
$zan-icon-image: '../ztimages/csprite.png';
$zan-icon: (1142px, 672px, -1142px, -672px, 25px, 23px, 1179px, 1150px, '../ztimages/csprite.png', 'zan-icon', );
$zt-tit-comm-name: 'zt-tit-comm';
$zt-tit-comm-x: 571px;
$zt-tit-comm-y: 0px;
$zt-tit-comm-offset-x: -571px;
$zt-tit-comm-offset-y: 0px;
$zt-tit-comm-width: 563px;
$zt-tit-comm-height: 153px;
$zt-tit-comm-total-width: 1179px;
$zt-tit-comm-total-height: 1150px;
$zt-tit-comm-image: '../ztimages/csprite.png';
$zt-tit-comm: (571px, 0px, -571px, 0px, 563px, 153px, 1179px, 1150px, '../ztimages/csprite.png', 'zt-tit-comm', );
$zt-tit2-name: 'zt-tit2';
$zt-tit2-x: 571px;
$zt-tit2-y: 161px;
$zt-tit2-offset-x: -571px;
$zt-tit2-offset-y: -161px;
$zt-tit2-width: 563px;
$zt-tit2-height: 153px;
$zt-tit2-total-width: 1179px;
$zt-tit2-total-height: 1150px;
$zt-tit2-image: '../ztimages/csprite.png';
$zt-tit2: (571px, 161px, -571px, -161px, 563px, 153px, 1179px, 1150px, '../ztimages/csprite.png', 'zt-tit2', );
$zt-tit3-name: 'zt-tit3';
$zt-tit3-x: 571px;
$zt-tit3-y: 322px;
$zt-tit3-offset-x: -571px;
$zt-tit3-offset-y: -322px;
$zt-tit3-width: 563px;
$zt-tit3-height: 153px;
$zt-tit3-total-width: 1179px;
$zt-tit3-total-height: 1150px;
$zt-tit3-image: '../ztimages/csprite.png';
$zt-tit3: (571px, 322px, -571px, -322px, 563px, 153px, 1179px, 1150px, '../ztimages/csprite.png', 'zt-tit3', );
$zt-tit4-name: 'zt-tit4';
$zt-tit4-x: 0px;
$zt-tit4-y: 0px;
$zt-tit4-offset-x: 0px;
$zt-tit4-offset-y: 0px;
$zt-tit4-width: 563px;
$zt-tit4-height: 153px;
$zt-tit4-total-width: 1179px;
$zt-tit4-total-height: 1150px;
$zt-tit4-image: '../ztimages/csprite.png';
$zt-tit4: (0px, 0px, 0px, 0px, 563px, 153px, 1179px, 1150px, '../ztimages/csprite.png', 'zt-tit4', );
$zt-tit5-name: 'zt-tit5';
$zt-tit5-x: 0px;
$zt-tit5-y: 483px;
$zt-tit5-offset-x: 0px;
$zt-tit5-offset-y: -483px;
$zt-tit5-width: 563px;
$zt-tit5-height: 153px;
$zt-tit5-total-width: 1179px;
$zt-tit5-total-height: 1150px;
$zt-tit5-image: '../ztimages/csprite.png';
$zt-tit5: (0px, 483px, 0px, -483px, 563px, 153px, 1179px, 1150px, '../ztimages/csprite.png', 'zt-tit5', );
$zt-tit6-name: 'zt-tit6';
$zt-tit6-x: 571px;
$zt-tit6-y: 483px;
$zt-tit6-offset-x: -571px;
$zt-tit6-offset-y: -483px;
$zt-tit6-width: 563px;
$zt-tit6-height: 153px;
$zt-tit6-total-width: 1179px;
$zt-tit6-total-height: 1150px;
$zt-tit6-image: '../ztimages/csprite.png';
$zt-tit6: (571px, 483px, -571px, -483px, 563px, 153px, 1179px, 1150px, '../ztimages/csprite.png', 'zt-tit6', );
$zt-tit7-name: 'zt-tit7';
$zt-tit7-x: 0px;
$zt-tit7-y: 322px;
$zt-tit7-offset-x: 0px;
$zt-tit7-offset-y: -322px;
$zt-tit7-width: 563px;
$zt-tit7-height: 153px;
$zt-tit7-total-width: 1179px;
$zt-tit7-total-height: 1150px;
$zt-tit7-image: '../ztimages/csprite.png';
$zt-tit7: (0px, 322px, 0px, -322px, 563px, 153px, 1179px, 1150px, '../ztimages/csprite.png', 'zt-tit7', );
$zt-tit8-name: 'zt-tit8';
$zt-tit8-x: 0px;
$zt-tit8-y: 161px;
$zt-tit8-offset-x: 0px;
$zt-tit8-offset-y: -161px;
$zt-tit8-width: 563px;
$zt-tit8-height: 153px;
$zt-tit8-total-width: 1179px;
$zt-tit8-total-height: 1150px;
$zt-tit8-image: '../ztimages/csprite.png';
$zt-tit8: (0px, 161px, 0px, -161px, 563px, 153px, 1179px, 1150px, '../ztimages/csprite.png', 'zt-tit8', );
$spritesheet-width: 1179px;
$spritesheet-height: 1150px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($arr-l-h, $arr-l, $arr-r-h, $arr-r, $arr2-l-h, $arr2-l, $arr2-r-h, $arr2-r, $bb-arr-l, $bb-arr-r, $bb-buy, $close-h, $close, $fx-line, $gs-dgy, $ht-h5, $ht-line, $inner-nav-light, $jb-cpt, $logo-dgy, $logo-gf, $logo-gs, $nav-line, $phm-tab-nav-h, $phm-tab-nav, $phm-vd-arr-h, $phm-vd-arr, $pic-bd3-h, $pic-bd3, $play-h, $play, $txt-dot, $wj-nav-c, $wj-nav, $wq-nav-h, $wq-nav-long-h, $wq-nav-long, $wq-nav, $zan-btn-h, $zan-btn, $zan-icon-h, $zan-icon, $zt-tit-comm, $zt-tit2, $zt-tit3, $zt-tit4, $zt-tit5, $zt-tit6, $zt-tit7, $zt-tit8, );
$spritesheet: (1179px, 1150px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
