@keyframes secin{
	0%{
		opacity: 0;
		visibility: visible;
	}
	100%{
		opacity: 1;
		visibility: visible;
	}
}
@keyframes rotateAnim{
	0%{
		transform:rotate(0);
	}
	100%{
		transform:rotate(360deg);
	}
}
@keyframes toBot{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 bottom;
	}
}
@keyframes arrUpDown{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(0,-20%);
	}
	100%{
		transform:translate(0,0);
	}
}
@keyframes flashSoftAnim{
	0%{
		opacity: 0.2;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 0.2;
	}
}
@keyframes fightArr{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(0,10px);
	}
	100%{
		transform:translate(0,0);
	}
}
@keyframes fightLight{
	$i: 0;
	@while $i < 101 {
		#{$i}% {
			@if $i%20 == 0 {
				opacity: 1;
			} @else {
				opacity: 0;
			}
		}
		$i: $i + 10;
	}
}
$drtDest:5px;
@keyframes drtArrUp{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(0,-$drtDest);
	}
	100%{
		transform:translate(0,0);
	}
}
@keyframes drtArrRight{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate($drtDest,0);
	}
	100%{
		transform:translate(0,0);
	}
}
@keyframes drtArrDown{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(0,$drtDest);
	}
	100%{
		transform:translate(0,0);
	}
}
@keyframes drtArrLeft{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(-$drtDest,0);
	}
	100%{
		transform:translate(0,0);
	}
}
@keyframes task405arr{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(5px,0);
	}
	100%{
		transform:translate(0,0);
	}
}