html,body{
	position: relative;
	width: 100%;height: 100%;max-height:100%;
	overflow: hidden;
	user-select:none;
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		border-radius: 0;
		background-color: rgba(255,255,255,0);
	}
	::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: rgba(255,255,255,0);
	}
	::-webkit-scrollbar-track:hover {
		background-color: rgba(255,255,255,0);
	}
	::-webkit-scrollbar-track:active {
		background-color: rgba(255,255,255,0);
	}
	::-webkit-scrollbar-thumb {
		border-radius: 0;
		background-color: rgba(255,255,255,1);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(255,255,255,0.6);
	}
	::-webkit-scrollbar-thumb:active {
		background-color: rgba(255,255,255,0.8);
	}
}
body{
	font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	background-color: #000;
}
h1,h2,h3,h4,h5,p,ul{
	margin: 0;padding: 0;
	list-style:none;
}
a{text-decoration: none;cursor: pointer;user-select:none}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after{
  display: table;
  content: " ";
}
.clearfix:after,
.container:after{
  clear: both;
}
.container{
	margin-right: auto;
	margin-left: auto;
	width: $basewidth;
}
//IE
.ielt9{
	position: absolute;top: 0px;left: 0;
	width: 100%;height: 100%;
	background:url('http://img1.gamersky.com/image2016/06/20160603_zl_91_4/ielt9.jpg') center center no-repeat;
	p{
		padding-top: 25%;
		font-size: 22px;text-align: center;line-height: 40px;
		span{color: #ff6600}
	}

}
.dn{display: none !important}
.sound_effect{display: none}
%blank{
	background: url(http://image.gamersky.com/webimg13/zhuanti/common/blank.png) 0 0 repeat;
}

.page_bg{
	display: block;
}
//层级
.ielt9{z-index: 10000;}
#loading{z-index: 9998;}
#loadingAnim{z-index: 9999;}
.closeLoading{z-index: 9999;}
.audio-zm{z-index: 9001;}
.volbtn{z-index: 9000;}
.infos{z-index: 8000;}
.dgy_comm{z-index: 8500;}
.fixNav{z-index: 7000;}
.mouse-scroll-tips{z-index: 10;}

//loading
#loading{
	position: absolute;left: 0;top: 0;
	width: 100%;height: 100%;
	background-color: #000;
}
//预加载
#jpreOverlay{
	background-color: #000;
	#jpreLoader{
		display: none;
		width: 100%;height: 4px;
		#jpreBar{
			height: 4px;
			background-color: #f6c783;
		}
		#jprePercentage{
			padding-top:35px;
			width: 100%;
			font-size: 16px;text-align: center;color: #f6c783;
		}
	}
}
#jpreSlide{
	width: 100%;height: 100%;
}
#loadingAnim{
	$ldWidth:300px;$ldHeight:94px;
	display: block;position: absolute;top: 50%;left: 50%;margin-left: -$ldWidth/2;margin-top: -($ldHeight + 40px)/2;
	width: $ldWidth;height:$ldHeight + 40px;
	.loadingAnim-img-g{
		display: block;
		width: $ldWidth;height:$ldHeight;
	}
	.loadingAnim-img{
		display: block;position: absolute;top: 0;right: 0;
		width: $ldWidth;height:$ldHeight;
		overflow: hidden;
		img{
			display: block;position: absolute;top: 0;right: 0;
			width: $ldWidth;height:$ldHeight;
		}
	}
	.loadingtxt{
		position: absolute;bottom: 0;left: 0;
		width: $ldWidth;height:33px;line-height:33px;
		font-size: 14px;color: #fff;text-align: center;
	}
}
.closeLoading{
	display: none;position: absolute;top: 50%;left: 50%;margin-left: -400px;margin-top: -143px;
	width: 800px;
	.txt{
		margin-bottom: 40px;
		h5{
			height: 34px;
			line-height: 34px;
			font-size: 24px;
			color: #ffc24c;
			text-align: center;
			font-weight: normal;
		}
		img{
			display: block;
			margin: 0 auto;
			width: 161px;
			height: 169px;
		}
		p{
			line-height: 36px;
			font-size: 18px;
			color: #8a8a8a;
			text-align: center;
			i{
				font-style: normal;
				color: #fff;
			}
			b{
				font-weight: normal;
				color: #ffc24c;
			}
			span{
				font-size: 16px;
			}
		}
	}
	.btngroup{
		a{
			display: block;margin: 10px auto 0;
			width: 160px;height: 40px;line-height: 40px;
			background-color: #333;
			font-size: 20px;color: #fff;text-align: center;
			&:hover{background-color: #555}
		}
	}
}

.autoMH{
	position: absolute;top: 0;left: 50%;
	width: 1920px;height: 1080px;
}
.pageswrap{
	position: relative;
	width: 100%;height: 100%;
	overflow: hidden;
}
.pages{
	position: absolute;top: 0;left: 0;
	width: 100%;height: 100%;
	visibility: hidden;opacity: 0;
	@extend %transbg;	
	.page_con{
		position: relative;
		width: 100%;height: 100%;
	}
	&.cur{
		visibility: visible;opacity: 1;
	}
}
.volbtn{
	display: none;
	position: absolute;
	right:60px;
	top: 27px;
	@include sprite($vol-bg);
	&:after{
		display: block;
		content: '';
		position: absolute;
		left: 9px;
		top: 9px;
		@include sprite($vol-play);
		animation: rotateAnim 3s linear infinite;
	}
	&.pause{
		&:after{
			@include sprite-position($vol-pause);
			animation-play-state: paused;
		}
	}
	&.cur{
		display: block;
	}
}
//头部
.QZnav {min-width:940px;}
.QZnav .topbar {width:940px;}
.fixNav{
    position: absolute;
	right: 110px;
	top: 27px;
    transition: all 0.25s ease;
    opacity: 0;
    visibility: hidden;
    &.cur{
        opacity: 1;
        visibility: visible;
    }
    .fx_list{
        a{
            position: relative;
            display: block;
			float: left;
			margin-left: 8px;
			width: 42px;
			height: 42px;
            i{
				display: block;
				position: relative;
				&.icon-task{
					@include sprite($fx-icon-task);
				}
				&.icon-infos{
					@include sprite($fx-icon-infos);
				}
				&.icon-comm{
					@include sprite($fx-icon-comm);
				}
            }
            span{
                display: block;
                position: absolute;
				top: 37px;
				left: 50%;
				margin-left: -25px;
				width: 50px;
				height: 40px;
                line-height: 40px;
                font-size: 18px;
                color: #fffffe;
				text-align: center;
				font-weight: bold;
                opacity:0;
				transform:translate(0,-20px);
                transition:all 0.25s ease;
				text-shadow: 0 0 2px #001446,0 0 2px #001446,0 0 2px #001446,0 0 2px #001446;
            }
            &:hover,&.cur{
                i.icon-task{
					@include sprite($fx-icon-task-c);
				}
				span{
					opacity: 1;
					transform:translate(0,0);
				}
            }
			&.cur{
				cursor: default;
			}
        }
    }
}
//遮罩
.commMsk{
	display: block;position: absolute;top: 0;left:0;
	width: 100%;height: 100%;
}
.btn_goon{
	display: block;
	position: relative;
	padding-left: 65px;
	width: 80px;
	height: 59px;
	line-height: 55px;
	font-size: 32px;
	color: #00f97b;
	font-weight: bold;
	overflow: hidden;
	white-space:nowrap;
	&:before{
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		//@include sprite($btn-goon);
		animation:rotateAnim 6s linear infinite both;
	}
	&:after{content: '继续';}
	&.skip:after{content: '跳过';}
	&:hover{
		&:before{
			animation-duration: 0.8s;
		}
	}
	&:active{
		&:before{
			animation-duration: 0.2s;
		}
	}
}
//默认按钮
.btn-default{
    display: block;
    @include sprite($btn-default);
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    &:hover{
        color: #9d0000;
        @include sprite-position($btn-default-h);
    }
}
.btn-default-big{
    display: block;
    @include sprite($btn-default-big-h);
    line-height: 79px;
    font-size: 31px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    &:hover{
        color: #9d0000;
        @include sprite-position($btn-default-big);
    }
}
.btn-circle{
	display: block;
	width: 135px;
	height: 135px;
	background: url(../ztimages/task-btn-go.png) 0 0 no-repeat;
	animation: toBot 1s steps(23) infinite;
	i{
		display: block;
		position: absolute;
		left: 100px;
		top: 48px;
		width: 45px;
		height: 35px;
		line-height: 35px;
		font-size: 22px;
		color: #f8c838;
		white-space: nowrap;
		pointer-events: none;
		transition: all 0.25s ease;
		transform:translate(-10px,0);
		opacity: 0;
		@extend %textBd1;
		font-style: normal;
	}
	&:hover{
		i{
			opacity: 1;
			transform:translate(0,0);
		}
	}
}
.btn-back{
	display: block;
	@include sprite($task-back);
	line-height: 60px;
	font-size: 22px;
	color: #fff;
	text-indent: 80px;
	&:hover{
		@include sprite($task-back-h);
		color: #f8c838;
	}
}
.btn-eye{
	display: block;
	position: absolute;
	width: 51px;
	height: 37px;
	&:after{
		display: block;
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		@include sprite($task-eye);
	}
	img{
		display: block;
		position: absolute;
		opacity: 0;
		transition:all 0.25s ease;
	}
	&:hover{
		img{
			opacity: 1;
		}
	}
}
.btn-forward{
	display: block;
	@include sprite($btn-forward);
	line-height: 62px;
	text-indent: 83px;
	font-size: 22px;
	color: #fff;
	&:hover{
		color: #f8c838;
		@include sprite-position($btn-forward-h);
	}
}
//streamable 播放器样式
.video-steamable{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
}
//文字描边
%textBd1{
	text-shadow: 0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000;
}
//继续按钮
%btnGoon{
	display: block;
	@include sprite($task-next);
	line-height: 60px;
	font-size: 22px;
	color: #fff;
	text-indent: 83px;
	&:hover{@include sprite($task-next-h)}
}
//前往
%btnGo{
	display: block;
	width: 135px;
	height: 135px;
	background: url(../ztimages/task-btn-go.png) 0 0 no-repeat;
	animation: toBot 1s steps(23) infinite;
	i{
		display: block;
		position: absolute;
		left: 114px;
		top: 50px;
		width: 45px;
		height: 35px;
		line-height: 35px;
		font-size: 22px;
		color: #f8c838;
		white-space: nowrap;
		pointer-events: none;
		transition: all 0.25s ease;
		transform:translate(-10px,0);
		opacity: 0;
		@extend %textBd1;
	}
	&:hover{
		i{
			opacity: 1;
			transform:translate(0,0);
		}
	}
}
//动态按钮
%keyFrameBtn514{
	width: 514px;
	height: 74px;
	background:#000 url(../ztimages/menu-btn-h.png) 0 0 no-repeat;
	animation: toBot 4s steps(59) infinite;
}