//*******专题*******
@import "csprite";
@import 'csslib';
@import 'components';
@import 'dgycomm';
//页面
.dgy_main{
	.page_bg{
		display: block;position: absolute;top: 0;left: 0;
		width: 100%;
	}
}
.dgy_pages{
	background-color: #000;
}
.page_con{
    .audiotxt{
        display: none;
        position: absolute;
        top: 850px;
        left: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size:26px;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 3px #000;
        &.cur{
            display: block;
        }
    }
}
//首页
//百度分享样式
.bdsharewrap.bdstyle-c{
    width:240px;height:36px;
    overflow: hidden;
    .bdsharebuttonbox {
        width:800px; height:36px;
        *font-size: 0;
        &:after,&.before{
            display:table;content:" ";
        }
        &:after{clear:both}
        a {
            display: block;float:left; margin:0 4px 0 0; padding:0;
            width:36px; height:36px;
            background:url(../ztimages/baidu-share-icons.png) 0 0 no-repeat;
            overflow: hidden;
            &.bds_tsina {background-position:     0 0;}
            &.bds_weixin{background-position: -40px 0;}
            &.bds_qzone {background-position: -80px 0;}
            &.bds_renren{background-position:-121px 0;}
            &.bds_sqq	{background-position:-161px 0;}
            &.bds_count	{background-position:-201px 0;}
            //待添加
            &.bds_tieba,&.bds_douban,&.bds_more
            {display: none}
            //待添加 end
            &:hover{
                opacity: 1;
                &.bds_tsina {background-position:     0 -40px;}
                &.bds_weixin{background-position: -40px -40px;}
                &.bds_qzone {background-position: -80px -40px;}
                &.bds_renren{background-position:-121px -40px;}
                &.bds_sqq	{background-position:-161px -40px;}
                &.bds_count	{background-position:-201px -40px;}
            }
        }
    }
}
.pgStart{
    .start-cells{
        position: absolute;
        left: 0;
        top: 0;
        width: 1920px;
        height: 1080px;
        opacity: 0;
        visibility: hidden;
        transition:all 0.25s ease;
        &.cur{
            opacity: 1;
            visibility: visible;
        }
    }
    .slogan{
        display: block;
        position: absolute;
        left: 588px;
        top: 119px;
        width: 743px;
        height: 298px;
    }
    .others-area{
        position: absolute;
        left: 730px;
        top: 860px;
    }
    .btn-start{
        display: block;
        position: absolute;
        left: 784px;
        top: 769px;
        @include sprite($start-btn-bg);
        &:after,&:before{
            display: block;
            content: '';
            position: absolute;
        }
        &:before{
            width: 350px;
            height: 58px;
            background: url(../ztimages/start-btn-kf.png) 0 0 no-repeat;
            visibility: hidden;
        }
        &:after{
            left: 121px;
            top: 17px;
            @include sprite($start-btn-txt);
        }
        &:hover{
            background: none;
            &:before{
                visibility: visible;
                animation: toBot 0.5s steps(9) 1;
            }
        }
    }
    .btn-info{
        display: block;
        position: absolute;
        left: 897px;
        top: 695px;
        width: 132px;
        height: 38px;
        background: url(../ztimages/start-info.png) 0 0 no-repeat;
        animation: toBot 2s steps(47) infinite;
        &:after{
            display: block;
            content: '';
            position: absolute;
            top: -22px;
            left: 20px;
            @include sprite($btn-info-txt);
            transition: top 0.25s ease;
        }
        &:hover{
            &:after{
                top: -26px;
                @include sprite($btn-info-txt-h);
            }
        }
    }
}
.pgMenu{
    .task-intro-wrap{
        position: absolute;
        right: 45px;
        top: 137px;
        width: 1161px;
        height: 431px;
        .task-intro{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition:all 0.25s ease;
            &.cur{
                opacity: 1;
            }
        }
    }
    .navs{
        padding-left: 14px;
    }
    .btn-group{
        position: absolute;
        left: 43px;
        top: 121px;
        padding-top: 39px;
        width: 608px;
        height: 799px - 39px;
        background-color: rgba(0,0,0,0.5);
        .icon{
            display: block;
            position: absolute;
            @include sprite($menu-icon);
        }
        h5{
            position: relative;
            padding-left: 55px;
            margin-bottom: 13px;
            height: 49px;
            line-height: 40px;
            background: url(../ztimages/line-yellow.png) 0 bottom no-repeat;
            font-size: 26px;
            color: #ffce5f;
            font-weight: normal;
            .icon{
                left: 7px;
                top: 2px;
            }
        }
        .btn-sel{
            position: relative;
            display: block;
            margin-bottom: 10px;
            width: 514px;
            height: 74px;
            line-height: 74px;
            font-size: 22px;
            color: #fff;
            text-indent: 77px;
            background-color: #000;
            &:after{
                position: absolute;
                right: 18px;
                top: 33px;
                display: none;
                content: '';
                @include sprite($menu-btn-sel);
            }
            .icon{
                left: 12px;
                top: 18px;
            }
            &.opened{
                color: rgba(255,255,255,0.3);
                .icon{
                    opacity: 0.3;
                }
                &:after{
                    display: block;
                }
            }
            &:hover{
                @extend %keyFrameBtn514;
            }
        }
        .btn-replay{
            display: block;
            position: absolute;
            left: 41px;
            bottom: 0;
            width: 514px;
            height: 74px;
            line-height: 74px;
            font-size: 22px;
            color: #fff;
            text-indent: 77px;
            &:before{
                display: block;
                content: '';
                position: absolute;
                left: 12px;
                top: 18px;
                @include sprite($menu-icon-home);
            }
            &:hover{
                @extend %keyFrameBtn514;
            }
        }
    }
}

.pgVersion{
    .tabs{
        position: relative;
        width: 100%;
        height: 100%;
        .tabs-con{
            position: absolute;
            left: 0;
            top: 230px;
            width: 1920px;
            .tabs-con0{
                padding-top: 15px;
                img{
                    display: block;
                    margin: 0 auto;
                    width: 1791px;
                }
                a{
                    display: block;
                    position: absolute;
                    top: 666px;
                    @include sprite($version-buy);
                    transition:all 0.25s ease;
                    &.btn-buy0{left: 224px;}
                    &.btn-buy1{left: 861px;}
                    &.btn-buy2{left: 1511px;}
                    &:hover{
                        transform:scale(1.1);
                    }
                }
            }
            .tabs-con1{
                .st-bg{
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 14px;
                }
                .st-mask-top,.st-mask-bot{
                    z-index: 10;pointer-events: none;
                }
                .st-mask-top{
                    position: absolute;
                    left: 344px;
                    top: 41px;
                    width: 1210px;
                    height: 164px;
                    background: url(../ztimages/version-st-mask-top.png) 0 0 no-repeat;
                }
                .st-mask-bot{
                    position: absolute;
                    left: 350px;
                    top: 569px;
                    width: 1203px;
                    height: 122px;
                    background: url(../ztimages/version-st-mask-bot.png) 0 0 no-repeat;
                }
                .st-swp{
                    position: absolute;
                    left: 346px;
                    top: 124px;
                    width: 1203px;
                    height: 498px;
                    .swiper-slide{
                        position: relative;
                        width: 885px;
                        height: 498px;
                        background-color: #000;
                        .st-video{
                            position: relative;
                            width: 100%;
                            height: 100%;
                        }
                        .st-video-btn{
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            img{
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                            &:after{
                                display: block;
                                content: '';
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                margin-left: -55px;
                                margin-top: -55px;
                                @include sprite($icon-play);
                            }
                            &:hover:after{@include sprite-position($icon-play-h);}
                        }
                    }
                }
            }
            .tabs-con2{
                img{
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 25px;
                }
            }
        }
        .tabs-nav{
            position: absolute;
            left: 655px;
            top: 169px;
            width: 680px;
            height: 60px;
            a{
                position: relative;
                display: block;
                float: left;
                margin-right: 20px;
                width: 189px;
                height: 46px;
                &:before{
                    display: none;
                    content: '';
                    position: absolute;
                    top: 42px;
                    left: 50%;
                    margin-left: -30px;
                    @include sprite($version-arr);
                    animation: arrUpDown 2s ease infinite;
                }
                span{
                    position: relative;
                    display: block;
                    width: 181px;
                    height: 38px;
                    line-height: 38px;
                    background-color: #9d0000;
                    border: 4px solid #9d0000;
                    font-size: 18px;
                    color: #fff;
                    text-align: center;
                    font-weight: bold;
                }
                &:hover,&.cur{
                    span{
                        color: #9d0000;
                        background-color: #fff;
                    }
                }
                &.cur {
                    &:before {
                        display: block;
                    }
                }
            }
        }
    }
    .btn-next{
        position: absolute;
        right: 69px;
        bottom: 65px;
    }
}
.pgEnd{
    .tit{
        position: absolute;
        left: 808px;
        top: 225px;
        @include sprite($end-tit);
    }
    .end-btn-back{
        position: absolute;
        top: 908px;
        left: 224px;
    }
    .end-btn-comm{
        position: absolute;
        top: 908px;
        left: 766px;
    }
    .end-bd{
        position: absolute;
        top: 908px;
        left: 1309px;
        @include sprite($btn-default-big-h);
        .end-baidu-icons{
            position: absolute;
            left: 73px;
            top: 23px;
        }
    }
    .end-editor{
        position: absolute;
        padding-top: 58px;
        left: 758px;
        top: 470px;
        width: 404px;
        background: url(../ztimages/end-editor.png) 0 0 no-repeat;
        h5{
            line-height: 35px;
            font-size: 18px;
            color: #fff;
            text-align: center;
        }
        p{
            margin-bottom: 20px;
            line-height: 30px;
            font-size: 16px;
            color: #fff;
            text-align: center;
        }
    }
    .end-zan{
        position: absolute;
        left: 729px;
        top: 746px;
    }
}
.dgy_comm{
	position: absolute;left: 0;top: 0;
	width: 100%;height: 100%;
	background-color: #000;
	transition:all 0.25s ease;
	opacity: 0;visibility: hidden;
	transform:translate3d(20px,0,0);
	&.cur{
		opacity: 1;visibility: visible;
		transform:translate3d(0,0,0);
	}
}
.page_comm{
    background-color: #000;
	.comm_bg{
		position: absolute;left: 0;top: 0;
		width: 100%;
        height: 100%;
	}
    .btn-comm-close{
        position: absolute;
        top: 54px;
        left: 50%;
        margin-left: 483px;
        @extend .close;
    }
	.comm{
		position: absolute;left: 0;top: 0;
		width: 100%;height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		.cont{
			position: relative;
            margin: 54px auto 0;
            padding:40px 45px 45px;
			width: 860px;
            background-color:rgba(0,0,0,0.85);
		}
	}
}
.pg-transit{
    .pg-transit-video-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        .pg-transit-video{
            position: relative;
            width: 100%;
            height: 100%;
        }
        .yk-btn-next{
            position: absolute;
            right: 45px;
            bottom: 30px;
            @extend %btnGoon;
        }
    }
}
@import 'infos';
@import 'flow';
@import 'resp';
@import 'animatecss';
