@keyframes secin{
	0%{
		opacity: 0;
		visibility: visible;
	}
	100%{
		opacity: 1;
		visibility: visible;
	}
}
@keyframes rotateAnim{
	0%{
		transform:rotate(0);
	}
	100%{
		transform:rotate(360deg);
	}
}
@keyframes volAnim{
	0%{
		transform:scale(1,1);
	}
	50%{
		transform:scale(0.9,0.8);
	}
	100%{
		transform:scale(1,1);
	}
}
@keyframes otsBtnAnim{
	0%{
		visibility: visible;
		opacity: 0;
		transform:translate(0,0);
	}
	50%{
		opacity: 1;
		transform:translate(-140px,0);
	}
	100%{
		visibility: hidden;
		opacity: 0;
		transform:translate(-280px,0);
	}
}
@keyframes arrAnim{
	0%{
		transform:translate(0,0);
	}
	100%{
		transform:translate(5px,0);
	}
}
@keyframes svgAnim{
	0%{
		stroke-dashoffset: 1921;
	}
	100%{
		stroke-dashoffset: 0;
	}
}
@keyframes txtFlashAnim{
	to{
		color: #fff;
		text-shadow: 0 0 10px #00d00a,0 0 5px #000;
	}
}
@keyframes mpTipsAnim{
	to{
		transform:translate(0,5px)
	}
}
@keyframes markIconAnim{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(0,5px);
	}
	100%{
		transform:translate(0,5px);
	}
}
@keyframes markBdAnim{
	0%{
		transform:scale(0);
		opacity: 0;
	}
	49%{
		transform:scale(0);
		opacity: 1;
	}
	100%{
		transform:scale(1.95);
		opacity: 0;
	}
}
@keyframes loopVideoAnim{
	0%{
		opacity: 0;
	}
	20%{
		opacity: 0;
	}
	30%{
		opacity: 1;
	}
	70%{
		opacity: 1;
	}
	80%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}