// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$begin-btn-anim-name: 'begin-btn-anim';
$begin-btn-anim-x: 834px;
$begin-btn-anim-y: 710px;
$begin-btn-anim-offset-x: -834px;
$begin-btn-anim-offset-y: -710px;
$begin-btn-anim-width: 154px;
$begin-btn-anim-height: 35px;
$begin-btn-anim-total-width: 1605px;
$begin-btn-anim-total-height: 1319px;
$begin-btn-anim-image: '../ztimages/csprite.png';
$begin-btn-anim: (834px, 710px, -834px, -710px, 154px, 35px, 1605px, 1319px, '../ztimages/csprite.png', 'begin-btn-anim', );
$begin-btn-name: 'begin-btn';
$begin-btn-x: 1380px;
$begin-btn-y: 593px;
$begin-btn-offset-x: -1380px;
$begin-btn-offset-y: -593px;
$begin-btn-width: 190px;
$begin-btn-height: 72px;
$begin-btn-total-width: 1605px;
$begin-btn-total-height: 1319px;
$begin-btn-image: '../ztimages/csprite.png';
$begin-btn: (1380px, 593px, -1380px, -593px, 190px, 72px, 1605px, 1319px, '../ztimages/csprite.png', 'begin-btn', );
$begin-hdbtn-h-name: 'begin-hdbtn-h';
$begin-hdbtn-h-x: 1380px;
$begin-hdbtn-h-y: 673px;
$begin-hdbtn-h-offset-x: -1380px;
$begin-hdbtn-h-offset-y: -673px;
$begin-hdbtn-h-width: 119px;
$begin-hdbtn-h-height: 111px;
$begin-hdbtn-h-total-width: 1605px;
$begin-hdbtn-h-total-height: 1319px;
$begin-hdbtn-h-image: '../ztimages/csprite.png';
$begin-hdbtn-h: (1380px, 673px, -1380px, -673px, 119px, 111px, 1605px, 1319px, '../ztimages/csprite.png', 'begin-hdbtn-h', );
$begin-hdbtn-name: 'begin-hdbtn';
$begin-hdbtn-x: 1380px;
$begin-hdbtn-y: 792px;
$begin-hdbtn-offset-x: -1380px;
$begin-hdbtn-offset-y: -792px;
$begin-hdbtn-width: 119px;
$begin-hdbtn-height: 111px;
$begin-hdbtn-total-width: 1605px;
$begin-hdbtn-total-height: 1319px;
$begin-hdbtn-image: '../ztimages/csprite.png';
$begin-hdbtn: (1380px, 792px, -1380px, -792px, 119px, 111px, 1605px, 1319px, '../ztimages/csprite.png', 'begin-hdbtn', );
$begin-ots-h-name: 'begin-ots-h';
$begin-ots-h-x: 780px;
$begin-ots-h-y: 838px;
$begin-ots-h-offset-x: -780px;
$begin-ots-h-offset-y: -838px;
$begin-ots-h-width: 375px;
$begin-ots-h-height: 87px;
$begin-ots-h-total-width: 1605px;
$begin-ots-h-total-height: 1319px;
$begin-ots-h-image: '../ztimages/csprite.png';
$begin-ots-h: (780px, 838px, -780px, -838px, 375px, 87px, 1605px, 1319px, '../ztimages/csprite.png', 'begin-ots-h', );
$begin-ots-light-name: 'begin-ots-light';
$begin-ots-light-x: 1380px;
$begin-ots-light-y: 911px;
$begin-ots-light-offset-x: -1380px;
$begin-ots-light-offset-y: -911px;
$begin-ots-light-width: 161px;
$begin-ots-light-height: 77px;
$begin-ots-light-total-width: 1605px;
$begin-ots-light-total-height: 1319px;
$begin-ots-light-image: '../ztimages/csprite.png';
$begin-ots-light: (1380px, 911px, -1380px, -911px, 161px, 77px, 1605px, 1319px, '../ztimages/csprite.png', 'begin-ots-light', );
$begin-ots-name: 'begin-ots';
$begin-ots-x: 397px;
$begin-ots-y: 838px;
$begin-ots-offset-x: -397px;
$begin-ots-offset-y: -838px;
$begin-ots-width: 375px;
$begin-ots-height: 87px;
$begin-ots-total-width: 1605px;
$begin-ots-total-height: 1319px;
$begin-ots-image: '../ztimages/csprite.png';
$begin-ots: (397px, 838px, -397px, -838px, 375px, 87px, 1605px, 1319px, '../ztimages/csprite.png', 'begin-ots', );
$bp1-name: 'bp1';
$bp1-x: 1380px;
$bp1-y: 203px;
$bp1-offset-x: -1380px;
$bp1-offset-y: -203px;
$bp1-width: 122px;
$bp1-height: 122px;
$bp1-total-width: 1605px;
$bp1-total-height: 1319px;
$bp1-image: '../ztimages/csprite.png';
$bp1: (1380px, 203px, -1380px, -203px, 122px, 122px, 1605px, 1319px, '../ztimages/csprite.png', 'bp1', );
$bp2-name: 'bp2';
$bp2-x: 1380px;
$bp2-y: 333px;
$bp2-offset-x: -1380px;
$bp2-offset-y: -333px;
$bp2-width: 122px;
$bp2-height: 122px;
$bp2-total-width: 1605px;
$bp2-total-height: 1319px;
$bp2-image: '../ztimages/csprite.png';
$bp2: (1380px, 333px, -1380px, -333px, 122px, 122px, 1605px, 1319px, '../ztimages/csprite.png', 'bp2', );
$bp3-name: 'bp3';
$bp3-x: 1380px;
$bp3-y: 463px;
$bp3-offset-x: -1380px;
$bp3-offset-y: -463px;
$bp3-width: 122px;
$bp3-height: 122px;
$bp3-total-width: 1605px;
$bp3-total-height: 1319px;
$bp3-image: '../ztimages/csprite.png';
$bp3: (1380px, 463px, -1380px, -463px, 122px, 122px, 1605px, 1319px, '../ztimages/csprite.png', 'bp3', );
$bp4-name: 'bp4';
$bp4-x: 1380px;
$bp4-y: 73px;
$bp4-offset-x: -1380px;
$bp4-offset-y: -73px;
$bp4-width: 122px;
$bp4-height: 122px;
$bp4-total-width: 1605px;
$bp4-total-height: 1319px;
$bp4-image: '../ztimages/csprite.png';
$bp4: (1380px, 73px, -1380px, -73px, 122px, 122px, 1605px, 1319px, '../ztimages/csprite.png', 'bp4', );
$btn-pic-arr-name: 'btn-pic-arr';
$btn-pic-arr-x: 1569px;
$btn-pic-arr-y: 729px;
$btn-pic-arr-offset-x: -1569px;
$btn-pic-arr-offset-y: -729px;
$btn-pic-arr-width: 29px;
$btn-pic-arr-height: 25px;
$btn-pic-arr-total-width: 1605px;
$btn-pic-arr-total-height: 1319px;
$btn-pic-arr-image: '../ztimages/csprite.png';
$btn-pic-arr: (1569px, 729px, -1569px, -729px, 29px, 25px, 1605px, 1319px, '../ztimages/csprite.png', 'btn-pic-arr', );
$btn-selected-name: 'btn-selected';
$btn-selected-x: 1322px;
$btn-selected-y: 342px;
$btn-selected-offset-x: -1322px;
$btn-selected-offset-y: -342px;
$btn-selected-width: 37px;
$btn-selected-height: 36px;
$btn-selected-total-width: 1605px;
$btn-selected-total-height: 1319px;
$btn-selected-image: '../ztimages/csprite.png';
$btn-selected: (1322px, 342px, -1322px, -342px, 37px, 36px, 1605px, 1319px, '../ztimages/csprite.png', 'btn-selected', );
$btn-skip-arr-h-name: 'btn-skip-arr-h';
$btn-skip-arr-h-x: 1507px;
$btn-skip-arr-h-y: 729px;
$btn-skip-arr-h-offset-x: -1507px;
$btn-skip-arr-h-offset-y: -729px;
$btn-skip-arr-h-width: 54px;
$btn-skip-arr-h-height: 48px;
$btn-skip-arr-h-total-width: 1605px;
$btn-skip-arr-h-total-height: 1319px;
$btn-skip-arr-h-image: '../ztimages/csprite.png';
$btn-skip-arr-h: (1507px, 729px, -1507px, -729px, 54px, 48px, 1605px, 1319px, '../ztimages/csprite.png', 'btn-skip-arr-h', );
$btn-skip-arr-name: 'btn-skip-arr';
$btn-skip-arr-x: 1507px;
$btn-skip-arr-y: 792px;
$btn-skip-arr-offset-x: -1507px;
$btn-skip-arr-offset-y: -792px;
$btn-skip-arr-width: 54px;
$btn-skip-arr-height: 48px;
$btn-skip-arr-total-width: 1605px;
$btn-skip-arr-total-height: 1319px;
$btn-skip-arr-image: '../ztimages/csprite.png';
$btn-skip-arr: (1507px, 792px, -1507px, -792px, 54px, 48px, 1605px, 1319px, '../ztimages/csprite.png', 'btn-skip-arr', );
$btn-skip-name: 'btn-skip';
$btn-skip-x: 1380px;
$btn-skip-y: 1187px;
$btn-skip-offset-x: -1380px;
$btn-skip-offset-y: -1187px;
$btn-skip-width: 150px;
$btn-skip-height: 67px;
$btn-skip-total-width: 1605px;
$btn-skip-total-height: 1319px;
$btn-skip-image: '../ztimages/csprite.png';
$btn-skip: (1380px, 1187px, -1380px, -1187px, 150px, 67px, 1605px, 1319px, '../ztimages/csprite.png', 'btn-skip', );
$btn-sty1-h-name: 'btn-sty1-h';
$btn-sty1-h-x: 397px;
$btn-sty1-h-y: 933px;
$btn-sty1-h-offset-x: -397px;
$btn-sty1-h-offset-y: -933px;
$btn-sty1-h-width: 324px;
$btn-sty1-h-height: 63px;
$btn-sty1-h-total-width: 1605px;
$btn-sty1-h-total-height: 1319px;
$btn-sty1-h-image: '../ztimages/csprite.png';
$btn-sty1-h: (397px, 933px, -397px, -933px, 324px, 63px, 1605px, 1319px, '../ztimages/csprite.png', 'btn-sty1-h', );
$btn-sty1-name: 'btn-sty1';
$btn-sty1-x: 729px;
$btn-sty1-y: 933px;
$btn-sty1-offset-x: -729px;
$btn-sty1-offset-y: -933px;
$btn-sty1-width: 324px;
$btn-sty1-height: 63px;
$btn-sty1-total-width: 1605px;
$btn-sty1-total-height: 1319px;
$btn-sty1-image: '../ztimages/csprite.png';
$btn-sty1: (729px, 933px, -729px, -933px, 324px, 63px, 1605px, 1319px, '../ztimages/csprite.png', 'btn-sty1', );
$btn-sty2-h-name: 'btn-sty2-h';
$btn-sty2-h-x: 0px;
$btn-sty2-h-y: 1271px;
$btn-sty2-h-offset-x: 0px;
$btn-sty2-h-offset-y: -1271px;
$btn-sty2-h-width: 310px;
$btn-sty2-h-height: 48px;
$btn-sty2-h-total-width: 1605px;
$btn-sty2-h-total-height: 1319px;
$btn-sty2-h-image: '../ztimages/csprite.png';
$btn-sty2-h: (0px, 1271px, 0px, -1271px, 310px, 48px, 1605px, 1319px, '../ztimages/csprite.png', 'btn-sty2-h', );
$btn-sty2-name: 'btn-sty2';
$btn-sty2-x: 318px;
$btn-sty2-y: 1271px;
$btn-sty2-offset-x: -318px;
$btn-sty2-offset-y: -1271px;
$btn-sty2-width: 310px;
$btn-sty2-height: 48px;
$btn-sty2-total-width: 1605px;
$btn-sty2-total-height: 1319px;
$btn-sty2-image: '../ztimages/csprite.png';
$btn-sty2: (318px, 1271px, -318px, -1271px, 310px, 48px, 1605px, 1319px, '../ztimages/csprite.png', 'btn-sty2', );
$buy-arr-name: 'buy-arr';
$buy-arr-x: 1574px;
$buy-arr-y: 372px;
$buy-arr-offset-x: -1574px;
$buy-arr-offset-y: -372px;
$buy-arr-width: 15px;
$buy-arr-height: 11px;
$buy-arr-total-width: 1605px;
$buy-arr-total-height: 1319px;
$buy-arr-image: '../ztimages/csprite.png';
$buy-arr: (1574px, 372px, -1574px, -372px, 15px, 11px, 1605px, 1319px, '../ztimages/csprite.png', 'buy-arr', );
$buy-name: 'buy';
$buy-x: 834px;
$buy-y: 753px;
$buy-offset-x: -834px;
$buy-offset-y: -753px;
$buy-width: 148px;
$buy-height: 31px;
$buy-total-width: 1605px;
$buy-total-height: 1319px;
$buy-image: '../ztimages/csprite.png';
$buy: (834px, 753px, -834px, -753px, 148px, 31px, 1605px, 1319px, '../ztimages/csprite.png', 'buy', );
$close-h-name: 'close-h';
$close-h-x: 1538px;
$close-h-y: 1112px;
$close-h-offset-x: -1538px;
$close-h-offset-y: -1112px;
$close-h-width: 43px;
$close-h-height: 43px;
$close-h-total-width: 1605px;
$close-h-total-height: 1319px;
$close-h-image: '../ztimages/csprite.png';
$close-h: (1538px, 1112px, -1538px, -1112px, 43px, 43px, 1605px, 1319px, '../ztimages/csprite.png', 'close-h', );
$close-name: 'close';
$close-x: 1538px;
$close-y: 1187px;
$close-offset-x: -1538px;
$close-offset-y: -1187px;
$close-width: 43px;
$close-height: 43px;
$close-total-width: 1605px;
$close-total-height: 1319px;
$close-image: '../ztimages/csprite.png';
$close: (1538px, 1187px, -1538px, -1187px, 43px, 43px, 1605px, 1319px, '../ztimages/csprite.png', 'close', );
$handbook-h-name: 'handbook-h';
$handbook-h-x: 1569px;
$handbook-h-y: 673px;
$handbook-h-offset-x: -1569px;
$handbook-h-offset-y: -673px;
$handbook-h-width: 29px;
$handbook-h-height: 31px;
$handbook-h-total-width: 1605px;
$handbook-h-total-height: 1319px;
$handbook-h-image: '../ztimages/csprite.png';
$handbook-h: (1569px, 673px, -1569px, -673px, 29px, 31px, 1605px, 1319px, '../ztimages/csprite.png', 'handbook-h', );
$handbook-name: 'handbook';
$handbook-x: 1576px;
$handbook-y: 398px;
$handbook-offset-x: -1576px;
$handbook-offset-y: -398px;
$handbook-width: 29px;
$handbook-height: 31px;
$handbook-total-width: 1605px;
$handbook-total-height: 1319px;
$handbook-image: '../ztimages/csprite.png';
$handbook: (1576px, 398px, -1576px, -398px, 29px, 31px, 1605px, 1319px, '../ztimages/csprite.png', 'handbook', );
$hd-arr-bg-name: 'hd-arr-bg';
$hd-arr-bg-x: 1380px;
$hd-arr-bg-y: 1112px;
$hd-arr-bg-offset-x: -1380px;
$hd-arr-bg-offset-y: -1112px;
$hd-arr-bg-width: 150px;
$hd-arr-bg-height: 67px;
$hd-arr-bg-total-width: 1605px;
$hd-arr-bg-total-height: 1319px;
$hd-arr-bg-image: '../ztimages/csprite.png';
$hd-arr-bg: (1380px, 1112px, -1380px, -1112px, 150px, 67px, 1605px, 1319px, '../ztimages/csprite.png', 'hd-arr-bg', );
$hd-arr-dis-name: 'hd-arr-dis';
$hd-arr-dis-x: 1507px;
$hd-arr-dis-y: 673px;
$hd-arr-dis-offset-x: -1507px;
$hd-arr-dis-offset-y: -673px;
$hd-arr-dis-width: 54px;
$hd-arr-dis-height: 48px;
$hd-arr-dis-total-width: 1605px;
$hd-arr-dis-total-height: 1319px;
$hd-arr-dis-image: '../ztimages/csprite.png';
$hd-arr-dis: (1507px, 673px, -1507px, -673px, 54px, 48px, 1605px, 1319px, '../ztimages/csprite.png', 'hd-arr-dis', );
$hd-arr-h-name: 'hd-arr-h';
$hd-arr-h-x: 1510px;
$hd-arr-h-y: 273px;
$hd-arr-h-offset-x: -1510px;
$hd-arr-h-offset-y: -273px;
$hd-arr-h-width: 54px;
$hd-arr-h-height: 48px;
$hd-arr-h-total-width: 1605px;
$hd-arr-h-total-height: 1319px;
$hd-arr-h-image: '../ztimages/csprite.png';
$hd-arr-h: (1510px, 273px, -1510px, -273px, 54px, 48px, 1605px, 1319px, '../ztimages/csprite.png', 'hd-arr-h', );
$hd-arr-name: 'hd-arr';
$hd-arr-x: 1507px;
$hd-arr-y: 848px;
$hd-arr-offset-x: -1507px;
$hd-arr-offset-y: -848px;
$hd-arr-width: 54px;
$hd-arr-height: 48px;
$hd-arr-total-width: 1605px;
$hd-arr-total-height: 1319px;
$hd-arr-image: '../ztimages/csprite.png';
$hd-arr: (1507px, 848px, -1507px, -848px, 54px, 48px, 1605px, 1319px, '../ztimages/csprite.png', 'hd-arr', );
$hunt-btn1-h-name: 'hunt-btn1-h';
$hunt-btn1-h-x: 510px;
$hunt-btn1-h-y: 1086px;
$hunt-btn1-h-offset-x: -510px;
$hunt-btn1-h-offset-y: -1086px;
$hunt-btn1-h-width: 253px;
$hunt-btn1-h-height: 66px;
$hunt-btn1-h-total-width: 1605px;
$hunt-btn1-h-total-height: 1319px;
$hunt-btn1-h-image: '../ztimages/csprite.png';
$hunt-btn1-h: (510px, 1086px, -510px, -1086px, 253px, 66px, 1605px, 1319px, '../ztimages/csprite.png', 'hunt-btn1-h', );
$hunt-btn1-name: 'hunt-btn1';
$hunt-btn1-x: 1031px;
$hunt-btn1-y: 1086px;
$hunt-btn1-offset-x: -1031px;
$hunt-btn1-offset-y: -1086px;
$hunt-btn1-width: 252px;
$hunt-btn1-height: 66px;
$hunt-btn1-total-width: 1605px;
$hunt-btn1-total-height: 1319px;
$hunt-btn1-image: '../ztimages/csprite.png';
$hunt-btn1: (1031px, 1086px, -1031px, -1086px, 252px, 66px, 1605px, 1319px, '../ztimages/csprite.png', 'hunt-btn1', );
$hunt-btn2-h-name: 'hunt-btn2-h';
$hunt-btn2-h-x: 249px;
$hunt-btn2-h-y: 1086px;
$hunt-btn2-h-offset-x: -249px;
$hunt-btn2-h-offset-y: -1086px;
$hunt-btn2-h-width: 253px;
$hunt-btn2-h-height: 66px;
$hunt-btn2-h-total-width: 1605px;
$hunt-btn2-h-total-height: 1319px;
$hunt-btn2-h-image: '../ztimages/csprite.png';
$hunt-btn2-h: (249px, 1086px, -249px, -1086px, 253px, 66px, 1605px, 1319px, '../ztimages/csprite.png', 'hunt-btn2-h', );
$hunt-btn2-name: 'hunt-btn2';
$hunt-btn2-x: 771px;
$hunt-btn2-y: 1086px;
$hunt-btn2-offset-x: -771px;
$hunt-btn2-offset-y: -1086px;
$hunt-btn2-width: 252px;
$hunt-btn2-height: 66px;
$hunt-btn2-total-width: 1605px;
$hunt-btn2-total-height: 1319px;
$hunt-btn2-image: '../ztimages/csprite.png';
$hunt-btn2: (771px, 1086px, -771px, -1086px, 252px, 66px, 1605px, 1319px, '../ztimages/csprite.png', 'hunt-btn2', );
$hunt-nav-h-name: 'hunt-nav-h';
$hunt-nav-h-x: 1380px;
$hunt-nav-h-y: 1262px;
$hunt-nav-h-offset-x: -1380px;
$hunt-nav-h-offset-y: -1262px;
$hunt-nav-h-width: 210px;
$hunt-nav-h-height: 35px;
$hunt-nav-h-total-width: 1605px;
$hunt-nav-h-total-height: 1319px;
$hunt-nav-h-image: '../ztimages/csprite.png';
$hunt-nav-h: (1380px, 1262px, -1380px, -1262px, 210px, 35px, 1605px, 1319px, '../ztimages/csprite.png', 'hunt-nav-h', );
$intro-bg-video-mini-name: 'intro-bg-video-mini';
$intro-bg-video-mini-x: 0px;
$intro-bg-video-mini-y: 437px;
$intro-bg-video-mini-offset-x: 0px;
$intro-bg-video-mini-offset-y: -437px;
$intro-bg-video-mini-width: 996px;
$intro-bg-video-mini-height: 90px;
$intro-bg-video-mini-total-width: 1605px;
$intro-bg-video-mini-total-height: 1319px;
$intro-bg-video-mini-image: '../ztimages/csprite.png';
$intro-bg-video-mini: (0px, 437px, 0px, -437px, 996px, 90px, 1605px, 1319px, '../ztimages/csprite.png', 'intro-bg-video-mini', );
$intro-bg-video-name: 'intro-bg-video';
$intro-bg-video-x: 0px;
$intro-bg-video-y: 0px;
$intro-bg-video-offset-x: 0px;
$intro-bg-video-offset-y: 0px;
$intro-bg-video-width: 996px;
$intro-bg-video-height: 120px;
$intro-bg-video-total-width: 1605px;
$intro-bg-video-total-height: 1319px;
$intro-bg-video-image: '../ztimages/csprite.png';
$intro-bg-video: (0px, 0px, 0px, 0px, 996px, 120px, 1605px, 1319px, '../ztimages/csprite.png', 'intro-bg-video', );
$intro-bot-video-name: 'intro-bot-video';
$intro-bot-video-x: 0px;
$intro-bot-video-y: 1057px;
$intro-bot-video-offset-x: 0px;
$intro-bot-video-offset-y: -1057px;
$intro-bot-video-width: 996px;
$intro-bot-video-height: 21px;
$intro-bot-video-total-width: 1605px;
$intro-bot-video-total-height: 1319px;
$intro-bot-video-image: '../ztimages/csprite.png';
$intro-bot-video: (0px, 1057px, 0px, -1057px, 996px, 21px, 1605px, 1319px, '../ztimages/csprite.png', 'intro-bot-video', );
$intro-bot-name: 'intro-bot';
$intro-bot-x: 393px;
$intro-bot-y: 1172px;
$intro-bot-offset-x: -393px;
$intro-bot-offset-y: -1172px;
$intro-bot-width: 385px;
$intro-bot-height: 27px;
$intro-bot-total-width: 1605px;
$intro-bot-total-height: 1319px;
$intro-bot-image: '../ztimages/csprite.png';
$intro-bot: (393px, 1172px, -393px, -1172px, 385px, 27px, 1605px, 1319px, '../ztimages/csprite.png', 'intro-bot', );
$intro-top-video-name: 'intro-top-video';
$intro-top-video-x: 0px;
$intro-top-video-y: 1010px;
$intro-top-video-offset-x: 0px;
$intro-top-video-offset-y: -1010px;
$intro-top-video-width: 996px;
$intro-top-video-height: 39px;
$intro-top-video-total-width: 1605px;
$intro-top-video-total-height: 1319px;
$intro-top-video-image: '../ztimages/csprite.png';
$intro-top-video: (0px, 1010px, 0px, -1010px, 996px, 39px, 1605px, 1319px, '../ztimages/csprite.png', 'intro-top-video', );
$intro-top-name: 'intro-top';
$intro-top-x: 0px;
$intro-top-y: 1172px;
$intro-top-offset-x: 0px;
$intro-top-offset-y: -1172px;
$intro-top-width: 385px;
$intro-top-height: 39px;
$intro-top-total-width: 1605px;
$intro-top-total-height: 1319px;
$intro-top-image: '../ztimages/csprite.png';
$intro-top: (0px, 1172px, 0px, -1172px, 385px, 39px, 1605px, 1319px, '../ztimages/csprite.png', 'intro-top', );
$kuang-top-name: 'kuang-top';
$kuang-top-x: 564px;
$kuang-top-y: 805px;
$kuang-top-offset-x: -564px;
$kuang-top-offset-y: -805px;
$kuang-top-width: 277px;
$kuang-top-height: 9px;
$kuang-top-total-width: 1605px;
$kuang-top-total-height: 1319px;
$kuang-top-image: '../ztimages/csprite.png';
$kuang-top: (564px, 805px, -564px, -805px, 277px, 9px, 1605px, 1319px, '../ztimages/csprite.png', 'kuang-top', );
$light-box-h-name: 'light-box-h';
$light-box-h-x: 371px;
$light-box-h-y: 128px;
$light-box-h-offset-x: -371px;
$light-box-h-offset-y: -128px;
$light-box-h-width: 363px;
$light-box-h-height: 301px;
$light-box-h-total-width: 1605px;
$light-box-h-total-height: 1319px;
$light-box-h-image: '../ztimages/csprite.png';
$light-box-h: (371px, 128px, -371px, -128px, 363px, 301px, 1605px, 1319px, '../ztimages/csprite.png', 'light-box-h', );
$light-box-name: 'light-box';
$light-box-x: 0px;
$light-box-y: 128px;
$light-box-offset-x: 0px;
$light-box-offset-y: -128px;
$light-box-width: 363px;
$light-box-height: 301px;
$light-box-total-width: 1605px;
$light-box-total-height: 1319px;
$light-box-image: '../ztimages/csprite.png';
$light-box: (0px, 128px, 0px, -128px, 363px, 301px, 1605px, 1319px, '../ztimages/csprite.png', 'light-box', );
$light-cat-h-name: 'light-cat-h';
$light-cat-h-x: 0px;
$light-cat-h-y: 535px;
$light-cat-h-offset-x: 0px;
$light-cat-h-offset-y: -535px;
$light-cat-h-width: 274px;
$light-cat-h-height: 295px;
$light-cat-h-total-width: 1605px;
$light-cat-h-total-height: 1319px;
$light-cat-h-image: '../ztimages/csprite.png';
$light-cat-h: (0px, 535px, 0px, -535px, 274px, 295px, 1605px, 1319px, '../ztimages/csprite.png', 'light-cat-h', );
$light-cat-name: 'light-cat';
$light-cat-x: 282px;
$light-cat-y: 535px;
$light-cat-offset-x: -282px;
$light-cat-offset-y: -535px;
$light-cat-width: 274px;
$light-cat-height: 295px;
$light-cat-total-width: 1605px;
$light-cat-total-height: 1319px;
$light-cat-image: '../ztimages/csprite.png';
$light-cat: (282px, 535px, -282px, -535px, 274px, 295px, 1605px, 1319px, '../ztimages/csprite.png', 'light-cat', );
$light-rabbit-h-name: 'light-rabbit-h';
$light-rabbit-h-x: 1004px;
$light-rabbit-h-y: 270px;
$light-rabbit-h-offset-x: -1004px;
$light-rabbit-h-offset-y: -270px;
$light-rabbit-h-width: 159px;
$light-rabbit-h-height: 288px;
$light-rabbit-h-total-width: 1605px;
$light-rabbit-h-total-height: 1319px;
$light-rabbit-h-image: '../ztimages/csprite.png';
$light-rabbit-h: (1004px, 270px, -1004px, -270px, 159px, 288px, 1605px, 1319px, '../ztimages/csprite.png', 'light-rabbit-h', );
$light-rabbit-name: 'light-rabbit';
$light-rabbit-x: 742px;
$light-rabbit-y: 128px;
$light-rabbit-offset-x: -742px;
$light-rabbit-offset-y: -128px;
$light-rabbit-width: 159px;
$light-rabbit-height: 288px;
$light-rabbit-total-width: 1605px;
$light-rabbit-total-height: 1319px;
$light-rabbit-image: '../ztimages/csprite.png';
$light-rabbit: (742px, 128px, -742px, -128px, 159px, 288px, 1605px, 1319px, '../ztimages/csprite.png', 'light-rabbit', );
$logo-gs-name: 'logo-gs';
$logo-gs-x: 1004px;
$logo-gs-y: 566px;
$logo-gs-offset-x: -1004px;
$logo-gs-offset-y: -566px;
$logo-gs-width: 211px;
$logo-gs-height: 106px;
$logo-gs-total-width: 1605px;
$logo-gs-total-height: 1319px;
$logo-gs-image: '../ztimages/csprite.png';
$logo-gs: (1004px, 566px, -1004px, -566px, 211px, 106px, 1605px, 1319px, '../ztimages/csprite.png', 'logo-gs', );
$mark-bd-name: 'mark-bd';
$mark-bd-x: 1274px;
$mark-bd-y: 342px;
$mark-bd-offset-x: -1274px;
$mark-bd-offset-y: -342px;
$mark-bd-width: 40px;
$mark-bd-height: 36px;
$mark-bd-total-width: 1605px;
$mark-bd-total-height: 1319px;
$mark-bd-image: '../ztimages/csprite.png';
$mark-bd: (1274px, 342px, -1274px, -342px, 40px, 36px, 1605px, 1319px, '../ztimages/csprite.png', 'mark-bd', );
$mark-icon-name: 'mark-icon';
$mark-icon-x: 1578px;
$mark-icon-y: 593px;
$mark-icon-offset-x: -1578px;
$mark-icon-offset-y: -593px;
$mark-icon-width: 13px;
$mark-icon-height: 33px;
$mark-icon-total-width: 1605px;
$mark-icon-total-height: 1319px;
$mark-icon-image: '../ztimages/csprite.png';
$mark-icon: (1578px, 593px, -1578px, -593px, 13px, 33px, 1605px, 1319px, '../ztimages/csprite.png', 'mark-icon', );
$mp-btn-txt-name: 'mp-btn-txt';
$mp-btn-txt-x: 1061px;
$mp-btn-txt-y: 933px;
$mp-btn-txt-offset-x: -1061px;
$mp-btn-txt-offset-y: -933px;
$mp-btn-txt-width: 205px;
$mp-btn-txt-height: 35px;
$mp-btn-txt-total-width: 1605px;
$mp-btn-txt-total-height: 1319px;
$mp-btn-txt-image: '../ztimages/csprite.png';
$mp-btn-txt: (1061px, 933px, -1061px, -933px, 205px, 35px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-btn-txt', );
$mp-icon0-name: 'mp-icon0';
$mp-icon0-x: 1549px;
$mp-icon0-y: 911px;
$mp-icon0-offset-x: -1549px;
$mp-icon0-offset-y: -911px;
$mp-icon0-width: 50px;
$mp-icon0-height: 51px;
$mp-icon0-total-width: 1605px;
$mp-icon0-total-height: 1319px;
$mp-icon0-image: '../ztimages/csprite.png';
$mp-icon0: (1549px, 911px, -1549px, -911px, 50px, 51px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-icon0', );
$mp-icon1-name: 'mp-icon1';
$mp-icon1-x: 1510px;
$mp-icon1-y: 525px;
$mp-icon1-offset-x: -1510px;
$mp-icon1-offset-y: -525px;
$mp-icon1-width: 54px;
$mp-icon1-height: 55px;
$mp-icon1-total-width: 1605px;
$mp-icon1-total-height: 1319px;
$mp-icon1-image: '../ztimages/csprite.png';
$mp-icon1: (1510px, 525px, -1510px, -525px, 54px, 55px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-icon1', );
$mp-icon2-name: 'mp-icon2';
$mp-icon2-x: 1510px;
$mp-icon2-y: 398px;
$mp-icon2-offset-x: -1510px;
$mp-icon2-offset-y: -398px;
$mp-icon2-width: 58px;
$mp-icon2-height: 55px;
$mp-icon2-total-width: 1605px;
$mp-icon2-total-height: 1319px;
$mp-icon2-image: '../ztimages/csprite.png';
$mp-icon2: (1510px, 398px, -1510px, -398px, 58px, 55px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-icon2', );
$mp-icon3-name: 'mp-icon3';
$mp-icon3-x: 1510px;
$mp-icon3-y: 463px;
$mp-icon3-offset-x: -1510px;
$mp-icon3-offset-y: -463px;
$mp-icon3-width: 55px;
$mp-icon3-height: 54px;
$mp-icon3-total-width: 1605px;
$mp-icon3-total-height: 1319px;
$mp-icon3-image: '../ztimages/csprite.png';
$mp-icon3: (1510px, 463px, -1510px, -463px, 55px, 54px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-icon3', );
$mp-icon4-name: 'mp-icon4';
$mp-icon4-x: 1510px;
$mp-icon4-y: 333px;
$mp-icon4-offset-x: -1510px;
$mp-icon4-offset-y: -333px;
$mp-icon4-width: 56px;
$mp-icon4-height: 57px;
$mp-icon4-total-width: 1605px;
$mp-icon4-total-height: 1319px;
$mp-icon4-image: '../ztimages/csprite.png';
$mp-icon4: (1510px, 333px, -1510px, -333px, 56px, 57px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-icon4', );
$mp-icon5-name: 'mp-icon5';
$mp-icon5-x: 1510px;
$mp-icon5-y: 143px;
$mp-icon5-offset-x: -1510px;
$mp-icon5-offset-y: -143px;
$mp-icon5-width: 52px;
$mp-icon5-height: 52px;
$mp-icon5-total-width: 1605px;
$mp-icon5-total-height: 1319px;
$mp-icon5-image: '../ztimages/csprite.png';
$mp-icon5: (1510px, 143px, -1510px, -143px, 52px, 52px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-icon5', );
$mp-line1-name: 'mp-line1';
$mp-line1-x: 1004px;
$mp-line1-y: 680px;
$mp-line1-offset-x: -1004px;
$mp-line1-offset-y: -680px;
$mp-line1-width: 186px;
$mp-line1-height: 112px;
$mp-line1-total-width: 1605px;
$mp-line1-total-height: 1319px;
$mp-line1-image: '../ztimages/csprite.png';
$mp-line1: (1004px, 680px, -1004px, -680px, 186px, 112px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-line1', );
$mp-line2-name: 'mp-line2';
$mp-line2-x: 0px;
$mp-line2-y: 1086px;
$mp-line2-offset-x: 0px;
$mp-line2-offset-y: -1086px;
$mp-line2-width: 241px;
$mp-line2-height: 78px;
$mp-line2-total-width: 1605px;
$mp-line2-total-height: 1319px;
$mp-line2-image: '../ztimages/csprite.png';
$mp-line2: (0px, 1086px, 0px, -1086px, 241px, 78px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-line2', );
$mp-line3-name: 'mp-line3';
$mp-line3-x: 1274px;
$mp-line3-y: 0px;
$mp-line3-offset-x: -1274px;
$mp-line3-offset-y: 0px;
$mp-line3-width: 98px;
$mp-line3-height: 334px;
$mp-line3-total-width: 1605px;
$mp-line3-total-height: 1319px;
$mp-line3-image: '../ztimages/csprite.png';
$mp-line3: (1274px, 0px, -1274px, 0px, 98px, 334px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-line3', );
$mp-line4-name: 'mp-line4';
$mp-line4-x: 834px;
$mp-line4-y: 535px;
$mp-line4-offset-x: -834px;
$mp-line4-offset-y: -535px;
$mp-line4-width: 122px;
$mp-line4-height: 167px;
$mp-line4-total-width: 1605px;
$mp-line4-total-height: 1319px;
$mp-line4-image: '../ztimages/csprite.png';
$mp-line4: (834px, 535px, -834px, -535px, 122px, 167px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-line4', );
$mp-tips-name: 'mp-tips';
$mp-tips-x: 1570px;
$mp-tips-y: 143px;
$mp-tips-offset-x: -1570px;
$mp-tips-offset-y: -143px;
$mp-tips-width: 27px;
$mp-tips-height: 35px;
$mp-tips-total-width: 1605px;
$mp-tips-total-height: 1319px;
$mp-tips-image: '../ztimages/csprite.png';
$mp-tips: (1570px, 143px, -1570px, -143px, 27px, 35px, 1605px, 1319px, '../ztimages/csprite.png', 'mp-tips', );
$mtab-nav-h-name: 'mtab-nav-h';
$mtab-nav-h-x: 1380px;
$mtab-nav-h-y: 1054px;
$mtab-nav-h-offset-x: -1380px;
$mtab-nav-h-offset-y: -1054px;
$mtab-nav-h-width: 209px;
$mtab-nav-h-height: 50px;
$mtab-nav-h-total-width: 1605px;
$mtab-nav-h-total-height: 1319px;
$mtab-nav-h-image: '../ztimages/csprite.png';
$mtab-nav-h: (1380px, 1054px, -1380px, -1054px, 209px, 50px, 1605px, 1319px, '../ztimages/csprite.png', 'mtab-nav-h', );
$mtab-nav-tar-name: 'mtab-nav-tar';
$mtab-nav-tar-x: 1380px;
$mtab-nav-tar-y: 0px;
$mtab-nav-tar-offset-x: -1380px;
$mtab-nav-tar-offset-y: 0px;
$mtab-nav-tar-width: 225px;
$mtab-nav-tar-height: 65px;
$mtab-nav-tar-total-width: 1605px;
$mtab-nav-tar-total-height: 1319px;
$mtab-nav-tar-image: '../ztimages/csprite.png';
$mtab-nav-tar: (1380px, 0px, -1380px, 0px, 225px, 65px, 1605px, 1319px, '../ztimages/csprite.png', 'mtab-nav-tar', );
$mtab-nav-name: 'mtab-nav';
$mtab-nav-x: 1380px;
$mtab-nav-y: 996px;
$mtab-nav-offset-x: -1380px;
$mtab-nav-offset-y: -996px;
$mtab-nav-width: 209px;
$mtab-nav-height: 50px;
$mtab-nav-total-width: 1605px;
$mtab-nav-total-height: 1319px;
$mtab-nav-image: '../ztimages/csprite.png';
$mtab-nav: (1380px, 996px, -1380px, -996px, 209px, 50px, 1605px, 1319px, '../ztimages/csprite.png', 'mtab-nav', );
$mtab-tit-name: 'mtab-tit';
$mtab-tit-x: 0px;
$mtab-tit-y: 838px;
$mtab-tit-offset-x: 0px;
$mtab-tit-offset-y: -838px;
$mtab-tit-width: 389px;
$mtab-tit-height: 164px;
$mtab-tit-total-width: 1605px;
$mtab-tit-total-height: 1319px;
$mtab-tit-image: '../ztimages/csprite.png';
$mtab-tit: (0px, 838px, 0px, -838px, 389px, 164px, 1605px, 1319px, '../ztimages/csprite.png', 'mtab-tit', );
$nav-close-h-name: 'nav-close-h';
$nav-close-h-x: 1572px;
$nav-close-h-y: 273px;
$nav-close-h-offset-x: -1572px;
$nav-close-h-offset-y: -273px;
$nav-close-h-width: 30px;
$nav-close-h-height: 31px;
$nav-close-h-total-width: 1605px;
$nav-close-h-total-height: 1319px;
$nav-close-h-image: '../ztimages/csprite.png';
$nav-close-h: (1572px, 273px, -1572px, -273px, 30px, 31px, 1605px, 1319px, '../ztimages/csprite.png', 'nav-close-h', );
$nav-close-name: 'nav-close';
$nav-close-x: 1574px;
$nav-close-y: 333px;
$nav-close-offset-x: -1574px;
$nav-close-offset-y: -333px;
$nav-close-width: 30px;
$nav-close-height: 31px;
$nav-close-total-width: 1605px;
$nav-close-total-height: 1319px;
$nav-close-image: '../ztimages/csprite.png';
$nav-close: (1574px, 333px, -1574px, -333px, 30px, 31px, 1605px, 1319px, '../ztimages/csprite.png', 'nav-close', );
$nav-h-name: 'nav-h';
$nav-h-x: 1573px;
$nav-h-y: 463px;
$nav-h-offset-x: -1573px;
$nav-h-offset-y: -463px;
$nav-h-width: 30px;
$nav-h-height: 31px;
$nav-h-total-width: 1605px;
$nav-h-total-height: 1319px;
$nav-h-image: '../ztimages/csprite.png';
$nav-h: (1573px, 463px, -1573px, -463px, 30px, 31px, 1605px, 1319px, '../ztimages/csprite.png', 'nav-h', );
$nav-name: 'nav';
$nav-x: 1572px;
$nav-y: 525px;
$nav-offset-x: -1572px;
$nav-offset-y: -525px;
$nav-width: 30px;
$nav-height: 31px;
$nav-total-width: 1605px;
$nav-total-height: 1319px;
$nav-image: '../ztimages/csprite.png';
$nav: (1572px, 525px, -1572px, -525px, 30px, 31px, 1605px, 1319px, '../ztimages/csprite.png', 'nav', );
$play-btn-h-name: 'play-btn-h';
$play-btn-h-x: 564px;
$play-btn-h-y: 535px;
$play-btn-h-offset-x: -564px;
$play-btn-h-offset-y: -535px;
$play-btn-h-width: 262px;
$play-btn-h-height: 262px;
$play-btn-h-total-width: 1605px;
$play-btn-h-total-height: 1319px;
$play-btn-h-image: '../ztimages/csprite.png';
$play-btn-h: (564px, 535px, -564px, -535px, 262px, 262px, 1605px, 1319px, '../ztimages/csprite.png', 'play-btn-h', );
$play-btn-name: 'play-btn';
$play-btn-x: 1004px;
$play-btn-y: 0px;
$play-btn-offset-x: -1004px;
$play-btn-offset-y: 0px;
$play-btn-width: 262px;
$play-btn-height: 262px;
$play-btn-total-width: 1605px;
$play-btn-total-height: 1319px;
$play-btn-image: '../ztimages/csprite.png';
$play-btn: (1004px, 0px, -1004px, 0px, 262px, 262px, 1605px, 1319px, '../ztimages/csprite.png', 'play-btn', );
$tips-bg-name: 'tips-bg';
$tips-bg-x: 0px;
$tips-bg-y: 1219px;
$tips-bg-offset-x: 0px;
$tips-bg-offset-y: -1219px;
$tips-bg-width: 347px;
$tips-bg-height: 44px;
$tips-bg-total-width: 1605px;
$tips-bg-total-height: 1319px;
$tips-bg-image: '../ztimages/csprite.png';
$tips-bg: (0px, 1219px, 0px, -1219px, 347px, 44px, 1605px, 1319px, '../ztimages/csprite.png', 'tips-bg', );
$vol-anim-h-name: 'vol-anim-h';
$vol-anim-h-x: 1580px;
$vol-anim-h-y: 243px;
$vol-anim-h-offset-x: -1580px;
$vol-anim-h-offset-y: -243px;
$vol-anim-h-width: 12px;
$vol-anim-h-height: 20px;
$vol-anim-h-total-width: 1605px;
$vol-anim-h-total-height: 1319px;
$vol-anim-h-image: '../ztimages/csprite.png';
$vol-anim-h: (1580px, 243px, -1580px, -243px, 12px, 20px, 1605px, 1319px, '../ztimages/csprite.png', 'vol-anim-h', );
$vol-anim-name: 'vol-anim';
$vol-anim-x: 1580px;
$vol-anim-y: 113px;
$vol-anim-offset-x: -1580px;
$vol-anim-offset-y: -113px;
$vol-anim-width: 12px;
$vol-anim-height: 20px;
$vol-anim-total-width: 1605px;
$vol-anim-total-height: 1319px;
$vol-anim-image: '../ztimages/csprite.png';
$vol-anim: (1580px, 113px, -1580px, -113px, 12px, 20px, 1605px, 1319px, '../ztimages/csprite.png', 'vol-anim', );
$vol-h-name: 'vol-h';
$vol-h-x: 1580px;
$vol-h-y: 203px;
$vol-h-offset-x: -1580px;
$vol-h-offset-y: -203px;
$vol-h-width: 16px;
$vol-h-height: 32px;
$vol-h-total-width: 1605px;
$vol-h-total-height: 1319px;
$vol-h-image: '../ztimages/csprite.png';
$vol-h: (1580px, 203px, -1580px, -203px, 16px, 32px, 1605px, 1319px, '../ztimages/csprite.png', 'vol-h', );
$vol-name: 'vol';
$vol-x: 1580px;
$vol-y: 73px;
$vol-offset-x: -1580px;
$vol-offset-y: -73px;
$vol-width: 16px;
$vol-height: 32px;
$vol-total-width: 1605px;
$vol-total-height: 1319px;
$vol-image: '../ztimages/csprite.png';
$vol: (1580px, 73px, -1580px, -73px, 16px, 32px, 1605px, 1319px, '../ztimages/csprite.png', 'vol', );
$zan-h-name: 'zan-h';
$zan-h-x: 1510px;
$zan-h-y: 203px;
$zan-h-offset-x: -1510px;
$zan-h-offset-y: -203px;
$zan-h-width: 62px;
$zan-h-height: 62px;
$zan-h-total-width: 1605px;
$zan-h-total-height: 1319px;
$zan-h-image: '../ztimages/csprite.png';
$zan-h: (1510px, 203px, -1510px, -203px, 62px, 62px, 1605px, 1319px, '../ztimages/csprite.png', 'zan-h', );
$zan-name: 'zan';
$zan-x: 1510px;
$zan-y: 73px;
$zan-offset-x: -1510px;
$zan-offset-y: -73px;
$zan-width: 62px;
$zan-height: 62px;
$zan-total-width: 1605px;
$zan-total-height: 1319px;
$zan-image: '../ztimages/csprite.png';
$zan: (1510px, 73px, -1510px, -73px, 62px, 62px, 1605px, 1319px, '../ztimages/csprite.png', 'zan', );
$spritesheet-width: 1605px;
$spritesheet-height: 1319px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($begin-btn-anim, $begin-btn, $begin-hdbtn-h, $begin-hdbtn, $begin-ots-h, $begin-ots-light, $begin-ots, $bp1, $bp2, $bp3, $bp4, $btn-pic-arr, $btn-selected, $btn-skip-arr-h, $btn-skip-arr, $btn-skip, $btn-sty1-h, $btn-sty1, $btn-sty2-h, $btn-sty2, $buy-arr, $buy, $close-h, $close, $handbook-h, $handbook, $hd-arr-bg, $hd-arr-dis, $hd-arr-h, $hd-arr, $hunt-btn1-h, $hunt-btn1, $hunt-btn2-h, $hunt-btn2, $hunt-nav-h, $intro-bg-video-mini, $intro-bg-video, $intro-bot-video, $intro-bot, $intro-top-video, $intro-top, $kuang-top, $light-box-h, $light-box, $light-cat-h, $light-cat, $light-rabbit-h, $light-rabbit, $logo-gs, $mark-bd, $mark-icon, $mp-btn-txt, $mp-icon0, $mp-icon1, $mp-icon2, $mp-icon3, $mp-icon4, $mp-icon5, $mp-line1, $mp-line2, $mp-line3, $mp-line4, $mp-tips, $mtab-nav-h, $mtab-nav-tar, $mtab-nav, $mtab-tit, $nav-close-h, $nav-close, $nav-h, $nav, $play-btn-h, $play-btn, $tips-bg, $vol-anim-h, $vol-anim, $vol-h, $vol, $zan-h, $zan, );
$spritesheet: (1605px, 1319px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
