.bdsharewrap.bdstyle-c { width: 242px; height: 36px; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox { width: 800px; height: 36px; *font-size: 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after, .bdsharewrap.bdstyle-c .bdsharebuttonbox.before { display: table; content: " "; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after { clear: both; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a { float: left; margin: 0 4px 0 0; padding: 0; display: inline-block; *display: inline; *zoom: 1; width: 37px; height: 36px; background: url("http://image.gamersky.com/webimg13/zhuanti/cf8zn/fx.png") 0 0 no-repeat; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tsina { background-position: 0 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_weixin { background-position: -40px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_qzone { background-position: -80px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_renren { background-position: -121px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_sqq { background-position: -161px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_count { background-position: -200px 0; text-indent: 9999px; white-space: nowrap; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tieba, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_douban, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_more { display: none; }

html, body { min-width: 1280px; }

body { font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }

h1, h2, h3, h4, h5, p, ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; cursor: pointer; }

.clearfix:before, .clearfix:after, .container:before, .container:after { display: table; content: " "; }

.clearfix:after, .container:after { clear: both; }

.container { margin-right: auto; margin-left: auto; width: 1200px; }

.zt-section { margin: 0; padding: 0; overflow: hidden; width: 100%; min-width: 1200px; }

.QZnav { min-width: 1200px; }

.QZnav .topbar { width: 1200px; }

.QZnav .QZ-nav { display: none; }

.Bot { width: 100%; min-width: 1200px; height: 155px; background: #111; font-size: 14px; }

.Bot .Copyright { margin: 0 auto; padding-top: 50px; width: 1200px; height: auto; line-height: 30px; text-align: center; color: #555; }

.Bot .Copyright a { margin: 0 5px; color: #555; }

.Bot .Copyright a:hover { color: #777; }

.gsPopupMask { position: fixed; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background: url(http://image.gamersky.com/webimg13/zhuanti/common/black80.png) 0 0 repeat; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopupMask.cur { opacity: 1; visibility: visible; }

.gsPopup { z-index: 99999; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopup .gsPopupCon { width: 100%; height: 100%; background-color: #000; }

.gsPopup .gsPopupCon img { display: block; }

.gsPopup .gsPopupCon video { display: block; width: 100%; height: 100%; }

.gsPopup .gsPopupClose { position: absolute; top: 0; right: -50px; overflow: hidden; width: 38px; height: 38px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/gsPopupClose.png) 5px 5px no-repeat; }

.gsPopup .gsPopupClose:hover { background-position: -33px 5px; }

.gsPopup.cur { opacity: 1; visibility: visible; }

.fixednav { display: none; position: fixed; right: 60px; top: 50%; margin-top: -181px; z-index: 999; padding-right: 40px; padding-top: 23px; width: 90px; height: 362px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/fx-bg.png) right 0 no-repeat; }

.fixednav li { display: block; margin-bottom: 4px; width: 90px; height: 32px; }

.fixednav li a { position: relative; display: block; width: 90px; height: 32px; line-height: 32px; text-align: right; font-size: 16px; color: #69619a; }

.fixednav li a span { display: block; position: absolute; left: -1px; top: -1px; width: 100%; height: 100%; text-align: right; color: #fff; }

.fixednav li a i { display: none; position: absolute; top: 10.5px; right: -24px; width: 11px; height: 11px; background-color: #07002b; }

.fixednav li a.cur span, .fixednav li a:hover span { color: #07002b; }

.fixednav li a.cur i, .fixednav li a:hover i { display: block; }

.fixednav.cur { display: block; }

.ztTab1 { position: relative; width: 1200px; height: 600px; }

.ztTab1 .ztTabNav { position: relative; margin-bottom: 40px; height: 39px; }

.ztTab1 .ztTabNav i { display: block; position: absolute; top: 21px; height: 1px; background-color: #bbb; }

.ztTab1 .ztTabNav li { position: relative; cursor: pointer; float: left; }

.ztTab1 .ztTabNav li span { display: block; text-align: center; }

.ztTab1 .ztTabNav li.cur span { color: #fff; }

.ztTab1 .ztTabCon li { position: relative; width: 1200px; height: 500px; }

.ztTab1 .ztTabCon li .txt { position: relative; padding-top: 47px; width: 340px; }

.ztTab1 .ztTabCon li .txt .line { width: 100%; height: 7px; }

.ztTab1 .ztTabCon li .txt .line.line-black { background-color: #5c5f69; }

.ztTab1 .ztTabCon li .txt .line.line-red { background-color: #fe655e; }

.ztTab1 .ztTabCon li .txt p { line-height: 24px; font-size: 16px; color: #5c5f69; text-indent: 32px; }

.ztTab1 .ztTabCon li .txt h5 { margin-top: 5px; line-height: 36px; font-size: 18px; color: #aa56db; }

.ztTab1 .ztTabCon li .imgwrap { display: block; position: absolute; top: 0; right: 0; padding: 16px 0 0 15px; width: 820px; height: 469px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/tab-bg.png) 0 0 no-repeat; }

.ztTab1 .ztTabCon li .imgwrap img { display: block; width: 800px; height: 449px; }

.arrBtn { display: block; position: absolute; }

.arrBtnL { background-image: url(../ztimages/csprite.png); background-position: -528px -532px; width: 42px; height: 60px; }

.arrBtnL:hover { background-image: url(../ztimages/csprite.png); background-position: -678px -532px; width: 42px; height: 60px; }

.arrBtnR { background-image: url(../ztimages/csprite.png); background-position: -578px -532px; width: 42px; height: 60px; }

.arrBtnR:hover { background-image: url(../ztimages/csprite.png); background-position: -628px -532px; width: 42px; height: 60px; }

.gsZoom { position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.gsZoom .gsZoomItems.gszm-con { position: relative; }

.gsZoom .gsZoomItems.gszm-con .gsZoomItem { cursor: pointer; position: absolute; z-index: -1; }

.gsZoom .gsZoomItems.gszm-con .gsZoomItem img { display: block; width: 100%; height: 100%; opacity: 0.5; }

.gsZoom .gsZoomItems.gszm-con .gsZoomItem.gszm-next, .gsZoom .gsZoomItems.gszm-con .gsZoomItem.gszm-prev { z-index: 1; }

.gsZoom .gsZoomItems.gszm-con .gsZoomItem.gszm-cur { cursor: default; z-index: 2; }

.gsZoom .gsZoomItems.gszm-con .gsZoomItem.gszm-cur img { opacity: 1; }

.gsZoom.gszm-css3 .gsZoomItems.gszm-con { perspective: 1200px; -webkit-perspective: 1200px; }

.gsZoom.gszm-css3 .gsZoomItems.gszm-con .gsZoomItem { position: absolute; left: 50%; margin-left: -335px; width: 670px; height: 378px; -webkit-transition: -webkit-transform 0.5s ease; transition: -webkit-transform 0.5s ease; transition: transform 0.5s ease; transition: transform 0.5s ease, -webkit-transform 0.5s ease; -webkit-transform: translate3d(0, 0, -1000px) rotateX(0deg) rotateY(0deg); transform: translate3d(0, 0, -1000px) rotateX(0deg) rotateY(0deg); }

.gsZoom.gszm-css3 .gsZoomItems.gszm-con .gsZoomItem img { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.gsZoom.gszm-css3 .gsZoomItems.gszm-con .gsZoomItem.gszm-prev { -webkit-transform: translate3d(-600px, 0, -720px); transform: translate3d(-600px, 0, -720px); }

.gsZoom.gszm-css3 .gsZoomItems.gszm-con .gsZoomItem.gszm-next { -webkit-transform: translate3d(600px, 0, -720px); transform: translate3d(600px, 0, -720px); }

.gsZoom.gszm-css3 .gsZoomItems.gszm-con .gsZoomItem.gszm-cur { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.zt-section1 { height: 1000px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/zt-bg1.jpg) center 0 no-repeat; }

.zt-section1 .container { position: relative; }

.zt-section1 .container .bdsharewrap.bdstyle-c { position: absolute; top: 30px; right: 100px; }

.zt-section1 .container .logo_gs { display: block; position: absolute; left: 101px; top: 26px; width: 139px; height: 47px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-black.png) 0 0 no-repeat; }

.zt-section1 .container .logo_gf { display: block; position: absolute; left: 251px; top: -2px; background-image: url(../ztimages/csprite.png); background-position: 0px -612px; width: 284px; height: 94px; }

.zt-section1 .container .btn { display: block; position: absolute; }

.zt-section1 .container .btn.btn1 { top: 678px; left: 682px; background-image: url(../ztimages/csprite.png); background-position: -379px 0px; width: 371px; height: 236px; }

.zt-section1 .container .btn.btn1:hover { background-image: url(../ztimages/csprite.png); background-position: 0px 0px; width: 371px; height: 236px; }

.zt-section1 .container .btn.btn2 { left: 473px; top: 698px; background-image: url(../ztimages/csprite.png); background-position: 0px -244px; width: 307px; height: 186px; }

.zt-section1 .container .btn.btn2:hover { background-image: url(../ztimages/csprite.png); background-position: -315px -244px; width: 307px; height: 186px; }

.zt-section1 .container .btn.btn3 { top: 507px; left: 817px; background-image: url(../ztimages/csprite.png); background-position: 0px -438px; width: 256px; height: 166px; }

.zt-section1 .container .btn.btn3 img { display: none; position: absolute; left: 33px; top: -102px; width: 175px; height: 176px; }

.zt-section1 .container .btn.btn3:hover { background-image: url(../ztimages/csprite.png); background-position: -264px -438px; width: 256px; height: 166px; }

.zt-section1 .container .btn.btn3:hover img { display: block; }

.zt-section2 { height: 647px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/zt-bg2.jpg) center 0 no-repeat; }

.zt-section2 .container { position: relative; padding-top: 268px; }

.zt-section2 .container .para { width: 429px; }

.zt-section2 .container .para p { margin-bottom: 28px; line-height: 28px; font-size: 15px; color: #ded6ff; text-indent: 30px; }

.zt-section2 .container .play { display: block; position: absolute; left: 459px; top: 230px; width: 741px; height: 417px; }

.zt-section2 .container .play img { display: block; width: 100%; height: 100%; }

.zt-section2 .container .play i { display: block; position: absolute; left: 331px; top: 169px; background-image: url(../ztimages/csprite.png); background-position: -630px -333px; width: 81px; height: 81px; }

.zt-section2 .container .play:hover i { background-image: url(../ztimages/csprite.png); background-position: -630px -244px; width: 81px; height: 81px; }

.zt-section3 { height: 1283px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/zt-bg3.jpg) center 0 no-repeat; }

.zt-section3 .container { position: relative; height: 1283px; }

.zt-section3 .container .role-box { width: 1920px; height: 1053px; position: absolute; left: 50%; top: 230px; margin-left: -960px; z-index: 3; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) center 0 no-repeat; }

.zt-section3 .container .role-box .swiper-slide { width: 100%; height: 100%; }

.zt-section3 .container .role-box .swiper-slide img { display: block; opacity: 0; -webkit-transition: all 0.5s ease 0.25s; transition: all 0.5s ease 0.25s; }

.zt-section3 .container .role-box .swiper-slide.swiper-slide-active img { opacity: 1; -webkit-transition-delay: 0.25s; transition-delay: 0.25s; }

.zt-section3 .container .role-box .zhezhao { position: absolute; width: 100%; height: 100%; z-index: 2; left: 0; top: 0; overflow: hidden; }

.zt-section3 .container .role-box .zhezhao .line-left, .zt-section3 .container .role-box .zhezhao .line-right, .zt-section3 .container .role-box .zhezhao .zhe-left, .zt-section3 .container .role-box .zhezhao .zhe-right { width: 1920px; height: 1053px; position: absolute; overflow: hidden; z-index: 2; }

.zt-section3 .container .role-box .zhezhao .line-left i, .zt-section3 .container .role-box .zhezhao .line-right i, .zt-section3 .container .role-box .zhezhao .zhe-left i, .zt-section3 .container .role-box .zhezhao .zhe-right i { position: absolute; width: 1920px; height: 1053px; }

.zt-section3 .container .role-box .zhezhao .zhe-left, .zt-section3 .container .role-box .zhezhao .zhe-right { -webkit-transition: all .25s ease-in .25s; transition: all .25s ease-in .25s; }

.zt-section3 .container .role-box .zhezhao .line-left, .zt-section3 .container .role-box .zhezhao .line-right { -webkit-transition: all .2s ease-in; transition: all .2s ease-in; }

.zt-section3 .container .role-box .zhezhao .zhe-left { left: -2px; top: -2px; -webkit-transform: skewY(-28.7deg); -ms-transform: skewY(-28.7deg); transform: skewY(-28.7deg); -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; }

.zt-section3 .container .role-box .zhezhao .zhe-left i { background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) no-repeat 2px 2px; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: skewY(28.7deg); -ms-transform: skewY(28.7deg); transform: skewY(28.7deg); left: 0; top: 0; }

.zt-section3 .container .role-box .zhezhao .zhe-right { bottom: 0; right: 0; -webkit-transform: skewY(-28.6deg); -ms-transform: skewY(-28.6deg); transform: skewY(-28.6deg); -webkit-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; transform-origin: 100% 100%; }

.zt-section3 .container .role-box .zhezhao .zhe-right i { background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) no-repeat left top; -webkit-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; transform-origin: 100% 100%; -webkit-transform: skewY(28.6deg); -ms-transform: skewY(28.6deg); transform: skewY(28.6deg); bottom: 0; right: 0; }

.zt-section3 .container .role-box .zhezhao .line-left { -webkit-transform: skewY(28.6deg); -ms-transform: skewY(28.6deg); transform: skewY(28.6deg); -webkit-transform-origin: 0 100%; -ms-transform-origin: 0 100%; transform-origin: 0 100%; left: 0; bottom: 0; }

.zt-section3 .container .role-box .zhezhao .line-left i { background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) no-repeat left top; -webkit-transform: skewY(-28.6deg); -ms-transform: skewY(-28.6deg); transform: skewY(-28.6deg); -webkit-transform-origin: 0 100%; -ms-transform-origin: 0 100%; transform-origin: 0 100%; left: 0; bottom: 0; }

.zt-section3 .container .role-box .zhezhao .line-right { top: 0; right: 0; -webkit-transform: skewY(28.7deg); -ms-transform: skewY(28.7deg); transform: skewY(28.7deg); -webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0; }

.zt-section3 .container .role-box .zhezhao .line-right i { background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/bg4_abd1511.jpg) no-repeat left top; -webkit-transform: skewY(-28.7deg); -ms-transform: skewY(-28.7deg); transform: skewY(-28.7deg); -webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0; right: 0; top: 0; }

.zt-section3 .container .role-box .zhezhao.on .zhe-left, .zt-section3 .container .role-box .zhezhao.on .zhe-right { width: 447px; height: 0; }

.zt-section3 .container .role-box .zhezhao.on .line-left, .zt-section3 .container .role-box .zhezhao.on .line-right { width: 0; height: 0; }

.zt-section3 .container .role-box .swiper-button-role { width: 42px; height: 60px; margin-top: -140px; -webkit-transition: -webkit-transform ease .6s; transition: -webkit-transform ease .6s; transition: transform ease .6s; transition: transform ease .6s, -webkit-transform ease .6s; }

.zt-section3 .container .role-box .swiper-button-role.role-left { left: 50%; margin-left: -600px; background-image: url(../ztimages/csprite.png); background-position: -528px -532px; width: 42px; height: 60px; -webkit-background-size: auto auto; background-size: auto; }

.zt-section3 .container .role-box .swiper-button-role.role-left:hover { background-image: url(../ztimages/csprite.png); background-position: -678px -532px; width: 42px; height: 60px; }

.zt-section3 .container .role-box .swiper-button-role.role-right { right: 50%; margin-right: -600px; background-image: url(../ztimages/csprite.png); background-position: -578px -532px; width: 42px; height: 60px; -webkit-background-size: auto auto; background-size: auto; }

.zt-section3 .container .role-box .swiper-button-role.role-right:hover { background-image: url(../ztimages/csprite.png); background-position: -628px -532px; width: 42px; height: 60px; }

.zt-section3 .container .wrap-part3-pagination { position: absolute; z-index: 53; left: 50%; top: 50%; width: 1200px; min-height: 170px; margin: 410px 0 0 -600px; }

.zt-section3 .container .wrap-part3-pagination .swiper-container { width: 1116px; height: 140px; position: relative; z-index: 2; }

.zt-section3 .container .wrap-part3-pagination .swiper-wrapper { z-index: 5; }

.zt-section3 .container .wrap-part3-pagination .s-line { width: 100%; height: 2px; position: absolute; z-index: 1; left: 0; top: 50px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/s3-line.png) center center no-repeat; }

.zt-section3 .container .wrap-part3-pagination .s-tips { display: block; margin: 0 auto; width: 144px; height: 12px; margin-bottom: 16px; background-image: url(../ztimages/csprite.png); background-position: -537px -612px; width: 144px; height: 12px; }

.zt-section3 .container .wrap-part3-pagination .swiper-slide { width: 88px; margin: 0 14px; }

.zt-section3 .container .wrap-part3-pagination .swiper-slide.swiper-slide-active .hero-img span, .zt-section3 .container .wrap-part3-pagination .swiper-slide:hover .hero-img span { opacity: 1; filter: alpha(opacity=100); }

.zt-section3 .container .wrap-part3-pagination .swiper-slide.swiper-slide-active .hero-name, .zt-section3 .container .wrap-part3-pagination .swiper-slide:hover .hero-name { color: #f3615d; margin-top: 0; }

.zt-section3 .container .wrap-part3-pagination .swiper-slide .hero-img { width: 88px; height: 101px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/s3-hi.png) center center no-repeat; }

.zt-section3 .container .wrap-part3-pagination .swiper-slide .hero-img span { width: 100%; height: 100%; display: block; opacity: 0; filter: alpha(opacity=0); -webkit-transition: all ease .5s; transition: all ease .5s; }

.zt-section3 .container .wrap-part3-pagination .swiper-slide .hero-name { width: 100%; text-align: center; margin-top: -36px; font-size: 18px; color: #9b9da2; }

.zt-section4 { height: 1030px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/zt-bg4.jpg) center 0 no-repeat; }

.zt-section4 .container { position: relative; padding-top: 230px; }

.zt-section4 .container .list { margin-left: -1px; width: 1250px; }

.zt-section4 .container .list li { float: left; width: 200px; height: 200px; }

.zt-section4 .container .list li a { position: relative; display: block; width: 200px; height: 200px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/cvs.jpg) 0 0 no-repeat; }

.zt-section4 .container .list li a i { display: block; position: absolute; left: 0; top: 0; opacity: 0; visibility: hidden; width: 200px; height: 200px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/cvs.jpg) 0 0 no-repeat; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }

.zt-section4 .container .list li a.cvh11 { background-position: 0px 0px; }

.zt-section4 .container .list li a.cvh11 i { background-position: 0px -1000px; }

.zt-section4 .container .list li a.cvh21 { background-position: -200px 0px; }

.zt-section4 .container .list li a.cvh21 i { background-position: -200px -1000px; }

.zt-section4 .container .list li a.cvh31 { background-position: -400px 0px; }

.zt-section4 .container .list li a.cvh31 i { background-position: -400px -1000px; }

.zt-section4 .container .list li a.cvh41 { background-position: -600px 0px; }

.zt-section4 .container .list li a.cvh41 i { background-position: -600px -1000px; }

.zt-section4 .container .list li a.cvh51 { background-position: -800px 0px; }

.zt-section4 .container .list li a.cvh51 i { background-position: -800px -1000px; }

.zt-section4 .container .list li a.cvh61 { background-position: -1000px 0px; }

.zt-section4 .container .list li a.cvh61 i { background-position: -1000px -1000px; }

.zt-section4 .container .list li a.cvh12 { background-position: 0px -200px; }

.zt-section4 .container .list li a.cvh12 i { background-position: 0px -1200px; }

.zt-section4 .container .list li a.cvh22 { background-position: -200px -200px; }

.zt-section4 .container .list li a.cvh22 i { background-position: -200px -1200px; }

.zt-section4 .container .list li a.cvh32 { background-position: -400px -200px; }

.zt-section4 .container .list li a.cvh32 i { background-position: -400px -1200px; }

.zt-section4 .container .list li a.cvh42 { background-position: -600px -200px; }

.zt-section4 .container .list li a.cvh42 i { background-position: -600px -1200px; }

.zt-section4 .container .list li a.cvh52 { background-position: -800px -200px; }

.zt-section4 .container .list li a.cvh52 i { background-position: -800px -1200px; }

.zt-section4 .container .list li a.cvh62 { background-position: -1000px -200px; }

.zt-section4 .container .list li a.cvh62 i { background-position: -1000px -1200px; }

.zt-section4 .container .list li a.cvh13 { background-position: 0px -400px; }

.zt-section4 .container .list li a.cvh13 i { background-position: 0px -1400px; }

.zt-section4 .container .list li a.cvh23 { background-position: -200px -400px; }

.zt-section4 .container .list li a.cvh23 i { background-position: -200px -1400px; }

.zt-section4 .container .list li a.cvh33 { background-position: -400px -400px; }

.zt-section4 .container .list li a.cvh33 i { background-position: -400px -1400px; }

.zt-section4 .container .list li a.cvh43 { background-position: -600px -400px; }

.zt-section4 .container .list li a.cvh43 i { background-position: -600px -1400px; }

.zt-section4 .container .list li a.cvh53 { background-position: -800px -400px; }

.zt-section4 .container .list li a.cvh53 i { background-position: -800px -1400px; }

.zt-section4 .container .list li a.cvh63 { background-position: -1000px -400px; }

.zt-section4 .container .list li a.cvh63 i { background-position: -1000px -1400px; }

.zt-section4 .container .list li a.cvh14 { background-position: 0px -600px; }

.zt-section4 .container .list li a.cvh14 i { background-position: 0px -1600px; }

.zt-section4 .container .list li a.cvh24 { background-position: -200px -600px; }

.zt-section4 .container .list li a.cvh24 i { background-position: -200px -1600px; }

.zt-section4 .container .list li a.cvh34 { background-position: -400px -600px; }

.zt-section4 .container .list li a.cvh34 i { background-position: -400px -1600px; }

.zt-section4 .container .list li a.cvh44 { background-position: -600px -600px; }

.zt-section4 .container .list li a.cvh44 i { background-position: -600px -1600px; }

.zt-section4 .container .list li a.cvh54 { background-position: -800px -600px; }

.zt-section4 .container .list li a.cvh54 i { background-position: -800px -1600px; }

.zt-section4 .container .list li a.cvh64 { background-position: -1000px -600px; }

.zt-section4 .container .list li a.cvh64 i { background-position: -1000px -1600px; }

.zt-section4 .container .list li a:hover i { opacity: 1; visibility: visible; }

.zt-section5 { height: 931px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/zt-bg5.jpg) center 0 no-repeat; }

.zt-section5 .container { position: relative; padding-top: 290px; }

.zt-section5 .container .ztTab1 .ztTabNav { padding-left: 360px; height: 39px; }

.zt-section5 .container .ztTab1 .ztTabNav i { left: 354px; width: 493px; }

.zt-section5 .container .ztTab1 .ztTabNav li { margin-right: 20px; width: 157px; height: 39px; line-height: 39px; font-size: 20px; color: #382b6b; }

.zt-section5 .container .ztTab1 .ztTabNav li span { width: 130px; }

.zt-section5 .container .ztTab1 .ztTabNav li.cur { background-image: url(../ztimages/csprite.png); background-position: -528px -485px; width: 157px; height: 39px; }

.zt-section5 .container .ztTab1 .ztTabCon li .txt .line { margin-bottom: 20px; }

.zt-section5 .container .ztTab1 .ztTabCon li .txt p { margin-bottom: 24px; }

.zt-section6 { height: 1080px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/zt-bg6.jpg) center 0 no-repeat; }

.zt-section6 .container { position: relative; padding-top: 297px; }

.zt-section6 .container .ztTab { position: relative; width: 1200px; height: 660px; }

.zt-section6 .container .ztTab .ztTabNav { position: relative; margin-bottom: 60px; padding-left: 349px; height: 39px; }

.zt-section6 .container .ztTab .ztTabNav i { display: block; position: absolute; left: 354px; top: 21px; height: 1px; width: 493px; background-color: #9b7dd1; }

.zt-section6 .container .ztTab .ztTabNav li { position: relative; cursor: pointer; float: left; margin-right: 2px; width: 177px; height: 39px; line-height: 39px; font-size: 20px; color: #fff; }

.zt-section6 .container .ztTab .ztTabNav li span { display: block; text-align: center; width: 140px; }

.zt-section6 .container .ztTab .ztTabNav li.cur { background-image: url(../ztimages/csprite.png); background-position: -528px -438px; width: 177px; height: 39px; }

.zt-section6 .container .ztTab .ztTabNav li.cur span { color: #504496; }

.zt-section6 .container .ztTab .ztTabCon li { position: relative; width: 1200px; height: 560px; }

.zt-section6 .container .ztTab .ztTabCon li .txt { position: relative; width: 1200px; height: 180px; }

.zt-section6 .container .ztTab .ztTabCon li .txt p { line-height: 24px; font-size: 16px; color: #decdfc; text-indent: 32px; }

.zt-section7 { height: 939px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/zt-bg7.jpg) center 0 no-repeat; }

.zt-section7 .container { position: relative; padding-top: 290px; }

.zt-section7 .container .ztTab1 .ztTabNav { padding-left: 364px; height: 39px; }

.zt-section7 .container .ztTab1 .ztTabNav i { left: 354px; width: 493px; }

.zt-section7 .container .ztTab1 .ztTabNav li { margin-right: 42px; width: 237px; height: 39px; line-height: 39px; font-size: 20px; color: #382b6b; }

.zt-section7 .container .ztTab1 .ztTabNav li span { width: 200px; }

.zt-section7 .container .ztTab1 .ztTabNav li.cur { background-image: url(../ztimages/csprite.png); background-position: -292px -612px; width: 237px; height: 39px; }

.zt-section7 .container .ztTab1 .ztTabCon li .txt { padding-top: 5px; }

.zt-section7 .container .ztTab1 .ztTabCon li .txt .line { margin-bottom: 10px; }

.zt-section8 { height: 931px; background: url(http://image.gamersky.com/webimg13/zhuanti/fcts/zt-bg8.jpg) center 0 no-repeat; }

.zt-section8 .container { position: relative; padding-top: 232px; }

.zt-section8 .container .ztSldwrap { position: relative; width: 1200px; height: 563px; }

.zt-section8 .container .ztSldwrap .ztSld { position: relative; margin-left: 94px; width: 1000px; height: 563px; }

.zt-section8 .container .ztSldwrap .ztSld .ztSldCon li { position: relative; width: 1000px; height: 563px; }

.zt-section8 .container .ztSldwrap .ztSld .ztSldCon li img { display: block; width: 100%; height: 100%; }

.zt-section8 .container .ztSldwrap .arrBtn { top: 257px; }

.zt-section8 .container .ztSldwrap .arrBtn.arrBtnL { left: 12px; }

.zt-section8 .container .ztSldwrap .arrBtn.arrBtnR { right: 12px; }

.zt-sectionComm { padding-bottom: 30px; height: auto; }

.zt-sectionComm .container { position: relative; padding-top: 65px; width: 1000px; }
