//专题
@import 'comm';
.zt-section1{
	position: relative;
	height: 1140px;
	background:url(../ztimages/zt-bg1n.jpg) center 0 no-repeat;
	.bdsharewrap.bdstyle-c{
		position: absolute;
		top: 38px;
		right:36px;
		a{
			border-radius: 5px;
		}
	}
	.logo_gs{
		display: block;
		position: absolute;
		left: 253px;
		top: 79px;
		@include sprite($logo-gs);
	}
	.logo_gf{
		display: block;
		position: absolute;
		left: 64px;
		top: 52px;
		@include sprite($logo-gf);
	}
	.container{
		position: relative;
		padding-top: 824px;
		.btngroup{
			padding-left: 215px;
			width: 845px;
			height: 44px;
			.btn{
				display: block;
				float: left;
				margin-right: 14px;
				@include sprite($s1-btn);
				line-height: 44px;
				font-size: 20px;
				color: #cbc9c0;
				text-align: center;
				&:hover{
					@include sprite($s1-btn-h);
					color: #ffbb50;
				}
			}
		}
		.para{
			margin: 120px auto 0;
			width: 960px;
			p{
				line-height: 32px;
				font-size: 18px;
				color: #f69c60;
			}
		}
		.play{
			display: block;
			position: absolute;
			left: 559px;
			top: 374px;
			@include sprite($play);
			&:hover{
				@include sprite($play-h);
			}
		}
	}
}
.zt-section2{
	height: 1195px;
	background:url(../ztimages/zt-bg2n.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 139px;
		p{
			margin: 0 auto;
			width: 990px;
			line-height: 30px;
			font-size: 16px;
			color: #908c85;
			text-align: center;
		}
		.para1{
			height: 30px;
		}
		.para2{
			height: 60px;
		}
		.btngroup{
			margin: 53px 0 208px 98px;
			width: 1100px;
			height: 238px;
			a{
				display: block;
				float: left;
				margin-right: 63px;
				&.btn1{
					@include sprite($s2-btn1);
					&:hover{@include sprite($s2-btn1-h)}
				}
				&.btn2{
					@include sprite($s2-btn2);
					&:hover{@include sprite($s2-btn2-h)}
				}
			}
		}
		.btn3{
			display: block;
			margin: 12px 0 0 503px;
			@include sprite($s2-btn3);
			line-height: 78px;
			font-size: 28px;
			color: #f6b44d;
			text-indent: 45px;
			&:hover{
				@include sprite($s2-btn3-h);
			}
		}
	}
}
.zt-section3{
	height: 1180px;
	background:url(#{$mpath}zt-bg3.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 243px;
		.play{
			position: relative;
			display: block;
			margin: 0 auto;
			width: 856px;
			height: 504px;
			img{
				display: block;
				width: 856px;
				height: 504px;
			}
			i{
				display: block;
				position: absolute;
				left: 386px;
				top: 214px;
				@include sprite($play);
			}
			&:hover{
				i{@include sprite($play-h);}
			}
		}
		.para{
			margin: 25px auto 0;
			width: 1200px;
			p{
				line-height: 30px;
				font-size: 16px;
				text-align: center;
				color: #908c85;
			}
		}
		.btn{
			display: block;
			margin: 20px 0 0 503px;
			@include sprite($s2-btn3);
			line-height: 80px;
			font-size: 22px;
			color: #f6b44d;
			text-indent: 24px;
			&:hover{
				@include sprite($s2-btn3-h);
			}
		}
	}
}
.zt-section4{
	height: 1414px;
	background:url(#{$mpath}zt-bg4.jpg) center 0 no-repeat;
	.container{
		position: relative;
		padding-top: 1135px;
		.con-bg{
			display: block;
			position: absolute;
			left: 0;
			top: 249px;
		}
		.play{
			position: absolute;
			display: block;
			width: 340px;
			height: 350px;
			background: url(http://image.gamersky.com/webimg13/zhuanti/common/blank.png) 0 0 repeat;
			i{
				display: block;
				position: absolute;
				left: 141px;
				top: 81px;
				@include sprite($play);
			}
			&:hover{
				i{@include sprite($play-h);}
			}
			&.play1{left: 855px;top: 249px;}
			&.play2{left: -18px;top: 668px;}
			&.play3{left: 850px;top: 666px;}
		}
		.notice{
			margin-left: 97px;
			h5{
				margin-bottom: 10px;
				line-height: 30px;
				font-size: 18px;
				color: #f69c60;
				font-weight: normal;
			}
			ul{
				width: 1100px;
				li{
					float: left;
					width: 480px;
					line-height: 30px;
					font-size: 16px;
					color: #908c85;
					&:nth-child(even){
						width: 540px;
					}
				}
			}
		}
	}
}