// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$begin-btn-h-name: 'begin-btn-h';
$begin-btn-h-x: 248px;
$begin-btn-h-y: 522px;
$begin-btn-h-offset-x: -248px;
$begin-btn-h-offset-y: -522px;
$begin-btn-h-width: 240px;
$begin-btn-h-height: 63px;
$begin-btn-h-total-width: 812px;
$begin-btn-h-total-height: 693px;
$begin-btn-h-image: '../ztimages/csprite.png';
$begin-btn-h: (248px, 522px, -248px, -522px, 240px, 63px, 812px, 693px, '../ztimages/csprite.png', 'begin-btn-h', );
$begin-btn-name: 'begin-btn';
$begin-btn-x: 0px;
$begin-btn-y: 522px;
$begin-btn-offset-x: 0px;
$begin-btn-offset-y: -522px;
$begin-btn-width: 240px;
$begin-btn-height: 63px;
$begin-btn-total-width: 812px;
$begin-btn-total-height: 693px;
$begin-btn-image: '../ztimages/csprite.png';
$begin-btn: (0px, 522px, 0px, -522px, 240px, 63px, 812px, 693px, '../ztimages/csprite.png', 'begin-btn', );
$begin-zan-name: 'begin-zan';
$begin-zan-x: 720px;
$begin-zan-y: 670px;
$begin-zan-offset-x: -720px;
$begin-zan-offset-y: -670px;
$begin-zan-width: 82px;
$begin-zan-height: 20px;
$begin-zan-total-width: 812px;
$begin-zan-total-height: 693px;
$begin-zan-image: '../ztimages/csprite.png';
$begin-zan: (720px, 670px, -720px, -670px, 82px, 20px, 812px, 693px, '../ztimages/csprite.png', 'begin-zan', );
$btn-round-name: 'btn-round';
$btn-round-x: 720px;
$btn-round-y: 200px;
$btn-round-offset-x: -720px;
$btn-round-offset-y: -200px;
$btn-round-width: 72px;
$btn-round-height: 72px;
$btn-round-total-width: 812px;
$btn-round-total-height: 693px;
$btn-round-image: '../ztimages/csprite.png';
$btn-round: (720px, 200px, -720px, -200px, 72px, 72px, 812px, 693px, '../ztimages/csprite.png', 'btn-round', );
$btn-round2-h-name: 'btn-round2-h';
$btn-round2-h-x: 720px;
$btn-round2-h-y: 280px;
$btn-round2-h-offset-x: -720px;
$btn-round2-h-offset-y: -280px;
$btn-round2-h-width: 66px;
$btn-round2-h-height: 66px;
$btn-round2-h-total-width: 812px;
$btn-round2-h-total-height: 693px;
$btn-round2-h-image: '../ztimages/csprite.png';
$btn-round2-h: (720px, 280px, -720px, -280px, 66px, 66px, 812px, 693px, '../ztimages/csprite.png', 'btn-round2-h', );
$btn-round2-name: 'btn-round2';
$btn-round2-x: 720px;
$btn-round2-y: 354px;
$btn-round2-offset-x: -720px;
$btn-round2-offset-y: -354px;
$btn-round2-width: 66px;
$btn-round2-height: 66px;
$btn-round2-total-width: 812px;
$btn-round2-total-height: 693px;
$btn-round2-image: '../ztimages/csprite.png';
$btn-round2: (720px, 354px, -720px, -354px, 66px, 66px, 812px, 693px, '../ztimages/csprite.png', 'btn-round2', );
$btn-sty2-name: 'btn-sty2';
$btn-sty2-x: 253px;
$btn-sty2-y: 96px;
$btn-sty2-offset-x: -253px;
$btn-sty2-offset-y: -96px;
$btn-sty2-width: 180px;
$btn-sty2-height: 56px;
$btn-sty2-total-width: 812px;
$btn-sty2-total-height: 693px;
$btn-sty2-image: '../ztimages/csprite.png';
$btn-sty2: (253px, 96px, -253px, -96px, 180px, 56px, 812px, 693px, '../ztimages/csprite.png', 'btn-sty2', );
$close-name: 'close';
$close-x: 429px;
$close-y: 238px;
$close-offset-x: -429px;
$close-offset-y: -238px;
$close-width: 27px;
$close-height: 27px;
$close-total-width: 812px;
$close-total-height: 693px;
$close-image: '../ztimages/csprite.png';
$close: (429px, 238px, -429px, -238px, 27px, 27px, 812px, 693px, '../ztimages/csprite.png', 'close', );
$end-btn1-h-name: 'end-btn1-h';
$end-btn1-h-x: 0px;
$end-btn1-h-y: 309px;
$end-btn1-h-offset-x: 0px;
$end-btn1-h-offset-y: -309px;
$end-btn1-h-width: 245px;
$end-btn1-h-height: 63px;
$end-btn1-h-total-width: 812px;
$end-btn1-h-total-height: 693px;
$end-btn1-h-image: '../ztimages/csprite.png';
$end-btn1-h: (0px, 309px, 0px, -309px, 245px, 63px, 812px, 693px, '../ztimages/csprite.png', 'end-btn1-h', );
$end-btn1-name: 'end-btn1';
$end-btn1-x: 0px;
$end-btn1-y: 380px;
$end-btn1-offset-x: 0px;
$end-btn1-offset-y: -380px;
$end-btn1-width: 245px;
$end-btn1-height: 63px;
$end-btn1-total-width: 812px;
$end-btn1-total-height: 693px;
$end-btn1-image: '../ztimages/csprite.png';
$end-btn1: (0px, 380px, 0px, -380px, 245px, 63px, 812px, 693px, '../ztimages/csprite.png', 'end-btn1', );
$end-btn2-h-name: 'end-btn2-h';
$end-btn2-h-x: 467px;
$end-btn2-h-y: 0px;
$end-btn2-h-offset-x: -467px;
$end-btn2-h-offset-y: 0px;
$end-btn2-h-width: 245px;
$end-btn2-h-height: 63px;
$end-btn2-h-total-width: 812px;
$end-btn2-h-total-height: 693px;
$end-btn2-h-image: '../ztimages/csprite.png';
$end-btn2-h: (467px, 0px, -467px, 0px, 245px, 63px, 812px, 693px, '../ztimages/csprite.png', 'end-btn2-h', );
$end-btn2-name: 'end-btn2';
$end-btn2-x: 467px;
$end-btn2-y: 71px;
$end-btn2-offset-x: -467px;
$end-btn2-offset-y: -71px;
$end-btn2-width: 245px;
$end-btn2-height: 63px;
$end-btn2-total-width: 812px;
$end-btn2-total-height: 693px;
$end-btn2-image: '../ztimages/csprite.png';
$end-btn2: (467px, 71px, -467px, -71px, 245px, 63px, 812px, 693px, '../ztimages/csprite.png', 'end-btn2', );
$end-btn3-h-name: 'end-btn3-h';
$end-btn3-h-x: 214px;
$end-btn3-h-y: 0px;
$end-btn3-h-offset-x: -214px;
$end-btn3-h-offset-y: 0px;
$end-btn3-h-width: 245px;
$end-btn3-h-height: 63px;
$end-btn3-h-total-width: 812px;
$end-btn3-h-total-height: 693px;
$end-btn3-h-image: '../ztimages/csprite.png';
$end-btn3-h: (214px, 0px, -214px, 0px, 245px, 63px, 812px, 693px, '../ztimages/csprite.png', 'end-btn3-h', );
$end-btn3-name: 'end-btn3';
$end-btn3-x: 0px;
$end-btn3-y: 238px;
$end-btn3-offset-x: 0px;
$end-btn3-offset-y: -238px;
$end-btn3-width: 245px;
$end-btn3-height: 63px;
$end-btn3-total-width: 812px;
$end-btn3-total-height: 693px;
$end-btn3-image: '../ztimages/csprite.png';
$end-btn3: (0px, 238px, 0px, -238px, 245px, 63px, 812px, 693px, '../ztimages/csprite.png', 'end-btn3', );
$end-btn4-h-name: 'end-btn4-h';
$end-btn4-h-x: 0px;
$end-btn4-h-y: 167px;
$end-btn4-h-offset-x: 0px;
$end-btn4-h-offset-y: -167px;
$end-btn4-h-width: 245px;
$end-btn4-h-height: 63px;
$end-btn4-h-total-width: 812px;
$end-btn4-h-total-height: 693px;
$end-btn4-h-image: '../ztimages/csprite.png';
$end-btn4-h: (0px, 167px, 0px, -167px, 245px, 63px, 812px, 693px, '../ztimages/csprite.png', 'end-btn4-h', );
$end-btn4-name: 'end-btn4';
$end-btn4-x: 0px;
$end-btn4-y: 96px;
$end-btn4-offset-x: 0px;
$end-btn4-offset-y: -96px;
$end-btn4-width: 245px;
$end-btn4-height: 63px;
$end-btn4-total-width: 812px;
$end-btn4-total-height: 693px;
$end-btn4-image: '../ztimages/csprite.png';
$end-btn4: (0px, 96px, 0px, -96px, 245px, 63px, 812px, 693px, '../ztimages/csprite.png', 'end-btn4', );
$end-zan-h-name: 'end-zan-h';
$end-zan-h-x: 720px;
$end-zan-h-y: 500px;
$end-zan-h-offset-x: -720px;
$end-zan-h-offset-y: -500px;
$end-zan-h-width: 64px;
$end-zan-h-height: 64px;
$end-zan-h-total-width: 812px;
$end-zan-h-total-height: 693px;
$end-zan-h-image: '../ztimages/csprite.png';
$end-zan-h: (720px, 500px, -720px, -500px, 64px, 64px, 812px, 693px, '../ztimages/csprite.png', 'end-zan-h', );
$end-zan-name: 'end-zan';
$end-zan-x: 720px;
$end-zan-y: 428px;
$end-zan-offset-x: -720px;
$end-zan-offset-y: -428px;
$end-zan-width: 64px;
$end-zan-height: 64px;
$end-zan-total-width: 812px;
$end-zan-total-height: 693px;
$end-zan-image: '../ztimages/csprite.png';
$end-zan: (720px, 428px, -720px, -428px, 64px, 64px, 812px, 693px, '../ztimages/csprite.png', 'end-zan', );
$fx-dot-c-name: 'fx-dot-c';
$fx-dot-c-x: 794px;
$fx-dot-c-y: 280px;
$fx-dot-c-offset-x: -794px;
$fx-dot-c-offset-y: -280px;
$fx-dot-c-width: 12px;
$fx-dot-c-height: 12px;
$fx-dot-c-total-width: 812px;
$fx-dot-c-total-height: 693px;
$fx-dot-c-image: '../ztimages/csprite.png';
$fx-dot-c: (794px, 280px, -794px, -280px, 12px, 12px, 812px, 693px, '../ztimages/csprite.png', 'fx-dot-c', );
$fx-line-name: 'fx-line';
$fx-line-x: 800px;
$fx-line-y: 240px;
$fx-line-offset-x: -800px;
$fx-line-offset-y: -240px;
$fx-line-width: 5px;
$fx-line-height: 23px;
$fx-line-total-width: 812px;
$fx-line-total-height: 693px;
$fx-line-image: '../ztimages/csprite.png';
$fx-line: (800px, 240px, -800px, -240px, 5px, 23px, 812px, 693px, '../ztimages/csprite.png', 'fx-line', );
$icon-arr-name: 'icon-arr';
$icon-arr-x: 301px;
$icon-arr-y: 380px;
$icon-arr-offset-x: -301px;
$icon-arr-offset-y: -380px;
$icon-arr-width: 40px;
$icon-arr-height: 40px;
$icon-arr-total-width: 812px;
$icon-arr-total-height: 693px;
$icon-arr-image: '../ztimages/csprite.png';
$icon-arr: (301px, 380px, -301px, -380px, 40px, 40px, 812px, 693px, '../ztimages/csprite.png', 'icon-arr', );
$icon-n1-name: 'icon-n1';
$icon-n1-x: 349px;
$icon-n1-y: 380px;
$icon-n1-offset-x: -349px;
$icon-n1-offset-y: -380px;
$icon-n1-width: 40px;
$icon-n1-height: 40px;
$icon-n1-total-width: 812px;
$icon-n1-total-height: 693px;
$icon-n1-image: '../ztimages/csprite.png';
$icon-n1: (349px, 380px, -349px, -380px, 40px, 40px, 812px, 693px, '../ztimages/csprite.png', 'icon-n1', );
$icon-n2-name: 'icon-n2';
$icon-n2-x: 397px;
$icon-n2-y: 380px;
$icon-n2-offset-x: -397px;
$icon-n2-offset-y: -380px;
$icon-n2-width: 40px;
$icon-n2-height: 40px;
$icon-n2-total-width: 812px;
$icon-n2-total-height: 693px;
$icon-n2-image: '../ztimages/csprite.png';
$icon-n2: (397px, 380px, -397px, -380px, 40px, 40px, 812px, 693px, '../ztimages/csprite.png', 'icon-n2', );
$icon-n3-name: 'icon-n3';
$icon-n3-x: 496px;
$icon-n3-y: 451px;
$icon-n3-offset-x: -496px;
$icon-n3-offset-y: -451px;
$icon-n3-width: 40px;
$icon-n3-height: 40px;
$icon-n3-total-width: 812px;
$icon-n3-total-height: 693px;
$icon-n3-image: '../ztimages/csprite.png';
$icon-n3: (496px, 451px, -496px, -451px, 40px, 40px, 812px, 693px, '../ztimages/csprite.png', 'icon-n3', );
$icon-n4-name: 'icon-n4';
$icon-n4-x: 381px;
$icon-n4-y: 238px;
$icon-n4-offset-x: -381px;
$icon-n4-offset-y: -238px;
$icon-n4-width: 40px;
$icon-n4-height: 40px;
$icon-n4-total-width: 812px;
$icon-n4-total-height: 693px;
$icon-n4-image: '../ztimages/csprite.png';
$icon-n4: (381px, 238px, -381px, -238px, 40px, 40px, 812px, 693px, '../ztimages/csprite.png', 'icon-n4', );
$icon-n5-name: 'icon-n5';
$icon-n5-x: 381px;
$icon-n5-y: 309px;
$icon-n5-offset-x: -381px;
$icon-n5-offset-y: -309px;
$icon-n5-width: 40px;
$icon-n5-height: 40px;
$icon-n5-total-width: 812px;
$icon-n5-total-height: 693px;
$icon-n5-image: '../ztimages/csprite.png';
$icon-n5: (381px, 309px, -381px, -309px, 40px, 40px, 812px, 693px, '../ztimages/csprite.png', 'icon-n5', );
$logo-gf-name: 'logo-gf';
$logo-gf-x: 324px;
$logo-gf-y: 593px;
$logo-gf-offset-x: -324px;
$logo-gf-offset-y: -593px;
$logo-gf-width: 146px;
$logo-gf-height: 64px;
$logo-gf-total-width: 812px;
$logo-gf-total-height: 693px;
$logo-gf-image: '../ztimages/csprite.png';
$logo-gf: (324px, 593px, -324px, -593px, 146px, 64px, 812px, 693px, '../ztimages/csprite.png', 'logo-gf', );
$logo-gs-name: 'logo-gs';
$logo-gs-x: 0px;
$logo-gs-y: 0px;
$logo-gs-offset-x: 0px;
$logo-gs-offset-y: 0px;
$logo-gs-width: 206px;
$logo-gs-height: 88px;
$logo-gs-total-width: 812px;
$logo-gs-total-height: 693px;
$logo-gs-image: '../ztimages/csprite.png';
$logo-gs: (0px, 0px, 0px, 0px, 206px, 88px, 812px, 693px, '../ztimages/csprite.png', 'logo-gs', );
$look-more-h-name: 'look-more-h';
$look-more-h-x: 720px;
$look-more-h-y: 572px;
$look-more-h-offset-x: -720px;
$look-more-h-offset-y: -572px;
$look-more-h-width: 30px;
$look-more-h-height: 90px;
$look-more-h-total-width: 812px;
$look-more-h-total-height: 693px;
$look-more-h-image: '../ztimages/csprite.png';
$look-more-h: (720px, 572px, -720px, -572px, 30px, 90px, 812px, 693px, '../ztimages/csprite.png', 'look-more-h', );
$look-more-name: 'look-more';
$look-more-x: 758px;
$look-more-y: 572px;
$look-more-offset-x: -758px;
$look-more-offset-y: -572px;
$look-more-width: 30px;
$look-more-height: 90px;
$look-more-total-width: 812px;
$look-more-total-height: 693px;
$look-more-image: '../ztimages/csprite.png';
$look-more: (758px, 572px, -758px, -572px, 30px, 90px, 812px, 693px, '../ztimages/csprite.png', 'look-more', );
$mouse-btn-name: 'mouse-btn';
$mouse-btn-x: 253px;
$mouse-btn-y: 380px;
$mouse-btn-offset-x: -253px;
$mouse-btn-offset-y: -380px;
$mouse-btn-width: 40px;
$mouse-btn-height: 52px;
$mouse-btn-total-width: 812px;
$mouse-btn-total-height: 693px;
$mouse-btn-image: '../ztimages/csprite.png';
$mouse-btn: (253px, 380px, -253px, -380px, 40px, 52px, 812px, 693px, '../ztimages/csprite.png', 'mouse-btn', );
$out-360-h-name: 'out-360-h';
$out-360-h-x: 253px;
$out-360-h-y: 238px;
$out-360-h-offset-x: -253px;
$out-360-h-offset-y: -238px;
$out-360-h-width: 120px;
$out-360-h-height: 44px;
$out-360-h-total-width: 812px;
$out-360-h-total-height: 693px;
$out-360-h-image: '../ztimages/csprite.png';
$out-360-h: (253px, 238px, -253px, -238px, 120px, 44px, 812px, 693px, '../ztimages/csprite.png', 'out-360-h', );
$out-360-name: 'out-360';
$out-360-x: 253px;
$out-360-y: 309px;
$out-360-offset-x: -253px;
$out-360-offset-y: -309px;
$out-360-width: 120px;
$out-360-height: 44px;
$out-360-total-width: 812px;
$out-360-total-height: 693px;
$out-360-image: '../ztimages/csprite.png';
$out-360: (253px, 309px, -253px, -309px, 120px, 44px, 812px, 693px, '../ztimages/csprite.png', 'out-360', );
$p05-n1-h-name: 'p05-n1-h';
$p05-n1-h-x: 248px;
$p05-n1-h-y: 451px;
$p05-n1-h-offset-x: -248px;
$p05-n1-h-offset-y: -451px;
$p05-n1-h-width: 240px;
$p05-n1-h-height: 63px;
$p05-n1-h-total-width: 812px;
$p05-n1-h-total-height: 693px;
$p05-n1-h-image: '../ztimages/csprite.png';
$p05-n1-h: (248px, 451px, -248px, -451px, 240px, 63px, 812px, 693px, '../ztimages/csprite.png', 'p05-n1-h', );
$p05-n1-name: 'p05-n1';
$p05-n1-x: 0px;
$p05-n1-y: 451px;
$p05-n1-offset-x: 0px;
$p05-n1-offset-y: -451px;
$p05-n1-width: 240px;
$p05-n1-height: 63px;
$p05-n1-total-width: 812px;
$p05-n1-total-height: 693px;
$p05-n1-image: '../ztimages/csprite.png';
$p05-n1: (0px, 451px, 0px, -451px, 240px, 63px, 812px, 693px, '../ztimages/csprite.png', 'p05-n1', );
$p05-n2-h-name: 'p05-n2-h';
$p05-n2-h-x: 467px;
$p05-n2-h-y: 355px;
$p05-n2-h-offset-x: -467px;
$p05-n2-h-offset-y: -355px;
$p05-n2-h-width: 240px;
$p05-n2-h-height: 63px;
$p05-n2-h-total-width: 812px;
$p05-n2-h-total-height: 693px;
$p05-n2-h-image: '../ztimages/csprite.png';
$p05-n2-h: (467px, 355px, -467px, -355px, 240px, 63px, 812px, 693px, '../ztimages/csprite.png', 'p05-n2-h', );
$p05-n2-name: 'p05-n2';
$p05-n2-x: 467px;
$p05-n2-y: 213px;
$p05-n2-offset-x: -467px;
$p05-n2-offset-y: -213px;
$p05-n2-width: 240px;
$p05-n2-height: 63px;
$p05-n2-total-width: 812px;
$p05-n2-total-height: 693px;
$p05-n2-image: '../ztimages/csprite.png';
$p05-n2: (467px, 213px, -467px, -213px, 240px, 63px, 812px, 693px, '../ztimages/csprite.png', 'p05-n2', );
$p05-n3-h-name: 'p05-n3-h';
$p05-n3-h-x: 467px;
$p05-n3-h-y: 284px;
$p05-n3-h-offset-x: -467px;
$p05-n3-h-offset-y: -284px;
$p05-n3-h-width: 240px;
$p05-n3-h-height: 63px;
$p05-n3-h-total-width: 812px;
$p05-n3-h-total-height: 693px;
$p05-n3-h-image: '../ztimages/csprite.png';
$p05-n3-h: (467px, 284px, -467px, -284px, 240px, 63px, 812px, 693px, '../ztimages/csprite.png', 'p05-n3-h', );
$p05-n3-name: 'p05-n3';
$p05-n3-x: 467px;
$p05-n3-y: 142px;
$p05-n3-offset-x: -467px;
$p05-n3-offset-y: -142px;
$p05-n3-width: 240px;
$p05-n3-height: 63px;
$p05-n3-total-width: 812px;
$p05-n3-total-height: 693px;
$p05-n3-image: '../ztimages/csprite.png';
$p05-n3: (467px, 142px, -467px, -142px, 240px, 63px, 812px, 693px, '../ztimages/csprite.png', 'p05-n3', );
$play-arr-h-name: 'play-arr-h';
$play-arr-h-x: 587px;
$play-arr-h-y: 451px;
$play-arr-h-offset-x: -587px;
$play-arr-h-offset-y: -451px;
$play-arr-h-width: 35px;
$play-arr-h-height: 38px;
$play-arr-h-total-width: 812px;
$play-arr-h-total-height: 693px;
$play-arr-h-image: '../ztimages/csprite.png';
$play-arr-h: (587px, 451px, -587px, -451px, 35px, 38px, 812px, 693px, '../ztimages/csprite.png', 'play-arr-h', );
$play-arr-name: 'play-arr';
$play-arr-x: 544px;
$play-arr-y: 451px;
$play-arr-offset-x: -544px;
$play-arr-offset-y: -451px;
$play-arr-width: 35px;
$play-arr-height: 38px;
$play-arr-total-width: 812px;
$play-arr-total-height: 693px;
$play-arr-image: '../ztimages/csprite.png';
$play-arr: (544px, 451px, -544px, -451px, 35px, 38px, 812px, 693px, '../ztimages/csprite.png', 'play-arr', );
$play-bd-h-name: 'play-bd-h';
$play-bd-h-x: 720px;
$play-bd-h-y: 100px;
$play-bd-h-offset-x: -720px;
$play-bd-h-offset-y: -100px;
$play-bd-h-width: 92px;
$play-bd-h-height: 92px;
$play-bd-h-total-width: 812px;
$play-bd-h-total-height: 693px;
$play-bd-h-image: '../ztimages/csprite.png';
$play-bd-h: (720px, 100px, -720px, -100px, 92px, 92px, 812px, 693px, '../ztimages/csprite.png', 'play-bd-h', );
$play-bd-name: 'play-bd';
$play-bd-x: 720px;
$play-bd-y: 0px;
$play-bd-offset-x: -720px;
$play-bd-offset-y: 0px;
$play-bd-width: 92px;
$play-bd-height: 92px;
$play-bd-total-width: 812px;
$play-bd-total-height: 693px;
$play-bd-image: '../ztimages/csprite.png';
$play-bd: (720px, 0px, -720px, 0px, 92px, 92px, 812px, 693px, '../ztimages/csprite.png', 'play-bd', );
$play-bg-name: 'play-bg';
$play-bg-x: 108px;
$play-bg-y: 593px;
$play-bg-offset-x: -108px;
$play-bg-offset-y: -593px;
$play-bg-width: 100px;
$play-bg-height: 100px;
$play-bg-total-width: 812px;
$play-bg-total-height: 693px;
$play-bg-image: '../ztimages/csprite.png';
$play-bg: (108px, 593px, -108px, -593px, 100px, 100px, 812px, 693px, '../ztimages/csprite.png', 'play-bg', );
$play-h-name: 'play-h';
$play-h-x: 0px;
$play-h-y: 593px;
$play-h-offset-x: 0px;
$play-h-offset-y: -593px;
$play-h-width: 100px;
$play-h-height: 100px;
$play-h-total-width: 812px;
$play-h-total-height: 693px;
$play-h-image: '../ztimages/csprite.png';
$play-h: (0px, 593px, 0px, -593px, 100px, 100px, 812px, 693px, '../ztimages/csprite.png', 'play-h', );
$play-name: 'play';
$play-x: 216px;
$play-y: 593px;
$play-offset-x: -216px;
$play-offset-y: -593px;
$play-width: 100px;
$play-height: 100px;
$play-total-width: 812px;
$play-total-height: 693px;
$play-image: '../ztimages/csprite.png';
$play: (216px, 593px, -216px, -593px, 100px, 100px, 812px, 693px, '../ztimages/csprite.png', 'play', );
$txt-comm-name: 'txt-comm';
$txt-comm-x: 253px;
$txt-comm-y: 167px;
$txt-comm-offset-x: -253px;
$txt-comm-offset-y: -167px;
$txt-comm-width: 199px;
$txt-comm-height: 48px;
$txt-comm-total-width: 812px;
$txt-comm-total-height: 693px;
$txt-comm-image: '../ztimages/csprite.png';
$txt-comm: (253px, 167px, -253px, -167px, 199px, 48px, 812px, 693px, '../ztimages/csprite.png', 'txt-comm', );
$vol-pause-name: 'vol-pause';
$vol-pause-x: 630px;
$vol-pause-y: 451px;
$vol-pause-offset-x: -630px;
$vol-pause-offset-y: -451px;
$vol-pause-width: 32px;
$vol-pause-height: 32px;
$vol-pause-total-width: 812px;
$vol-pause-total-height: 693px;
$vol-pause-image: '../ztimages/csprite.png';
$vol-pause: (630px, 451px, -630px, -451px, 32px, 32px, 812px, 693px, '../ztimages/csprite.png', 'vol-pause', );
$vol-play-anim-name: 'vol-play-anim';
$vol-play-anim-x: 800px;
$vol-play-anim-y: 200px;
$vol-play-anim-offset-x: -800px;
$vol-play-anim-offset-y: -200px;
$vol-play-anim-width: 5px;
$vol-play-anim-height: 32px;
$vol-play-anim-total-width: 812px;
$vol-play-anim-total-height: 693px;
$vol-play-anim-image: '../ztimages/csprite.png';
$vol-play-anim: (800px, 200px, -800px, -200px, 5px, 32px, 812px, 693px, '../ztimages/csprite.png', 'vol-play-anim', );
$vol-play-name: 'vol-play';
$vol-play-x: 670px;
$vol-play-y: 451px;
$vol-play-offset-x: -670px;
$vol-play-offset-y: -451px;
$vol-play-width: 32px;
$vol-play-height: 32px;
$vol-play-total-width: 812px;
$vol-play-total-height: 693px;
$vol-play-image: '../ztimages/csprite.png';
$vol-play: (670px, 451px, -670px, -451px, 32px, 32px, 812px, 693px, '../ztimages/csprite.png', 'vol-play', );
$spritesheet-width: 812px;
$spritesheet-height: 693px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($begin-btn-h, $begin-btn, $begin-zan, $btn-round, $btn-round2-h, $btn-round2, $btn-sty2, $close, $end-btn1-h, $end-btn1, $end-btn2-h, $end-btn2, $end-btn3-h, $end-btn3, $end-btn4-h, $end-btn4, $end-zan-h, $end-zan, $fx-dot-c, $fx-line, $icon-arr, $icon-n1, $icon-n2, $icon-n3, $icon-n4, $icon-n5, $logo-gf, $logo-gs, $look-more-h, $look-more, $mouse-btn, $out-360-h, $out-360, $p05-n1-h, $p05-n1, $p05-n2-h, $p05-n2, $p05-n3-h, $p05-n3, $play-arr-h, $play-arr, $play-bd-h, $play-bd, $play-bg, $play-h, $play, $txt-comm, $vol-pause, $vol-play-anim, $vol-play, );
$spritesheet: (812px, 693px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
