.bdsharewrap.bdstyle-c { width: 242px; height: 36px; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox { width: 800px; height: 36px; *font-size: 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after, .bdsharewrap.bdstyle-c .bdsharebuttonbox.before { display: table; content: " "; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after { clear: both; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a { float: left; margin: 0 4px 0 0; padding: 0; display: inline-block; *display: inline; *zoom: 1; width: 37px; height: 36px; background: url("http://image.gamersky.com/webimg13/zhuanti/cf8zn/fx.png") 0 0 no-repeat; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tsina { background-position: 0 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_weixin { background-position: -40px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_qzone { background-position: -80px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_renren { background-position: -121px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_sqq { background-position: -161px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_count { background-position: -200px 0; text-indent: 9999px; white-space: nowrap; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tieba, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_douban, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_more { display: none; }

html, body { min-width: 1280px; }

body { font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }

h1, h2, h3, h4, h5, p, ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; cursor: pointer; }

.clearfix:before, .clearfix:after, .container:before, .container:after { display: table; content: " "; }

.clearfix:after, .container:after { clear: both; }

.container { margin-right: auto; margin-left: auto; width: 1000px; }

.zt-section { margin: 0; padding: 0; overflow: hidden; width: 100%; min-width: 1000px; }

.QZnav { min-width: 1000px; }

.QZnav .topbar { width: 1000px; }

.QZnav .QZ-nav { display: none; }

.Bot { width: 100%; min-width: 1000px; height: 155px; background: #141414; font-size: 14px; }

.Bot .Copyright { margin: 0 auto; padding-top: 50px; width: 1000px; height: auto; line-height: 30px; text-align: center; color: #555; }

.Bot .Copyright a { margin: 0 5px; color: #555; }

.Bot .Copyright a:hover { color: #777; }

.gsPopupMask { position: fixed; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background: url(http://image.gamersky.com/webimg13/zhuanti/common/black80.png) 0 0 repeat; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopupMask.cur { opacity: 1; visibility: visible; }

.gsPopup { z-index: 99999; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopup .gsPopupCon { width: 100%; height: 100%; background-color: #000; }

.gsPopup .gsPopupCon img { display: block; }

.gsPopup .gsPopupCon video { display: block; width: 100%; height: 100%; }

.gsPopup .gsPopupClose { position: absolute; top: 0; right: -50px; overflow: hidden; width: 38px; height: 38px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/gsPopupClose.png) 5px 5px no-repeat; }

.gsPopup .gsPopupClose:hover { background-position: -33px 5px; }

.gsPopup.cur { opacity: 1; visibility: visible; }

.fixednav { display: none; position: fixed; right: 38px; top: 50%; margin-top: -75px; z-index: 999; }

.fixednav li { display: block; margin-bottom: 25px; width: 10px; height: 10px; }

.fixednav li a { display: block; width: 10px; height: 10px; background-color: #000; border-radius: 100%; }

.fixednav li a.cur, .fixednav li a:hover { background-color: #f33; }

.fixednav.cur { display: block; }

.zt-section1 { height: 845px; background: url(../ztimages/zt-bg1.jpg) center 0 no-repeat; }

.zt-section1 .container { position: relative; padding-top: 740px; }

.zt-section1 .container .bdsharewrap.bdstyle-c { position: absolute; top: 30px; right: 0; }

.zt-section1 .container .logo_gs { display: block; position: absolute; left: 0; top: 26px; width: 139px; height: 47px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-white2.png) 0 0 no-repeat; }

.zt-section1 .container .logo_gf { display: block; position: absolute; left: 169px; top: 12px; background-image: url(../ztimages/csprite.png); background-position: 0px -541px; width: 53px; height: 71px; }

.zt-section1 .container .live { display: block; position: absolute; left: 403px; top: 631px; background-image: url(../ztimages/csprite.png); background-position: 0px -187px; width: 192px; height: 67px; }

.zt-section1 .container .live i.light { display: block; position: absolute; left: -22px; top: -22px; background-image: url(../ztimages/csprite.png); background-position: 0px 0px; width: 236px; height: 111px; -webkit-animation: lightAnim 1.2s ease-in-out infinite; animation: lightAnim 1.2s ease-in-out infinite; }

.zt-section1 .container .live .icons { position: relative; display: block; background-image: url(../ztimages/csprite.png); background-position: 0px -187px; width: 192px; height: 67px; }

.zt-section1 .container .live:hover i.light { -webkit-animation: none; animation: none; }

.zt-section1 .container .btn { display: block; position: absolute; top: 651px; }

.zt-section1 .container .btn.btn1 { left: 56px; background-image: url(../ztimages/csprite.png); background-position: -491px -371px; width: 149px; height: 45px; }

.zt-section1 .container .btn.btn1:hover { background-image: url(../ztimages/csprite.png); background-position: -491px -106px; width: 149px; height: 45px; }

.zt-section1 .container .btn.btn2 { left: 227px; background-image: url(../ztimages/csprite.png); background-position: -491px -265px; width: 149px; height: 45px; }

.zt-section1 .container .btn.btn2:hover { background-image: url(../ztimages/csprite.png); background-position: -491px -318px; width: 149px; height: 45px; }

.zt-section1 .container .btn.btn3 { left: 621px; background-image: url(../ztimages/csprite.png); background-position: -491px -53px; width: 149px; height: 45px; }

.zt-section1 .container .btn.btn3:hover { background-image: url(../ztimages/csprite.png); background-position: -491px -159px; width: 149px; height: 45px; }

.zt-section1 .container .btn.btn4 { left: 792px; background-image: url(../ztimages/csprite.png); background-position: -491px 0px; width: 149px; height: 45px; }

.zt-section1 .container .btn.btn4:hover { background-image: url(../ztimages/csprite.png); background-position: -491px -212px; width: 149px; height: 45px; }

.zt-section1 .container .play { display: block; position: absolute; left: 451px; top: 388px; background-image: url(../ztimages/csprite.png); background-position: 0px -262px; width: 97px; height: 99px; }

.zt-section1 .container .para p { line-height: 28px; font-size: 16px; color: #dde9ff; text-indent: 32px; }

@-webkit-keyframes lightAnim { 0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; } }

@keyframes lightAnim { 0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; } }

@-webkit-keyframes zoomAnim { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.02); transform: scale(1.02); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes zoomAnim { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.02); transform: scale(1.02); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

.zt-section2 { height: 1215px; background: url(../ztimages/zt-bg2.jpg) center 0 no-repeat; }

.zt-section2 .container { position: relative; padding-top: 235px; }

.zt-section2 .container .para { margin-bottom: 396px; }

.zt-section2 .container .para p { line-height: 28px; font-size: 18px; color: #82a2db; text-align: center; }

.zt-section2 .container .yuyue { display: block; margin: 0 auto; background-image: url(../ztimages/csprite.png); background-position: -244px 0px; width: 239px; height: 60px; -webkit-animation: zoomAnim 0.7s ease-in-out infinite; animation: zoomAnim 0.7s ease-in-out infinite; }

.zt-section2 .container .yuyue:hover { background-position: 0px -119px; -webkit-animation: none; animation: none; }

.zt-section2 .container .infos { margin-top: 100px; width: 1100px; }

.zt-section2 .container .infos li { float: left; margin-right: 20px; width: 490px; }

.zt-section2 .container .infos li h5 { height: 40px; line-height: 40px; font-size: 20px; color: #ffa200; font-weight: normal; text-align: center; background: url(../ztimages/s2-tit-bg.png) center center no-repeat; }

.zt-section2 .container .infos li .tips { margin-bottom: 24px; height: 46px; line-height: 46px; font-size: 16px; color: #82a2db; text-align: center; }

.zt-section2 .container .infos li .con { position: relative; width: 490px; height: 226px; background-color: #1a274d; }

.zt-section2 .container .infos li .con .tit { padding-top: 40px; height: 50px; line-height: 50px; text-align: center; font-size: 34px; color: #ccdfff; }

.zt-section2 .container .infos li .con .des { margin-bottom: 30px; height: 32px; line-height: 32px; text-align: center; font-size: 16px; color: #82a2db; }

.zt-section2 .container .infos li .con .btn-upload { display: block; margin: 0 auto; background-image: url(../ztimages/csprite.png); background-position: -200px -187px; width: 200px; height: 45px; }

.zt-section2 .container .infos li .con .btn-upload:hover { background-position: -247px -119px; }

.zt-section2 .container .infos li .con .imgwrap { float: left; padding-top: 27px; width: 212px; }

.zt-section2 .container .infos li .con .imgwrap.imgwrap1 { margin-left: 40px; }

.zt-section2 .container .infos li .con .imgwrap img { display: block; margin: 0 auto; width: 135px; height: 134px; }

.zt-section2 .container .infos li .con .imgwrap p { margin-top: 20px; height: 26px; line-height: 26px; text-align: center; font-size: 16px; color: #ccdfff; }

.zt-section3 { height: 840px; background: url(../ztimages/zt-bg3.jpg) center 0 no-repeat; }

.zt-section3 .container { position: relative; padding-top: 223px; }

.zt-section3 .container .ztTab { position: relative; width: 1000px; height: 553px; }

.zt-section3 .container .ztTab .ztTabCon li { position: relative; width: 1000px; height: 553px; }

.zt-section3 .container .ztTab .ztTabCon li img { display: block; position: absolute; left: 617px; top: 22px; width: 311px; height: 516px; }

.zt-section3 .container .ztTab .ztTabCon li .txt { padding: 250px 0 0 40px; width: 500px; }

.zt-section3 .container .ztTab .ztTabCon li .txt h5 { padding-left: 32px; height: 50px; line-height: 50px; font-size: 30px; color: #b6a2ff; font-weight: normal; font-family: SimSun; background: url(../ztimages/s3-dot.png) 0 center no-repeat; }

.zt-section3 .container .ztTab .ztTabCon li .txt p { line-height: 28px; font-size: 16px; color: #4e4e4e; text-indent: 32px; }

.zt-section3 .container .ztTab .ztTabNav { position: absolute; left: 40px; top: 127px; }

.zt-section3 .container .ztTab .ztTabNav li { cursor: pointer; float: left; margin-right: 10px; }

.zt-section3 .container .ztTab .ztTabNav li.nav1 { background-image: url(../ztimages/csprite.png); background-position: -390px -463px; width: 70px; height: 70px; }

.zt-section3 .container .ztTab .ztTabNav li.nav1:hover, .zt-section3 .container .ztTab .ztTabNav li.nav1.cur { background-position: -312px -463px; }

.zt-section3 .container .ztTab .ztTabNav li.nav2 { background-image: url(../ztimages/csprite.png); background-position: -376px -369px; width: 70px; height: 70px; }

.zt-section3 .container .ztTab .ztTabNav li.nav2:hover, .zt-section3 .container .ztTab .ztTabNav li.nav2.cur { background-position: -468px -463px; }

.zt-section3 .container .ztTab .ztTabNav li.nav3 { background-image: url(../ztimages/csprite.png); background-position: -78px -463px; width: 70px; height: 70px; }

.zt-section3 .container .ztTab .ztTabNav li.nav3:hover, .zt-section3 .container .ztTab .ztTabNav li.nav3.cur { background-position: 0px -463px; }

.zt-section3 .container .ztTab .ztTabNav li.nav4 { background-image: url(../ztimages/csprite.png); background-position: -234px -463px; width: 70px; height: 70px; }

.zt-section3 .container .ztTab .ztTabNav li.nav4:hover, .zt-section3 .container .ztTab .ztTabNav li.nav4.cur { background-position: -156px -463px; }

.zt-section4 { height: 817px; background: url(../ztimages/zt-bg4.jpg) center 0 no-repeat; }

.zt-section4 .container { position: relative; padding-top: 244px; }

.zt-section4 .container .ztTab { position: relative; width: 1000px; height: 520px; }

.zt-section4 .container .ztTab .ztTabNav { margin-left: 299px; margin-bottom: 58px; width: 500px; height: 86px; }

.zt-section4 .container .ztTab .ztTabNav li { cursor: pointer; float: left; margin-right: 19px; }

.zt-section4 .container .ztTab .ztTabNav li.nav1 { background-image: url(../ztimages/csprite.png); background-position: -105px -262px; width: 86px; height: 86px; }

.zt-section4 .container .ztTab .ztTabNav li.nav1:hover, .zt-section4 .container .ztTab .ztTabNav li.nav1.cur { background-position: -199px -262px; }

.zt-section4 .container .ztTab .ztTabNav li.nav2 { background-image: url(../ztimages/csprite.png); background-position: -188px -369px; width: 86px; height: 86px; }

.zt-section4 .container .ztTab .ztTabNav li.nav2:hover, .zt-section4 .container .ztTab .ztTabNav li.nav2.cur { background-position: -282px -369px; }

.zt-section4 .container .ztTab .ztTabNav li.nav3 { background-image: url(../ztimages/csprite.png); background-position: 0px -369px; width: 86px; height: 86px; }

.zt-section4 .container .ztTab .ztTabNav li.nav3:hover, .zt-section4 .container .ztTab .ztTabNav li.nav3.cur { background-position: -94px -369px; }

.zt-section4 .container .ztTab .ztTabNav li.nav4 { background-image: url(../ztimages/csprite.png); background-position: -293px -262px; width: 86px; height: 86px; }

.zt-section4 .container .ztTab .ztTabNav li.nav4:hover, .zt-section4 .container .ztTab .ztTabNav li.nav4.cur { background-position: -387px -262px; }

.zt-section4 .container .ztTab .ztTabCon li { position: relative; width: 1000px; height: 520px; }

.zt-section4 .container .ztTab .ztTabCon li ::-webkit-scrollbar { width: 5px; height: 5px; border-radius: 0; }

.zt-section4 .container .ztTab .ztTabCon li ::-webkit-scrollbar-track { border-radius: 10px; background-color: transparent; background: url(../ztimages/slc.png) center 0 repeat-y; }

.zt-section4 .container .ztTab .ztTabCon li ::-webkit-scrollbar-thumb { border-radius: 0; background-color: #a996f4; }

.zt-section4 .container .ztTab .ztTabCon li ::-webkit-scrollbar-thumb:hover { background-color: rgba(169, 150, 244, 0.8); }

.zt-section4 .container .ztTab .ztTabCon li ::-webkit-scrollbar-thumb:active { background-color: rgba(169, 150, 244, 0.6); }

.zt-section4 .container .ztTab .ztTabCon li .ztSldwrap { position: relative; margin-left: 37px; width: 598px; height: 364px; background: url(../ztimages/s4-sld-bg.png) 0 0 no-repeat; }

.zt-section4 .container .ztTab .ztTabCon li .ztSldwrap .ztSld { position: absolute; left: 10px; top: 10px; width: 578px; height: 344px; }

.zt-section4 .container .ztTab .ztTabCon li .ztSldwrap .ztSld .ztSldCon li { position: relative; width: 578px; height: 344px; }

.zt-section4 .container .ztTab .ztTabCon li .ztSldwrap .ztSld .ztSldCon li img { display: block; width: 100%; height: 100%; }

.zt-section4 .container .ztTab .ztTabCon li .ztSldwrap .ztSldArr { display: block; position: absolute; top: 154px; }

.zt-section4 .container .ztTab .ztTabCon li .ztSldwrap .ztSldArr.ztSldArrP { left: -36px; background-image: url(../ztimages/csprite.png); background-position: -546px -463px; width: 28px; height: 56px; }

.zt-section4 .container .ztTab .ztTabCon li .ztSldwrap .ztSldArr.ztSldArrP:hover { background-position: -582px -463px; }

.zt-section4 .container .ztTab .ztTabCon li .ztSldwrap .ztSldArr.ztSldArrN { right: -36px; background-image: url(../ztimages/csprite.png); background-position: -454px -369px; width: 28px; height: 56px; }

.zt-section4 .container .ztTab .ztTabCon li .ztSldwrap .ztSldArr.ztSldArrN:hover { background-position: -61px -541px; }

.zt-section4 .container .ztTab .ztTabCon li .txt { position: absolute; top: 0; right: 0; padding-right: 30px; width: 260px; height: 364px; overflow: hidden; overflow-y: auto; }

.zt-section4 .container .ztTab .ztTabCon li .txt p { line-height: 28px; font-size: 15px; color: #82a2db; text-indent: 30px; }
