/*
 * IE屏蔽提示
 */
.ie-notice{
    display: none;
    position: absolute;top: 0;left: 0;
    width: 100%;height: 100%;
    background:url('http://img1.gamersky.com/image2016/06/20160603_zl_91_4/ielt9.jpg') center center no-repeat;
    p{
        padding-top: 25%;
        font-size: 22px;text-align: center;line-height: 40px;
        span{color: #ff6600}
    }
}
.ie-forbidden{
    .ie-notice{
        display: block;
    }
}
/*
 * 主区域
 */
.gs-dgy-main{
    position: absolute;
}
/*
 * 音乐开关
 */
.music-btn{
    display: none;
    position: absolute;
    right: 40px;
    top: 429px;
    @include sprite($vol-play);
    &.cur{
        display: block;
    }
    &:hover{
        @include sprite($vol-play-h);
    }
    &.pause{
        @include sprite($vol-pause);
        &:hover{
            @include sprite($vol-pause-h);
        }
    }
}
/*
 * 导航按钮
 */
.fx-btn{
    display: block;
    position: absolute;
    &.fx-menu{
        top: 481px;
        right: 29px;
        @include sprite($fx-menu);
        &:hover{
            @include sprite($fx-menu-h);
        }
    }
    &.fx-comm{
        top: 556px;
        right: 40px;
        @include sprite($fx-comm);
        &:hover{
            @include sprite($fx-comm-h);
        }
    }
}
/*
 * loading页面
 */
//loading
.gs-dgy-loading-mask{
    position: absolute;left: 0;top: 0;
    width: 100%;height: 100%;
    background-color: #000;
}
//预加载
#jpreOverlay{
    background-color: #000;
    #jpreLoader{display: none;}
}
#jpreSlide{
    width: 100%;height: 100%;
}
.gs-dgy-loading{
    $ldWidth:906px;$ldHeight:203px;
    display: block;position: absolute;top: 50%;left: 50%;margin-left: -$ldWidth/2;margin-top: -($ldHeight + 40px)/2;
    width: $ldWidth;height:$ldHeight + 40px;
    .loadingAnim-img-g{
        display: block;
        width: $ldWidth;height:$ldHeight;
    }
    .loadingAnim-img{
        display: block;position: absolute;top: 0;right: 0;
        width: $ldWidth;height:$ldHeight;
        overflow: hidden;
        img{
            display: block;position: absolute;top: 0;right: 0;
            width: $ldWidth;height:$ldHeight;
        }
    }
    .loadingtxt{
        position: absolute;bottom: 0;left: 0;
        width: $ldWidth;height:33px;line-height:33px;
        font-size: 14px;color: #fff;text-align: center;
    }
}
.gs-dgy-loading-tips{
    display: none;position: absolute;top: 50%;left: 50%;margin-left: -400px;margin-top: -143px;
    width: 800px;
    .txt{
        margin-bottom: 40px;
        h5{
            height: 34px;
            line-height: 34px;
            font-size: 24px;
            color: #ffc24c;
            text-align: center;
            font-weight: normal;
        }
        img{
            display: block;
            margin: 0 auto;
            width: 161px;
            height: 169px;
        }
        p{
            line-height: 36px;
            font-size: 18px;
            color: #8a8a8a;
            text-align: center;
            i{
                font-style: normal;
                color: #fff;
            }
            b{
                font-weight: normal;
                color: #ffc24c;
            }
            span{
                font-size: 16px;
            }
        }
    }
    .btngroup{
        a{
            display: block;margin: 10px auto 0;
            width: 160px;height: 40px;line-height: 40px;
            background-color: #333;
            font-size: 20px;color: #fff;text-align: center;
            &:hover{background-color: #555}
        }
    }
}
/*
 * 主页面
 */
.gs-dgy-pages{
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    .gs-dgy-page{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #111;
        opacity: 0;
        visibility: hidden;
        transition:all 0.4s ease;
        &.cur{
            opacity: 1;
            visibility: visible;
        }
        .gsd-page-bg{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .gsd-page-main{
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
}
.gsd-page{
    position: relative;
    width: 100%;
    height: 100%;
}
/*
 * 百度分享
 */
.bdsharewrap.bdstyle-c{
    width:240px;height:36px;
    overflow: hidden;
    .bdsharebuttonbox {
        width:800px; height:36px;
        *font-size: 0;
        &:after,&.before{
            display:table;content:" ";
        }
        &:after{clear:both}
        a {
            display: block;float:left; margin:0 4px 0 0; padding:0;
            width:36px; height:36px;
            background:url(../ztimages/baidu-share-icons.png) 0 0 no-repeat;
            overflow: hidden;
            &.bds_tsina {background-position:     0 0;}
            &.bds_weixin{background-position: -40px 0;}
            &.bds_qzone {background-position: -80px 0;}
            &.bds_renren{background-position:-121px 0;}
            &.bds_sqq	{background-position:-161px 0;}
            &.bds_count	{background-position:-201px 0;}
            &.bds_tieba,&.bds_douban,&.bds_more
            {display: none}
            &:hover{
                opacity: 1;
                &.bds_tsina {background-position:     0 -40px;}
                &.bds_weixin{background-position: -40px -40px;}
                &.bds_qzone {background-position: -80px -40px;}
                &.bds_renren{background-position:-121px -40px;}
                &.bds_sqq	{background-position:-161px -40px;}
                &.bds_count	{background-position:-201px -40px;}
            }
            &.bds_count{
                text-indent: 9999px;
                overflow: hidden;
            }
        }
    }
}
/*
 * 评论
 */
.gs-dgy-comment{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition:all 0.25s ease;
    transform:translate(100px,0);
    opacity: 0;
    visibility: hidden;
    background: #1b1b1b url(../ztimages/bg-comm.jpg) center 0 no-repeat;
    &.cur{
        transform:translate(0,0);
        opacity: 1;
        visibility: visible;
    }
    .gsd-comment-close{
        position: absolute;
        top: 81px;
        left: 50%;
        margin-left: 487px;
        @extend %close;
    }
    .gsd-comment{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .gsd-comment-scl{
            position: relative;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            .gsd-comment-context{
                padding-top: 80px;
                margin: 0 auto;
                width: 950px;
                .gsd-comment-context-area{
                    padding:40px 40px 40px;
                    background-color: rgba(0,0,0,0.85);
                }
            }
        }
    }
}
/*
 * 页面固定元素
 */
.gs-dgy-static-cells{
    width: 632px;
    height: 98px;
    background: url(../ztimages/sc-bg.png) 0 0 no-repeat;
    a{
        display: block;
    }
    .cells-zan{
        position: absolute;
        left: 264px;
        top: -43px;
        width: 94px;
        height: 119px;
        i{
            font-style: normal;
        }
        .cells-zan-icon{
            display: block;
            @include sprite($sc-zan);
        }
        span{
            display: block;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #fff;
            text-align: center;
        }
        &:hover{
            .cells-zan-icon{@include sprite-position($sc-zan-h);}
        }
        &.clked{
            &:hover{
                .cells-zan-icon{@include sprite-position($sc-zan);}
            }
        }
    }
    .cells-buy,.cells-back,.cells-comment{
        display: block;
        position: absolute;
    }
    .cells-buy,.cells-back{
        left: 99px;
        top: 18px;
    }
    .cells-comment{
        left: 366px;
        top: 18px;
    }
}