.others-area{
    position: relative;
    width: 463px;
    .zanbtn{
        @include sprite($zan-bg);
        @include flexbox;
        @include ConCen;
        .ico_zan{
            display: block;
            margin-right: 3px;
            @include sprite($zan);
        }
        span{
            display: block;
            font-size: 16px;
            color: #fff;
            text-shadow: 0 0 5px #142d5a,0 2px 2px #142d5a,2px 0 2px #142d5a,-2px 0 2px #142d5a,0 -2px 2px #142d5a;
            i{
                font-style: normal;
            }
        }
        &:hover{
            .ico_zan{@include sprite-position($zan-h);}
        }
        &.clked{
            cursor: default;
            .ico_zan{@include sprite-position($zan-h);}
        }
    }
    .btn-group{
        padding-top: 14px;
        text-align: center;
        a{
            display: inline-block;
            margin: 0 7px;
        }
        .btn-buy{
            @include sprite($other-btn-buy);
            &:hover{@include sprite-position($other-btn-buy-h)}
        }
        .btn-club{
            @include sprite($other-btn-club);
            &:hover{@include sprite-position($other-btn-club-h)}
        }
        .btn-ku{
            @include sprite($other-btn-ku);
            &:hover{@include sprite-position($other-btn-ku-h)}
        }
        .btn-pc{
            @include sprite($other-btn-pc);
            &:hover{@include sprite-position($other-btn-pc-h)}
        }
        .btn-comm{
            @include sprite($other-btn-comm);
            &:hover{@include sprite-position($other-btn-comm-h)}
        }
    }
}
.close{
    display: block;
    @include sprite($close);
    transition:transform 0.25s ease;
    &:hover{
        @include sprite-position($close-h);
        transform:rotate(180deg);
    }
}
.audio-zm{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    .audio-zm-skip{
        display: block;
        position: absolute;
        right: 30px;
        bottom: 30px;
        @include sprite($task-next);
        line-height: 60px;
        font-size: 22px;
        color: #fff;
        text-indent: 80px;
        &:hover{
            @include sprite($task-next-h);
        }
    }
    .audio-zm-txt{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        font-size: 26px;
        color: #fff;
        text-align: center;
        opacity: 0;
        &.cur{
            opacity: 1;
        }
    }
}
.mouse-scroll-tips{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -116px;
    margin-top: -60px;
    width: 232px;
    height: 119px;
    background: url(../ztimages/mouse-scroll.png) 0 0 no-repeat;
    pointer-events: none;
}
.toast{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -150px;
    padding: 20px;
    width: 300px;
    line-height: 40px;
    font-size: 22px;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    &.cur{
        animation: toastAnim 1s ease 1 both;
    }
}