// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-menu-top-name: 'bg-menu-top';
$bg-menu-top-x: 0px;
$bg-menu-top-y: 0px;
$bg-menu-top-offset-x: 0px;
$bg-menu-top-offset-y: 0px;
$bg-menu-top-width: 1920px;
$bg-menu-top-height: 66px;
$bg-menu-top-total-width: 1920px;
$bg-menu-top-total-height: 501px;
$bg-menu-top-image: '../ztimages/csprite.png';
$bg-menu-top: (0px, 0px, 0px, 0px, 1920px, 66px, 1920px, 501px, '../ztimages/csprite.png', 'bg-menu-top', );
$btn-buy-over-name: 'btn-buy-over';
$btn-buy-over-x: 1367px;
$btn-buy-over-y: 241px;
$btn-buy-over-offset-x: -1367px;
$btn-buy-over-offset-y: -241px;
$btn-buy-over-width: 70px;
$btn-buy-over-height: 33px;
$btn-buy-over-total-width: 1920px;
$btn-buy-over-total-height: 501px;
$btn-buy-over-image: '../ztimages/csprite.png';
$btn-buy-over: (1367px, 241px, -1367px, -241px, 70px, 33px, 1920px, 501px, '../ztimages/csprite.png', 'btn-buy-over', );
$btn-buy-name: 'btn-buy';
$btn-buy-x: 1289px;
$btn-buy-y: 241px;
$btn-buy-offset-x: -1289px;
$btn-buy-offset-y: -241px;
$btn-buy-width: 70px;
$btn-buy-height: 33px;
$btn-buy-total-width: 1920px;
$btn-buy-total-height: 501px;
$btn-buy-image: '../ztimages/csprite.png';
$btn-buy: (1289px, 241px, -1289px, -241px, 70px, 33px, 1920px, 501px, '../ztimages/csprite.png', 'btn-buy', );
$btn-start1-name: 'btn-start1';
$btn-start1-x: 739px;
$btn-start1-y: 241px;
$btn-start1-offset-x: -739px;
$btn-start1-offset-y: -241px;
$btn-start1-width: 140px;
$btn-start1-height: 34px;
$btn-start1-total-width: 1920px;
$btn-start1-total-height: 501px;
$btn-start1-image: '../ztimages/csprite.png';
$btn-start1: (739px, 241px, -739px, -241px, 140px, 34px, 1920px, 501px, '../ztimages/csprite.png', 'btn-start1', );
$btn-start2-name: 'btn-start2';
$btn-start2-x: 1178px;
$btn-start2-y: 241px;
$btn-start2-offset-x: -1178px;
$btn-start2-offset-y: -241px;
$btn-start2-width: 103px;
$btn-start2-height: 33px;
$btn-start2-total-width: 1920px;
$btn-start2-total-height: 501px;
$btn-start2-image: '../ztimages/csprite.png';
$btn-start2: (1178px, 241px, -1178px, -241px, 103px, 33px, 1920px, 501px, '../ztimages/csprite.png', 'btn-start2', );
$buy-tit-name: 'buy-tit';
$buy-tit-x: 887px;
$buy-tit-y: 241px;
$buy-tit-offset-x: -887px;
$buy-tit-offset-y: -241px;
$buy-tit-width: 139px;
$buy-tit-height: 34px;
$buy-tit-total-width: 1920px;
$buy-tit-total-height: 501px;
$buy-tit-image: '../ztimages/csprite.png';
$buy-tit: (887px, 241px, -887px, -241px, 139px, 34px, 1920px, 501px, '../ztimages/csprite.png', 'buy-tit', );
$close-h-name: 'close-h';
$close-h-x: 266px;
$close-h-y: 368px;
$close-h-offset-x: -266px;
$close-h-offset-y: -368px;
$close-h-width: 43px;
$close-h-height: 43px;
$close-h-total-width: 1920px;
$close-h-total-height: 501px;
$close-h-image: '../ztimages/csprite.png';
$close-h: (266px, 368px, -266px, -368px, 43px, 43px, 1920px, 501px, '../ztimages/csprite.png', 'close-h', );
$close-name: 'close';
$close-x: 215px;
$close-y: 368px;
$close-offset-x: -215px;
$close-offset-y: -368px;
$close-width: 43px;
$close-height: 43px;
$close-total-width: 1920px;
$close-total-height: 501px;
$close-image: '../ztimages/csprite.png';
$close: (215px, 368px, -215px, -368px, 43px, 43px, 1920px, 501px, '../ztimages/csprite.png', 'close', );
$end-maker-name: 'end-maker';
$end-maker-x: 1034px;
$end-maker-y: 241px;
$end-maker-offset-x: -1034px;
$end-maker-offset-y: -241px;
$end-maker-width: 136px;
$end-maker-height: 33px;
$end-maker-total-width: 1920px;
$end-maker-total-height: 501px;
$end-maker-image: '../ztimages/csprite.png';
$end-maker: (1034px, 241px, -1034px, -241px, 136px, 33px, 1920px, 501px, '../ztimages/csprite.png', 'end-maker', );
$flow-tips-btn-name: 'flow-tips-btn';
$flow-tips-btn-x: 156px;
$flow-tips-btn-y: 368px;
$flow-tips-btn-offset-x: -156px;
$flow-tips-btn-offset-y: -368px;
$flow-tips-btn-width: 51px;
$flow-tips-btn-height: 50px;
$flow-tips-btn-total-width: 1920px;
$flow-tips-btn-total-height: 501px;
$flow-tips-btn-image: '../ztimages/csprite.png';
$flow-tips-btn: (156px, 368px, -156px, -368px, 51px, 50px, 1920px, 501px, '../ztimages/csprite.png', 'flow-tips-btn', );
$flow-tips-top-btn-name: 'flow-tips-top-btn';
$flow-tips-top-btn-x: 1445px;
$flow-tips-top-btn-y: 241px;
$flow-tips-top-btn-offset-x: -1445px;
$flow-tips-top-btn-offset-y: -241px;
$flow-tips-top-btn-width: 36px;
$flow-tips-top-btn-height: 31px;
$flow-tips-top-btn-total-width: 1920px;
$flow-tips-top-btn-total-height: 501px;
$flow-tips-top-btn-image: '../ztimages/csprite.png';
$flow-tips-top-btn: (1445px, 241px, -1445px, -241px, 36px, 31px, 1920px, 501px, '../ztimages/csprite.png', 'flow-tips-top-btn', );
$flow-tips-top-name: 'flow-tips-top';
$flow-tips-top-x: 928px;
$flow-tips-top-y: 74px;
$flow-tips-top-offset-x: -928px;
$flow-tips-top-offset-y: -74px;
$flow-tips-top-width: 641px;
$flow-tips-top-height: 79px;
$flow-tips-top-total-width: 1920px;
$flow-tips-top-total-height: 501px;
$flow-tips-top-image: '../ztimages/csprite.png';
$flow-tips-top: (928px, 74px, -928px, -74px, 641px, 79px, 1920px, 501px, '../ztimages/csprite.png', 'flow-tips-top', );
$flow-tips-name: 'flow-tips';
$flow-tips-x: 0px;
$flow-tips-y: 74px;
$flow-tips-offset-x: 0px;
$flow-tips-offset-y: -74px;
$flow-tips-width: 920px;
$flow-tips-height: 85px;
$flow-tips-total-width: 1920px;
$flow-tips-total-height: 501px;
$flow-tips-image: '../ztimages/csprite.png';
$flow-tips: (0px, 74px, 0px, -74px, 920px, 85px, 1920px, 501px, '../ztimages/csprite.png', 'flow-tips', );
$fx-comm-h-name: 'fx-comm-h';
$fx-comm-h-x: 56px;
$fx-comm-h-y: 450px;
$fx-comm-h-offset-x: -56px;
$fx-comm-h-offset-y: -450px;
$fx-comm-h-width: 48px;
$fx-comm-h-height: 51px;
$fx-comm-h-total-width: 1920px;
$fx-comm-h-total-height: 501px;
$fx-comm-h-image: '../ztimages/csprite.png';
$fx-comm-h: (56px, 450px, -56px, -450px, 48px, 51px, 1920px, 501px, '../ztimages/csprite.png', 'fx-comm-h', );
$fx-comm-name: 'fx-comm';
$fx-comm-x: 224px;
$fx-comm-y: 450px;
$fx-comm-offset-x: -224px;
$fx-comm-offset-y: -450px;
$fx-comm-width: 48px;
$fx-comm-height: 51px;
$fx-comm-total-width: 1920px;
$fx-comm-total-height: 501px;
$fx-comm-image: '../ztimages/csprite.png';
$fx-comm: (224px, 450px, -224px, -450px, 48px, 51px, 1920px, 501px, '../ztimages/csprite.png', 'fx-comm', );
$fx-menu-h-name: 'fx-menu-h';
$fx-menu-h-x: 0px;
$fx-menu-h-y: 368px;
$fx-menu-h-offset-x: 0px;
$fx-menu-h-offset-y: -368px;
$fx-menu-h-width: 70px;
$fx-menu-h-height: 74px;
$fx-menu-h-total-width: 1920px;
$fx-menu-h-total-height: 501px;
$fx-menu-h-image: '../ztimages/csprite.png';
$fx-menu-h: (0px, 368px, 0px, -368px, 70px, 74px, 1920px, 501px, '../ztimages/csprite.png', 'fx-menu-h', );
$fx-menu-name: 'fx-menu';
$fx-menu-x: 78px;
$fx-menu-y: 368px;
$fx-menu-offset-x: -78px;
$fx-menu-offset-y: -368px;
$fx-menu-width: 70px;
$fx-menu-height: 74px;
$fx-menu-total-width: 1920px;
$fx-menu-total-height: 501px;
$fx-menu-image: '../ztimages/csprite.png';
$fx-menu: (78px, 368px, -78px, -368px, 70px, 74px, 1920px, 501px, '../ztimages/csprite.png', 'fx-menu', );
$gsd-menu-skill-nav-c-name: 'gsd-menu-skill-nav-c';
$gsd-menu-skill-nav-c-x: 0px;
$gsd-menu-skill-nav-c-y: 241px;
$gsd-menu-skill-nav-c-offset-x: 0px;
$gsd-menu-skill-nav-c-offset-y: -241px;
$gsd-menu-skill-nav-c-width: 119px;
$gsd-menu-skill-nav-c-height: 119px;
$gsd-menu-skill-nav-c-total-width: 1920px;
$gsd-menu-skill-nav-c-total-height: 501px;
$gsd-menu-skill-nav-c-image: '../ztimages/csprite.png';
$gsd-menu-skill-nav-c: (0px, 241px, 0px, -241px, 119px, 119px, 1920px, 501px, '../ztimages/csprite.png', 'gsd-menu-skill-nav-c', );
$gsd-menu-sty3-nav-c-name: 'gsd-menu-sty3-nav-c';
$gsd-menu-sty3-nav-c-x: 0px;
$gsd-menu-sty3-nav-c-y: 167px;
$gsd-menu-sty3-nav-c-offset-x: 0px;
$gsd-menu-sty3-nav-c-offset-y: -167px;
$gsd-menu-sty3-nav-c-width: 432px;
$gsd-menu-sty3-nav-c-height: 66px;
$gsd-menu-sty3-nav-c-total-width: 1920px;
$gsd-menu-sty3-nav-c-total-height: 501px;
$gsd-menu-sty3-nav-c-image: '../ztimages/csprite.png';
$gsd-menu-sty3-nav-c: (0px, 167px, 0px, -167px, 432px, 66px, 1920px, 501px, '../ztimages/csprite.png', 'gsd-menu-sty3-nav-c', );
$gsd-menu-sty3-nav-group-name: 'gsd-menu-sty3-nav-group';
$gsd-menu-sty3-nav-group-x: 440px;
$gsd-menu-sty3-nav-group-y: 167px;
$gsd-menu-sty3-nav-group-offset-x: -440px;
$gsd-menu-sty3-nav-group-offset-y: -167px;
$gsd-menu-sty3-nav-group-width: 422px;
$gsd-menu-sty3-nav-group-height: 61px;
$gsd-menu-sty3-nav-group-total-width: 1920px;
$gsd-menu-sty3-nav-group-total-height: 501px;
$gsd-menu-sty3-nav-group-image: '../ztimages/csprite.png';
$gsd-menu-sty3-nav-group: (440px, 167px, -440px, -167px, 422px, 61px, 1920px, 501px, '../ztimages/csprite.png', 'gsd-menu-sty3-nav-group', );
$gsd-menu-sty3-nav-h-name: 'gsd-menu-sty3-nav-h';
$gsd-menu-sty3-nav-h-x: 870px;
$gsd-menu-sty3-nav-h-y: 167px;
$gsd-menu-sty3-nav-h-offset-x: -870px;
$gsd-menu-sty3-nav-h-offset-y: -167px;
$gsd-menu-sty3-nav-h-width: 418px;
$gsd-menu-sty3-nav-h-height: 56px;
$gsd-menu-sty3-nav-h-total-width: 1920px;
$gsd-menu-sty3-nav-h-total-height: 501px;
$gsd-menu-sty3-nav-h-image: '../ztimages/csprite.png';
$gsd-menu-sty3-nav-h: (870px, 167px, -870px, -167px, 418px, 56px, 1920px, 501px, '../ztimages/csprite.png', 'gsd-menu-sty3-nav-h', );
$gsd-menu-sty3-nav-name: 'gsd-menu-sty3-nav';
$gsd-menu-sty3-nav-x: 1296px;
$gsd-menu-sty3-nav-y: 167px;
$gsd-menu-sty3-nav-offset-x: -1296px;
$gsd-menu-sty3-nav-offset-y: -167px;
$gsd-menu-sty3-nav-width: 418px;
$gsd-menu-sty3-nav-height: 56px;
$gsd-menu-sty3-nav-total-width: 1920px;
$gsd-menu-sty3-nav-total-height: 501px;
$gsd-menu-sty3-nav-image: '../ztimages/csprite.png';
$gsd-menu-sty3-nav: (1296px, 167px, -1296px, -167px, 418px, 56px, 1920px, 501px, '../ztimages/csprite.png', 'gsd-menu-sty3-nav', );
$icon-back-h-name: 'icon-back-h';
$icon-back-h-x: 588px;
$icon-back-h-y: 241px;
$icon-back-h-offset-x: -588px;
$icon-back-h-offset-y: -241px;
$icon-back-h-width: 143px;
$icon-back-h-height: 40px;
$icon-back-h-total-width: 1920px;
$icon-back-h-total-height: 501px;
$icon-back-h-image: '../ztimages/csprite.png';
$icon-back-h: (588px, 241px, -588px, -241px, 143px, 40px, 1920px, 501px, '../ztimages/csprite.png', 'icon-back-h', );
$icon-back-name: 'icon-back';
$icon-back-x: 437px;
$icon-back-y: 241px;
$icon-back-offset-x: -437px;
$icon-back-offset-y: -241px;
$icon-back-width: 143px;
$icon-back-height: 40px;
$icon-back-total-width: 1920px;
$icon-back-total-height: 501px;
$icon-back-image: '../ztimages/csprite.png';
$icon-back: (437px, 241px, -437px, -241px, 143px, 40px, 1920px, 501px, '../ztimages/csprite.png', 'icon-back', );
$icon-menu-nav-c-name: 'icon-menu-nav-c';
$icon-menu-nav-c-x: 127px;
$icon-menu-nav-c-y: 241px;
$icon-menu-nav-c-offset-x: -127px;
$icon-menu-nav-c-offset-y: -241px;
$icon-menu-nav-c-width: 98px;
$icon-menu-nav-c-height: 98px;
$icon-menu-nav-c-total-width: 1920px;
$icon-menu-nav-c-total-height: 501px;
$icon-menu-nav-c-image: '../ztimages/csprite.png';
$icon-menu-nav-c: (127px, 241px, -127px, -241px, 98px, 98px, 1920px, 501px, '../ztimages/csprite.png', 'icon-menu-nav-c', );
$icon-menu-tab-c-name: 'icon-menu-tab-c';
$icon-menu-tab-c-x: 1577px;
$icon-menu-tab-c-y: 74px;
$icon-menu-tab-c-offset-x: -1577px;
$icon-menu-tab-c-offset-y: -74px;
$icon-menu-tab-c-width: 196px;
$icon-menu-tab-c-height: 70px;
$icon-menu-tab-c-total-width: 1920px;
$icon-menu-tab-c-total-height: 501px;
$icon-menu-tab-c-image: '../ztimages/csprite.png';
$icon-menu-tab-c: (1577px, 74px, -1577px, -74px, 196px, 70px, 1920px, 501px, '../ztimages/csprite.png', 'icon-menu-tab-c', );
$logo-gs-name: 'logo-gs';
$logo-gs-x: 1781px;
$logo-gs-y: 74px;
$logo-gs-offset-x: -1781px;
$logo-gs-offset-y: -74px;
$logo-gs-width: 139px;
$logo-gs-height: 45px;
$logo-gs-total-width: 1920px;
$logo-gs-total-height: 501px;
$logo-gs-image: '../ztimages/csprite.png';
$logo-gs: (1781px, 74px, -1781px, -74px, 139px, 45px, 1920px, 501px, '../ztimages/csprite.png', 'logo-gs', );
$sc-btn-mk-name: 'sc-btn-mk';
$sc-btn-mk-x: 1722px;
$sc-btn-mk-y: 167px;
$sc-btn-mk-offset-x: -1722px;
$sc-btn-mk-offset-y: -167px;
$sc-btn-mk-width: 166px;
$sc-btn-mk-height: 45px;
$sc-btn-mk-total-width: 1920px;
$sc-btn-mk-total-height: 501px;
$sc-btn-mk-image: '../ztimages/csprite.png';
$sc-btn-mk: (1722px, 167px, -1722px, -167px, 166px, 45px, 1920px, 501px, '../ztimages/csprite.png', 'sc-btn-mk', );
$sc-zan-h-name: 'sc-zan-h';
$sc-zan-h-x: 233px;
$sc-zan-h-y: 241px;
$sc-zan-h-offset-x: -233px;
$sc-zan-h-offset-y: -241px;
$sc-zan-h-width: 94px;
$sc-zan-h-height: 89px;
$sc-zan-h-total-width: 1920px;
$sc-zan-h-total-height: 501px;
$sc-zan-h-image: '../ztimages/csprite.png';
$sc-zan-h: (233px, 241px, -233px, -241px, 94px, 89px, 1920px, 501px, '../ztimages/csprite.png', 'sc-zan-h', );
$sc-zan-name: 'sc-zan';
$sc-zan-x: 335px;
$sc-zan-y: 241px;
$sc-zan-offset-x: -335px;
$sc-zan-offset-y: -241px;
$sc-zan-width: 94px;
$sc-zan-height: 89px;
$sc-zan-total-width: 1920px;
$sc-zan-total-height: 501px;
$sc-zan-image: '../ztimages/csprite.png';
$sc-zan: (335px, 241px, -335px, -241px, 94px, 89px, 1920px, 501px, '../ztimages/csprite.png', 'sc-zan', );
$sld-arr-n-name: 'sld-arr-n';
$sld-arr-n-x: 1489px;
$sld-arr-n-y: 241px;
$sld-arr-n-offset-x: -1489px;
$sld-arr-n-offset-y: -241px;
$sld-arr-n-width: 15px;
$sld-arr-n-height: 24px;
$sld-arr-n-total-width: 1920px;
$sld-arr-n-total-height: 501px;
$sld-arr-n-image: '../ztimages/csprite.png';
$sld-arr-n: (1489px, 241px, -1489px, -241px, 15px, 24px, 1920px, 501px, '../ztimages/csprite.png', 'sld-arr-n', );
$sld-arr-p-name: 'sld-arr-p';
$sld-arr-p-x: 1896px;
$sld-arr-p-y: 167px;
$sld-arr-p-offset-x: -1896px;
$sld-arr-p-offset-y: -167px;
$sld-arr-p-width: 15px;
$sld-arr-p-height: 24px;
$sld-arr-p-total-width: 1920px;
$sld-arr-p-total-height: 501px;
$sld-arr-p-image: '../ztimages/csprite.png';
$sld-arr-p: (1896px, 167px, -1896px, -167px, 15px, 24px, 1920px, 501px, '../ztimages/csprite.png', 'sld-arr-p', );
$vol-pause-h-name: 'vol-pause-h';
$vol-pause-h-x: 280px;
$vol-pause-h-y: 450px;
$vol-pause-h-offset-x: -280px;
$vol-pause-h-offset-y: -450px;
$vol-pause-h-width: 48px;
$vol-pause-h-height: 51px;
$vol-pause-h-total-width: 1920px;
$vol-pause-h-total-height: 501px;
$vol-pause-h-image: '../ztimages/csprite.png';
$vol-pause-h: (280px, 450px, -280px, -450px, 48px, 51px, 1920px, 501px, '../ztimages/csprite.png', 'vol-pause-h', );
$vol-pause-name: 'vol-pause';
$vol-pause-x: 168px;
$vol-pause-y: 450px;
$vol-pause-offset-x: -168px;
$vol-pause-offset-y: -450px;
$vol-pause-width: 48px;
$vol-pause-height: 51px;
$vol-pause-total-width: 1920px;
$vol-pause-total-height: 501px;
$vol-pause-image: '../ztimages/csprite.png';
$vol-pause: (168px, 450px, -168px, -450px, 48px, 51px, 1920px, 501px, '../ztimages/csprite.png', 'vol-pause', );
$vol-play-h-name: 'vol-play-h';
$vol-play-h-x: 112px;
$vol-play-h-y: 450px;
$vol-play-h-offset-x: -112px;
$vol-play-h-offset-y: -450px;
$vol-play-h-width: 48px;
$vol-play-h-height: 51px;
$vol-play-h-total-width: 1920px;
$vol-play-h-total-height: 501px;
$vol-play-h-image: '../ztimages/csprite.png';
$vol-play-h: (112px, 450px, -112px, -450px, 48px, 51px, 1920px, 501px, '../ztimages/csprite.png', 'vol-play-h', );
$vol-play-name: 'vol-play';
$vol-play-x: 0px;
$vol-play-y: 450px;
$vol-play-offset-x: 0px;
$vol-play-offset-y: -450px;
$vol-play-width: 48px;
$vol-play-height: 51px;
$vol-play-total-width: 1920px;
$vol-play-total-height: 501px;
$vol-play-image: '../ztimages/csprite.png';
$vol-play: (0px, 450px, 0px, -450px, 48px, 51px, 1920px, 501px, '../ztimages/csprite.png', 'vol-play', );
$spritesheet-width: 1920px;
$spritesheet-height: 501px;
$spritesheet-image: '../ztimages/csprite.png';
$spritesheet-sprites: ($bg-menu-top, $btn-buy-over, $btn-buy, $btn-start1, $btn-start2, $buy-tit, $close-h, $close, $end-maker, $flow-tips-btn, $flow-tips-top-btn, $flow-tips-top, $flow-tips, $fx-comm-h, $fx-comm, $fx-menu-h, $fx-menu, $gsd-menu-skill-nav-c, $gsd-menu-sty3-nav-c, $gsd-menu-sty3-nav-group, $gsd-menu-sty3-nav-h, $gsd-menu-sty3-nav, $icon-back-h, $icon-back, $icon-menu-nav-c, $icon-menu-tab-c, $logo-gs, $sc-btn-mk, $sc-zan-h, $sc-zan, $sld-arr-n, $sld-arr-p, $vol-pause-h, $vol-pause, $vol-play-h, $vol-play, );
$spritesheet: (1920px, 501px, '../ztimages/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
