/*
 * css样式库
 */

/*
 * 自定义滚动条样式
 */
%diyWebkitScroll{
    ::-webkit-scrollbar {
        width: 15px;
        border-radius: 0;
        background: none;
    }
    ::-webkit-scrollbar-button{
        width: 15px;
        height: 9px;
        background: url(../ztimages/scl-btn.png) 0 0 no-repeat;
        &:end{
            background-position: 0 bottom;
        }
    }
    ::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0,2,0,1);
        border: 2px solid #8e9d9a;
    }
    ::-webkit-scrollbar-track:hover {
        background-color: rgba(0,2,0,1);
    }
    ::-webkit-scrollbar-track:active {
        background-color: rgba(0,2,0,1);
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: rgba(178,196,184,1);
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(178,196,184,0.9);
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: rgba(178,196,184,0.8);
    }
}

/*
 * btns
 */
%close{
    display: block;
    @include sprite($close);
    &:hover{@include sprite-position($close-h);}
}
%fireBtn{
    display: block;
    width: 320px;
    height: 150px;
    background: url(../ztimages/btn-fire-bg.png) 0 0 no-repeat;
    animation: bgToBot 3s steps(89) infinite;
    pointer-events: none;
}
.btn-sty1{
    position: relative;
    display: block;
    width: 166px;
    height: 45px;
    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        @include sprite($sc-btn-mk);
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: 14px;
        top: 6px;
        width: 136px;
        height: 32px;
        background-color: rgba(0,0,0,0.8);
        border: 1px solid #fff;
    }
    i{
        display: block;
        position: absolute;
        left: 14px;
        top: 6px;
        width: 136px;
        height: 32px;
        background-color: rgba(181,14,26,0.8);
        border: 1px solid #fff;
        transition:transform 0.25s ease;
        transform:scale(0,1);
    }
    span{
        display: block;
        position: absolute;
        left: 14px;
        top: 6px;
        width: 138px;
        height: 34px;
        line-height: 34px;
        font-size: 18px;
        color: #ebebeb;
        text-align: center;
        transform:translate(0,0);
    }
    &:hover{
        i{
            transform:scale(1,1);
        }
        span{
            transform:translate(0,0);
        }
    }
}
/*
 * 流式布局
 */
//flex
@mixin flexbox() {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
@mixin justifyCon(){
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
//完全居中
@mixin ConCen(){
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
//垂直居中
@mixin ConCenV(){
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}