.bdsharewrap.bdstyle-c { width: 255px; height: 33px; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox { width: 800px; height: 33px; *font-size: 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after, .bdsharewrap.bdstyle-c .bdsharebuttonbox.before { display: table; content: " "; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after { clear: both; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a { float: left; margin: 0 4px 0 0; padding: 0; display: inline-block; *display: inline; *zoom: 1; width: 33px; height: 33px; background: url("http://image.gamersky.com/webimg13/zhuanti/common/fx9.png") 0 0 no-repeat; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tsina { background-position: 0 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_weixin { background-position: -37px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_qzone { background-position: -74px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_renren { background-position: -111px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_sqq { background-position: -148px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tieba { display: none; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_douban { display: none; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_more { background-position: -185px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_count { background-position: -222px 0; font-size: 14px; text-align: center; line-height: 33px; color: #fefefe; }

html, body { min-width: 1280px; }

body { font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }

h1, h2, h3, h4, h5, p, ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; cursor: pointer; }

.clearfix:before, .clearfix:after, .container:before, .container:after { display: table; content: " "; }

.clearfix:after, .container:after { clear: both; }

.container { margin-right: auto; margin-left: auto; width: 1100px; }

.zt-section { margin: 0; padding: 0; overflow: hidden; width: 100%; min-width: 1100px; }

.QZnav { min-width: 1100px; }

.QZnav .topbar { width: 1100px; }

.QZnav .QZ-nav { display: none; }

.Bot { width: 100%; min-width: 1100px; height: 160px; background: #111; font-size: 14px; }

.Bot .Copyright { margin: 0 auto; padding-top: 40px; width: 1100px; height: auto; line-height: 40px; text-align: center; color: #363636; }

.Bot .Copyright a { margin: 0 1px; color: #363636; }

.Bot .Copyright a:hover { color: #666; }

.gsPopupMask { position: fixed; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background: url(http://image.gamersky.com/webimg13/zhuanti/common/black80.png) 0 0 repeat; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopupMask.cur { opacity: 1; visibility: visible; }

.gsPopup { z-index: 99999; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.gsPopup .gsPopupCon { width: 100%; height: 100%; background-color: #000; }

.gsPopup .gsPopupCon img { display: block; }

.gsPopup .gsPopupCon video { display: block; width: 100%; height: 100%; }

.gsPopup .gsPopupClose { position: absolute; top: 5px; right: -40px; overflow: hidden; background-image: url(../ztimages/csprite.png); background-position: -576px -64px; width: 30px; height: 30px; }

.gsPopup .gsPopupClose:hover { background-position: -614px -64px; }

.gsPopup.cur { opacity: 1; visibility: visible; }

.fixednav { display: none; position: fixed; right: 20px; top: 50%; margin-top: -167px; z-index: 999; padding-top: 17px; background-image: url(../ztimages/csprite.png); background-position: 0px 0px; width: 120px; height: 334px; height: 317px; }

.fixednav li { display: block; margin: 0 auto 8px; width: 112px; height: 30px; }

.fixednav li a { display: block; width: 112px; height: 30px; line-height: 30px; font-size: 16px; color: #fff; text-align: center; font-weight: bold; }

.fixednav li a.cur, .fixednav li a:hover { color: #000; background-image: url(../ztimages/csprite.png); background-position: -472px -276px; width: 112px; height: 30px; }

.fixednav.cur { display: block; }

.ztTab { width: 1100px; }

.ztTab .ztTabNav { margin-bottom: 40px; font-size: 0; text-align: center; width: 100%; height: 48px; }

.ztTab .ztTabNav li { cursor: pointer; margin: 0 0.5px; display: inline-block; *display: inline; *zoom: 1; width: 200px; height: 48px; line-height: 48px; font-size: 22px; color: #fff; font-weight: bold; text-align: center; background: #324d7f; }

.ztTab .ztTabNav li.cur { background: #fbe829; color: #111; }

.ztTab .ztTabNav li.first { background: none; background-image: url(../ztimages/csprite.png); background-position: -264px -112px; width: 200px; height: 48px; }

.ztTab .ztTabNav li.first.cur { background-position: -264px -168px; }

.ztTab .ztTabNav li.last { background: none; background-image: url(../ztimages/csprite.png); background-position: -264px 0px; width: 200px; height: 48px; }

.ztTab .ztTabNav li.last.cur { background-position: -264px -56px; }

.ztTab .ztTabCon li img { display: block; }

.zt-section1 { height: 919px; background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/zt-bg1.jpg) center 0 no-repeat; }

.zt-section1 .container { position: relative; }

.zt-section1 .container .bdsharewrap.bdstyle-c { position: absolute; top: 50px; right: 0; width: 222px; }

.zt-section1 .container .bdsharewrap.bdstyle-c a.bds_count { display: none; }

.zt-section1 .container .logo_gs { display: block; position: absolute; left: 145px; top: 45px; width: 139px; height: 47px; background: url(http://image.gamersky.com/webimg13/zhuanti/common/logos/logo139x46-white.png) 0 0 no-repeat; }

.zt-section1 .container .logo_gf { display: block; position: absolute; left: 300px; top: 30px; background-image: url(../ztimages/csprite.png); background-position: -128px 0px; width: 128px; height: 80px; }

.zt-section1 .container .btn { display: block; position: absolute; top: 537px; }

.zt-section1 .container .btn.btn1 { left: 286px; background-image: url(../ztimages/csprite.png); background-position: -264px -224px; width: 172px; height: 56px; }

.zt-section1 .container .btn.btn1:hover { background-image: url(../ztimages/csprite.png); background-position: -472px 0px; width: 172px; height: 56px; }

.zt-section1 .container .btn.btn2 { left: 464px; background-image: url(../ztimages/csprite.png); background-position: -180px -342px; width: 172px; height: 56px; }

.zt-section1 .container .btn.btn2:hover { background-image: url(../ztimages/csprite.png); background-position: 0px -342px; width: 172px; height: 56px; }

.zt-section1 .container .btn.btn3 { left: 642px; background-image: url(../ztimages/csprite.png); background-position: -180px -406px; width: 172px; height: 56px; }

.zt-section1 .container .btn.btn3 img { display: none; position: absolute; top: 61px; left: 3px; width: 166px; height: 166px; -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.75); box-shadow: 0 2px 6px rgba(0, 0, 0, 0.75); }

.zt-section1 .container .btn.btn3:hover { background-image: url(../ztimages/csprite.png); background-position: 0px -406px; width: 172px; height: 56px; }

.zt-section1 .container .btn.btn3:hover img { display: block; }

.zt-section2 { height: 703px; background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/zt-bg2.jpg) center 0 no-repeat; }

.zt-section2 .container { position: relative; padding-top: 165px; }

.zt-section2 .container .para { margin-bottom: 40px; }

.zt-section2 .container .para p { line-height: 24px; font-size: 14px; color: #111; text-align: center; }

.zt-section2 .container .play { position: relative; display: block; width: 640px; height: 360px; }

.zt-section2 .container .play img { display: block; width: 100%; height: 100%; }

.zt-section2 .container .play i { display: block; position: absolute; left: 272px; top: 131px; background-image: url(../ztimages/csprite.png); background-position: -472px -64px; width: 96px; height: 98px; }

.zt-section2 .container .play:hover i { background-position: -472px -170px; }

.zt-section2 .container .txt { position: absolute; top: 300px; left: 668px; width: 433px; }

.zt-section2 .container .txt p { margin-bottom: 24px; line-height: 24px; font-size: 14px; color: #111; }

.zt-section3 { height: 704px; background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/zt-bg3.jpg) center 0 no-repeat; }

.zt-section3 .container { position: relative; padding-top: 166px; }

.zt-section4 { height: 704px; background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/zt-bg4.jpg) center 0 no-repeat; }

.zt-section4 .container { position: relative; padding-top: 166px; }

.zt-section4 .container img { display: block; margin: 34px auto; width: 1020px; }

.zt-section4 .container .para p { line-height: 24px; font-size: 14px; color: #111; text-align: center; }

.zt-section5 { height: 704px; background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/zt-bg5.jpg) center 0 no-repeat; }

.zt-section5 .container { position: relative; padding-top: 166px; }

.zt-section6 { height: 760px; background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/zt-bg6.jpg) center 0 no-repeat; }

.zt-section6 .container { position: relative; }

.zt-section6 .container .map { position: absolute; top: 151px; left: -28px; width: 1123px; height: 562px; }

.zt-section6 .container .map a { cursor: default; top: 0; left: 0; position: absolute; width: 38px; height: 48px; background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/dot_ccff82c.png); }

.zt-section6 .container .map a.m1 { top: 34px; left: 400px; }

.zt-section6 .container .map a.m2 { top: 130px; left: 388px; }

.zt-section6 .container .map a.m3 { top: 255px; left: 366px; }

.zt-section6 .container .map a.m4 { top: 335px; left: 336px; }

.zt-section6 .container .map a.m5 { top: 185px; left: 465px; }

.zt-section6 .container .map a.m6 { top: 285px; left: 474px; }

.zt-section6 .container .map a.m7 { top: 451px; left: 424px; }

.zt-section6 .container .map a.m8 { top: 42px; left: 705px; }

.zt-section6 .container .map a.m9 { top: 131px; left: 635px; }

.zt-section6 .container .map a.m10 { top: 178px; left: 582px; }

.zt-section6 .container .map a.m11 { top: 290px; left: 638px; }

.zt-section6 .container .map a.m12 { top: 351px; left: 628px; }

.zt-section6 .container .map a.m13 { top: 435px; left: 575px; }

.zt-section6 .container .map a.m14 { top: 261px; left: 755px; }

.zt-section6 .container .map a.m15 { top: 416px; left: 757px; }

.zt-section6 .container .map a.act { cursor: pointer; }

.zt-section7 { height: 800px; background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/zt-bg7.jpg) center 0 no-repeat; }

.zt-section7 .container { position: relative; padding-top: 166px; }

.zt-section7 .container .ztTab .ztTabCon li { width: 1100px; height: 460px; }

.zt-section7 .container .ztTab .ztTabCon li img { display: block; margin: 0 auto; width: 916px; height: 456px; border: 2px solid #fff; }

.zt-sectionComm { padding-bottom: 30px; background: url(http://image.gamersky.com/webimg13/zhuanti/t2ts/zt-bg8.png) center 60px no-repeat; height: auto; background-color: #fff; }

.zt-sectionComm .container { position: relative; padding-top: 146px; }

.zt-sectionComm .container .Comment { padding: 0 60px; }
