<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="//www.gamersky.com">
    <link rel="dns-prefetch" href="//ja.gamersky.com">
    <link rel="dns-prefetch" href="//j.gamersky.com">
    <link rel="dns-prefetch" href="//db5.gamersky.com">
    <link rel="dns-prefetch" href="//i.gamersky.com">
    <link rel="dns-prefetch" href="//cm.gamersky.com">
    <link rel="dns-prefetch" href="//imgs.gamersky.com">
    <link rel="dns-prefetch" href="//image.gamersky.com">
    <link rel="dns-prefetch" href="//img7.gamersky.com">
    <link rel="dns-prefetch" href="//img6.gamersky.com">
    <link rel="dns-prefetch" href="//hm.baidu.com">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="unsafe-url"/>
    <meta name="referrer" content="always"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="format-detection" content="telephone=no">
    <title>@@title</title>
    <meta name="keywords" content="@@keywords">
    <meta name="description" content="@@description">
    <meta itemprop="name" content="@@title" />
    <meta itemprop="image" content="ztimages/350.jpg" />
    <link href="//j.gamersky.com/css/??g/normalize.min.css,g/lib/Swiper/4.2.2/swiper.min.css" rel="stylesheet">
    <link href="css/main.min.css" rel="stylesheet">
    <!-- 创建时间：@@createTime 设计：@@des 前端：@@dev -->
</head>
<body>
<!-- 分享用 -->
<div style="width:0;height:0;overflow:hidden">
    <h3>@@title</h3>
    <p>@@description</p>
    <img src="ztimages/350.jpg" alt="@@title">
</div>
<!-- 分享用 end-->