@charset "UTF-8";
.pages { -webkit-transition: all .4s ease-out; transition: all .4s ease-out; }

html, body { position: relative; width: 100%; height: 100%; max-height: 100%; overflow: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

html ::-webkit-scrollbar, body ::-webkit-scrollbar { width: 8px; height: 8px; border-radius: 0; background-color: rgba(255, 255, 255, 0.1); }

html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track { border-radius: 10px; background-color: rgba(255, 255, 255, 0.2); }

html ::-webkit-scrollbar-track:hover, body ::-webkit-scrollbar-track:hover { background-color: rgba(255, 255, 255, 0.4); }

html ::-webkit-scrollbar-track:active, body ::-webkit-scrollbar-track:active { background-color: rgba(255, 255, 255, 0.3); }

html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb { border-radius: 0; background-color: rgba(255, 255, 255, 0.8); }

html ::-webkit-scrollbar-thumb:hover, body ::-webkit-scrollbar-thumb:hover { background-color: white; }

html ::-webkit-scrollbar-thumb:active, body ::-webkit-scrollbar-thumb:active { background-color: rgba(255, 255, 255, 0.6); }

body { font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; background-color: #000; }

h1, h2, h3, h4, h5, p, ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.clearfix:before, .clearfix:after, .container:before, .container:after { display: table; content: " "; }

.clearfix:after, .container:after { clear: both; }

.container { margin-right: auto; margin-left: auto; width: 1100px; }

.ielt9 { position: absolute; top: 0px; left: 0; z-index: 10000; width: 100%; height: 100%; background: url("http://img1.gamersky.com/image2016/06/20160603_zl_91_4/ielt9.jpg") center center no-repeat; }

.ielt9 p { padding-top: 25%; font-size: 22px; text-align: center; line-height: 40px; }

.ielt9 p span { color: #ff6600; }

.dn { display: none !important; }

.sound_effect { display: none; }

.btn_sty.btn_sty3 { background: url(http://image.gamersky.com/webimg13/zhuanti/common/blank.png) 0 0 repeat; }

.page_bg { display: block; }

#loading { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; z-index: 9998; }

#jpreOverlay { background-color: #000; }

#jpreOverlay #jpreLoader { display: none; width: 100%; height: 4px; }

#jpreOverlay #jpreLoader #jpreBar { height: 4px; background-color: #f6c783; }

#jpreOverlay #jpreLoader #jprePercentage { padding-top: 35px; width: 100%; font-size: 16px; text-align: center; color: #f6c783; }

#jpreSlide { width: 100%; height: 100%; }

#loadingAnim { display: block; position: absolute; top: 50%; left: 50%; margin-left: -71.5px; margin-top: -43.5px; z-index: 9999; width: 143px; height: 87px; }

#loadingAnim .loadingAnim-img-g { display: block; width: 143px; height: 47px; }

#loadingAnim .loadingAnim-img { display: block; position: absolute; top: 0; right: 0; width: 143px; height: 47px; overflow: hidden; }

#loadingAnim .loadingAnim-img img { display: block; position: absolute; top: 0; right: 0; width: 143px; height: 47px; }

#loadingAnim .loadingtxt { position: absolute; bottom: 0; left: 0; width: 143px; height: 33px; line-height: 33px; font-size: 14px; color: #fff; text-align: center; }

.closeLoading { display: none; position: absolute; top: 50%; left: 50%; margin-left: -400px; margin-top: -55px; z-index: 9999; width: 800px; height: 110px; }

.closeLoading .txt { margin-bottom: 10px; height: 60px; line-height: 30px; font-size: 24px; color: #ef7800; text-align: center; }

.closeLoading .txt span { display: block; font-size: 18px; color: #eee; }

.closeLoading .btngroup { width: 800px; height: 40px; line-height: 40px; }

.closeLoading .btngroup a { display: block; margin: 10px auto 0; width: 160px; height: 40px; line-height: 40px; background-color: #333; font-size: 20px; color: #fff; text-align: center; }

.closeLoading .btngroup a:hover { background-color: #555; }

.autoMH { position: absolute; top: 0; left: 50%; width: 1920px; height: 1080px; }

.pageswrap { position: relative; width: 100%; height: 100%; overflow: hidden; }

.pages { position: absolute; top: 0; left: 0; width: 100%; height: 100%; visibility: hidden; opacity: 0; }

.pages .page_con { position: relative; width: 100%; height: 100%; }

.pages.cur { visibility: visible; opacity: 1; }

.volbtn { display: none; position: absolute; right: 28px; top: 4px; width: 53px; height: 37px; background: url(../ztimages/vol.gif) center bottom no-repeat; z-index: 99; }

.volbtn.pause { background: url(../ztimages/vol.png) center bottom no-repeat; }

.volbtn.cur { display: block; }

.zanbtn { display: block; margin: 0 auto; cursor: pointer; width: 120px; height: 112px; }

.zanbtn .ico_zan { display: block; margin: 0 auto; background-image: url(../ztimages/csprite.png); background-position: -603px -226px; width: 82px; height: 82px; }

.zanbtn span { display: block; height: 30px; line-height: 30px; font-size: 14px; color: #9b7a24; text-align: center; }

.zanbtn span i { font-style: normal; }

.zanbtn:hover .ico_zan { background-position: -513px -226px; }

.zanbtn.clked { cursor: default; }

.zanbtn.clked:hover .ico_zan { background-position: -603px -226px; }

.QZnav { min-width: 940px; }

.QZnav .topbar { width: 940px; }

.fixNav { position: absolute; left: 50%; margin-left: -206px; bottom: 33px; z-index: 666; background-image: url(../ztimages/csprite.png); background-position: 0px -268px; width: 412px; height: 50px; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; opacity: 0; visibility: hidden; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }

.fixNav.cur { opacity: 1; visibility: visible; }

.fixNav .fx_list { width: 500px; }

.fixNav .fx_list a { position: relative; display: block; float: left; margin-right: 48px; width: 44px; height: 50px; }

.fixNav .fx_list a i { position: absolute; left: 50%; top: 50%; margin-left: -5px; margin-top: -5px; display: block; width: 10px; height: 10px; background-color: #fff; border-radius: 50%; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.fixNav .fx_list a span { display: block; position: absolute; top: -32px; left: 50%; margin-left: -41px; background-image: url(../ztimages/csprite.png); background-position: -301px -90px; width: 82px; height: 44px; line-height: 35px; font-size: 15px; color: #333; text-align: center; opacity: 0; -webkit-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.fixNav .fx_list a:hover i, .fixNav .fx_list a.cur i { -webkit-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5); }

.fixNav .fx_list a:hover span { opacity: 1; -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); }

.fixNav .fx_list a.cur { background-image: url(../ztimages/csprite.png); background-position: -745px -166px; width: 44px; height: 50px; }

.fixNav .fx_list a.cur span { top: -48px; }

.fixNav .fx_list a.fixBtn_comm i { margin-top: -11px; background-image: url(../ztimages/csprite.png); background-position: -693px -286px; width: 22px; height: 22px; }

.fixNav .fx_list a.fixBtn_comm span { opacity: 1; -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); top: -35px; margin-left: -35px; }

.fixNav .fx_list a.fixBtn_comm:before { display: none; }

.commMsk { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.page_trans .letvwrap { position: relative; width: 100%; height: 100%; }

.page_trans .btn_sty.btn_sty2 { position: absolute; left: 1700px; top: 855px; display: none; z-index: 10; }

.page_trans .btn_sty.btn_sty2.cur { display: block; }

.page_trans .gdvd_btn { position: absolute; left: 1600px; top: 870px; z-index: 10; }

.page_trans .gdvd_btn.gdvd_loding { position: absolute; left: 1650px; top: 1004px; width: 225px; height: 8px; background-color: rgba(0, 0, 0, 0.6); }

.page_trans .gdvd_btn.gdvd_loding:before { display: block; content: ''; position: absolute; left: 0; top: 0; width: 0; height: 8px; background-color: #fff; -webkit-transition: all 8s ease; transition: all 8s ease; }

.page_trans .gdvd_btn.gdvd_loding.cur:before { width: 100%; }

.btn_sty { display: block; position: absolute; }

.btn_sty.btn_sty1 { width: 100px; height: 100px; }

.btn_sty.btn_sty1 i { display: block; position: absolute; }

.btn_sty.btn_sty1.i_repair i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: -66px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_climb i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: 0px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_eye i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: -396px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_fit i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: -462px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_fly i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: -528px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_go i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: -594px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_key i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: -330px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_knf i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: -264px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_sw i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: -132px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_moon i { left: 22px; top: 18px; background-image: url(../ztimages/csprite.png); background-position: -198px -444px; width: 58px; height: 66px; }

.btn_sty.btn_sty1.i_anniu i.anniu_bg { left: 25px; top: 31px; background-image: url(../ztimages/csprite.png); background-position: -235px -210px; width: 50px; height: 43px; border-radius: 5px; overflow: hidden; }

.btn_sty.btn_sty1.i_anniu i.anniu_bg b { display: block; position: absolute; left: 0; top: 30px; background-image: url(../ztimages/csprite.png); background-position: -637px -135px; width: 50px; height: 16px; -webkit-animation: anniuAnim 0.4s ease infinite; animation: anniuAnim 0.4s ease infinite; }

.btn_sty.btn_sty1.i_anniu i.anniu { left: 25px; top: 26px; width: 50px; height: 48px; }

.btn_sty.btn_sty1.i_anniu i.anniu b { display: block; position: absolute; left: 5px; top: 2px; z-index: 1; width: 40px; height: 36px; line-height: 36px; font-style: normal; text-align: center; font-size: 20px; color: #000; background-color: #fff; border-radius: 5px; -webkit-animation: anniuAnim 0.4s ease infinite; animation: anniuAnim 0.4s ease infinite; }

.btn_sty.btn_sty1 span { display: block; position: absolute; top: 30px; left: 0; padding-left: 120px; width: 140px; height: 40px; line-height: 40px; font-size: 23px; color: #fff; font-weight: bold; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; pointer-events: none; white-space: nowrap; }

.btn_sty.btn_sty1:before, .btn_sty.btn_sty1:after { display: block; content: ''; position: absolute; left: 0; top: 0; opacity: 0; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.btn_sty.btn_sty1:before { background-image: url(../ztimages/csprite.png); background-position: -421px -58px; width: 100px; height: 100px; -webkit-animation: rotateAnim 6s linear infinite reverse; animation: rotateAnim 6s linear infinite reverse; }

.btn_sty.btn_sty1:after { background-image: url(../ztimages/csprite.png); background-position: -529px -58px; width: 100px; height: 100px; -webkit-animation: rotateAnim 4s linear infinite; animation: rotateAnim 4s linear infinite; }

.btn_sty.btn_sty1:hover:before, .btn_sty.btn_sty1:hover:after { opacity: 1; }

.btn_sty.btn_sty1:hover span { opacity: 1; visibility: visible; }

.btn_sty.btn_sty2 { position: absolute; left: 1711px; top: 987px; background-image: url(../ztimages/csprite.png); background-position: -178px -150px; width: 115px; height: 52px; line-height: 52px; font-size: 18px; color: #fff; text-align: center; font-weight: bold; }

.btn_sty.btn_sty2:hover { color: #fccc39; background-position: -178px -90px; }

.btn_sty.btn_sty3 { width: 413px; height: 82px; line-height: 82px; font-size: 30px; color: #fff; font-weight: bold; text-indent: 34px; }

.btn_sty.btn_sty3:hover { background-image: url(../ztimages/csprite.png); background-position: 0px 0px; width: 413px; height: 82px; }

.btn_sty.btn_sty_back { left: 0; top: 50%; margin-top: -26px; background-image: url(../ztimages/csprite.png); background-position: -693px -226px; width: 94px; height: 52px; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; -webkit-transform: translate3d(-57px, 0, 0); transform: translate3d(-57px, 0, 0); }

.btn_sty.btn_sty_back:after { display: block; position: absolute; content: ''; left: 69px; top: 21px; background-image: url(../ztimages/csprite.png); background-position: -695px -135px; width: 36px; height: 10px; -webkit-animation: backArrAnim 0.5s ease infinite; animation: backArrAnim 0.5s ease infinite; }

.btn_sty.btn_sty_back span { display: block; margin-left: 20px; height: 52px; line-height: 52px; font-size: 18px; color: #fff; }

.btn_sty.btn_sty_back:hover { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.btn_sty.btn_sty_back:hover:after { -webkit-animation-play-state: paused; animation-play-state: paused; }

.btn_goon { display: block; position: relative; padding-left: 65px; width: 80px; height: 59px; line-height: 55px; font-size: 32px; color: #00f97b; font-weight: bold; overflow: hidden; white-space: nowrap; }

.btn_goon:before { display: block; content: ''; position: absolute; left: 0; top: 0; -webkit-animation: rotateAnim 6s linear infinite both; animation: rotateAnim 6s linear infinite both; }

.btn_goon:after { content: '继续'; }

.btn_goon.skip:after { content: '跳过'; }

.btn_goon:hover:before { -webkit-animation-duration: 0.8s; animation-duration: 0.8s; }

.btn_goon:active:before { -webkit-animation-duration: 0.2s; animation-duration: 0.2s; }

.dgy_main .page_bg { display: block; position: absolute; top: 0; left: 0; width: 100%; }

.dgy_pages { background-color: #000; }

.page_con .audiotxt { display: none; position: absolute; top: 850px; left: 0; width: 100%; height: 50px; line-height: 50px; font-size: 26px; text-align: center; color: #fff; text-shadow: 0 0 3px #000; }

.page_con .audiotxt.cur { display: block; }

.bdsharewrap.bdstyle-c { width: 181px; height: 37px; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox { width: 800px; height: 37px; *font-size: 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after, .bdsharewrap.bdstyle-c .bdsharebuttonbox.before { display: table; content: " "; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox:after { clear: both; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a { display: block; float: left; margin: 0 11px 0 0; padding: 0; width: 37px; height: 37px; background: url(../ztimages/fx.png) 0 0 no-repeat; overflow: hidden; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_sqq { background-position: 0 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_weixin { background-position: -48px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tsina { background-position: -96px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_qzone { background-position: -144px 0; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_tieba, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_douban, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_renren, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_more, .bdsharewrap.bdstyle-c .bdsharebuttonbox a.bds_count { display: none; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a:hover { opacity: 1; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a:hover.bds_sqq { background-position: 0 -40px; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a:hover.bds_weixin { background-position: -48px -40px; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a:hover.bds_tsina { background-position: -96px -40px; }

.bdsharewrap.bdstyle-c .bdsharebuttonbox a:hover.bds_qzone { background-position: -144px -40px; }

.bdsharewrap.bdstyle-c.bd_bai .bdsharebuttonbox a.bds_sqq { background-position: 0 -40px; }

.bdsharewrap.bdstyle-c.bd_bai .bdsharebuttonbox a.bds_weixin { background-position: -48px -40px; }

.bdsharewrap.bdstyle-c.bd_bai .bdsharebuttonbox a.bds_tsina { background-position: -96px -40px; }

.bdsharewrap.bdstyle-c.bd_bai .bdsharebuttonbox a.bds_qzone { background-position: -144px -40px; }

.page_begin { background-color: #000; }

.page_begin .logo_dgy { display: block; position: absolute; left: 1175px; top: 559px; background-image: url(../ztimages/csprite.png); background-position: -646px -318px; width: 64px; height: 26px; }

.page_begin .btn1 { display: block; position: absolute; left: 882px; top: 807px; background-image: url(../ztimages/csprite.png); background-position: -583px -166px; width: 154px; height: 52px; }

.page_begin .btn1:hover { background-position: -421px -166px; }

.page_begin .zanbtn { position: absolute; left: 900px; top: 890px; }

.page_start .btn1 { left: 175px; top: 175px; }

.page_start .btn2 { left: 175px; top: 493px; }

.page_pdiff .btn { left: 175px; }

.page_pdiff .btn img { display: none; position: absolute; left: 446px; pointer-events: none; }

.page_pdiff .btn:hover img { display: block; }

.page_pdiff .btn1 { top: 273px; }

.page_pdiff .btn1 img { top: -107px; }

.page_pdiff .btn2 { top: 369px; }

.page_pdiff .btn2 img { top: -181px; }

.page_pdiff .btn3 { top: 464px; }

.page_pdiff .btn3 img { top: -193px; }

.page_end .infos { position: absolute; left: 412px; top: 450px; width: 450px; height: 500px; }

.page_end .infos .logo_dgy { display: block; margin: 0 auto; background-image: url(../ztimages/csprite.png); background-position: -637px -58px; width: 140px; height: 69px; }

.page_end .infos p { height: 54px; line-height: 54px; text-align: center; font-size: 15px; color: #000; }

.page_end .infos .zanbtn { margin-bottom: 18px; }

.page_end .infos .btngroup { padding-left: 58px; }

.page_end .infos .btngroup .btn { display: block; float: left; margin-right: 13px; width: 160px; height: 44px; line-height: 44px; font-size: 16px; color: #000; text-align: center; }

.page_end .infos .btngroup .btn.btn_wq { background-color: #e9d390; }

.page_end .infos .btngroup .btn.btn_wq:hover { background-color: #ad8b31; }

.page_end .infos .btngroup .btn.btn_comm { background-color: #cfa842; }

.page_end .infos .btngroup .btn.btn_comm:hover { background-color: #ad8b31; }

.page_end .infos .bdsharewrap.bdstyle-c { margin: 20px auto 0; }

.dgy_comm { position: absolute; left: 0; top: 0; z-index: 900; width: 100%; height: 100%; background-color: #000; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; opacity: 0; visibility: hidden; -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }

.dgy_comm.cur { opacity: 1; visibility: visible; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.page_comm { background-color: #000; }

.page_comm .comm_bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.page_comm .comm_bg_rw { position: absolute; right: 0; top: 0; height: 100%; }

.page_comm .comm { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden; }

.page_comm .comm .cont { position: relative; margin-left: 200px; padding: 88px 0 88px; width: 960px; }

.page_comm .comm .cont .tit { margin-bottom: 40px; background-image: url(../ztimages/csprite.png); background-position: -421px -318px; width: 157px; height: 40px; }

@media (max-width: 1560px) { .page_comm .comm_bg_rw { opacity: 0.5; } }

@media (max-width: 1024px) { .page_comm .comm .cont { margin-left: 30px; } }

@-webkit-keyframes secin { 0% { opacity: 0;
    visibility: visible; }
  100% { opacity: 1;
    visibility: visible; } }

@keyframes secin { 0% { opacity: 0;
    visibility: visible; }
  100% { opacity: 1;
    visibility: visible; } }

@-webkit-keyframes rotateAnim { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes rotateAnim { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
